.infotable {
    max-width: 100%;
    display: block;
    overflow: hidden;
}

.infotable tbody { display: block; }
.infotable, .infotable tbody, .infotable tr { width: 100%; }

.infotable th {
    background-color: #ddd;
    font-weight: bold;
    text-align: left;
}

.infotable td, .infotable th {
    padding: .5em;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.infotable td { width: 100%; }

.infotable.lookup td { width: auto; }
.infotable.lookup ul { padding-left: 2em;}
.infotable.lookup li { display: list-item; list-style: disc outside none;}

a.button {
    display: block;
    margin: 1em 0;
    padding: 1em;
}

@media screen {
    .uniForm .ctrlHolder,
    .uniForm .buttonHolder {
        padding: 1em;
    }
    .uniForm .ctrlHolder input,
    .uniForm .buttonHolder input {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: .5em
    }
    .uniForm input[type="text"] {
        width: 100%;
    }
    .uniForm input[type="submit"] {
        padding: .5em 1em;
    }
}