body {
    
}

.base {
    max-width: 700px;
    background-color: #eee;
    box-shadow: 0 0 5px #555;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    position: relative;
    padding: 10px;
    text-shadow: 0 0 3px #888;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

h3 {
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
}

p,h1,h2,li,ul,div,span {
    font-family: "Open Sans", sans-serif;
}

p {
    margin-bottom: 5px;
    margin-top: 5px;
}

p,ul,li,div,span {
    font-size: 14px;
}

.header {
    min-height: 60px;
    background: #e0e0e0;
    background: -moz-linear-gradient(top,  #e0e0e0 0%, #d0d0d0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e0e0e0), color-stop(100%,#d0d0d0));
    background: -webkit-linear-gradient(top,  #e0e0e0 0%,#d0d0d0 100%);
    background: -o-linear-gradient(top,  #e0e0e0 0%,#d0d0d0 100%);
    background: -ms-linear-gradient(top,  #e0e0e0 0%,#d0d0d0 100%);
    background: linear-gradient(to bottom,  #e0e0e0 0%,#d0d0d0 100%);
}

.content {
    padding: 10px;
}

.infotable {
    max-width: 100%;
    display: block;
    overflow: hidden;
}

.infotable tbody { display: block; }
.infotable, .infotable tbody, .infotable tr { width: 100%; }

.infotable th {
    background-color: #ddd;
    font-weight: bold;
    text-align: left;
}

.infotable td, .infotable th {
    padding: .5em;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.infotable td { width: 100%; }

a.button {
    display: block;
    margin: 1em 0;
    padding: 1em;
}

@media screen {
    .uniForm .ctrlHolder,
    .uniForm .buttonHolder {
        padding: 1em;
    }
    .uniForm .ctrlHolder input,
    .uniForm .buttonHolder input {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: .5em
    }
    .uniForm input[type="text"] {
        width: 100%;
    }
    .uniForm input[type="submit"] {
        padding: .5em 1em;
    }
}