{% extends "main2014/base.html" %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}


<h1>In English</h1>

<h2>What is Instanssi?</h2>
<p>
    Instanssi is a festival of digital creativity in Jyväskylä, Finland. It is organized on March 1.-3. 2013 
    at Voionmaan lukio. Instanssi is meant to be a beginner friendly event, which everyone who is 
    interested in digital culture can visit and enjoy. Instanssi offers workshops, presentations 
    and friendly creative environment. This year we concentrate especially on games development and 
    design. Unfortunately most of the page is currently only available in Finnish.
</p>
<!--
<p>
    Competitions at Instanssi include demo, 4k demo, music, graphic, fast graphic, scraping of 
    open data, Robocode and random, in which the point is to make a confusing entry any way you 
    like. One of the specialties of Instanssi are the programmable lights, which can be used as 
    a part of the entries.
</p>-->
<p>
    You can get more info on our IRC channel at #instanssi (on IRCnet).
</p>
<p>
    The address of the venue is Voionmaankatu 17-19, 40700 Jyväskylä, Finland.
</p>

<!--
<h2>Tickets</h2>
<p>
    Tickets can be bought from the door or beforehand from the Internet. From the door you can also get 
    a ticket, which gives you one time entrance and costs 2 Euros
</p>
<p
    <b>Dynamic ticket</b> – 5 Euros. This ticket includes entrance to the event for the whole weekend. 
    You can watch all the program, participate in the workshops and use the showers and WLAN. There is 
    also sleeping space available.
</p>
<p>
    <b>Static ticket</b> – 10 Euros. This ticket includes everything that the Dynamic ticket offers, 
    plus network, electricity and table space (90x70cm) for your computer. Note: static tickets have 
    been sold out.
</p>-->

{% endblock %}