{% extends "main2014/base.html" %}
{% load static %}

{% block head %}
{{ block.super }}
	<script src="http://releases.flowplayer.org/js/flowplayer-3.2.12.min.js"></script>
{% endblock %}

{% block jquery %}
{{ block.super }}
    $f("live", "http://releases.flowplayer.org/swf/flowplayer-3.2.16.swf", {
        clip: {
            url: 'myStream',
            live: true,
            provider: 'influxis'
        },
        plugins: {
            influxis: {
                url: "flowplayer.rtmp-3.2.12.swf",
                netConnectionUrl: 'rtmp://qek5.kyla.fi/live/myStream/'
            }
        }
    });
{% endblock %}

{% block content %}
{{ block.super }}
<h1>Stream</h1>
<div id="live" class="stream-window">
    <img src="{% static 'main2014/images/stream.png' %}" height="1280" width="720" />
</div>
{% endblock %}
