{% extends "admin_upload/base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
    $(".delete_link").click(function(){
        return confirm("Haluatko varmasti poistaa tiedoston ?"); 
    });
    $("#upload_table").tablesorter({widgets: ['zebra'], sortList: [[0,0],]}).tablesorterPager({container: $("#upload_pager")}); 
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Selaa</li>
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Tiedostot</h2>
{% if files %}
    <table id="upload_table" class="tablesorter">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Kuvaus</th>
                <th>Tallennettu</th>
                <th class="sorter-false management_field"></th>
            </tr>
        </thead>
        <tbody>
{% for file in files %}
            <tr>
                <td><a href="{{ file.file.url }}">{{ file.name }}</a></td>
                <td>{{ file.description|linebreaksbr  }}</td>
                <td>{{ file.date|date:"d.m.Y \k\l\o\. H:i" }}</td>
                <td>
{% if perms.admin_upload.change_uploadedfile %}
                	<a href="{% url 'manage-uploads:edit' selected_event_id file.id %}" class="edit_link">Muokkaa</a>
{% endif %}
{% if perms.admin_upload.delete_uploadedfile %}
                	<a href="{% url 'manage-uploads:delete' selected_event_id file.id %}" class="delete_link">Poista</a>
{% endif %}
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
	<div id="upload_pager" class="pager">
		{% include "common/pagination.html" %}
	</div>
{% else %}
    <p>Ei ladattuja tiedostoja!</p>
{% endif %}

{% if perms.admin_upload.add_uploadedfile %}
{% crispy uploadform uploadform.helper %}
{% endif %}
{% endblock %}