{% extends "admin_upload/base.html" %}
{% load uni_form_tags %}

{% block title %}{{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
    $(".delete_link").click(function(){
        return confirm("Haluatko varmasti poistaa tiedoston ?"); 
    });
    $("#upload_table").tablesorter({widgets: ['zebra'], sortList: [[0,0],]}).tablesorterPager({container: $("#upload_pager")}); 
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Tiedostolistaus</h2>
{% if files %}
    <table id="upload_table" class="tablesorter">
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Kuvaus</th>
                <th>Tallennettu</th>
                <th class="sorter-false">Muokkaa</th>
                <th class="sorter-false">Poista</th>
            </tr>
        </thead>
        <tbody>
{% for file in files %}
            <tr>
                <td><a href="{{ file.file.url }}">{{ file.name }}</a></td>
                <td>{{ file.description|linebreaksbr  }}</td>
                <td>{{ file.date|date:"d.m.Y \k\l\o\. H:i" }}</td>
                <td><a href="/manage/{{ selected_event_id }}/files/edit/{{ file.id }}/">Muokkaa</a></td>
                <td><a href="/manage/{{ selected_event_id }}/files/delete/{{ file.id }}/" class="delete_link">Poista</a></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
	<div id="upload_pager" class="pager">
		{% include "common/pagination.html" %}
	</div>
{% else %}
    <p>Ei ladattuja tiedostoja!</p>
{% endif %}

{% uni_form uploadform uploadform.helper %}
{% endblock %}