{% extends "admin_upload/base.html" %}

{% block title %}{{ block.super }} - Listaus{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Listaus</h2>
    <table>
        <thead>
            <th>Nimi</th>
            <th>Kuvaus</th>
            <th>Päivä</th>
            <th>Lataa</th>
        </thead>
        <tbody>
{% for file in files %}
            <tr>
                <td>{{ file.name }}</td>
                <td>{{ file.description|linebreaksbr  }}</td>
                <td>{{ file.date|date:"d.m.Y" }}</td>
                <td><a href="{{ file.file.url }}">Lataa</a></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% endblock %}