{% extends "common/simple_base.html" %}
{% load uni_form_tags %}
{% load static %}

{% block title %}Hallinta{% endblock %}

{% block head %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin_auth/css/style.css" %}" />
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h1>Hallinta</h1>
<p>Olet kirjautunut ulos.</p>
<ul>
    <li><a href="/">Etusivu</a></li>
    <li><a href="{% url 'admin-login' %}">Hallinta</a></li>
    <li><a href="{% url 'kme:index' %}">Kompomaatti</a></li>
    <li><a href="{% url 'archive:index' %}">Arkisto</a></li>
</ul>

{% endblock %}


