{% extends "base_layout/base.html" %}
{% load static %}

{% block title %}Hallinta - Uloskirjautuminen{% endblock %}
{% block headername %}<a href="{% url 'manage-base:index' %}">Hallinta</a>{% endblock %}

{% block head %}{% endblock %}

{% block jquery %}{% endblock %}

{% block headernav %}
        <ul id="header_nav_right">
            <li class="menuitem">
                <li class="menuitem"><a href="{% url 'manage-auth:login' %}">Kirjaudu sisään</a></li>
            </li>
        </ul>
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'manage-base:index' %}">Hallinta</a></li>
    <li>Uloskirjautuminen</li>
{% endblock %}

{% block content %}
<h2>Uloskirjautuminen</h2>
<p>Olet kirjautunut ulos.</p>
<ul>
    <li><a href="/">Instanssi.org Etusivu</a></li>
    <li><a href="{% url 'manage-auth:login' %}">Hallinta</a></li>
    <li><a href="{% url 'km:eventselect' %}">Kompomaatti</a></li>
    <li><a href="{% url 'archive:index' %}">Arkisto</a></li>
</ul>
{% endblock %}
