{% extends "common/simple_base.html" %}
{% load uni_form_tags %}
{% load static %}

{% block title %}Hallinta{% endblock %}

{% block head %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "libs/css/uni-form/uni-form.css" %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static "libs/css/uni-form/default.uni-form.css" %}" media="all" />
    <script type="text/javascript" src="{% static "libs/js/uni-form/uni-form-validation.jquery.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "admin_auth/css/style.css" %}" />
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('form.uniForm').uniform();
{% endblock %}

{% block content %}
{{ block.super }}
<h1>Hallinta</h1>

{% if error %}
<p class="errortext ui-state-error">Käyttäjätunnus tai salasana väärin!</p>
{% endif %}
{% uni_form loginform loginform.helper %}

{% endblock %}



