{% extends "base_layout/base.html" %}
{% load static compress %}
{% load render_arkisto_nav from arkisto_base_tags %}

{% block title %}Arkisto{% endblock %}
{% block headername %}<a href="{% url 'archive:index' %}">Arkisto</a>{% endblock %}

{% block head %}
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "arkisto/css/style.scss" %}" />
    {% endcompress %}
    <meta property="og:locale" content="fi_FI" />
    <meta property="og:url" content="https://instanssi.org/arkisto/" />
    <meta property="og:image" content="{% static 'main2023/images/logoteksti-og.jpg' %}" />
    <meta property="og:title" content="Instanssi Arkisto" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Instanssi Arkisto" />
{% endblock %}

{% block jquery %}
    $('.ui-widget').css('font-size','14px');
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'archive:index' %}">Arkisto</a></li>
{% endblock %}

{% block headernav %}
        <ul id="header_nav_left">
{% render_arkisto_nav %}
        </ul>
        <ul id="header_nav_right">
            &nbsp;
        </ul>
{% endblock %}

{% block content %}{% endblock %}
