{% extends "base_layout/base.html" %}
{% load static %}
{% load render_arkisto_nav from arkisto_base_tags %}

{% block title %}Arkisto{% endblock %}
{% block headername %}Arkisto{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "arkisto/css/style.css" %}" />
    <meta property="og:locale" content="fi_FI" />
    <meta property="og:url" content="http://instanssi.org/arkisto/" />
    <meta property="og:image" content="http://instanssi.org{% static "main2012/images/social-media/banner-button-256x256.jpg" %}" />
    <meta property="og:title" content="Instanssi Arkisto" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Instanssi Arkisto" />

{% if GOOGLE_ANALYTICS %}
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_CODE }}']);
    _gaq.push(['_trackPageview']);
    
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
{% endif %}
{% endblock %}

{% block jquery %}
    $('.ui-widget').css('font-size','14px');
{% endblock %}

{% block crumbs %}
     <li><a href="{% url 'archive:index' %}">Arkisto</a></li>
{% endblock %}

{% block headernav %}
        <ul id="header_nav_left">
{% render_arkisto_nav %}
        </ul>
        <ul id="header_nav_right">
            &nbsp;
        </ul>
{% endblock %}

{% block content %}{% endblock %}
