{% extends "arkisto/base.html" %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
		<div id="entry-holder">
			<div class="center">
				<p class="title">
				    <span class="name">{{ entry.name }}</span> 
				    by <span class="by">{{ entry.creator }}</span>
				</p>
{% if entry.get_show_list.youtube %}{% include "arkisto/entryviews/youtube.html" %}{% endif %}
{% if entry.get_show_list.image   %}{% include "arkisto/entryviews/image.html"   %}{% endif %}
{% if entry.get_show_list.jplayer %}{% include "arkisto/entryviews/image.html"   %}{% endif %}
{% if entry.get_show_list.noshow  %}{% include "arkisto/entryviews/image.html"   %}{% endif %}
				<div class="info">
				<p>{{ entry.compo.name }}</p>
{% if entry.disqualified %}
				<p>Diskattu!</p>
{% else %}
{% if entry.compo.show_voting_results %}
				<p>{{ entry.get_rank }}. sija</p>
				<p>{{ entry.get_score|floatformat:"2" }} pistettä</p>
{% endif %}
{% endif %}
				<hr />
				<p><a href="{{ entry.entryfile.url }}">Lataa koneelle</a></p>
{% if entry.sourcefile %}
				<p><a href="{{ entry.sourcefile.url }}">Lähdekoodi</a></p>
{% endif %}
				</div>
				<div class="clearer"></div>
			</div>
			<div class="desc">{{ entry.description|linebreaksbr }}</div>
{% if entry.disqualified %}
			<div class="desc"><strong>Entry on diskattu:</strong><br />{{ entry.disqualified_reason|linebreaksbr }}</div>
{% endif %}
		</div>

{% endblock %}

