{% extends "arkisto/base.html" %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
		<div id="entry-holder">
			<div class="center">
				<p class="title"><span class="name">{{ entry.name }}</span> by <span class="by">{{ entry.creator }}</span></p>
{% if entry.get_show_list.youtube == 1 %}{% include "arkisto/entryviews/youtube.html" %}{% endif %}
{% if entry.get_show_list.image == 1 %}{% include "arkisto/entryviews/image.html" %}{% endif %}
{% if entry.get_show_list.jplayer == 1 %}{% include "arkisto/entryviews/fillerimg.html" %}{% endif %}
				<div class="info">
				<p>{{ entry.compo.name }}</p>
				<p>3. sija</p>
				<p>131 ääntä</p>
				<hr/>
				<p><a href="{{ entry.entryfile.url }}">Lataa koneelle</a></p>
{% if entry.sourcefile %}
				<p><a href="{{ entry.sourcefile.url }}">Lähdekoodi</a></p>
{% endif %}
				</div>
				<div class="clearer"></div>
			</div>
			<div class="desc">{{ entry.description|linebreaksbr }}</div>
{% if entry.disqualified %}
			<div class="desc"><strong>Entry on diskattu!:</strong><br />{{ entry.disqualied_reason|linebreaksbr }}</div>
{% endif %}
		</div>

{% endblock %}

