{% extends "arkisto/base.html" %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}

		<h2>Instanssi 2012 <a href="" class="see-all-results"> Katso kaikki tulokset</a></h2>
		<div id="entry-holder">
			
			<div class="center">
				<p class="title"><span class="name">Entry name</span> by <span class="by">Person's name</span></p>
				<div class="img">Tähän entry: Jos Grafiikka-> kuva, jos demo->video jne.</div>
				<div class="info">
				<p>Demo</p>
				<p>3. sija</p>
				<p>131 ääntä</p>
				<hr/>
				<p><a href="">Lataa koneelle</a></p>
				</div>
				<div class="clearer"></div>
			</div>
			
			<div class="desc">Koodasin demo kolan voimalla. Käytin hienoa rajapintaa ja hulluja kirjastoja. Hauskaa oli.</div>
		</div>

{% endblock %}

