{% extends "arkisto/base.html" %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}

{% for compo in compos %}
	<h3>{{ compo.name }}</h3>
	<div class="entry-holder">
{% for entry in compo.entries %}
		<div class="entry">
			<div class="sija">{% if entry.disqualified %}X{% else %}{{ forloop.counter }}{% endif %}</div>
			<a href="/arkisto/entry/{{ entry.id }}/">
{% if entry.imagefile_thumbnail %}
				<img src="{{ entry.imagefile_thumbnail.url }}" width="{{ entry.imagefile_thumbnail.width }}" height="{{ entry.imagefile_thumbnail.height }}" alt="{{ entry.name }}"  /> 
{% else %}
				<img src="/static/arkisto/img/filler_small.png" alt="Entry" width="160" height="100">
{% endif %}
			</a>
			<p class="entry-name" title="{{ entry.name }}">{{ entry.name }}</p>
			<p class="by" title="{{ entry.creator }}">{{ entry.creator }}</p>
		</div>
{% endfor %}
		<div class="clearer"></div>
	</div>
{% endfor %}
{% endblock %}