{% extends "arkisto/base.html" %}
{% load static %}

{% block title %}{{ block.super }} - {{ event.name }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
     <li><a href="{% url 'archive:event' event.id %}">{{ event.name }}</a></li>
{% endblock %}

{% block content %}
{{ block.super }}

{% for compo in compos %}
	<h3>{{ compo.name }}</h3>
	<div class="entry-holder">
{% for entry in compo.entries %}
		<div class="entry">
{% if compo.show_voting_results %}
			<div class="sija">{% if entry.disqualified %}X{% else %}{{ forloop.counter }}{% endif %}</div>
{% endif %}
			<a href="{% url 'archive:entry' entry.id %}">
{% if entry.imagefile_thumbnail %}
				<img src="{{ entry.imagefile_thumbnail.url }}" width="{{ entry.imagefile_thumbnail.width }}" height="{{ entry.imagefile_thumbnail.height }}" alt="{{ entry.name }}"  /> 
{% else %}
				<img src="{% static "arkisto/img/filler_small.png" %}" alt="Entry" width="160" height="100">
{% endif %}
			</a>
			<p class="entry-name" title="{{ entry.name }}">{{ entry.name }}</p>
			<p class="by" title="{{ entry.creator }}">{{ entry.creator }}</p>
		</div>
{% endfor %}
		<div class="clearer"></div>
	</div>
{% endfor %}

{% for category in videos %}
{% if category.videos %}
	<h3>{{ category.name }}</h3>
	<div class="entry-holder">
{% for video in category.videos %}
		<div class="entry">
			<a href="{% url 'archive:video' video.id %}">
				<img src="{% static "arkisto/img/filler_small.png" %}" alt="Entry" width="160" height="100">
			</a>
			<p class="entry-name" title="{{ video.name }}">{{ video.name }}</p>
		</div>
{% endfor %}
		<div class="clearer"></div>
	</div>
{% endif %}
{% endfor %}

{% for comp in competitionlist %}
    <h3>{{ comp.name }}</h3>
    <div class="entry-holder">
        <ol>
{% for p in comp.participants %}
            <li>{{ p.participant_name }}{% if p.disqualified %}, diskattu.{% else %}, {{ p.get_formatted_score }}.{% endif %}</li>
{% endfor %}
        </ol>
    </div>
{% endfor %}

{% endblock %}