{% extends "arkisto/base.html" %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}

{% for compo in compos %}
	<h3>{{ compo.name }}</h3>
	<div class="entry-holder">
{% for entry in compo.entries %}
		<div class="entry">
			<a href="/arkisto/entry/{{ entry.id }}/"><img src="{{ entry.imagefile_thumbnail.url }}" width="{{ entry.imagefile_thumbnail.width }}" height="{{ entry.imagefile_thumbnail.height }}" alt="{{ entry.name }}"  /> </a>
			<p class="entry-name">{{ entry.name }}</p>
			<p class="by">{{ entry.creator }}</p>
		</div>
{% endfor %}
		<div class="clearer"></div>
	</div>
{% endfor %}
{% endblock %}