{% extends "arkisto/base.html" %}

{% block title %}{{ block.super }} - {{ event.name }} - {{ video.name }}{% endblock %}

{% block head %}{{ block.super }}{% endblock %}

{% block jquery %}{{ block.super }}{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'archive:event' event.id %}">{{ event.name }}</a></li>
    <li><a href="{% url 'archive:video' video.id %}">{{ video.name }}</a></li>
{% endblock %}

{% block content %}
{{ block.super }}
        <div id="entry-holder">
            <div class="center">
                <p class="title">
                    <span class="name">{{ video.name }}</span>
                </p>
                <iframe id="ytplayer" style="float: left;"
                    type="text/html" width="640" height="390" frameborder="0"
                    src="{{ video.youtube_url.embed_url }}"></iframe>
                <div class="info">&nbsp;</div>
                <div class="clearer"></div>
            </div>
            <div class="desc">{{ video.description|linebreaksbr }}</div>
        </div>
{% endblock %}

