{% extends "arkisto/base.html" %}

{% block title %}{{ block.super }} - {{ event.name }} - {{ video.name }}{% endblock %}

{% block head %}{{ block.super }}{% endblock %}

{% block jquery %}{{ block.super }}{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'archive:event' event.id %}">{{ event.name }}</a></li>
    <li><a href="{% url 'archive:video' video.id %}">{{ video.name }}</a></li>
{% endblock %}

{% block content %}
{{ block.super }}
        <div id="entry-holder">
            <div class="center">
                <p class="title">
                    <span class="name">{{ video.name }}</span>
                </p>
                <object width="640" height="385" style="float: left;">
                    <param name="movie" value="{{ video.youtube_url }}" />
                    <param name="allowFullScreen" value="true" />
                    <param name="allowScriptAccess" value="always" />
                    <embed src="{{ video.youtube_url }}"
                        type="application/x-shockwave-flash"
                        allowfullscreen="true"
                        allowscriptaccess="always"
                        width="640" height="385">
                    </embed>
                </object>
                <div class="info">&nbsp;</div>
                <div class="clearer"></div>
            </div>
            <div class="desc">{{ video.description|linebreaksbr }}</div>
        </div>
{% endblock %}

