{% extends "tickets/base.html" %}
{% load static %}

{% block title %}{{ block.super }} - Liput{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h1 class="noPrint">Tilaustiedot</h1>
<p class="noPrint">
    Tältä sivulta löytyvät sekä tuotteiden että lippujen lunastukseen vaadittavat QR-tunnisteet helposti tulostettavassa muodossa.
    Huomaa! Tämän sivun URL-osoite sekä (QR-)tilaustunniste on henkilökohtainen, eikä sitä saa jakaa muille. Tunnisteen voi esittää 
    tapahtumassa lipputiskillä joko paperitulosteena tai suoraan mobiililaitteen näytöltä.
</p>
<div class="order">
<h2>Tilaus</h2>
<p class="noPrint">
    Tilaukseen liittyvät tuotteet (kuten T-paidat) voi lunastaa lipputiskiltä allaolevalla tunnisteella.
</p>
<table>
    <tbody>
        <tr>
            <th>Tilaaja:</th>
            <td>{{ transaction.firstname }} {{ transaction.lastname }}</td>
        </tr>
        <tr>
            <th>Tunniste:</th>
            <td>{{ transaction.key }}</td>
        </tr>
    </tbody>
</table>
<img src="https://chart.googleapis.com/chart?cht=qr&chs=160x160&chl={{ transaction.key }}" width="160" height="160" alt="Tilauksen QR-koodi." />
</div>

{% if tickets %}
<h1 class="noPrint">Liput</h1>
<p class="noPrint">
    Tilaukseen kuuluvat liput voi tulostaa allaolevilla tunnisteilla. Mikäli haluat, voit jakaa yksittäisen lipun URL-osoitteen
    suoraan sen käyttäjälle.
</p>
{% for ticket in tickets %}
<div class="ticket">
<h2>Lippu</h2>
<table>
    <tbody>
        <tr>
            <th>Tapahtuma:</th>
            <td>{{ ticket.event.name }}</td>
        </tr>
        <tr>
            <th>Lipun tyyppi:</th>
            <td>{{ ticket.storeitem.name }}</td>
        </tr>
        <tr>
            <th>Lipun ostaja:</th>
            <td>{{ ticket.owner_firstname }} {{ ticket.owner_lastname }}</td>
        </tr>
        <tr>
            <th>Sähköposti:</th>
            <td>{{ ticket.owner_email }}</td>
        </tr>
        <tr>
            <th>Tunniste:</th>
            <td>{{ ticket.key }}</td>
        </tr>
    </tbody>
</table>
<p class="noPrint">
    Yksittäinen lippu on nähtävissä <a href="{% url 'tickets:ticket' ticket.key %}">täältä</a>.
</p>
<img src="https://chart.googleapis.com/chart?cht=qr&chs=160x160&chl={{ ticket.key }}" width="160" height="160" alt="Lipun QR-koodi." />
</div>
{% endfor %}
{% endif %}
{% endblock %}
