{% extends "admin_events_overview/base.html" %}
{% load event_name from admin_base_tags %}

{% block title %}{{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Overview</h2>
    <p>Tervetuloa tapahtuman <strong>{% event_name selected_event_id %}</strong> hallintapaneeliin!</p>
    
    <h3>Blogi</h3>
    <p>
        Blogiin kirjoitetut viestit tulevat julkaisun jälkeen näkyviin tapahtuman pääsivulle sekä RSS-feediin.
    </p>
    <p>
        <a href="{% url 'manage-blog:index' selected_event_id %}">Siirry muokkaamaan blogia &raquo;</a>
    </p>
 
    <h3>Tiedostot</h3>
    <p>
        Tälle sivulle voi vapaasti ladata tiedostoja admin-oikeuksilla kaikkien ladattavaksi. Kätevä esim. jos on tarvetta tallentaa kuvia blogia varten.
        Sallittuja tiedostomuotoja ovat zip, 7z, rar, tar, gz, bz2, png, gif, jpg.
    </p>
    <p>
        <a href="{% url 'manage-uploads:index' selected_event_id %}">Siirry hallitsemaan tiedostoja &raquo;</a>
    </p>
    
    <h3>Ohjelma</h3>
    <p>
        Ohjelma-sivulle tallennetaan esimerkiksi esitysten tai puheiden pitäjät sekä muiden tapahtumien ajat, esim. "Ovet aukeavat",
        "Valot pois" jne. Ohjelma-sivun tiedot tulevat näkymään yhdessä kompojen ja muiden kilpailujen kanssa tapahtuman sivuilla.
    </p>
    <p>
        <a href="{% url 'manage-programme:index' selected_event_id %}">Siirry muokkaamaan ohjelmaa &raquo;</a>
    </p>
    
    <h3>Arkisto</h3>
    <p>
        Arkisto pitää sisällään kaikki lopulliset tulokset. Hallinnassa on mahdollista tehdä tapahtuman jälkeinen tietojen siivous, sekä ladata
        tapahtuman aikana tallennettuja, muita kuin entryihin liittyviä videoita (esim. seminaarivideot). <strong>HUOM!</strong> Ennen arkistoijan käyttöä
        kannattaa tietokannasta ottaa varmuuskopio! Osa arkistoijan ominaisuuksista saattaa poistaa tietoa (tästä tiedotetaan ohjetekstissä).
    </p>
    <p>
        <a href="{% url 'manage-arkisto:index' selected_event_id %}">Siirry hallitsemaan arkistoa &raquo;</a>
    </p>
    
    <h3>Kompomaatti</h3>
    <p>
        Kompomaatti on tapahtuman kilpailujen/kompojen hallintaan tarkoitettu sivusto. Sen hallinnasta löytyy mm. kompojen, entryjen ja muiden kilpailujen
        lisäys, poisto ja muokkaus.
    </p>
    <p>
        <a href="{% url 'manage-kompomaatti:index' selected_event_id %}">Siirry hallitsemaan kompomaattia &raquo;</a>
    </p>
{% endblock %}