{% extends "main2018/base.html" %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h1>Effect Server</h1>

<p>
    <a href="http://valot.party">Effect Server</a> eli Tehostepalvelin on jatkoa Instansseilla
    aikaisemmin nähdylle Valopalvelimelle.
</p>
<p>
    Tehostepalvelimen tarkoitus on tarjota Instanssin kävijöille ohjelmointirajapinta
    partysalin valaistukseen ja mahdollisesti muihin salissa olevien tehosteiden hallintaan.
    Vuoden 2018 Instanssissa salin valaistuksena on 24 LED-valoa.
</p>
<p>
    Tehostepalvelimen rajapinta valoihin on yksinkertainen UDP-protokolla. Sen suunnittelussa on
    erityisesti pyritty ottamaan huomioon ohjelmoitavuuden yksinkertaisuus liikaa kuitenkaan
    rajoittamatta laajennettavuutta. Valojen ohjaukseen ei siis tarvita mitään kirjastoja vaan
    mikä tahansa ohjelmointikieli käy josta voidaan lähettää UDP-paketteja.
</p>
<p>
    Tehostepalvelimen UDP-paketissa ensimmäinen tavu kuvaa aina speksin versiota, joka on tällä
    hetkellä aina numero yksi. Tämän jälkeen pakettiin voidaan liittää yksi tai useampi tehostekomento.
</p>
<p>
    Tehostekomennon tavut menevät valoille seuraavasti
</p>
<ol>
    <li>Tehosteen tyyppi. Valoille tämä aina yksi</li>
    <li>Valon indeksi</li>
    <li>Valon tyyppi. Nolla RGB-valoille</li>
    <li>Valon RED arvo 0-255</li>
    <li>Valon GREEN arvo 0-255</li>
    <li>Valon BLUE arvo 0-255</li>
</ol>
<p>
    Eli paketti ensimmäisen valon muuttamiseksi punaiseksi ja toisen siniseksi olisi seuraavanlainen
</p>
<script src="https://gist.github.com/1678580.js?file=gistfile1.txt"></script>
<p>
    Tämä muuntuu koodiksi Python-ohjelmointikielellä seuraavasti
</p>
<script src="https://gist.github.com/teistiz/3b90f4d8cd15b7dcc917e1787b822a2a.js"></script>
{% endblock %}
