@import "vuetify";
@import "@fontsource/open-sans";
@import "@fontsource/fira-mono";
@import "@fontsource/exo-2/800.css";

html,
body {
    font-family: "Open Sans", sans-serif;
}

pre {
    font-family: "Fira Mono", monospace;
}

h1,h2,h3 {
    font-family: "Exo 2", sans-serif;
    font-weight: 800;
}

h1 {
    text-transform: uppercase;
    font-size: 1.9em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.3em;
}