@use "vuetify" as *;
@use "@fontsource/open-sans/latin-400.css" as *;
@use "@fontsource/fira-mono/latin-400.css" as *;
@use "@fontsource/exo-2/latin-900.css" as *;
@use "@fontsource/exo-2/latin-600.css" as *;

html,
body {
    font-family: "Open Sans", sans-serif;
}

pre {
    font-family: "Fira Mono", monospace;
}

h1,h2,h3 {
    font-family: "Exo 2", sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 1.9em;
    font-weight: 900;
}

h2 {
    font-size: 1.6em;
    font-weight: 600;
}

h3 {
    font-size: 1.3em;
    font-weight: 600;
}
.vuetify-pro-tiptap-editor {
    margin-bottom: 22px;
}
