{% extends "admin_arkisto/base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - Kategoriat{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'manage-arkisto:vidcats' selected_event_id %}">Kategoriat</a></li>
    <li>Selaa</li>
{% endblock %}

{% block jquery %}
{{ block.super }}
    $(".delete_link").click(function(){
        return confirm("Haluatko varmasti poistaa kategorian ?"); 
    });
    $("#cat_table").tablesorter({widgets: ['zebra'], sortList: [[0,0],]});
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Kategoriat</h2>
{% if categories %}
    <table id="cat_table" class="tablesorter">
    	<thead>
    		<tr>
    			<th>Nimi</th>
    			<th class="sorter-false management_field"></th>
    		</tr>
    	</thead>
    	<tbody>
{% for cat in categories %}
			<tr>
				<td>{{ cat.name }}</td>
				<td>
{% if perms.arkisto.change_othervideocategory %}
				<a href="{% url 'manage-arkisto:vidcats-edit' selected_event_id cat.id %}" class="edit_link">Muokkaa</a>
{% endif %}
{% if perms.arkisto.delete_othervideocategory %}
				<a href="{% url 'manage-arkisto:vidcats-delete' selected_event_id cat.id %}" class="delete_link">Poista</a>
{% endif %}
				</td>
			</tr>
{% endfor %}
		</tbody>
    </table>
{% else %}
	<p>Ei kategorioita.</p>
{% endif %}

{% if perms.arkisto.add_othervideocategory %}
{% crispy catform catform.helper %}
{% endif %}
{% endblock %}