{% extends "admin_arkisto/base.html" %}
{% load uni_form_tags %}

{% block title %}{{ block.super }} - Videot{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
		&raquo; <a href="{% url 'admin-vids' selected_event_id %}">Videot</a>
		&raquo; Selaa
{% endblock %}

{% block jquery %}
{{ block.super }}
    $(".delete_link").click(function(){
        return confirm("Haluatko varmasti poistaa videon ?"); 
    });
    $("#video_table").tablesorter({widgets: ['zebra'], sortList: [[0,0],]});
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Videot</h2>
{% if videos %}
    <table id="video_table" class="tablesorter">
    	<thead>
    		<tr>
    			<th>Nimi</th>
    			<th>Kategoria</th>
    			<th>Kuvaus</th>
    			<th class="sorter-false management_field"></th>
    		</tr>
    	</thead>
    	<tbody>
{% for video in videos %}
			<tr>
				<td><a href="{{ video.youtube_url }}">{{ video.name }}</a></td>
				<td>{{ video.category.name }}</td>
				<td>{{ video.description|linebreaksbr }}</td>
				<td>
{% if perms.arkisto.change_othervideo %}
					<a href="{% url 'admin-vids-edit' selected_event_id video.id %}" class="edit_link">Muokkaa</a>
{% endif %}
{% if perms.arkisto.delete_othervideo %}
					<a href="{% url 'admin-vids-delete' selected_event_id video.id %}" class="delete_link">Poista</a>
{% endif %}
				</td>
			</tr>
{% endfor %}
		</tbody>
    </table>
{% else %}
	<p>Ei videoita.</p>
{% endif %}

{% if perms.arkisto.add_othervideo %}
{% uni_form vidform vidform.helper %}
{% endif %}
{% endblock %}