{% extends "admin_calendar/base.html" %}
{% load uni_form_tags %}

{% block title %}{{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
    $(".delete_link").click(function(){
        return confirm("Haluatko varmasti poistaa tapahtuman ?"); 
    });
    $("#calendar_table").tablesorter({widgets: ['zebra'], sortList: [[2,0],]}).tablesorterPager({container: $("#event_pager")}); 
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Aikataulu</h2>
    
{% if cevs %}
	<table id="calendar_table" class="tablesorter">
		<thead>
			<tr>
				<th>Otsikko</th>
				<th>Kuvaus</th>
				<th>Alkaa</th>
				<th>Päättyy</th>
				<th class="sorter-false">Muokkaa</th>
				<th class="sorter-false">Poista</th>
			</tr>
		</thead>
		<tbody>
{% for event in cevs %}
			<tr>
				<td>{{ event.title }}</td>
				<td>{{ event.description }}</td>
				<td>{{ event.start|date:"d.m.Y \k\l\o\. H:i" }}</td>
				<td>{{ event.end|date:"d.m.Y \k\l\o\. H:i" }}</td>
				<td><a href="/manage/{{ selected_event_id }}/calendar/edit/{{ event.id }}/" >Muokkaa</a></td>
				<td><a href="/manage/{{ selected_event_id }}/calendar/delete/{{ event.id }}/" class="delete_link">Poista</a></td>
			</tr>
{% endfor %}
		</tbody>
	</table>
	<div id="event_pager" class="pager">
		{% include "common/pagination.html" %}
	</div>
{% else %}
	<p>Aikataulussa ei ole merkintöjä.</p>
{% endif %}
    
{% uni_form eventform eventform.helper %}
{% endblock %}