{% extends "base.html" %}

{% block head %}{{ block.super }}{% endblock %}

{% block jquery %}{{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Instanssi 2012<span class="posted"> | posted on 18.10.2012 by Instanssi</span> </h2>
    <p>
        Arvon digitaalisen taiteen ja kulttuurin ystävät, tervetuloa Instanssiin!
    </p>
    <p>
        Instanssi on Linkki Jyväskylä Ry:n jo toista kertaa järjestämä <strong>LAN- ja demoparty Jyväskylässä</strong>. 
        Tänä keväänä Instanssi järjestetään Voionmaan lukion tiloissa 13.-15.5.2011.
    </p>
    <p>
        Instanssi on aloittelijaystävällinen tapahtuma, jossa voi tutustua tekemiseen erilaisten 
        seminaarien ja työpajojen avulla. Tapahtumassa kävijät pääsevät myös pelailemaan ja kilvoittelemaan 
        kompoissa avoimessa ja kannustavassa ilmapiirissä. Instanssin teemana keväällä 2011 on ”Kädestä pitäen alkuun”.
    </p>
    <p>
        Tapahtuman erikoisuuksina ovat ohjelmoitavat valot ja kompoista esimerkiksi Summamutikka, jossa tavoitteena 
        on mahdollisimman suuri hämmennys vapaavalintaisella esittämistavalla.
    </p>
{% endblock %}