{% load i18n static %}
<nav class="navbar navbar-expand navbar-dark fixed-top bt-navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="{% static 'base_theme/images/icon.png' %}" alt="Instanssi" height="20" class="d-block">
        </a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">{% trans "Index" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'km:eventselect' %}">{% trans "Compomatic" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'archive:index' %}">{% trans "Archive" %}</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ user.email|default:user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end bt-dropdown">
                        <li>
                            <a class="dropdown-item" href="{% url 'users:profile' %}">{% trans "Profile" %}</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="{% url 'users:logout' %}">{% trans "Log out" %}</a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">{% trans "Login" %}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
