<!DOCTYPE html>{% load static blog_tags twitter_tag cache compress %}
<head>
    <meta charset="utf-8" />
    <title>Instanssi 2016</title>
    <meta name="description" content="Digitaalisen tekemisen festivaali">
    <meta name="viewport" content="initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'main2016/images/icons/icon-favicon.png' %}" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'main2016/css/style.scss' %}" />
    {% endcompress %}

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="alternate" type="application/rss+xml" title="Instanssi Blog - RSS" href="{% blog_rss_url %}" />
    <meta property="og:locale" content="fi_FI" />
    <meta property="og:url" content="http://instanssi.org/2016/" />
    <meta property="og:image" content="http://instanssi.org/static/main2016/images/icons/instanssi2016-fb-profile.png" />
    <meta property="og:title" content="Instanssi - Digitaalisen tekemisen festivaali" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Instanssi" />
{% block head %}{% endblock %}
{% if GOOGLE_ANALYTICS %}
    <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ GOOGLE_ANALYTICS_CODE }}', 'auto');
    ga('send', 'pageview');
    </script>
{% endif %}
    <script type="text/javascript">
    $(function() {
{% block jquery %}
    /* mobile nav button */
    $('#page-header .nav-btn').click(function() {
        var $nav = $('#page-header nav ul');
        $nav.toggleClass( 'active' );
        if($nav.hasClass('active') ){
            $('html, body').animate({
                scrollTop: $("#page-header nav").offset().top
            }, 400);
            console.log('ok');
        }
    });
    /* motion */
    var $window = $(window);
    $('.header-layer').remove();
    var cubes = [
        { src: '{% static 'main2016/images/banner-cube-0.png' %}',
          x: 870, y: 0, z: 30 },
        { src: '{% static 'main2016/images/banner-cube-1.png' %}',
          x: 1230, y: 0, z: 50 },
        { src: '{% static 'main2016/images/banner-cube-2.png' %}',
          x: 410, y: 95, z: 80 },
        { src: '{% static 'main2016/images/banner-cube-3.png' %}',
          x: -250, y: 0, z: 120 },
    ];
    var $cubes = [];
    $.each(cubes, function(i, cube) {
        var $cube = $('<img/>', {
            class: 'header-cube header-effect',
            src: cube.src
        });
        $cubes.push($cube);
        $cube.x = cube.x;
        $cube.y = cube.y;
        $cube.z = cube.z;
        $('.header-layers').append($cube);
    });
    function moveLayers(offset) {
        $.each($cubes, function(i, $cube) {
          var center = -$cube.width() / 2;
          $cube.css('left',
                    center + offset / $cube.z + $cube.x);
          $cube.css('top', $cube.y);
        });
    }
    $('body').mousemove(function(ev) {
        moveLayers($window.width() / 2 - ev.pageX);
    });
    moveLayers(0);
{% endblock %}
    });
    </script>
</head>
<body>
    <div id="page-wrap">
        <header id="page-header">
            <span class="header-layer header-effect" z="100"></span>
            <div class="header-layers">
            </div>
            <div class="nav-btn">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <div class="header-info container">
                <a href="{% url 'main2016:index' %}" class="logo">
                    <h1>Instanssi&nbsp;2016</h1>
                    <p class="tagline">Digitaalisen tekemisen festivaali</p>
                    <p class="time">Jyväskylässä 4.-6.3.2016!</p>
                </a>
            </div>
            <nav class="container">
                <div class="clearer"></div>
                <ul>
                    <li class="menu-item {% if templatename == 'index' %}current-menu-item{% endif %}" ><a href="{% url 'main2016:index' %}">Blogi</a></li>
                    <li class="menu-item {% if templatename == 'info' %}current-menu-item{% endif %}" ><a href="{% url 'main2016:info' %}">Info</a></li>
                    <li class="menu-item {% if templatename == 'kompot' %}current-menu-item{% endif %}" ><a href="{% url 'main2016:kompot' %}">Kompot</a></li>
                    <li class="menu-item {% if templatename == 'ohjelma' %}current-menu-item{% endif %}" ><a href="{% url 'main2016:ohjelma' %}">Ohjelma</a></li>
                    <li class="menu-item {% if templatename == 'aikataulu' %}current-menu-item{% endif %}" ><a href="{% url 'main2016:aikataulu' %}">Aikataulu</a></li>
                    <li class="menu-item {% if templatename == 'english' %}current-menu-item{% endif %}" ><a href="{% url 'main2016:english' %}">In English</a></li>
                    <li class="menu-item {% if templatename == 'stream' %}current-menu-item{% endif %}" ><a href="{% url 'main2016:stream' %}">Stream</a></li>
                    <li class="menu-item" style="float: right;"><a href="{% url 'store:index' %}">Kauppa</a></li>
                    <li class="menu-item" style="float: right;"><a href="{% url 'km:index' event_id %}">Kompomaatti</a></li>
                    <li class="menu-item" style="float: right;"><a href="{% url 'archive:index' %}">Arkisto</a></li>
                    <div class="clearer"></div>
                </ul>
            </nav>
        </header>
        <div id="content" class="container">
            <section id="primary">
                {% block content %}{% endblock %}
            </section>
            <aside id="sidebar-widgets">
                <section class="widget widget-store">
                    <a href="{% url 'store:index' %}" class="btn full-width">Osta lippu!</a>
                </section>
                {% block widgets %}
                <section class="widget widget-twitter">
                    <h2>Twitter</h2>
                    <div id="tweets">
                        {% cache 600 twitter_bar %}
                        {% get_tweets for "instanssi" as tweets exclude "replies" limit 5 %}
                        <ul>
                        {% for tweet in tweets %}
                            <li>
                                <span class="author">@{{ tweet.user.name }}: </span>
                                <span class="text">{{ tweet.text }}</span><br />
                                <span class="time">{{ tweet.datetime|date:"d.m.Y H:i" }}</span> &middot;
                                <span class="link"><a href="http://twitter.com/instanssi/status/{{ tweet.id }}">Lue twitterissä &raquo;</a></span>
                            </li>
                        {% endfor %}
                        </ul>
                        {% endcache %}
                    </div>
                </section>
                <section class="widget widget-socialmedias">
                    <h2>Sosiaaliset mediat</h2>
                    <div class="social-media">
                        <a href="http://www.facebook.com/instanssi"><img src="{% static 'main2016/images/icons/icon-facebook.png' %}" alt="" ></a>
                        <a href="http://twitter.com/instanssi"><img src="{% static 'main2016/images/icons/icon-twitter.png' %}" alt="" ></a>
                        <a href="http://www.youtube.com/user/InstanssiOrg"><img src="{% static 'main2016/images/icons/icon-youtube.png' %}" alt="" ></a>
                        <a href="https://groups.google.com/forum/?fromgroups#!forum/instanssi"><img src="{% static 'main2016/images/icons/icon-googleplus.png' %}" alt="" ></a>
                        <a href="{% url 'ext-blog:rss' %}"><img src="{% static 'main2016/images/icons/icon-rss.png' %}" alt="" ></a>
                        <div class="clearer"></div>
                        <br />
                        <p>#instanssi @ IRCNet</p>
                    </div>
                </section>
                {% endblock %}
            </aside>
            <div class="clearer"></div>
        </div>
        <footer id="page-footer">
            <div class="container">
                <section class="sitemap">
                    <h1>Sivukartta</h1>
                    <ul>
                        <li class="menu-item {% if templatename == 'index' %}current-menu-item{% endif %}" ><a href="{% url 'main2016:index' %}">Blogi</a></li>
                        <li class="menu-item {% if templatename == 'info' %}current-menu-item{% endif %}" ><a href="{% url 'main2016:info' %}">Info</a></li>
                        <li class="menu-item {% if templatename == 'kompot' %}current-menu-item{% endif %}" ><a href="{% url 'main2016:kompot' %}">Kompot</a></li>
                        <li class="menu-item {% if templatename == 'ohjelma' %}current-menu-item{% endif %}" ><a href="{% url 'main2016:ohjelma' %}">Ohjelma</a></li>
                        <li class="menu-item {% if templatename == 'aikataulu' %}current-menu-item{% endif %}" ><a href="{% url 'main2016:aikataulu' %}">Aikataulu</a></li>
                        <li class="menu-item {% if templatename == 'english' %}current-menu-item{% endif %}" ><a href="{% url 'main2016:english' %}">In English</a></li>
                        <!--<li class="menu-item {% if templatename == 'stream' %}current-menu-item{% endif %}" ><a href="{% url 'main2016:stream' %}">Stream</a></li>-->
                        <li class="menu-item"><a href="{% url 'store:index' %}">Kauppa</a></li>
                        <li class="menu-item"><a href="{% url 'km:index' event_id %}">Kompomaatti</a></li>
                        <li class="menu-item"><a href="{% url 'archive:index' %}">Arkisto</a></li>
                        <div class="clearer"></div>
                    </ul>
                </section>
                <section class="sponsors">
                    <h1>Yhteistyössä mukana</h1>
                    <div class="sponsors-container">
                        <div class="sponsor"><a href="https://www.jyu.fi/it"><img src="{% static 'main2016/images/partners/jyuit.png' %}" alt="JYU IT logo" /></a></div>
                        <div class="sponsor"><a href="https://www.jyu.fi/it/laitokset/mit"><img src="{% static 'main2016/images/partners/tietotekniikanlaitos.png' %}" alt="JYU TTL logo" /></a></div>
                        <div class="sponsor"><a href="http://linkkijkl.fi/"><img src="{% static 'main2016/images/partners/linkki.png' %}" alt="Linkki logo" /></a></div>
                        <div class="sponsor"><a href="http://koodilehto.fi/"><img src="{% static 'main2016/images/partners/koodilehto.png' %}" alt="Koodilehto logo" /></a></div>
                        <!--<div class="sponsor"><a href="http://www.livetek.fi/"><img src="{% static 'main2016/images/partners/livetek.png' %}" alt="Livetek logo" /></a></div>-->
                        <div class="sponsor"><a href="http://www.paytrail.com/"><img src="{% static 'main2016/images/partners/paytrail.png' %}" alt="Paytrail logo" /></a></div>
                        <div class="sponsor"><a href="http://www.musikantti.fi/"><img src="{% static 'main2016/images/partners/musikantti.png' %}" alt="Musikantti logo" /></a></div>
                        <div class="sponsor"><a href="http://reaktor.com/"><img src="{% static 'main2016/images/partners/reaktor.png' %}" alt="Reaktor logo" /></a></div>
                        <div class="sponsor"><a href="http://www.proto-kk.fi"><img src="{% static 'main2016/images/partners/protopaja-kk.png' %}" alt="Protopaja Kalliokoski logo" /></a></div>
                        <div class="sponsor"><a href="http://ramirent.fi/"><img src="{% static 'main2016/images/partners/ramirent.png' %}" alt="Ramirent logo" /></a></div>
                        <div class="clear"></div>
                    </div>
                </section>
                <div class="clearer"></div>
            </div>
        </footer>
    </div>
</body>
</html>
