<!DOCTYPE html>
<head>
    {% include './parts/head.html' %}
    {% block head %}{% endblock %}
</head>
<body>
    <header id="page-header">
        {% include './parts/header.html' %}
    </header>
    <div id="content" class="container">
        <div class="content-wrap">
            <div class="row">
                <main role="main" id="primary" class="col-md-9 col-sm-8">
                    <section>
                        {% block content %}{% endblock %}
                    <section>
                </main>
                <aside id="sidebar" class="col-md-3 col-sm-4">
                    {% include './parts/sidebar.html' %}
                </aside>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <footer id="page-footer">
        {% include './parts/footer.html' %}
    </footer>
    <div class="clearfix"></div>
</body>
</html>
