{% extends "common/simple_base.html" %}
{% load static %}

{% block title %}Kompomaatti{% endblock %}

{% block head %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "kompomaatti_auth/css/style.css" %}" />
{% endblock %}
    
{% block jquery %}
{{ block.super }}
    $('#providers').change(function() {
        $('#identifier').val($('#providers').val());
    });
{% endblock %}

{% block content %}
{{ block.super }}
	<h1>Kompomaatti</h1>
	<form action="{% url "socialauth_begin" "openid" %}" id="mform" method="post">
	    <p>
	        Valitse OpenID-kirjautumispalvelu:
	    </p>
	    {% csrf_token %}
	    <p>
    		<select id="providers">
                <option value="https://www.google.com/accounts/o8/id" selected="selected">Google</option>
                <option value="https://korppi.jyu.fi/openid/">Korppi</option> 
                <option value="https://me.yahoo.com">Yahoo</option>
    		</select>
    	</p>
    	<p>
    	    <input type="text" name="openid_identifier" id="identifier" value="https://www.google.com/accounts/o8/id" />
    		<input type="submit" id="submit_button" value="Kirjaudu" />
		</p>
	</form>
{% endblock %}
