{% extends "allauth/layouts/base.html" %}
{% load allauth i18n %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}
{% block content %}
    {% element h1 %}
        {% trans "Sign Out" %}
    {% endelement %}
    {% element p %}
        {% trans 'Are you sure you want to sign out?' %}
    {% endelement %}
    {% url 'account_logout' as action_url %}
    {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans 'Sign Out' %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    <ul>
        <li><a href="/">{% trans "Index" %}</a></li>
        <li><a href="{% url 'km:eventselect' %}">{% trans "Compomatic" %}</a></li>
        <li><a href="{% url 'archive:index' %}">{% trans "Archive" %}</a></li>
        <li><a href="{% url 'account_login' %}">{% trans "Login" %}</a></li>
    </ul>
{% endblock %}
