{% extends "allauth/layouts/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Uusi salasana - Instanssi.org{% endblock %}

{% block content %}
<h2 class="text-center mb-3 fs-5">Aseta uusi salasana</h2>

{% if token_fail %}
<p>Salasanan palautuslinkki on virheellinen tai vanhentunut. <a href="{% url 'account_reset_password' %}">Pyydä uusi palautuslinkki.</a></p>
{% else %}
<form method="post" action="{{ action_url }}">
    {% csrf_token %}
    {{ form|crispy:"bootstrap5" }}
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Vaihda salasana</button>
    </div>
</form>
{% endif %}
{% endblock %}
