body,p,ul,form,table,td,th { 
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

#auth_base {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 5px #777777;
    border: 1px solid #222222;
    position: relative;
    top: 100px;
}

#auth_header {
    background-color: rgba(40,52,59,1);
    width: 100%;
    position: relative;
    z-index: 1;
    color: white; 
}

#auth_content {
    background-color: #eeeeee;
    width: 100%;
}

p.errortext {
    font-weight: bold;
    padding: 8px;
}

h1 { 
    font-size: 100%; 
    font-weight: bold; 
    letter-spacing: 3px; 
}

div.fixer {
    padding: 8px;
}

ul {
    list-style-type: disc;
    margin-left: 1.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li {
    padding: 2px;
}
