{% extends "main2026/base.html" %}
{% load kompomaatti_tags %}

{% block content %}
{{ block.super }}

<h1>Kompot</h1>

{% render_frontpage_compolist_contents event_id %}

<h2 id="yleista">Yleistä kompoista</h2>

<h3 id="yleiset">Yleiset säännöt</h3>
<p>
    Kompoteos kannustetaan julkaistavaksi avoimena lähdekoodina.
    Työn alla olevista teoksista sopii keskustella julkisesti vaikkapa ohjelmointivinkkien
    etsimiseksi.
</p>
<p>
    Vain aiemmin julkaisemattomilla teoksilla voi osallistua. Aiemmin julkaisulla
    tarkoitetaan osallistumista muihin kilpailuihin, julkaisemista sovelluskaupassa
    tai tuotoksen jakelua muilla tavoin valmiina teoksena. Julkaisemiseksi ei
    kuitenkaan katsota julkista kehittämistä esimerkiksi GitHub-profiilissa.
</p>
<p>
    Sääntömuutoksia tehdään tarvittaessa yllättäen ja mielivaltaisesti, joskaan
    ei perusteettomasti tahi asiasta informoimatta.
</p>
<p>
    Teoksen tai esityksen osana hyödynnettävään materiaaliin on oltava lupa. Tämä tarkoittaa sitä, että
    materiaali on joko tekijän itse tekemää tai se on yhteensopiva
    <a href="../kilpailusopimus" title="Lue koko sopimus">Instanssin kilpailusopimuksen</a> kanssa.
    Tämä sääntö koskee kaikkien, mukaanlukien Summamutikan ja yllätyskompojen kilpailuteoksia!
</p>
<p>
    Suosiota saavuttaneet hissipuheet palaavat! Kaikissa kompoissa tarjotaan
    kaikkien teosten kohdalla tekijöille mahdollisuus piipahtaa juuri ennen
    teoksen esittämistä lavalla esittäytymässä sekä esittelemässä ja kenties
    kehaisemassakin tuotostaan. Pakko ei ole, mikäli ei halua. Kannustamme kuitenkin
    keksimään markkinointihengessä tai vaikkapa kieli poskessa pari sanasta.
</p>

<h3 id="genai-policy">GenAI</h3>
<ul>
    <li>Teokseksi lasketaan taiteellisen teoksen graafinen, auditiivinen ja rakenteellinen (lähdekoodi) materiaali, joka identifioi teoksen muista.</li>
    <li>Teokseen ei lasketa siihen käytettyjä valmiita kirjastoja, käynnistimiä, alustoja tai ohjelmistokehyksiä.</li>
</ul>
<ul>
    <li>GenAI-teknologiaa EI saa käyttää teoksen taiteen suoraan tuottamiseen, eli esimerkiksi kuvien, musiikin, shaderien tai tekstuurien luonti tyhjästä, TAI muokkaaminen toisiksi teoksiksi.</li>
    <li>GenAI-teknologiaa saa käyttää epäsuorasti teoksen luomisen apuna, esim. opettelumateriaalina tai korvaamaan muita olemassaolevia työkaluja (esim. search & replace, nopea protoilu, etc).</li>
    <li>GenAI käyttö on avattava entryn kuvauksessa.</li>
</ul>

<h3 id="takarajat">Osallistumistakarajat</h3>
<p>
    Teosten <a href="https://instanssi.org/kompomaatti">Kompomaattiin</a> rekisteröinnin takaraja tulee olemaan perjantain
    ja lauantain välisenä yönä. Tässä vaiheessa on jo toimitettava julkaisukelpoinen
    teos. Teosta saa kuitenkin päivittää järjestelmään vielä tämän jälkeen, komposta
    riippuen lähes kompon alkuun saakka. Tarkat takarajat näkyvät tapahtuman aikana
    kompomaatissa. Erikoistapauksissa neuvotteluvaraa on.
</p>

<h3 id="etaosallistuminen">Etäosallistuminen</h3>
<p>
    Etäosallistuminen on sallittua. Etäosallistuminen tarkoittaa
    osallistumista johonkin kompoon ilman että tekijä tai tekijää edustava taho on
    tapahtumassa paikan päällä. Mikäli haluat lähettää etäentryn, ota yhteyttä järjestäjiin.
</p>
<p>
    Järjestäjät voivat hylätä teoksen, jos sen esittäminen
    osoittautuu ongelmalliseksi, eikä tekijään saada ajoissa
    yhteyttä ongelman ratkaisemiseksi. Hylkäytymisen riskiä voi
    pienentää laatimalla järjestäjille seikkaperäiset
    esittämisohjeet, erityisesti silloin, kun teos poikkeaa
    ympäristöltään tai vaatimuksiltaan tyypillisestä. Lisäksi
    etäosallistuessa menettää tietysti mahdollisuuden mainospuheen
    pitämiseen kompon yhteydessä.
</p>
<p>
    Edustajan välityksellä tapahtuva kilpaan osallistuminen on suositeltavampi
    vaihtoehto ja se on mahdollista missä tahansa kompossa. Tällöin tapahtumassa
    paikan päällä oleva kävijä huolehtii teoksen lähettämisestä kompomaattiin,
    mahdollisen mainospuheen pitämisestä kompon yhteydessä sekä mahdollisen palkinnon
    vastaanottamisesta.
</p>

<h3 id="karsinta">Karsinta</h3>
<p>
    Mikäli kilpasarjassa on erityisen paljon osallistujia eikä
    kaikkia teoksia ole mahdollista esittää niille varatussa
    ajassa, suoritetaan karsinta. Karsinnan suorittaa jury, joka
    koostuu järjestäjistä tai heidän valitsemistaan henkilöistä.
    Juryllä ei ole velvollisuutta perustella karsintaan johtaneita
    syitä.
</p>
<p>
    Mikäli teos karsitaan, sitä ei kuitenkaan hylätä. Mikäli
    teokseen liittyvä materiaali on saatavilla Kompomaatista, voi
    teoksen ladata ja sitä voi äänestää Kompomaatissa, kuten
    muitakin teoksia. Teos talletetaan lisäksi Instanssin
    arkistoon.
</p>
<p>
    Aiempina vuosina karsintaa ei ole tarvinnut käyttää ja tämä
    sääntö on olemassa vain kaiken varalta.
</p>

<h3 id="laitteisto">Laitteisto</h3>
<p>
    Suoritettavat teokset tulee olla lopetettavissa alustalle ominaisella tavalla.
    Tämä tarkoittaa joko Esc-painikkeen painamista tai mobiilialustalla Home-nappulaa.
</p>
<p>
    Teokset esitetään valkokankaalla resoluutiolla 1080p. Vanhempia laitteita
    varten voimme hyväksyä myös muita resoluutioita. Näissä
    tapauksessa kannattaa olla etukäteen yhteydessä järjestäjiin.
</p>
<p>
    Windows kompokone:
</p>
<ul>
    <li>Windows 11</li>
    <li>AMD Ryzen 7 7800X3D</li>
    <li>64 GB (2 x 32GB) DDR5, 6000 MHz</li>
    <li>nVIDIA RTX 4090</li>
</ul>
<p>
    Linux kompokone:
</p>
<ul>
    <li>Ubuntu 24.04 LTS</li>
    <li>AMD Ryzen 5 3600</li>
    <li>16 GB DDR4</li>
    <li>nVIDIA 3060 Ti</li>
</ul>

{% render_frontpage_compolist event_id %}
{% endblock %}
