*.pyc
*.db
.project
.pydevproject
.settings
.coverage
*.html~
*.py~
*.txt~
*.sh
.idea
.env
.venv
.virtualenv
**/node_modules
**/.vscode
**/npm-debug.log
venv/

# Backend stuff
backend/var/
backend/content/static/*
backend/content/uploads/*
backend/!content/static/index.html
backend/!content/uploads/index.html
backend/Instanssi/settings.py
backend/testing/output/*
backend/openapi.yaml
