*.pyc
database.db
.project
.pydevproject
.settings
content/static/*
content/uploads/*
!content/static/index.html
!content/uploads/index.html
Instanssi/settings.py
testing/output/*
*.html~
*.py~
*.txt~
.idea
