Django==1.11.6
django-countries==4.6.1
django-crispy-forms==1.7.0
django-debug-toolbar==1.8
django-imagekit==4.0.1
django-twitter-tag==1.2.1
django-filter==1.1.0
Pillow==4.3.0
social-auth-core==1.5.0
social-auth-app-django==2.0.0
django-libsass==0.7
django-compressor==2.2
requests==2.18.4
raven==6.6.0
django-redis==4.9.0
djangorestframework==3.7.1
django-oauth-toolkit==1.0.0
requests-oauthlib==0.8.0
tabulate==0.8.1
arrow==0.10.0  # Proper iso8601 parsing
loremipsum==1.0.5  # For providing test data
mock==2.0.0  # For testing against mocks
faker==0.8.6  # For providing test data
