{% extends "main2013/base.html" %}
{% load calendar_tags %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h1>Heading 1</h1>
<h2>Heading 1</h2>
<h3>Heading 1</h3>
<h4>Heading 1</h4>
<p>Phasellus lacus est, sagittis vitae pretium non, malesuada a quam. Praesent sodales <a href="#">this is a link</a> imperdiet lectus, et elementum arcu placerat in. Mauris laoreet, mauris ut vehicula porta, justo massa consequat metus, sit amet hendrerit felis metus nec nunc. Vestibulum at magna diam. Cras quis sapien metus, ac commodo odio. Ut nisi metus, laoreet et hendrerit at, condimentum eget turpis. Fusce vitae quam tortor. Ut commodo, turpis ut sodales mattis, enim metus vehicula diam, eget interdum velit neque a sapien. In hac habitasse platea dictumst.</p>
<ul>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<ul>
		<li>Item</li>
		<li>Item</li>
		<ul>
			<li>Item</li>
			<li>Item</li>
		</ul>
	</ul>
</ul>

<ol>
	<li>Item</li>
	<li>Item</li>
	<li>Item</li>
	<ol>
		<li>Item</li>
		<li>Item</li>
		<ol>
			<li>Item</li>
			<li>Item</li>
		</ol>
	</ol>
</ol>

<img src="http://freedomwallpaper.com/wallpaper/cool_hd_wallpapers_3.jpg" alt="" />

<table>
	<tr>
		<th class='time'>Aika</th>
		<th class='image'>Kuva</th>
		<th class='title'>Otsikko</th>
		<th class='description'></th>
	</tr>
	<tr>
		<td class='time'>18:00</td>
		<td class='image'></td>
		<td class='title'>Ovet auki</td>
		<td class='description'></td>
	</tr>
		<tr>
		<td class='time'>18:00</td>
		<td class='image'></td>
		<td class='title'>Pöydissä sähköt ja verkko</td>
		<td class='description'></td>
	</tr>
	<tr>
		<td class='time'>18:00</td>
		<td class='image'></td>
		<td class='title'>Kioski auki</td>
		<td class='description'></td>
	</tr>
	<tr>
		<td class='time'>18:00</td>
		<td class='image'></td>
		<td class='title'>Sändin pitäjät paikalla</td>
		<td class='description'></td>
	</tr>
	<tr>
		<td class='time'>19:30</td>
		<td class='image'><img src="_/images/koala.jpg" alt="" /></td>
		<td class='title'>The Boss</td>
		<td class='description'>Tervetulotoivotus ja esittely ( 20min ) <a href="#">Lisätietoja »</a></td>
	</tr>
</table>

<a href="#" class="btn">Button</a>

{% render_calendar event_id %}

{% endblock %}