<!DOCTYPE html>{% load static %}{% load blog_tags %}
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Instanssi 2013</title>
	<meta name="description" content="Digitaalisen tekemisen festivaali, joka järjestetään Jyväskylässä 1.-3.3.2013 Voionmaan lukion tiloissa.">
    <meta name="viewport" content="initial-scale=1.0" />
	<link rel="shortcut icon" href="{% static 'main2013/images/icons/icon-favicon.png' %}" />
	
	<!-- fonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Exo:400,900' rel='stylesheet' type='text/css'>
	
	<!-- styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'libs/css/reset.css?v2' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main2013/css/style.css?v2' %}" />
	
	<!-- scripts -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'main2013/js/modernizr-1.7.min.js' %}"></script>

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="Instanssi Blog - RSS" href="{% blog_rss_url %}" />

    <!-- Open Graph -->
    <meta property="og:locale" content="fi_FI" />
    <meta property="og:url" content="http://instanssi.org/2013/" />
    <meta property="og:image" content="http://instanssi.org/static/main2013/images/icons/instanssi2013-fb-profile.png" />
    <meta property="og:title" content="Instanssi - Digitaalisen tekemisen festivaali" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Instanssi" />
{% block head %}{% endblock %}
    <script type="text/javascript">
    $(function() {
{% block jquery %}
	$('#tweets').twitterfeed({
		users: ["Instanssi"], 
		tweetcount: 5
	});
{% endblock %}
    });
    </script>
</head>
<body>
	<div id="page-wrap">
		<header id="page-header">
			<header id="header-top">
				<a href="{% url 'main2013:stream' %}">Stream</a>
				<a href="{% url 'km:index' event_id %}">Kompomaatti</a>
				<a href="{% url 'archive:index' %}">Arkisto</a>
			</header>	
			<div class="header-info container">
				<a href="{% url 'main2013:index' %}" class="logo">
					<h1>Instanssi2013</h1>
					<p class="tagline">Digitaalisen tekemisen festivaali</p>
					<p class="time">1. - 3.3. Jyväskylä</p>
				</a>
			</div>
			
			
			<nav class="container">
				<div class="nav-btn">
					<div class="line" ></div>
					<div class="line" ></div>
					<div class="line" ></div>
				</div>
				<div class="clearer"></div>
				<ul>
					<li class="menu-item {% if templatename == 'index' %}current-menu-item{% endif %}" ><a href="{% url 'main2013:index' %}">Blogi</a></li>
					<li class="menu-item {% if templatename == 'info' %}current-menu-item{% endif %}" ><a href="{% url 'main2013:info' %}">Info</a></li>
					<li class="menu-item {% if templatename == 'liput' %}current-menu-item{% endif %}" ><a href="{% url 'main2013:liput' %}">Liput</a></li>
					<!--
					<li class="menu-item {% if templatename == 'aikataulu' %}current-menu-item{% endif %}" ><a href="{% url 'main2013:aikataulu' %}">Aikataulu</a></li>
					<li class="menu-item {% if templatename == 'ohjelma' %}current-menu-item{% endif %}" ><a href="{% url 'main2013:ohjelma' %}">Ohjelma</a></li>
					-->
					<li class="menu-item {% if templatename == 'kompot' %}current-menu-item{% endif %}" ><a href="{% url 'main2013:kompot' %}">Kompot</a></li>
					<li class="menu-item {% if templatename == 'yhteystiedot' %}current-menu-item{% endif %}" ><a href="{% url 'main2013:yhteystiedot' %}">Yhteystiedot</a></li>
					<li class="menu-item {% if templatename == 'english' %}current-menu-item{% endif %}" ><a href="{% url 'main2013:english' %}">In English</a></li>
					<div class="clearer"></div>
				</ul>
			</nav>
		</header>
		<div id="content" class="container">
			<section id="primary">
				{% block content %}{% endblock %}
			</section>
			<aside id="twitter-widget" >
				<section class="widget widget-twitter">
					<h2>Twitter</h2>
					<div id="tweets">
					</div>
				</section>
				<section class="widget">
					<h2>Instanssiin vielä</h2>
					<p><span id="countdown"></span></p>
				</section>
				<section class="widget">
					<a href="{% url 'main2013:liput' %}" class="btn full-width">Osta lippu! </a>
				</section>
				<section class="widget widget-socialmedias">
					<h2>Sosiaaliset mediat</h2>
					<div class="social-media">
						<a href="http://www.facebook.com/instanssi"><img src="{% static 'main2013/images/icons/icon-facebook.png' %}" alt="" ></a>
						<a href="http://twitter.com/instanssi"><img src="{% static 'main2013/images/icons/icon-twitter.png' %}" alt="" ></a>
						<a href="http://www.youtube.com/user/InstanssiOrg"><img src="{% static 'main2013/images/icons/icon-youtube.png' %}" alt="" ></a>
						<a href="https://groups.google.com/forum/?fromgroups#!forum/instanssi"><img src="{% static 'main2013/images/icons/icon-googleplus.png' %}" alt="" ></a>
						<a href="{% url 'ext-blog:rss' %}"><img src="{% static 'main2013/images/icons/icon-rss.png' %}" alt="" ></a>
						<div class="clearer"></div>
						<br />
						<p>#instanssi @ IRCNet</p>
					</div>
				</section>
			</aside>
			<div class="clearer"></div>
		</div>
		<footer id="page-footer">
			<div class="container">
				<section class="sitemap">
					<h1>Sivukartta</h1>
					<ul>
						<li class="menu-item {% if templatename == 'index' %}current-menu-item{% endif %}" ><a href="{% url 'main2013:index' %}">Blogi</a></li>
						<li class="menu-item {% if templatename == 'info' %}current-menu-item{% endif %}" ><a href="{% url 'main2013:info' %}">Info</a></li>
						<li class="menu-item {% if templatename == 'liput' %}current-menu-item{% endif %}" ><a href="{% url 'main2013:liput' %}">Liput</a></li>
						<!--
						<li class="menu-item {% if templatename == 'aikataulu' %}current-menu-item{% endif %}" ><a href="{% url 'main2013:aikataulu' %}">Aikataulu</a></li>
						<li class="menu-item {% if templatename == 'ohjelma' %}current-menu-item{% endif %}" ><a href="{% url 'main2013:ohjelma' %}">Ohjelma</a></li>
						-->
						<li class="menu-item {% if templatename == 'kompot' %}current-menu-item{% endif %}" ><a href="{% url 'main2013:kompot' %}">Kompot</a></li>
						<li class="menu-item {% if templatename == 'yhteystiedot' %}current-menu-item{% endif %}" ><a href="{% url 'main2013:yhteystiedot' %}">Yhteystiedot</a></li>
						<li class="menu-item {% if templatename == 'english' %}current-menu-item{% endif %}" ><a href="{% url 'main2013:english' %}">In English</a></li>
						<div class="clearer"></div>
					</ul>
				</section>
				<section class="sponsors">
					<!--<h1>Yhteistyössä mukana</h1>
					<div class="sponsor-placeholder"></div>
					<div class="sponsor-placeholder"></div>
					<div class="sponsor-placeholder"></div>
					<div class="sponsor-placeholder"></div>
					<div class="sponsor-placeholder"></div>
					<div class="sponsor-placeholder"></div>
					<div class="sponsor-placeholder"></div>
					<div class="sponsor-placeholder"></div>
					<div class="sponsor-placeholder"></div>
					<div class="sponsor-placeholder"></div>
					<div class="sponsor-placeholder"></div>
					<div class="sponsor-placeholder"></div>-->
				</section>
				<div class="clearer"></div>
			</div>
		</footer>
	</div>
	<!-- scripts -->
	<script type="text/javascript" src="{% static 'libs/js/twitterlib/twitterlib.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'main2013/js/twitter_feed.js' %}"></script>
	<script type="text/javascript" src="{% static 'main2013/js/functions.js' %}"></script>
</body>
</html>
