{% extends "main2013/base.html" %}
{% load static %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h1>Liput</h1>

<p>
    Liput tulevat myyntiin torstaina 7.2. klo. 12.00 tälle nettisivulle! 
</p>
<p>
	Linkki lippuun toimitetaan sähköpostiin lähetettävän tilausvahvistuksen mukana.
	Tapahtumaan pääsee esittämällä lipusta löytyvän QR-koodin joko mobiililaitteen 
	näytöltä tai paperitulosteelta.
</p>

<h2>Kävijälippu 5 &euro;</h2>
<ul>
    <li>Sisäänpääsy tapahtumaan koko viikonlopun ajan mihin tahansa vuorokaudenaikaan</li>
    <li>Oikeus osallistua kaikkiin kilpailuihin ja mahdollisiin työpajoihin</li>
    <li>Mahdollisuus nukkua paikan päällä (ota oma patja ja makuupussi mukaan)</li>
    <li>Mahdollisuus käyttää suihkuja</li>
</ul>

<h2>Läppäripaikka 10 &euro;</h2> 
<p>Samat kuin edellä ja lisäksi:</p>
<ul>
    <li>Pöytätilaa kannettavalle tietokoneelle sekä tuoli</li>
    <li>Sähköpistoke</li>
    <li>Ei langallista verkkoa, mutta langaton verkko pyritään mitoittamaan riittäväksi läppäripaikan ostaneille</li>
</ul>

<h2>Konepaikka 15 &euro;</h2>
<p>Samat kuin kävijälipussa ja lisäksi:</p>
<ul>
    <li>Pöytätilaa tietokoneen keskusyksikölle ja näytölle sekä tuoli</li>
    <li>Sähköpistoke (ota mukaan oma jatkoroikka)</li>
    <li>Langallinen verkko (ota mukaan oma 10 metrin lähiverkkokaapeli)</li>
</ul>

<h2>Ökylippu 60 &euro;</h2>
<p>Samat kuin konepaikassa ja lisäksi ainakin:</p>
<ul>
    <li>Valmiiksi varusteltu konepaikka valitsemassasi paikassa (jatkoroikka ja verkkopiuha)</li>
    <li>Ökypassi</li>
    <li>Nimikkovalonheitin</li>
    <li>Mahdollisuus lähettää ökyviestejä valkokankaalle</li>
    <li>Nouto perjantaina Jyväskylän keskustan alueelta</li>
    <li>Lauantaina 2.3. yhden ruokalajin fanilounas moninkertaisen Instanssi- ja Assembly-voittajan King Thrillin kanssa</li>
</ul>

<h2>Ovelta</h2>
<p>
    Kaikkia edellä mainittuja lippuja (paitsi ökylippuja) voi ostaa myös tapahtumassa 
    ovelta, jos niitä on vielä jäljellä.
</p>
<p>
    Lisäksi ovelta voi ostaa parilla eurolla tutustumislipun, jolla pääsee vain kerran 
    sisään. Se ei siis sisällä ranneketta, eikä oikeutta äänestää kilpailuissa. Lipulla 
    voi käydä katsomassa millainen Instanssi on, ja jos viihtyy tapahtumassa, lipun voi 
    päivittää infopisteessä kävijälippuun tai muuhun lipputyyppiin. 
</p>
{% endblock %}