{% extends "main2013/base.html" %}
{% load store_tags %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
{{ block.super }}
    <script type="text/javascript" src="{% static 'store/js/store.js' %}"></script>
    
    <style type="text/css">
        .uniForm fieldset {
            border: 1px solid black;
            width: 100%;
            padding: 0.5em;
        }
        .uniForm .ctrlHolder {
            padding: 0.1em;
        }
        .uniForm label {

        }
        .uniForm .formHint {

            width: 100%;
        }
        .uniForm .textinput {
            display: inline-block;
            right: 0px;
            width: 50%;
        }
    </style>
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}

<h1>Liput</h1>

{% crispy transaction_form transaction_form.helper %}
{% endblock %}