<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Kirjaudu sisään</title>
    <link rel="stylesheet" href="/static/openidauth/loginstyle.css" />
    <script type="text/javascript" src="/static/libs/js/jquery/jquery-1.7.1.min.js"></script>
    <style type="text/css">
    select.openid {
        background: url({% url openid-logo %}) no-repeat;
        background-position: 0 50%;
        padding-left: 16px;
    }
    </style>
    <script type="text/javascript">
    $(function() {
        $('#openid_selector').change(function() {
            $("#id_openid_identifier").val($('#openid_selector').val());
        });
    });
    </script>
</head>
<body>
    <h1>Kirjaudu sisään</h1>
{% if form.errors %}
    <p class="errors">Korjaa seuraavat virheet:<br />
{% if form.openid_identifier.errors %}
        <span class="error">{{ form.openid_identifier.errors|join:", " }}</span>
{% endif %}
{% if form.next.errors %}
        <span class="error">{{ form.next.errors|join:", " }}</span>
{% endif %}
    </p>
{% endif %}
    <form name="fopenid" action="{{ action }}" method="post">
        {% csrf_token %}
        <fieldset>
            <legend>OpenID Login</legend>
            <div class="form-row openid_input_area">
                <label for="id_openid_identifier">OpenID Tarjoaja</label><br />
                <select id="openid_selector">
                    <option id="google" selected="selected" value="https://www.google.com/accounts/o8/id">Google</option>
                    <option id="korppi" value="https://korppi.jyu.fi/openid/">Korppi</option>
                </select><br />
                <input type="text" class="openid_text" value="https://www.google.com/accounts/o8/id" name="openid_identifier" id="id_openid_identifier" />
            </div>
            <div class="submit-row ">
                <input name="bsignin" type="submit" value="Kirjaudu">
            </div>
{% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
{% endif %}
        </fieldset>
    </form>
</body>
</html>
