{% extends "main2023/base.html" %}

{% block content %}
{{ block.super }}
<h1>In English</h1>

<h2>What is Instanssi?</h2>
<p>
    Instanssi is a festival of digital creativity in Jyväskylä, Finland. Instanssi is 
    a beginner-friendly event that anyone interested in digital culture can visit and enjoy.
    Instanssi offers workshops, presentations, and a friendly creative environment.
</p>

<!--
<h2>Tickets</h2>
<p>
    Tickets can be bought from the door or beforehand from the <a href="https://instanssi.org/store">Instanssi store</a> on our website. 
</p>
<ul>
    <li>
        <b>Entrance ticket (kävijälippu)</b> – 10 Euros. This ticket includes entrance to the event for the whole weekend. You can enjoy the program, participate in the workshops, and stay the night.
    </li>
    <li>
        <b>Early Bird Computer place ticket (konepaikkalippu)</b> – 30 Euros. This ticket allows entrance to Instanssi and a table spot for your computer. Sold until the end of March.
    </li>
    <li>
        <b>Computer place ticket (konepaikkalippu)</b> – 40 Euros. This ticket allows entrance to Instanssi and a table spot for your computer.
    </li>
    <li>
        <b>Support ticket (ökylippu)</b> – 50 Euros. For those who want to support Instanssi! This ticket allows entrance to Instanssi and a table spot for your computer. You can also say a few words at the opening ceremony if you like.
    </li>
</ul>-->


<h2>What do I need to take with me?</h2>
    <p>
        Bring the same necessities as you would to any other LAN-party or demoparty. Here is a small checklist to help you.
    </p>
    <ul>
      <li>
          If you have a ticket with a computer place, bring your computer with all the necessary accessories. Bring a long power cord and your own extension cord. Remember to write your name on your stuff!
      </li>
      <li>A sleeping bag and pad</li>
      <li>Change of clothes</li>
      <li>Personal toiletries: towel, toothbrush etc. There is a shower on the venue.</li>
      <li>Cash if you are buying your tickets from the door</li>
      <li>Your own mug for free coffee and tea</li>
      <li>
        Snacks and non-alcoholic beverages. There is a microwave oven, a coffee maker, and a kettle for free use on the venue. Fridge space is limited, so bring your own cooler (Peltier coolers allowed). 
      </li>
      <li>Demoparty vibes!</li>
    </ul>

    <h2>What NOT to bring</h2>
    <p>A list of forbidden items</p>
    <ul>
        <li>Prescription drugs without a prescription slip and ID</li>
        <li>Alcohol</li>
        <li>Narcotics</li>
        <li>Firearms, edge tools, and other possibly harming objects.</li>
        <li>Multifunctional tools</li>
        <li>Fireworks and other explosives</li>
        <li>Laser pointers and similar objects</li>
        <li>Own domestic appliances (Fridges, coffee makers, washing machines etc.)</li>
    </ul>

    <h2>Chat</h2>
    <p>
        Matrix: <a href="https://matrix.to/#/#instanssi:hacklab.fi">#instanssi:hacklab.fi</a><br />
        Telegram: <a href="https://telegram.me/Instanssi">https://telegram.me/Instanssi</a><br /><br />
	These are chat rooms are bridged, so you can pick your favourite chat platform!
    </p>
    
    <h2>Social media</h2>
    <p>
        Twitter: <a href="https://twitter.com/instanssi">https://twitter.com/instanssi</a><br />
        Facebook: <a href="https://www.facebook.com/instanssi">https://www.facebook.com/instanssi</a><br />
        Youtube: <a href="https://www.youtube.com/user/InstanssiOrg">https://www.youtube.com/user/InstanssiOrg</a>
    </p>
{% endblock %}
