{% extends "main2023/base.html" %}

{% block content %}
{{ block.super }}
<h1>Kilpailusopimus</h1>

<h2>Taustaa</h2>
<p>
    Instanssi ei ole kaappaamassa teidän tekijänoikeuksianne. Varaamme
    lähinnä oikeuden levittää teoksia ja käyttää niitä tapahtumien markkinoinnissa.
    Näinhän ovat demopartyt tehneet kautta historian: Arkistosta voi hakea kompoentryjä
    ja partyjen tuotoksista voidaan tehdä kokoelmia. Vaikka isoja rahoja tässä ei liiku,
    niin olisi ihan mukavaa julkaista joskus Instanssista esimerkiksi videokoosteita tai
    promomateriaalia.
</p>

<h2>Yleistä</h2>
<p>
    Tämä on sopimus Instanssin ja teoksen tekijänoikeudet omistavan tahon (myöhemmin Tekijä)
    välillä. Sopimus koskee kilpailuteosta (myöhemmin teos), jolla Tekijä osallistuu Instanssin
    kilpasarjoihin. Tekijä hyväksyy sopimuksen ja sitoutuu noudattamaan sitä osallistuessaan
    Instanssin kilpailuihin.
</p>
<p>
    Instanssi on Linkki Jyväskylä ry:n käyttämä markkinointinimi, sopimus tehdään siis
    Linkki Jyväskylä ry:n ja Tekijän välille.
</p>

<h2>Tekijän oikeudet</h2>
<ul>
    <li>Tekijä säilyttää kaikki oikeutensa teokseen ja voi käyttää teostaan kaikessa muussa toiminnassa.</li>
</ul>

<h2>Tekijän velvollisuudet</h2>
<ul>
    <li><p>Tekijä noudattaa kilpailun sääntöjä.</p></li>
    <li><p>Tekijä sitoutuu noudattamaan Suomen tekijänoikeuslakia. Tekijä omistaa tai on hankkinut tekijänoikeudet teokseensa ja sen osiin. Tekijä vakuuttaa, ettei teoksen julkista tai yksityistä esittämistä rajoita kolmansien osapuolien oikeudet (esimerkiksi tekijänoikeusjärjestöt). Tekijä vastaa kustannuksista, jotka aiheutuvat tarvittavien oikeuksien puuttumisesta.</p></li>
    <li><p>Tekijä ei sisällytä teokseen materiaalia, jonka seurauksena teoksen esittäminen olisi Suomessa lainvastaista.</p></li>
    <li><p>Tekijä ottaa huomioon sen, että tapahtuma on sallittu myös alaikäisille.</p></li>
    <li><p>Tekijä myöntää Instanssille rajoittamattoman ja peruuttamattoman oikeuden käyttää, monistaa, julkaista, esittää, muokata, siirtää ja jakaa teosta tai sen osaa Instanssi-tapahtumien markkinoinnissa, lähetyksissä, julkaisuissa ja jakelussa korvauksetta.</p></li>
    <li><p>Tekijä myöntää Instanssille rajoittamattoman ja peruuttamattoman oikeuden valmistaa teoksesta videotallenteita ja formaattimuunnoksia.</p></li>
    <li><p>Tekijä myöntää Instanssille rajoittamattoman ja peruuttamattoman oikeuden antaa teoksen esitettäväksi tai uudelleenjulkaistavaksi maksuttomassa toiminnassa kolmansille osapuolille kokonaan, osittain tai muokattuna.</p></li>
</ul>

<h2>Instanssin velvollisuudet</h2>
<ul>
    <li><p>Instanssi noudattaa Suomen tekijänoikeuslakia.</p></li>
    <li><p>Kaikkia teoksia kohdellaan tasapuolisesti.</p></li>
    <li><p>Instanssi pyrkii tarjoamaan teosten vastaanottamiseen Tekijälle tehokkaan ja helpon järjestelmän.</p></li>
    <li><p>Instanssi sitoutuu näyttämään karsinnasta selviytyneet teoksen kilpailussa tasa-arvoisissa olosuhteissa, paitsi ylitsepääsemättömän esteen sattuessa (force majeure).</p></li>
    <li><p>Instanssi sitoutuu poikkeuksetta ilmoittamaan teoksen Tekijän hyvän tavan mukaisesti, jotta tekijä saa ansaitsemansa arvostuksen teoksestaan.</p></li>
</ul>

<h2>Sopimusehtojen muuttaminen</h2>
<p>
    Tekijä ja Instanssi voivat muuttaa sopimuksen ehtoja yhdessä, mikäli molemmat
    osapuolet hyväksyvät muutoksen. Mikäli Instanssi haluaa muuttaa sopimuksen ehtoja,
    eikä Tekijä suostu muutoksiin, voi Instanssi irtisanoa sopimuksen 30 päivän kuluttua
    asiasta Tekijälle tiedotettuaan.
</p>

<h2>Sopimuksen voimassaolo</h2>
<p>
    Sopimus on voimassa sopimuksen solmimishetkestä alkaen toistaiseksi, mikäli sitä ei irtisanota.
</p>

<h2>Sopimuksen irtisanominen</h2>
<p>
    Tekijä tai Instanssi voivat yhteisymmärryksessä irtisanoa sopimuksen ilman velvoitteita.
    Irtisanominen astuu voimaan välittömästi molempien osapuolien hyväksymisen jälkeen.
    Irtisanottaessa sopimuksen velvollisuudet ja oikeudet raukeavat ilman seuraamuksia.
</p>
<p>
    Tekijä tai Instanssi voi irtisanoa sopimuksen yksipuolisesti, mikäli toisen
    sopijaosapuolen voidaan osoittaa merkittävästi rikkoneen sopimusehtoja. Jos asiaa
    ei ole korjattu 30 päivän kuluttua sopimusrikkomuksesta, irtisanominen astuu voimaan.
</p>

<h2>Konfliktien ratkaisu</h2>
<p>
    Sopimukseen sovelletaan Suomen lakia. Sopimuksesta aiheutuvat erimielisyydet
    ratkaistaan ensisijaisesti Tekijän ja Instanssin kesken neuvottelemalla ja
    äärimmäisessä tilanteessa oikeusteitse Jyväskylässä.
</p>


{% endblock %}
