{% extends "kompomaatti/base.html" %}
{% load uni_form_tags %}

{% block head %}
{{ block.super }}
	<link rel="stylesheet" href="/static/libs/css/tablesorter/style.css" />
	<script type="text/javascript" src="/static/libs/js/tablesorter/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="/static/libs/js/tablesorter/jquery.tablesorter.pager.js"></script>
{% endblock %}

{% block jquery %}
{{ block.super }}
    $("#kompot_table").tablesorter({widgets: ['zebra']}).tablesorterPager({container: $("#kompot_pager")});
    $("#entries_table").tablesorter({widgets: ['zebra']}).tablesorterPager({container: $("#entries_pager")}); 
    $("#tokens_table").tablesorter({widgets: ['zebra']}).tablesorterPager({container: $("#tokens_pager")}); 
    $("#requests_table").tablesorter({widgets: ['zebra']}).tablesorterPager({container: $("#requests_pager")});
    $(".jq-button").button();
    $('.allowicon').button({ icons: {primary: 'ui-icon-check'}, text: false });
    $('.editicon').button({ icons: {primary: 'ui-icon-pencil'}, text: false });
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Admin-paneeli</h2>
    <h3>Käynnissä olevan tapahtuman tiedot</h3>
    <table class="generic_info_table">
        <tr>
            <th>Nimi</th>
            <td>{{ event.name }}</td>
        </tr>
        <tr>
            <th>Päivämäärä</th>
            <td>{{ event.date }}</td>
        </tr>
        <tr>
            <th>Arkistoitu</th>
            <td>{% if event.archived %}Kyllä{% else %}Ei{% endif %}</td>
        </tr>
    </table>
    
	<h3>Kompot</h3>
	<a href="/kompomaatti/admin/addcompo/" class="jq-button">Lisää kompo</a>
{% if rcompos %}
	<table id="kompot_table" class="tablesorter"> 
	<thead>
		<tr>
			<th>Nimi</th>
			<th>Aktiivinen</th>
			<th>Aika</th>
			<th>Ops</th>
		</tr>
	</thead>
	<tbody>
{% for compo in rcompos %}
		<tr>
			<td>{{ compo.name }}</td>
			<td>{{ compo.active }}</td>
			<td>{{ compo.compo_start|date:"d.m.Y H:i" }}</td>
			<td>
			    <a class="icon editicon" href="/kompomaatti/admin/editcompo/{{ compo.id }}/">Muokkaa</a>
			</td>
		</tr>
{% endfor %}
	</tbody>
	</table>
	<div id="kompot_pager" class="pager">
		{% include "kompomaatti/admin_incs/sorter_pager.html" %}
	</div>
{% else %}
    <p>Ei kompoja.</p>
{% endif %}
	
	<h3>Entryt</h3>
{% if entries %}
	<table id="entries_table" class="tablesorter"> 
	<thead>
		<tr>
			<th>Nimi</th>
			<th>Tekijä</th>
			<th>Käyttäjä</th>
			<th>Kompo</th>
			<th>Tiedosto</th>
			<th>Ops</th>
		</tr>
	</thead>
	<tbody>
{% for entry in entries %}
		<tr>
			<td>{{ entry.name }}</td>
			<td>{{ entry.creator }}</td>
			<td>{{ entry.user.email }}</td>
			<td>{{ entry.compo.name }}</td>
			<td><a href="{{ entry.entryfile.url}}">Lataa</a></td>
            <td>
                <a class="icon editicon" href="/kompomaatti/admin/editentry/{{ entry.id }}/">Muokkaa</a>
            </td>
		</tr>
{% endfor %}
	</tbody>
	</table>
	<div id="entries_pager" class="pager">
		{% include "kompomaatti/admin_incs/sorter_pager.html" %}
	</div>
{% else %}
    <p>Ei entryjä.</p>
{% endif %}
	
	<h3>Äänestyskoodipyynnöt</h3>
{% if vcreqs %}
    <table id="requests_table" class="tablesorter"> 
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Sähköposti</th>
            <th>Pyyntöteksti</th>
            <th>Toiminnot</th>
        </tr>
    </thead>
    <tbody>
{% for req in vcreqs %}
        <tr>
            <td>{{ req.user.first_name }} {{ req.user.last_name }}</td>
            <td>{{ req.user.email }}</td>
            <td>{{ req.text|linebreaksbr }}</td>
            <td>
                <a class="icon allowicon" href="/kompomaatti/admin/givecode/{{ req.id }}/">Salli</a>
            </td>
        </tr>
{% endfor %}
    </tbody>
    </table>
    <div id="requests_pager" class="pager">
        {% include "kompomaatti/admin_incs/sorter_pager.html" %}
    </div>
{% else %}
    <p>Ei äänestyskoodipyyntöjä.</p>
{% endif %}
	
	<h3>Äänestyskoodit</h3>
{% if tokens %}
    <a href="/kompomaatti/admin/printcodes/" class="jq-button">Vapaat tokenit .PDF muodossa</a>
	<table id="tokens_table" class="tablesorter"> 
	<thead>
		<tr>
			<th>Token</th>
			<th>Assosiaatio käyttäjään</th>
			<th>Assosioitu</th>
		</tr>
	</thead>
	<tbody>
{% for token in tokens %}
		<tr>
			<td>{{ token.key }}</td>
			<td>{% if token.associated_to %}{{ token.associated_to }}{% endif %}</td>
			<td>{{ token.time|date:"d.m.Y H:i" }}</td>
		</tr>
{% endfor %}
	</tbody>
	</table>
	<div id="tokens_pager" class="pager">
		{% include "kompomaatti/admin_incs/sorter_pager.html" %}
	</div>
	<br />
{% else %}
    <p>Ei äänestyskoodeja.</p>
{% endif %}
	{% uni_form gentokensform gentokensform.helper %}
{% endblock %}