{% extends "base_layout/base.html" %}
{% load static %}

{% block title %}Infodesk{% endblock %}
{% block headername %}<a href="{% url 'infodesk:index' %}">Infodesk</a>{% endblock %}

{% block head %}
    <!-- Infodesk library stuff -->
    <link rel="stylesheet" type="text/css" href="{% static "libs/css/jquery/ui-lightness/jquery-ui-1.9.1.custom.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "libs/css/uni-form/uni-form.css" %}" media="all" />
    <link rel="stylesheet" type="text/css" href="{% static "libs/css/uni-form/default.uni-form.css" %}" media="all" />
    <link rel="stylesheet" href="{% static "libs/select2/select2.css" %}" />
    <script type="text/javascript" src="{% static "libs/js/jquery/jquery-ui-1.9.1.custom.min.js" %}"></script>
    <script type="text/javascript" src="{% static "libs/js/uni-form/uni-form-validation.jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "libs/select2/select2.min.js" %}"></script>

    <!-- Infodesk custom fluff -->
    <link rel="stylesheet" type="text/css" href="{% static "infodesk/css/style.css" %}" />
{% endblock %}

{% block jquery %}
        $('form.uniForm').uniform();
        $('.ui-widget').css('font-size','12px');
        $('.button, #submit-id-submit').button();
{% endblock %}

{% block headernav %}
        <ul id="header_nav_right">
            <li class="menuitem"><a href="{% url 'manage-auth:logout' %}">Kirjaudu ulos</a></li>
        </ul>
{% endblock %}

{% block crumbs %}

{% endblock %}

{% block content %}{% endblock %}
