{% extends "infodesk/base.html" %}
{% load static %}

{% block title %}{{ block.super }} - Etusivu{% endblock %}

{% block head %}
{{ block.super }}
<script type="text/javascript" src="{% static 'infodesk/js/infodesk.js' %}"></script>
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Etusivu</h2>
<p>Tervetuloa Instanssin infodeskille! Jos kaikki menee tänä vuonna suunnitelman mukaan, allaolevaa työkalua ei ehkä tarvita.</p>
<a class="button" href="{% url 'infodesk:order_search' %}">Tilaushaku</a>

{% endblock %}