{% extends "infodesk/base.html" %}

{% block title %} - Tuotteen tiedot{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Tuote</h2>

<h3>Tiedot</h3>
<table class="infotable item">
    <tbody>
        <tr>
            <th>Tuote</th>
            <td>{{ item.item.name }}</td>
        </tr>
        <tr>
            <th>Toimitettu</th>
            <td>
                {% if item.is_delivered %}
                <div class="ui-state-error ui-corner-all" style="padding: 5px;">
                    <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                    <strong>Tuote on jo lunastettu!</strong>
                </div>
                {% else %}
                Ei
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Nimi</th>
            <td>{{ item.transaction.firstname }} {{ item.transaction.lastname }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ item.transaction.email }}</td>
        </tr>
        <tr>
            <th>Avain</th>
            <td>{{ item.key }}</td>
        </tr>
    </tbody>
</table>

<h3>Toiminnot</h3>
<p>
    Voit palata alkuvalikkoon allaolevista napeista. Voit joko merkata lipun käytetyksi, tai jättää sen merkkaamatta.
</p>
<p>
    <a href="{% url 'infodesk:index' %}" class="button">Palaa alkuun</a> &nbsp; 
    {% if not item.is_delivered %}
    <a href="{% url 'infodesk:item_mark' item.id %}" class="button">Merkkaa toimitetuksi.</a>
    {% endif %}
</p>


{% endblock %}