{% extends "infodesk/base.html" %}

{% block title %}{{ block.super }} - Tuotteen tiedot{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Tuote</h2>

<h3>Tiedot</h3>
<table class="infotable item">
    <tbody>
        <tr>
            <th>Tuote</th>
            <td>
                {{ item.item.name }}{% if item.variant %}, {{ item.variant.name }}{% endif %}
            </td>
        </tr>
        <tr>
            <th>Avain</th>
            <td>{{ item.key }}</td>
        </tr>
        <tr>
            <th>Toimitettu</th>
            <td>
                {% if item.is_delivered %}
                <div class="ui-state-error ui-corner-all" style="padding: 5px;">
                    <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                    <strong>Tuote on jo lunastettu!</strong>
                </div>
                {% else %}
                Ei
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Maksettu</th>
            <td>
                {% if item.transaction.time_paid %}{{ item.transaction.time_paid|date:"d.m.Y \k\l\o\ H:i" }}
                {% else %}
                <div class="ui-state-error ui-corner-all" style="padding: 5px;">
                    <span class="ui-icon ui-icon-alert" style="float:left; margin-right: .3em"></span>
                Ei
                </div>
                {% endif %}
            </td>
    </td>

        <tr>
            <th>Nimi</th>
            <td>{{ item.transaction.firstname }} {{ item.transaction.lastname }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ item.transaction.email }}</td>
        </tr>
    </tbody>
</table>

<h3>Toiminnot</h3>
<p>
    <a href="{% url 'infodesk:order_search' %}" class="btn btn-primary">Palaa hakusivulle</a>
    {% if not item.is_delivered %}
    <a href="{% url 'infodesk:item_mark' item.id %}" class="btn btn-primary">Merkkaa toimitetuksi</a>
    {% endif %}
</p>


{% endblock %}