{% extends "infodesk/base.html" %}

{% block title %} - Tuotteen tiedot{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Tuotteen tiedot</h2>

<h3>Tilaustiedot</h3>
<table class="infotable">
    <tbody>
        <tr>
            <th>Tilausnumero</th>
            <td>{{ transaction.id }}</td>
        </tr>
        <tr>
            <th>Avain</th>
            <td>{{ transaction.key }}</td>
        </tr>
        <tr>
            <th>Maksettu?</th>
            <td>
                {% if transaction.paid %}
                Kyllä
                {% else %}
                <div class="ui-state-error ui-corner-all" style="padding: 5px;">
                    <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                    <strong>Tilausta ei ole maksettu!</strong>
                </div>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Tila</th>
            <td>
                {% if transaction.status == 2 %}
                <div class="ui-state-error ui-corner-all" style="padding: 5px;">
                    <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
                    <strong>Tuotteet on jo lunastettu!</strong>
                </div>
                {% else %}
                {{ transaction.get_status_display }}
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Muut tiedot</th>
            <td>{{ transaction.information }}</td>
        </tr>
    </tbody>
</table>

<h3>Yhteystiedot</h3>
<table class="infotable">
    <tbody>
        <tr>
            <th>Etunimi</th>
            <td>{{ transaction.firstname }}</td>
        </tr>
        <tr>
            <th>Sukunimi</th>
            <td>{{ transaction.lastname }}</td>
        </tr>
        <tr>
            <th>Yritys</th>
            <td>{{ transaction.company }}</td>
        </tr>
        <tr>
            <th>Sähköposti</th>
            <td>{{ transaction.email }}</td>
        </tr>
        <tr>
            <th>Puhelin</th>
            <td>{{ transaction.telephone }}</td>
        </tr>
        <tr>
            <th>Kännykkä</th>
            <td>{{ transaction.mobile }}</td>
        </tr>
        <tr>
            <th>Katuosoite</th>
            <td>{{ transaction.street }}</td>
        </tr>
        <tr>
            <th>Postikoodi</th>
            <td>{{ transaction.postalcode }}</td>
        </tr>
        <tr>
            <th>Kaupunki</th>
            <td>{{ transaction.city }}</td>
        </tr>
        <tr>
            <th>Maa</th>
            <td>{{ transaction.country }}</td>
        </tr>
    </tbody>
</table>

<h3>Toiminnot</h3>
<p>
    Voit palata alkuvalikkoon allaolevista napeista. Voit joko merkata ostoksen toimitetuksi, tai jättää sen merkkaamatta.
</p>
<p>
    <a href="{% url 'infodesk:index' event.id %}" class="button">Palaa alkuun</a> &nbsp; 
    {% if transaction.status != 2 %}
    <a href="{% url 'infodesk:mark_transaction' event.id transaction.id %}" class="button">Merkkaa toimitetuksi.</a>
    {% endif %}
</p>

{% endblock %}