{% extends "infodesk/base.html" %}

{% block title %} - Shobbarihaku{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Ostokset - {{ name }}</h2>
<table class="infotable lookup">
<tr>
  <th>Tilausnumero</th>
  <th>Luotu</th>
  <th>Tila</th>
  <th>Liput</th>
  <th>Muut tuotteet</th>
</tr>
{% for transaction in transactions %}
<tr>
  <td>{{ transaction.id }}</td>
  <td>{{ transaction.created }}</td>
  <td>{{ transaction.status }}</td>
  <td><ul>{% for ticket in transaction.tickets %}
     <li><a href="{% url 'infodesk:ticket_info' event.id ticket.id %}">
      {{ ticket.storeitem.name }}</a> ({%if not ticket.used %}ei {%endif%}käytetty)
     </li>
  {% endfor %}</ul></td>
  <td><ul>{% for txitem in transaction.others %}
    <li><a href="{% url 'infodesk:store_info' event.id transaction.id %}">{{ txitem.item.name }}</a></li>
  {% endfor %}</ul></td>
</tr>
{% endfor %}
</table>
{% if not transactions %}
<p>Ei tuloksia!</p>
{% endif %}
<p>Palaa <a href="{% url 'infodesk:index' event.id %}">infodeskin etusivulle</a></p>
{% endblock %}