{% extends "infodesk/base.html" %}

{% block title %} - Lipun tiedot{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Lipun tiedot</h2>

<p>
    Voit palata alkuvalikkoon allaolevista napeista. Voit joko merkata lipun käytetyksi, tai jättää sen merkkaamatta.
</p>
<p>
    <a href="{% url 'infodesk:index' event.id %}" class="button">Palaa (ei merkata)</a>
</p>
<p>
    <a href="" class="button">Merkkaa ja palaa.</a>
</p>


{% endblock %}