{% load static blog_tags twitter_tag cache compress %}
<!--<section class="widget widget-store">
    <a class="btn btn-primary" href="{% url 'store:index' %}">
        <span class="fa fa-fw fa-euro"></span> Osta lippu!
    </a>
</section>

<section class="widget widget-valot">
    <a class="btn btn-primary" href="{% url 'main2023:valot' %}">
        <span class="fa fa-fw fa-lightbulb-o"></span> Valot
    </a>
</section>
<section class="widget widget-stream">
    <a href="{% url 'main2023:stream' %}">
        <h3><span class="fa fa-fw fa-twitch"></span> Stream</h3>
    </a>
</section>
<section class="widget widget-radio">
    <a href="{% url 'main2023:radio' %}">
        <h3><span class="fa fa-fw fa-music"></span> Instanssiradio</h3>
    </a>
</section>

<section class="widget widget-rules">
    <a href="{% url 'main2023:saannot' %}">
        <h3><span class="fa fa-info-circle"></span> Tapahtuman säännöt</h3>
    </a>
</section>-->
{% block widgets %}
<!--
<section class="widget widget-rekry">
  <h2>Rekrytointi</h2>
  <div>Haluatko osallistua Instanssin järjestämiseen? Vuoden 2022 tiimissämme on vielä tilaa:</div>
  <ul>
    <li>Järjestyksenvalvojille</li>
    <li>Infotiskin päivystäjille</li>
    <li>Tapahtuman rakentajille / purkajille</li>
  </ul>
  <div>
      Noin 12 tuntia töitä viikonlopun aikana tekeville Instanssi tarjoaa ilmaisen konepaikan. Lyhyemmän eli kuuden
      (6) tunnin vuoron tekeville sisäänpääsy on ilmainen. Työt voi koostaa itselleen mielekkäimmistä tehtävistä.
  </div>
  <div>
      <a class="btn btn-primary" href="https://forms.gle/zrZS7PtLEkZ1tBmH9">
          Ilmoittaudu
      </a>
  </div>
</section>-->
<section class="widget widget-twitter">
    <h2>Twitter</h2>
    <div id="tweets" class="widget-content">
        {% cache 600 twitter_bar %} {% get_tweets for "instanssi" as tweets exclude "replies" limit 5 %}
        <ul>
            {% for tweet in tweets %}
            <li>
                <span class="author">@{{ tweet.user.name }}: </span>
                <span class="text">{{ tweet.text }}</span><br />
                <span class="time"><a href="http://twitter.com/instanssi/status/{{ tweet.id }}">{{ tweet.datetime|date:"d.m.Y H:i" }}</a></span>
            </li>
            {% endfor %}
        </ul>
        {% endcache %}
    </div>
</section>
<section class="widget widget-socialmedias">
    <h2>Some</h2>
    <div class="widget-content">
        <div class="social-media-icons">
            <a href="https://www.facebook.com/instanssi"><img src="{% static 'main2023/images/icons/icon-facebook.png' %}" alt="Facebook" ></a>
            <a href="https://twitter.com/instanssi"><img src="{% static 'main2023/images/icons/icon-twitter.png' %}" alt="Twitter" ></a>
            <a href="https://telegram.me/Instanssi"><img src="{% static 'main2023/images/icons/icon-telegram.png' %}" alt="Telegram" ></a>
            <a href="https://www.youtube.com/user/InstanssiOrg"><img src="{% static 'main2023/images/icons/icon-youtube.png' %}" alt="YouTube" ></a>
            <a href="https://instagram.com/instanssi.demoparty"><img src="{% static 'main2023/images/icons/icon-instagram.png' %}" alt="Instagram"></a>
            <a href="https://matrix.to/#/#instanssi:jkl.hacklab.fi"><img src="{% static 'main2023/images/icons/icon-matrix.png' %}" alt="Matrix"></a>
            <a href="{% url 'ext-blog:rss' %}"><img src="{% static 'main2023/images/icons/icon-rss.png' %}" alt="RSS" ></a>
            <div class="clearer"></div>
        </div>
        <p>#instanssi @ IRCNet</p>
        <!--<p class="instanssi-radio"><a href="http://radio.instanssi.org">Tapahtumaradio</a> @ 105,4 MHz</p>-->
    </div>
</section>
{% endblock %}
