{% load static blog_tags twitter_tag cache compress %}

<div class="container">
    <div class="row">
        <section class="sponsors col-md-8 col-md-push-2 col-sm-8 col-sm-push-4">
            <h2>Yhteistyössä mukana</h2>
            <div class="sponsors-container">
                <div class="sponsor"><a href="https://jyvaskyla.hacklab.fi/"><img src="{% static 'main2020/images/partners/hacklab.png' %}" alt="Hacklab Jkl logo" /></a></div>
                <div class="sponsor"><a href="https://www.musikantti.fi/"><img src="{% static 'main2020/images/partners/musikantti.png' %}" alt="Musikantti logo" /></a></div>
                <div class="sponsor"><a href="https://linkkijkl.fi/"><img src="{% static 'main2020/images/partners/linkki.png' %}" alt="Linkki logo" /></a></div>
                <div class="sponsor"><a href="https://www.paytrail.com/"><img src="{% static 'main2020/images/partners/paytrail.png' %}" alt="Paytrail logo" /></a></div>
                <div class="sponsor"><a href="http://kaaosradio.fi/"><img src="{% static 'main2020/images/partners/kaaosradio.png' %}" alt="Kaaosradio logo" /></a></div>
                <div class="sponsor"><a href="https://www.reaktor.fi/"><img src="{% static 'main2020/images/partners/reaktor.png' %}" alt="Reaktor logo" /></a></div>
                <div class="sponsor"><a href="https://www.ramirent.fi/"><img src="{% static 'main2020/images/partners/ramirent.png' %}" alt="Ramirent logo" /></a></div>
                <div class="sponsor"><a href="https://www.qvantel.com/"><img src="{% static 'main2020/images/partners/qvantel.png' %}" alt="Qvantel logo" /></a></div>
                <div class="sponsor"><a href="https://www.visma.fi/"><img src="{% static 'main2020/images/partners/visma.png' %}" alt="Visma logo" /></a></div>
                <div class="sponsor"><a href="https://www.wunderdog.fi/"><img src="{% static 'main2020/images/partners/wunderdog.png' %}" alt="Wunderdog logo" /></a></div>
                <div class="sponsor"><a href="https://www.cinia.fi/"><img src="{% static 'main2020/images/partners/cinia.png' %}" alt="Cinia logo" /></a></div>
                <div class="clear"></div>
            </div>
        </section>
        <section class="sitemap col-md-2 col-md-pull-8 col-sm-4 col-sm-pull-8">
            <h2>Sivukartta</h2>
            <ul>
                <li class="menu-item {% if templatename == 'index' %}current-menu-item{% endif %}"><a href="{% url 'main2020:index' %}">Blogi</a></li>
                <li class="menu-item {% if templatename == 'info' %}current-menu-item{% endif %}"><a href="{% url 'main2020:info' %}">Info</a></li>
                <li class="menu-item {% if templatename == 'kompot' %}current-menu-item{% endif %}"><a href="{% url 'main2020:kompot' %}">Kompot</a></li>
                <li class="menu-item {% if templatename == 'ohjelma' %}current-menu-item{% endif %}"><a href="{% url 'main2020:ohjelma' %}">Ohjelma</a></li>
                <li class="menu-item {% if templatename == 'aikataulu' %}current-menu-item{% endif %}"><a href="{% url 'main2020:aikataulu' %}">Aikataulu</a></li>
                <li class="menu-item {% if templatename == 'english' %}current-menu-item{% endif %}"><a href="{% url 'main2020:english' %}">In English</a></li>
                <li class="menu-item {% if templatename == 'stream' %}current-menu-item{% endif %}" ><a href="{% url 'main2020:stream' %}">Stream</a></li>
                <li class="menu-item {% if templatename == 'radio' %}current-menu-item{% endif %}" ><a href="{% url 'main2020:radio' %}">Radio</a></li>
                <li class="menu-item"><a href="{% url 'store:index' %}">Kauppa</a></li>
                <li class="menu-item"><a href="{% url 'km:index' event_id %}">Kompomaatti</a></li>
                <li class="menu-item"><a href="{% url 'archive:index' %}">Arkisto</a></li>
                <div class="clearer"></div>
            </ul>
        </section>
        <!--<section class="contact col-md-2 col-sm-12">
            <h2>Yhteystiedot</h2>
        </section>-->
    </div>
</div>
