{% extends "common/simple_base.html" %}
{% load static %}

{% block title %}Kompomaatti{% endblock %}

{% block head %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "kompomaatti_eventselect/css/style.css" %}" />
{% endblock %}
    
{% block jquery %}
{{ block.super }}
		$('#submit_button').css('display', 'none');
		$('#event_select').change(function() {
			window.location.replace("/kompomaatti/"+$('#event_select').val()+'/');
		});
{% endblock %}

{% block content %}
{{ block.super }}
	<h1>Kompomaatti</h1>
	<p>Valitse tapahtuma.</p>
	<form id="mform" method="POST" action="">
		<select id="event_select" name="eventsel">
			<option value="-1">---</option>
	{% for event in events %}
			<option value="{{ event.id }}">{{ event.name }}</option>
	{% endfor %}
		</select>
		{% csrf_token %}
		<input type="submit" id="submit_button" value="Valitse" />
	</form>
{% endblock %}