{% extends "admin_kompomaatti/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} - Kompot - Muokkaa{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'manage-kompomaatti:compos' selected_event_id %}">Kompot</a></li>
    <li>Muokkaa</li>
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('#id_description').summernote({height: 250, lang: 'fi-FI'});
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Muokkaa kompoa {{ compo.name }}</h2>
{% crispy editform editform.helper %}
{% endblock %}