{% extends "admin_kompomaatti/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} - Kilpailut - Osallistujat{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'manage-kompomaatti:competitions' selected_event_id %}">Kilpailut</a></li>
    <li>Osallistujat</li>
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Osallistujat</h2>

{% if participants %}
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>Nimi</th>
				<th>Diskattu</th>
				<th>Tulos</th>
				<th>Sijoitus</th>
{% if perms.kompomaatti.change_competitionparticipation %}
				<th></th>
{% endif %}
			</tr>
		</thead>
		<tbody>
{% for part in participants %}
			<tr>
				<td>{{ part.participant_name }}</td>
				<td>{% if part.disqualified %}Kyllä{% else %}Ei{% endif %}</td>
				<td>{{ part.get_formatted_score }}</td>
				<td>{{ part.get_rank }}</td>
{% if perms.kompomaatti.change_competitionparticipation %}
                <td>
					<a href="{% url 'manage-kompomaatti:participation-edit' selected_event_id part.competition.id part.id %}"  class="edit_link btn btn-primary btn-xs" role="button">
                        <span class="edit_link fa fa-pencil"></span>
                    </a>
                </td>
{% endif %}
			</tr>
{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>Ei osallistujia.</p>
{% endif %}

{% endblock %}