{% extends "admin_kompomaatti/base.html" %}
{% load uni_form_tags %}
{% load static %}

{% block title %}{{ block.super }} - Kilpailut - Pisteytys{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
		&raquo; <a href="{% url 'admin-competitions' selected_event_id %}">Kilpailut</a>
		&raquo; Pisteytys
{% endblock %}

{% block jquery %}
{{ block.super }} 
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Pisteytys</h2>

{% uni_form scoreform scoreform.helper %}
{% endblock %}