{% extends "admin_kompomaatti/base.html" %}
{% load uni_form_tags %}

{% block title %}{{ block.super }} - Kompot - Selaa{% endblock %}

{% block head %}
{{ block.super }}
	<link rel="stylesheet" href="/static/libs/css/tablesorter/style.css" />
	<script type="text/javascript" src="/static/libs/js/tablesorter/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="/static/libs/js/tablesorter/jquery.tablesorter.pager.js"></script>
{% endblock %}

{% block jquery %}
{{ block.super }}
	$("#compo_table").tablesorter({widgets: ['zebra']});
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Kompot</h2>
{% if compos %}
	<table id="compo_table" >
		<thead>
			<tr>
				<th>Nimi</th>
				<th>Aktiivinen</th>
				<th>Aika</th>
				<th>Muokkaa</th>
			</tr>
		</thead>
		<tbody>
{% for compo in compos %}
			<tr>
				<td>{{ compo.name }}</td>
				<td>{{ compo.active }}</td>
				<td>{{ compo.compo_start|date:"d.m.Y H:i" }}</td>
				<td><a class="icon editicon" href="/control/kompomaatti/editcompo/{{ compo.id }}/">Muokkaa</a></td>
			</tr>
{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>Ei kompoja.</p>
{% endif %}
{% endblock %}