{% extends "admin_kompomaatti/base.html" %}
{% load uni_form_tags %}

{% block title %}{{ block.super }} - Kilpailut{% endblock %}

{% block head %}
{{ block.super }}
    <script type="text/javascript" src="/static/libs/js/wymeditor/jquery.wymeditor.min.js"></script>
{% endblock %}

{% block crumbs %}
{{ block.super }}
		&raquo; <a href="{% url 'admin-competitions' selected_event_id %}">Kilpailut</a>
		&raquo; Selaa
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('#id_description').wymeditor({
        containersItems: [
            {'name': 'P', 'title': 'Paragraph', 'css': 'wym_containers_p'},
            {'name': 'PRE', 'title': 'Preformatted', 'css': 'wym_containers_pre'},
            {'name': 'BLOCKQUOTE', 'title': 'Blockquote', 'css': 'wym_containers_blockquote'},
            {'name': 'TH', 'title': 'Table_Header', 'css': 'wym_containers_th'}
        ],
        skin: 'silver',
        lang: '{{ SHORT_LANGUAGE_CODE }}'
    });
    $('#submit-id-submit').addClass('wymupdate');
    $(".delete_link").click(function(){
        return confirm("Haluatko varmasti poistaa kilpailun ?"); 
    });
	$("#competition_table").tablesorter({widgets: ['zebra'], sortList: [[3,0]]}).tablesorterPager({container: $("#competition_pager")}); 
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Kilpailut</h2>
{% if competitions %}
	<table id="competition_table" class="tablesorter">
		<thead>
			<tr>
				<th>Nimi</th>
				<th>Ilmoittautuminen päättyy</th>
				<th>Alkaa</th>
				<th>Päättyy</th>
				<th>Näytä tulokset</th>
{% if perms.kompomaatti.change_competitionparticipation %}
				<th class="sorter-false">Pisteytys</th>
{% endif %}
				<th class="sorter-false">Osallistujat</th>
				<th class="sorter-false management_field"></th>
			</tr>
		</thead>
		<tbody>
{% for comp in competitions %}
			<tr>
				<td>{{ comp.name }}</td>
				<td>{{ comp.participation_end|date:"d.m.Y \k\l\o\. H:i" }}</td>
				<td>{{ comp.start|date:"d.m.Y \k\l\o\. H:i" }}</td>
				<td>{{ comp.end|date:"d.m.Y \k\l\o\. H:i" }}</td>
				<td>{% if comp.show_results %}Kyllä{% else %}Ei{% endif %}</td>
{% if perms.kompomaatti.change_competitionparticipation %}
				<td><a href="{% url 'admin-score' selected_event_id comp.id %}">Pisteytys</a></td>
{% endif %}
				<td><a href="{% url 'admin-participations' selected_event_id comp.id %}">Osallistujat</a></td>
	            <td>
{% if perms.kompomaatti.change_competition %}
	            	<a href="{% url 'admin-competition-edit' selected_event_id comp.id %}" class="edit_link">Muokkaa</a>
{% endif %}
{% if perms.kompomaatti.delete_competition %}
	            	<a href="{% url 'admin-competition-delete' selected_event_id comp.id %}" class="delete_link">Poista</a>
{% endif %}
	            </td>
			</tr>
{% endfor %}
		</tbody>
	</table>
	<div id="competition_pager" class="pager">
		{% include "common/pagination.html" %}
	</div>
{% else %}
	<p>Ei kilpailuja.</p>
{% endif %}

{% if perms.kompomaatti.add_competition %}
{% uni_form competitionform competitionform.helper %}
{% endif %}
{% endblock %}