{% extends "admin_kompomaatti/base.html" %}
{% load uni_form_tags %}

{% block title %}{{ block.super }} - Entryt{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
	$("#entry_table").tablesorter({widgets: ['zebra'], sortList: [[0,0],]}).tablesorterPager({container: $("#entry_pager")}); 
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Entryt</h2>
{% if entries %}
	<table id="entry_table" class="tablesorter">
		<thead>
			<tr>
				<th>Nimi</th>
				<th>Tekijä</th>
				<th>Käyttäjä</th>
				<th>Kompo</th>
				<th class="sorter-false">Tiedosto</th>
				<th class="sorter-false">Muokkaa</th>
			</tr>
		</thead>
		<tbody>
{% for entry in entries %}
			<tr>
				<td>{{ entry.name }}</td>
				<td>{{ entry.creator }}</td>
				<td>{{ entry.user.email }}</td>
				<td>{{ entry.compo.name }}</td>
				<td><a href="{{ entry.entryfile.url }}">Lataa</a></td>
	            <td><a class="icon editicon" href="/manage/{{ selected_event_id }}/kompomaatti/editentry/{{ entry.id }}/">Muokkaa</a></td>
			</tr>
{% endfor %}
		</tbody>
	</table>
	<div id="entry_pager" class="pager">
		{% include "common/pagination.html" %}
	</div>
{% else %}
	<p>Ei entryjä.</p>
{% endif %}

{% uni_form entryform entryform.helper %}
{% endblock %}