{% extends "admin_kompomaatti/base.html" %}
{% load uni_form_tags %}

{% block title %}{{ block.super }} - Entryt - Selaa{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
	$("#entry_table").tablesorter({widgets: ['zebra']});
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Entryt</h2>
{% if entries %}
	<table id="entry_table" class="tablesorter">
		<thead>
			<tr>
				<th>Nimi</th>
				<th>Tekijä</th>
				<th>Käyttäjä</th>
				<th>Kompo</th>
				<th>Tiedosto</th>
				<th>Muokkaa</th>
			</tr>
		</thead>
		<tbody>
{% for entry in entries %}
			<tr>
				<td>{{ entry.name }}</td>
				<td>{{ entry.creator }}</td>
				<td>{{ entry.user.email }}</td>
				<td>{{ entry.compo.name }}</td>
				<td><a href="{{ entry.entryfile.url }}">Lataa</a></td>
	            <td><a class="icon editicon" href="/control/kompomaatti/editentry/{{ entry.id }}/">Muokkaa</a></td>
			</tr>
{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>Ei entryjä.</p>
{% endif %}
{% endblock %}