{% extends "admin_kompomaatti/base.html" %}
{% load crispy_forms_tags static %}

{% block title %}{{ block.super }} - Entryt{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'manage-kompomaatti:entries' selected_event_id %}">Entryt</a></li>
    <li>Selaa</li>
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>DiplomaGenerator</h2>
    <p>
         <a href="{% url 'manage-kompomaatti:entries_csv' selected_event_id %}">Entryt CSV-muodossa DiplomaGeneratoria varten.</a>
        Huom! Tämän tuottama tiedosto pitää vielä käydä käsin läpi.
    </p>

    <h2>Entryt</h2>
{% if entries %}
    <table class="table table-striped table-condensed" data-toggle="table"
           data-sort-name="compo" data-sort-order="desc" data-pagination="true" data-page-size="25">
        <thead>
            <tr>
                <th data-field="image"></th>
                <th data-field="name" data-sortable="true">Nimi</th>
                <th data-field="creator" data-sortable="true">Tekijä</th>
                <th data-field="user" data-sortable="true">Käyttäjä</th>
                <th data-field="compo" data-sortable="true">Kompo</th>
                <th data-field="disqualified" data-sortable="true">Diskattu</th>
                {% if perms.kompomaatti.change_entry %}<th>&nbsp;</th>{% endif %}
                {% if perms.kompomaatti.delete_entry %}<th>&nbsp;</th>{% endif %}
            </tr>
        </thead>
        <tbody>
{% for entry in entries %}
            <tr>
                <td style="width: 18px;">
                    {% if entry.imagefile_original %}
                    <a data-toggle="lightbox" data-title="{{ entry.name }}" data-type="image" href="{{ entry.imagefile_original.url }}">
                        <img src="{{ entry.imagefile_thumbnail.url }}" width="16" height="16" alt="Teokseen liitetty kuva" class="img-fluid" />
                    </a>
                    {% endif %}
                </td>
                <td><a href="{{ entry.entryfile.url }}">{{ entry.name }}</a></td>
                <td>{{ entry.creator }}</td>
                <td>{{ entry.user.email }}</td>
                <td>{{ entry.compo.name }}</td>
                <td>{% if entry.disqualified %}Kyllä{% else %}Ei{% endif %}</td>
{% if perms.kompomaatti.change_entry %}
                <td>
                    <a href="{% url 'manage-kompomaatti:entry-edit' selected_event_id entry.id %}"  class="edit_link btn btn-primary btn-xs" role="button">
                        <span class="edit_link fa fa-pencil"></span>
                    </a>
                </td>
{% endif %}
{% if perms.kompomaatti.delete_entry %}
                <td>
                    <a href="{% url 'manage-kompomaatti:entry-delete' selected_event_id entry.id %}"  class="delete_link btn btn-danger btn-xs" role="button">
                        <span class="edit_link fa fa-trash"></span>
                    </a>
                </td>
{% endif %}
            </tr>
{% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Ei entryjä.</p>
{% endif %}

{% if perms.kompomaatti.add_entry %}
{% crispy entryform entryform.helper %}
{% endif %}
{% endblock %}
