{% extends "admin_kompomaatti/base.html" %}

{% block title %}{{ block.super }} - Avainpyynnöt{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'manage-kompomaatti:votecoderequests' selected_event_id %}">Avainpyynnöt</a></li>
    <li>Selaa</li>
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Avainpyynnöt</h2>
{% if requests %}
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
	            <th>Nimi</th>
	            <th>Sähköposti</th>
	            <th>Pyyntöteksti</th>
                {% if perms.kompomaatti.change_votecode %}<th></th>{% endif %}
			</tr>
		</thead>
		<tbody>
{% for request in requests %}
			<tr>
	            <td>{{ request.user.first_name }} {{ request.user.last_name }}</td>
	            <td>{{ request.user.email }}</td>
	            <td>{{ request.text|linebreaksbr }}</td>
{% if perms.kompomaatti.change_votecode %}
	            <td><a href="{% url 'manage-kompomaatti:votecoderequest-accept' selected_event_id request.id %}">Salli</a></td>
{% endif %}
			</tr>
{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>Ei pyyntöjä.</p>
{% endif %}
{% endblock %}