{% extends "admin_kompomaatti/base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - Avaimet{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
		&raquo; <a href="{% url 'admin-votecodes' selected_event_id %}">Avaimet</a>
		&raquo; Selaa
{% endblock %}

{% block jquery %}
{{ block.super }}
	$(".jq-button").button();
	$("#tokens_table").tablesorter({widgets: ['zebra'], sortList: [[2,0],[3,0]]}).tablesorterPager({container: $("#tokens_pager")}); 
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Avaimet</h2>
{% if tokens %}
    <a href="{% url 'admin-votecodes-print' selected_event_id %}" class="jq-button">Vapaat tokenit .PDF muodossa</a>
	<table id="tokens_table" class="tablesorter"> 
	<thead>
		<tr>
			<th>Token</th>
			<th>Assosiaatio (käyttäjä)</th>
			<th>Assosiaatio (email)</th>
			<th>Assosioitu</th>
		</tr>
	</thead>
	<tbody>
{% for token in tokens %}
		<tr>
			<td>{{ token.key }}</td>
			<td>{{ token.associated_to.username }}</td>
			<td>{{ token.associated_to.email }}</td>
			<td>{{ token.time|date:"d.m.Y \k\l\o\. H:i" }}</td>
		</tr>
{% endfor %}
	</tbody>
	</table>
	<div id="tokens_pager" class="pager">
		{% include "common/pagination.html" %}
	</div>
	<br />
{% else %}
    <p>Ei äänestyskoodeja.</p>
{% endif %}

{% if perms.kompomaatti.add_votecode %}
{% crispy gentokensform gentokensform.helper %}
{% endif %}
{% endblock %}