{% extends "main2014/toimisto/base.html" %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Tehtävänanto</h2>
<p>Hyvä Instanssin vieras -- Toimisto tarvitsee apuasi!</p>

<p>Instanssin salainen tiedusteluosasto Toimisto on saanut käsiinsä hälyttäviä tietoja! Tuntematon terroristijärjestö täynnä ituhippejä, puunhalaajia ja kettutyttöjä (poliittisesti korrekti :D) on ostanut Venäjän mustasta pörssistä ydinkärjen, ja aikoo saattaa Earth Hour -tapahtuman alkaessa koko Instanssin ympäristön pysyvästi vihreäksi (tai mustaksi).</p>

<p>Koska Toimiston vakioagentit ovat tapahtumaa järjestämässä ja/tai pizzaa mussuttamassa, tarvitsemme vierailijoidemme apua! Mikäli mielit pysäyttämään pommin, täytyy sinun löytää salainen koodi vihjetiedostoon, jonka sihteerimme jätti ikävä kyllä lukituksi pizzalle lähtiessään. Koodi koostuu kolmesta viiden merkin sarjasta, jotka yhdistämällä pääset käsiksi Toimiston tietokoneella sijaitsevaan salakirjoitettuun vihjetiedostoon.</p>

<p>Turvallisuussyistä salakirjoituskoodi on jaettu hankalan ja arvaamattoman aarteenmetsästystehtäväketjun päähän. Vihje ensimmäiseen tehtävään alla:</p>

<p>Alakerta, hotelli helpotus ja tuplatoimisto.</p>
<p>Etsi QR-koodi.</p>

{% endblock %}