{% extends "admin_programme/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
    $("#event_table").tablesorter({widgets: ['zebra'], sortList: [[3,0],]});
{% endblock %}

{% block crumbs %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Ajastintyökalu</h2>
    
{% if events %}
<form method="post" class="uniForm">
    <table id="event_table">
        <thead>
            <tr>
                <th class="sorter-false management_field">Valitse</th>
                <th>Tyyppi</th>
                <th>Nimi</th>
                <th>Alkaa</th>
                <th>Päättyy</th>
            </tr>
        </thead>
        <tbody>
{% for event in events %}
            <tr>
                <td><input type="checkbox" name="event[]" value="{{ event.type }}_{{ event.id }}" /></td>
                <td>{{ event.typename }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.start|date:"d.m.Y \k\l\o\. H:i" }}</td>
                <td>{{ event.end|date:"d.m.Y \k\l\o\. H:i" }}</td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    <fieldset>
        <legend>Siirtotyökalu</legend>
        {{ timingform|crispy }}
        
        <!-- uniForm buttonholder -->
        {% csrf_token %}
        <div class="buttonHolder">
            <input type="submit" name="submit" value="Tallenna" class="submit submitButton" id="submit-id-submit" />
        </div>
    </fieldset>
</form>
{% else %}
    <p>Ei tapahtumia!</p>
{% endif %}
{% endblock %}