{% extends "admin_utils/base.html" %}

{% block title %}{{ block.super }} - Tietokantatarkastaja{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Tietokantatarkastaja</li>
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Tietokantatarkastaja</h2>

<h3>Hajonneet tietokanta-tiedostorelaatiot entryissä</h3>
{% if broken_entries %}
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Tekijä</th>
            <th>Entryfile</th>
            <th>Sourcefile</th>
            <th>Imagefile</th>
        </tr>
    </thead>
    <tbody>
{% for entry in broken_entries %}
        <tr>
            <td>{{ entry.name }}</td>
            <td>{{ entry.creator }}</td>
            <td>{% if entry.entryfile_ok %}Toimii{% else %}<strong>Sökö</strong>{% endif %}</td>
            <td>{% if entry.sourcefile_ok %}Toimii{% else %}<strong>Sökö</strong>{% endif %}</td>
            <td>{% if entry.imagefile_ok %}Toimii{% else %}<strong>Sökö</strong>{% endif %}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>Ei löydetty.</p>
{% endif %}

{% endblock %}