{% extends "admin_utils/base.html" %}

{% block title %}{{ block.super }} - Levynpuhdistus{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
        &raquo; Levynpuhdistus
{% endblock %}

{% block jquery %}
{{ block.super }}
    $(".tsorter").tablesorter({widgets: ['zebra'], sortList: [[1,1],]});
    $("#cleanup-button").button();
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Levynpuhdistus</h2>

<form action="" method="post">
    {% csrf_token %}
    <input type="submit" value="Siivoa" name="cleanup-button" id="cleanup-button" />
</form>

<h3>Entryfiles</h3>
{% if orphan_entryfiles %}
<table class="tsorter">
    <thead>
        <tr>
            <th>Nimi</th>
            <th style="width: 25%;">Koko</th>
        </tr>
    </thead>
    <tbody>
{% for file in orphan_entryfiles %}
        <tr>
            <td><a href="{{ file.path }}">{{ file.name }}</a></td>
            <td>{{ file.size|filesizeformat }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}

<h3>Sourcefiles</h3>
{% if orphan_sourcefiles %}
<table class="tsorter">
    <thead>
        <tr>
            <th>Nimi</th>
            <th style="width: 25%;">Koko</th>
        </tr>
    </thead>
    <tbody>
{% for file in orphan_sourcefiles %}
        <tr>
            <td><a href="{{ file.path }}">{{ file.name }}</a></td>
            <td>{{ file.size|filesizeformat }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}

<h3>Imagefiles</h3>
{% if orphan_imagefiles %}
<table class="tsorter">
    <thead>
        <tr>
            <th>Nimi</th>
            <th style="width: 25%;">Koko</th>
        </tr>
    </thead>
    <tbody>
{% for file in orphan_imagefiles %}
        <tr>
            <td><a href="{{ file.path }}">{{ file.name }}</a></td>
            <td>{{ file.size|filesizeformat }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}