{% extends "base.html" %}

{% block head %}{{ block.super }}{% endblock %}

{% block jquery %}{{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}
    <h2>In English</h2>
    <h3>What is Instanssi?</h3>
    <p>
        Instanssi is a festival of digital making in Jyväskylä, Finland. It is organized 9.-11.3.2011 
        in Voionmaan lukio. Instanssi is meant to be beginner friendly event, where everyone interested 
        in digital culture can come. Instanssi offers workshops, presentations and friendly creative
        environment. This year we concentrate especially on the open data. Currently all the program is just in Finnish.
    </p>
    <p>
        Competitions of Instanssi are demo, 4k demo, music, graphic, fast graphic, scraping of open data, 
        Robocode and random, where the point is to make a confusing entry any way you like. One of the 
        Instanssi’s specialities is programmable lights, that can be used as part of entries.
    </p>
    <p>
        You can get more info from the IRC channel of Instanssi, #instanssi on IRCnet.
    </p>
    <p>
        The address of the venue is Voionmaankatu 17-19, 40700 Jyväskylä, Finland. Check the map <a href="/2012/info">right here</a>.
    </p>
    <h3>Tickets</h3>
    <p>
        Tickets can be bought from the door or beforehand from the Internet. From the door you can also get a ticket, which 
        gives you one time entrance and costs 2 Euros
    </p>
    <p>
        Dynamic ticket – 5 Euros. This ticket includes entrance to the event for the whole weekend. You can watch all the program, 
        participate in the workshops and use the showers and WLAN. There is also sleeping space available.
    </p>
    <p>
        Static ticket – 10 Euros. This ticket includes everything that the Dynamic ticket plus network, electricity and table 
        space (60x70cm) for your computer.
    </p>
{% endblock %}
