{% extends "base.html" %}

{% block head %}{{ block.super }}{% endblock %}

{% block jquery %}{{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}
    <h2>In English</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse accumsan pharetra lectus, 
        vitae sollicitudin tortor mollis id. Phasellus interdum convallis nulla, laoreet mattis massa 
        auctor vel. Morbi ac massa et metus sodales posuere venenatis consectetur neque. Curabitur 
        interdum tempus pretium. Suspendisse volutpat augue vitae enim feugiat blandit. Sed massa nisi,
        mollis non vulputate vel, euismod sit amet ipsum. Cras felis sem, commodo at fringilla eget, 
        fringilla eget metus. Vestibulum dictum dignissim purus vitae fermentum. Mauris dignissim mauris 
        sit amet sem blandit volutpat. Duis in lacus elit, id fringilla arcu. Vivamus placerat erat a 
        arcu tempus tristique. Fusce pulvinar sollicitudin urna a consequat. Phasellus id lectus lectus, 
        a rhoncus nulla. Proin vehicula sem at eros porttitor nec accumsan arcu hendrerit. Donec 
        convallis nibh ut odio malesuada porttitor.
    </p>
    <p>
        Suspendisse potenti. Sed sagittis pulvinar lobortis. Cras adipiscing, mauris vel pharetra egestas, 
        ligula magna dignissim nibh, id vulputate lacus nisl egestas nibh. Phasellus varius porta odio, nec 
        consequat augue condimentum ut. Pellentesque elementum adipiscing justo, non varius sem congue ut. 
        Morbi semper molestie lectus, in venenatis nulla tincidunt eu. Vestibulum iaculis ullamcorper luctus. 
        Donec blandit consectetur quam vitae auctor. Sed in diam in massa varius elementum et sed nulla.
    </p>
	<style> .nav-marker{left: 435px;} </style>
{% endblock %}