{% extends "base.html" %}

{% block head %}
{{ block.super }}
    <script type="text/javascript" src="/static/js/jquery.jfeed.pack.js"></script>
    <script type="text/javascript" src="/static/js/iso8601.min.js"></script>
    <script type="text/javascript" src="/static/js/blog_feed.js"></script>
    <style type="text/css"> .nav-marker{left: 25px;} </style>
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('#blogfeedarea').blogfeed({
        feedurl: '/static/temp/test.rss',
        postcount: 5
    });
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Blog</h2>
    <div id="blogfeedarea"></div>
{% endblock %}