{% extends "base.html" %}

{% block head %}{{ block.super }}{% endblock %}

{% block jquery %}{{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Kompot</h2>
    <h3>Instanssidemo</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <h3>Pikkiriikkinen demo</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <h3>Musiikki</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <h3>Grafiikka</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <h3>Vikkelä grafiikka</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <h3>Robocode</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <h3>Summamutikka</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <h3>Skreippaus</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
	<style> .nav-marker{left: 170px;} </style>
{% endblock %}