{% extends "base.html" %}

{% block head %}
{{ block.super }}
    <style type="text/css"> .nav-marker{left: 170px;} </style>
{% endblock %}

{% block jquery %}{{ block.super }}{% endblock %}

{% block content %}
{{ block.super }}


<h2>Kompot</h2>

<p>Yleiset säännöt:
<ul class="info">
    <li>Kompoteosten ohjelmakoodia suositellaan julkaistavaksi avoimena lähdekoodina. Työn alla olevista teoksista sopii keskustella julkisesti vaikkapa ohjelmointivinkkien etsimiseksi.</li>
    <li>Kaikkien teosten tulee koostua pääosin ennen julkaisemattomasta materiaalista.</li>
    <li>Sääntömuutoksia tehdään tarvittaessa yllättäen ja mielivaltaisesti.</li>
</ul>
</p>

<p>
Etäosallistuminen:
<ul class="info">
  <li>Demokompoihin voi osallistua myös etänä. Mahdollisen palkintonsa noutamisen joutuu sopimaan itse.</li>
</ul>
</p>

<p>
Julkaisu:
<ul class="info">
  <li>Kompoihin osallistuminen tarkoittaa teoksen luovuttamista hyvässä demoskene-hengessä julkiseen käyttöön sisältäen teosten ja videotallenteiden levittämisen Instanssin sivustolla. Käytettävän materiaalin täytyy olla moiseen sopivaa.</li>
</ul>
</p>

<p>Tekniikka:
<ul class="info">
  <li>Julkaistaan myöhemmin sen varmistuttua</li>
</ul>
</p>

    <h3>Instanssidemo</h3>

    <p>Teos on audiovisuaalinen tietokoneohjelma. Käytettävän tekniikan saa valita vapaasti. Esimerkiksi OpenGL, SDL, DirectX, XNA, Qt, HTML5 ja ncurses ovat kelvollisia ympäristöjä. Kompokoneelle voidaan tarvittaessa asentaa oletusasetuksin yleisimpiä (paketinhallinnasta löytyviä) kirjastoja. Eriskummallisissa tapauksissa valmistaudu käyttämään esitykseen omaa laitteistoasi.</p>

    <p>Valkokankaan ja äänentoiston lisäksi salivalaistusta voi käyttää osana demoa.</p>
    <p>Säännöt:
<ul class="info">
    <li>Puretun paketin on mahduttava alle 128 megatavun tilaan.</li>
    <li>Demo on enimmäkseen ohjelmoitu. Puhtaat animaatiot sopivat summamutikkaan.</li>
</ul>

    <h3>Pikkiriikkinen demo</h3>

    <p>Teos on audiovisuaalinen tietokoneohjelma. Erona demokompoon on 4096 tavun kokorajoite. Perinteisten suoritettavien binäärien lisäksi kompoon kelvollisia ovat tulkattavat ja käännettävät teokset, siispä esimerkiksi selaimessa toimivan Javascriptin käyttö on sallittua. Käytetty teknologia mainitaan esityksen yhteydessä.</p>

    <p>Binäärimuotoinen teos voi linkittää käytettävän järjestelmän yleisiin kirjastoihin (Linux-koneella esim. C, OpenGL, SDL). Lisäkirjastojen asennusta voi pyytää.</p>

    <p>Valkokankaan ja äänentoiston lisäksi salivalaistusta voi tavumäärän salliessa käyttää osana demoa.</p>

    <p>Säännöt:

<ul class="info">
    <li>Ajettava ohjelma on kooltaan enintään 4096 tavua.</li>
</ul>


    <h3>Musiikki</h3>

    <p>Tekniikka vapaa, esimerkiksi renderoitu äänitiedosto, tracker-muotoinen kappale tai ajettava ohjelma newskool- tai oldskool-raudalla käy.</p>

    <p>Säännöt:

<ul class="info">
    <li>Kappaletta soitetaan kompossa neljä minuuttia.</li>
    <li>Kappale on tietokonemusiikkia.</li>
</ul>

    <h3>Grafiikka</h3>

    <p>Teos on tietokoneella valmistettu kuva. Tekniikaksi kelpaa pikseleiden asettaminen paikoilleen käsin tai mallin renderöinti. Valokuvia voi käyttää käsittelymateriaalina.</p>

    <p>Säännöt:

<ul class="info">
    <li>Valmiin tuotoksen on oltava png-muodossa.</li>
</ul>

    <h3>Vikkelä grafiikka</h3>
    <p>Teos on tietokoneella tehty kuva kuten grafiikkakompossa. Se tehdään kuitenkin tapahtuman aikana aiheesta, joka annetaan kilpailuajan alkaessa.</p>

    <h3>Robocode</h3>

    <p>Kompossa ohjelmoidaan tankki käyttäen Robocode-alustaa. Lisätietoa Robocodesta: <a href="http://robocode.sourceforge.net">/http://robocode.sourceforge.net/</a>.</p>

    <p>Säännöt:
<ul class="info">
    <li>Välieriä muodostetaan puolitusalgoritmilla kunnes ruudulla on kerrallaan korkeintaan kuusi tankkia.</li>
</ul>
</p>

    <h3>Summamutikka</h3>

    <p>Tavoitteena on hämmennys. Tyyli ja keinot vapaat. Teoksen voi esittää valkokankaan sijaan myös kekseliäällä tavalla. Ilmoita kuvauksessa teoksen luonne ja esitystapa.</p>

    <p>Teos voi käyttää myös salivalaistusta.</p>

<p>Säännöt:
<ul class="info">
    <li>Esitysympäristö on valkokangas tai ympäröivä lava.</li>
    <li>Ei pyrotekniikkaa.</li>
</ul>
</p>

    <h3>Skreippaus</h3>
    <p>Tavoitteena teknisestä ja/tai sisällöllisesti mielenkiintoinen tiedonvapautus. Vapauta tietoa kotona tai paikanpäällä tekemällä screen scraper -työkalu, joka esittää mielenkiintoista julkista tietoa koneen luettavaksi tarkoitetussa muodossa. Liitä kilpailutyöhön lähdekoodi ja lyhyt kuvaus.</p>
	
{% endblock %}
