{% extends "admin_utils/base.html" %}

{% block title %}{{ block.super }} - Levynpuhdistus{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Levynpuhdistus</li>
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Levynpuhdistus</h2>

<p>
    <strong>HUOM!</strong> Ennen levynpuhdistajan käyttöä on EHDOTTOMASTI tarkastettava että 
    varmuuskopiot ovat kunnossa, ja että kaikki alla näkyvät tiedostot ovat oikeasti turhia!
    Levynpuhdistaja poistaa _kaikki_ tiedostot kansioista entryfiles, sourcefiles and imagefiles, joille
    ei ole tietokannassa relaatiota!
</p>

<form action="" method="post" id="dangerous_button">
    {% csrf_token %}
    <input type="submit" value="Nuketa tiedostot!" class="btn btn-danger delete_link" name="cleanup-button" id="cleanup-button" />
</form>

<h3>Entryfiles</h3>
{% if orphan_entryfiles %}
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Nimi</th>
            <th style="width: 25%;">Koko</th>
        </tr>
    </thead>
    <tbody>
{% for file in orphan_entryfiles %}
        <tr>
            <td><a href="{{ file.path }}">{{ file.name }}</a></td>
            <td>{{ file.size|filesizeformat }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>Ei orpoja entrytiedostoja.</p>
{% endif %}

<h3>Sourcefiles</h3>
{% if orphan_sourcefiles %}
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Nimi</th>
            <th style="width: 25%;">Koko</th>
        </tr>
    </thead>
    <tbody>
{% for file in orphan_sourcefiles %}
        <tr>
            <td><a href="{{ file.path }}">{{ file.name }}</a></td>
            <td>{{ file.size|filesizeformat }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>Ei orpoja sorsatiedostoja.</p>
{% endif %}

<h3>Imagefiles</h3>
{% if orphan_imagefiles %}
<table class="table table-striped table-condensed">
    <thead>
        <tr>
            <th>Nimi</th>
            <th style="width: 25%;">Koko</th>
        </tr>
    </thead>
    <tbody>
{% for file in orphan_imagefiles %}
        <tr>
            <td><a href="{{ file.path }}">{{ file.name }}</a></td>
            <td>{{ file.size|filesizeformat }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>Ei orpoja kuvatiedostoja.</p>
{% endif %}

{% endblock %}