body {
    background-color: #e5e5e5;
}

div.step {
    font-family: 'Open Sans', sans-serif;
    width: 1700px;
    padding: 40px;
    
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

div.dohide:not(.active) {
    opacity: 0.0;
}

div.nohide:not(.active) {
    opacity: 0.2;
}

div#nametext {
    font-size: 400px;
    font-weight: bold;
    color: #282828;
}

div#events p {
    font-size: 80px;
    margin: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: #aaaaaa 0px 0px 10px;
}

div#irc p {
    font-family: 'Consolas', monospace;
    margin: 8px;
    font-size: 30px;
    white-space: pre-wrap;
}

div#irc .ircnick {
    color: #0B1183;
}

div#irc .irctime {
    color: #0B1183;
}

div#clock p.time {
    font-size: 300px;
}

div#clock p.date {
    font-size: 140px;
    padding-left: 25px;
}

p.sponsorname {
    font-size: 140px;
    font-weight: bold;
}

p#message_content {
    display: none;
    font-size: 140px;
    font-weight: bold;
}
