body {
    color: #fff;
    margin: 0;
    background: #091122;
}

div.step {
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

#screenshow-container, canvas {
    width: 100%;
    height: 100%;
    text-shadow: #19c .3em 0 .3em, #19c -.3em 0 .3em;
}

canvas {
    position: absolute;

}

.text {
    width: 1240px;
    padding: 40px;
}

.fullscreen {
    width: 1280px;
    height: 720px;
}

div.dohide:not(.active) {
    opacity: 0.0;
}

div.nohide:not(.active) {
    opacity: 0.2;
}

div#nametext #front_header {
    font-family: 'Open Sans', sans-serif;
    font-size: 235pt;
    font-weight: bold;
    font-variant: small-caps;
    color: #fff;
    margin-bottom: 0;
}

div#nametext .front_information {
    display: hidden;
    font-size: 40pt;
    color: #fff;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100#;
}

div#nametext .front_right {
    text-align: right;
}

div#nametext .front_left {
    text-align: left;
}

div#events td {
    font-size: 50px;
    margin: 18px;
    padding: 15px;
}

div#irc td {
    font-family: 'Consolas', monospace;
    padding: 4px;
    font-size: 20px;
    white-space: pre-wrap;
}

div#irc #ircheader {
    font-weight: bold;
    border-bottom: 2px dotted black;
}

div#irc .ircnick {
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}

div#irc .irctime {
    color: #fff;
}

p.playing_title {
    font-size: 40pt;
    margin-bottom: 20px;
}

p.playing_song {
    font-size: 30pt;
    margin-bottom: 25px;
    letter-spacing: 0.1em;
    margin-top: 25px;
}

p.old_song {
    font-size: 30pt;
    margin-bottom: 25px;
    margin-top: 25px;
    color: #fff;
}

div.twittermsg {
    margin-left: 220px;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

div.twittermsg .author {
    color: #fff;
}

div.twittermsg .time {
    font-size: 20px;
}

p#clock_time {
    font-size: 190pt;
}

p#clock_date {
    font-size: 100pt;
    padding-left: 25px;
}

p.sponsorname {
    font-size: 90pt;
    font-weight: bold;
}

p#message_content {
    display: none;
    font-size: 80px;
    font-weight: bold;
}
