html {
    overflow-y: scroll;
}
html , body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
img {
    // prevent images from blowing up page
    max-width: 99% !important;
    height: auto !important;
}
iframe {
    // work around embedded content layout issues
    max-width: 100%;
}
body * {
    color: #333;
    font-size: 15px;
    line-height: 150%;
    font-family: $body-font-family;
}

body {
    position: relative;
    background: #0054c0 !important;
    // background: linear-gradient(#0054c0 0px, #000 1000px) !important;
    // background: url(../images/webtausta.jpg) top center no-repeat, #000!important;
}

.header-background {
    // Stop margin collapsing
    &:after {
        content: '';
        display: table;
    }

    position: relative;
    z-index: 0;

    background: url(../images/web_lohari.png) bottom right no-repeat;
    background-size: 1172px auto;
    background-position-x: auto;
    background-position-y: -183px;
    background-image: url(../images/web_lohari.png), url(../images/web_lohari_bg.png);
    background-image:
        image-set(url("../images/web_lohari.webp") type("image/webp"), url("../images/web_lohari.png") type("image/png")),
        image-set(url("../images/web_lohari_bg.webp") type("image/webp"), url("../images/web_lohari_bg.png") type("image/png"));
    
    @media screen and (max-width: $screen-md-max) {
        background-size: 972px auto;
        background-position-y: -130px;
    }
    @media screen and (max-width: $screen-sm-max) {
        background-size: auto 140%;
        background-position-x: right 0;
        background-position-y: bottom 40%;
    }
    @media screen and (max-width: $screen-xs-max) {
        background-size: 100vw auto;
        background-position-y: top -10vw;
    }
}

h1 {
    font-family: $title-font-family;
    //font-variant: small-caps;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: .75em;
    color: $theme-color-bright;
    font-weight: 400;
    line-height: 90%;
}

form legend {
    font-family: $title-font-family;
    background: $theme-color-dark;
    font-weight: bold;
    font-size: 25px;
    margin: 20px 0;
    padding-left: 8px;
    padding-right: 8px;
    color: #fff;
}

#content h2,
.item .title,
.header {
    color: $theme-color-dark;
    font-family: $title-font-family;
    border-bottom: 1px solid $theme-color-bright;
    background: transparent;
    font-weight: 400;
    padding: 0 $spacer;
    margin: 0 (-$spacer) ($spacer * 2);
    font-size: 25px;
}
h3 {
    font-size: 16px;
    margin: ($spacer * 2) (-$spacer);
    padding: 0 $spacer;
    color: #000;
    font-weight: bold;
}
h4 {
    font-size: 14px;
    margin: 20px 8px;
    color: #000;
    font-weight: bold;
}
b, strong {
    font-weight: bold;
}
i, em {
    font-style: italic;
}
blockquote {
    font-size:125%;
    font-style: italic;
    margin-left: 4%;
    margin-bottom: 8px;
}
sup, sub {
    font-size: 75%;
}
sup {
    vertical-align: super;
}
sub {
    vertical-align: sub;
}

/* buttons */
.btn {
    border: 1px solid $theme-color;
    text-decoration: none !important;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 0px;

    &, & > * {
        color: #fff !important;
    }

    &:hover {
        color: #fff;
        opacity: 0.9;
    }
}

#content {
    // background: #fff;
    box-sizing: border-box;
    // padding: 24px 10px 24px;

    min-height: 100vh;
    min-height: $main-content-height;
}
