<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Kompomaatti</title>
    <link rel="stylesheet" href="/static/libs/css/reset.css" />
    <link rel="stylesheet" href="/static/kompomaatti/css/style.css" />
    <script type="text/javascript" src="/static/libs/jquery/jquery-1.6.2.min.js"></script>
{% block head %}{% endblock %}
    <script type="text/javascript">
    $(function() {
{% block jquery %}{% endblock %}
    });
    </script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>