<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Kompomaatti</title>
    <link rel="stylesheet" href="/static/libs/css/reset.css" />
    <link rel="stylesheet" href="/static/kompomaatti/css/style.css" />
    <script type="text/javascript" src="/static/libs/jquery/jquery-1.6.2.min.js"></script>
{% block head %}{% endblock %}
    <script type="text/javascript">
    $(function() {
{% block jquery %}{% endblock %}
    });
    </script>
</head>
<body>
    <div id="base">
        <h1>Kompomaatti</h1>
        <div id="nav">
            <ul id="basenav">
                <li><a href="/kompomaatti/">Kompomaatti</a></li>
                <li>
                    <a href="/kompomaatti/compolist/">Kompot</a>
                    <ul id="subnav">
{% for navcompo in compos %}
                        <li><a href="/kompomaatti/compo/{{ navcompo.id }}/">{{ navcompo.name }}</a></li>
{% endfor %}
                    </ul>
                </li>
                <li><a href="/kompomaatti/help/">Ohje</a></li>
            </ul>
        </div>
        <div id="content">
        {% block content %}{% endblock %}
        </div>
        <div id="footer">
            &copy; Instanssi.org 2012
        </div>
    </div>
</body>
</html>