{% extends "kompomaatti/event_base.html" %}

{% block title %}{{ block.super }} - Kilpailut{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'km:competitions' sel_event_id %}">Kilpailut</a></li>
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Kilpailut</h2>

{% if competitions %}
{% for competition in competitions %}
    <h3>{{ competition.name }}</h3>
    <ul>
        <li>Ilmoittautuminen päättyy: <strong>{{ competition.participation_end_time }}</strong></li>
        <li>Kilpailu alkaa: <strong>{{ competition.start_time }}</strong></li>
    </ul>
    <p><a href="{% url 'km:competition' sel_event_id competition.id %}">Kilpailun tiedot &raquo;</a></p>
{% endfor %}
{% else %}
    <p>Ei kilpailuja.</p>
{% endif %}
{% endblock %}