{% extends "kompomaatti/base.html" %}
{% load uni_form_tags %}
{% load static %}

{% block title %} - {{ competition.name }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
    $(".button").button();
{% endblock %}

{% block crumbs %}
{{ block.super }}
    &raquo; <a href="{% url 'kompomaatti-competition' sel_event_id competition.id %}">{{ competition.name }}</a>
    &raquo; Tiedot
{% endblock %}

{% block content %}
{{ block.super }}
<h2>{{ competition.name }}</h2>
<h3>Kuvaus</h3>
{{ competition.description|safe }}

<h3>Ajat</h3>
<table class="info">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Ilmoittautuminen päättyy:</th>
            <th>Kilpailu alkaa:</th>
        </tr>
    </thead>
    <tbody>
        <th>Tila/Aika:</th>
        <td>{{ competition.participation_end_time }}</td>
        <td>{{ competition.start_time }}</td>
    </tbody>
</table>

{% if user.is_authenticated %}

<h3>Osallistuminen</h3>
{% if signed_up %}
    <p>Olet ilmoittautunut nimimerkillä <strong>{{ participation.participant_name }}</strong>.</p>
    {% if can_participate %}
    <a class="button" href="{% url 'kompomaatti-competition-signout' sel_event_id competition.id %}">Poista ilmoittautuminen</a>
    {% endif %}
{% else %}
    <p>Et ole ilmoittautunut.</p>
    {% if can_participate %}
    {% uni_form participationform participationform.helper %}
    {% endif %}
{% endif %}

{% endif %}
{% endblock %}