{% extends "kompomaatti/base.html" %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% if voting_open %}
    $("#vote_js_mode").css("display", "inline");
    $("#vote_html_mode").css("display", "none");
    $("#sortable").sortable();
    $("#sortable").disableSelection();
    $("#savebutton").button({label: 'Tallenna'});
    $("#savebutton").css("font-size", "1.0em");
    $('#savebutton').click(function() {
        order = [];
        $("#sortable").children('li').each(function(idx, elm) {
            order.push(elm.id.split('_')[1]);
        });                                     
        $.post('/kompomaatti/compo/{{ compo.id }}/', {
            'action': 'vote_js', 
            'order[]': order,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        }, function(data) {
            $('#voting_errortext').removeClass('ui-state-highlight');
            $('#voting_errortext').removeClass('ui-state-error');
            if(data == '0') {
                $('#voting_errortext').addClass('ui-state-highlight');
                $('#voting_errortext').html('<div class="ui-icon ui-icon-info icon-messagebox msgicon"></div><span>Äänestys suoritettu!</span>');
            } else {
                $('#voting_errortext').addClass('ui-state-error');
                $('#voting_errortext').html('<div class="ui-icon ui-icon-alert icon-messagebox msgicon"></div><span>'+data+'</span>');
            }
        });
    });
{% endif %}
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Kompo: {{ compo.name }}</h2>
    <h3>Kuvaus</h3>
    <div class="compo_description">
        {{ compo.description|safe }}
    </div>
    
    <h3>Aikataulu</h3>
    <table class="generic_info_table">
        <tr>
            <th>Deadline entryjen lisäämiselle</th>
            <td>{{ compo.adding_time }}</td>
        </tr>
        <tr>
            <th>Deadline entryjen muokkaamiselle</th>
            <td>{{ compo.editing_time }}</td>
        </tr>
        <tr>
            <th>Kompo alkaa</th>
            <td>{{ compo.compo_time }}</td>
        </tr>
        <tr>
            <th>Äänestysaika</th>
            <td>{{ compo.voting_time }}</td>
        </tr>
    </table>
    
    <h3>Teokset</h3>
{% if entries %}
{% if not has_voted and voting_open %}
    <p>
        <strong>Et ole vielä äänestänyt!</strong>
    </p>
{% endif %}
{% if has_voted and voting_open %}
    <p>
        <strong>Olet jo äänestänyt!</strong>
    </p>
{% endif %}
{% if voting_open and not associated and logged %}
    <p>
        <strong>Äänestys on auki, mutta sinulla ei ole äänestysoikeutta!</strong>
    </p>
{% endif %}
{% if voting_open and associated %}
    <div id="voting_errortext"></div>
    <div id="vote_js_mode">
        <p>
            Äänestä järjestämällä teokset parhaimmuusjärjestykseen. Paras ylimmäiseksi, viimeiseksi paras alimmaiseksi.
            Kun teokset ovat mieleisessäsi järjestyksessä, paina "Tallenna"-painiketta. Voit muokata järjestystä
            äänestyksen päättymiseen asti.
        </p>
        <br />
        <ul id="sortable">
{% for entry in entries %}
            <li class="ui-state-default" id="entry_{{ entry.id }}">
                <span class="ui-icon ui-icon-arrowthick-2-n-s"></span><a href="/kompomaatti/entry/{{ entry.id }}/">{{ entry.name }}</a> by {{ entry.creator }}
            </li>
{% endfor %}
        </ul>
        <p>
            <div id="savebutton"></div>
        </p>
    </div>
    <div id="vote_html_mode">
        <form action="." method="POST">
            <fieldset>
                <legend>Äänestys</legend>
                <p>
                    <strong>Huom! Javascript on kytketty pois päältä, joten näytetään yhteensopiva äänestystila!</strong> Äänestys toimii niin, että 
                    teoksille annetaan numerot ykkösestä alkaen parhaimmuusjärjestyksessä, eli esim. paras teos saisi sijoituksen 1, seuraavaksi paras 2, 
                    ja niin edelleen. Älä jätä kenttiä tyhjäksi!
                </p>
                <ul id="voteslist">
{% for entry in entries %}
                    <li class="html_mode_voting_entry">
                        <input type="text" maxlength="3" size="3" name="ventry_{{ entry.id }}" value="{% if has_voted %}{{ forloop.counter }}{% endif %}" />
                        <a href="/kompomaatti/entry/{{ entry.id }}/">{{ entry.name }}</a> by {{ entry.creator }}
                    </li>
{% endfor %}
                </ul>
                {% csrf_token %}
                <input type="hidden" name="action" value="vote_html" />
                <input type="submit" value="Talenna" />
            </fieldset>
        </form>
    </div>
{% else %}
    {% if compo.show_voting_results %}
    <p>Äänestystulokset:</p>
    <ol>
    {% for entry in entries %}
        {% if entry.disqualified %}
        <li><a href="/kompomaatti/entry/{{ entry.id }}/">{{ entry.name }}</a> by {{ entry.creator }}. <strong>Diskattu!</strong></li>
        {% else %}
        <li><a href="/kompomaatti/entry/{{ entry.id }}/">{{ entry.name }}</a> by {{ entry.creator }}. Pisteet: {{ entry.get_score|floatformat:"2" }}</li>
        {% endif %}
    {% endfor %}
    </ol>
    {% else %}
    <p>Teokset aakkosjärjestyksessä:</p>
    <ul>
    {% for entry in entries %}
        <li><a href="/kompomaatti/entry/{{ entry.id }}/">{{ entry.name }}</a> by {{ entry.creator }}.{% if entry.disqualified %} Diskattu!{% endif %}</li>
    {% endfor %}
    </ul>
    {% endif %}
{% endif %}
{% else %}
    {% if show_entries %}
    <p>Kompossa ei ole osallistujia!</p>
    {% else %}
    <p>Äänestys ei ole vielä auki!</p>
    {% endif %}
{% endif %}
{% endblock %}