{% extends "kompomaatti/base.html" %}
{% load static %}

{% block title %} - {{ compo.name }} - Äänestä{% endblock %}

{% block head %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "kompomaatti/css/voting.css" %}" />
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('.vote-notice').hide();
    $("#submit_button").button();
    $("#submit_button").click(function() {
        var results = new Array();
        $("#to_list").children('li').each(function(index) {
            results[index] = $(this).attr('id');
        });
        $.post('{% url 'km:compo-vote' sel_event_id compo.id %}', {
            'action': 'vote', 
            'results': results,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        }, function(data) {
            if(data == '0') {
                $('.vote-success').fadeIn(400).delay(2500).fadeOut(400);
            } else {
                $('#vote-error-text').html(data);
                $('.vote-error').fadeIn(400).delay(2500).fadeOut(400);
            }
        });
    });

    function name_from_list() {
        $("#from_list").find(".vote-rank").html("");
        $("#from_list").find(".vote-score").html("");
    }

    function name_to_list() {
        $("#to_list").children('li').each(function(index) {
            index = index + 1.0
            rank = $(this).find('.vote-rank');
            score = $(this).find('.vote-score');
            rank.html(index+'.');
            score.html(Math.round((1.0/index)*100)/100+'p')
        });
    }   
     
    $("#from_list").sortable({
        connectWith: ".connected",
        update: function (event, ui) {
            name_from_list();
        },
        create: function(event, ui) {
            name_from_list();
        }
    });
    $("#to_list").sortable({
        connectWith: ".connected",
        update: function(event, ui) {
            name_to_list();
        },
        create: function(event, ui) {
            name_to_list();
        }
    });
    $("#from_list").disableSelection();
    $("#to_list").disableSelection();
{% endblock %}

{% block crumbs %}
{{ block.super }}
	&raquo; <a href="{% url 'km:compo' sel_event_id compo.id %}">{{ compo.name }}</a>
	&raquo; Äänestä
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Äänestä</h2>
<p>
    Raahaa entryjä (vähintään yksi) paremmuusjärjestykseen oikeanpuoleiseen paneeliin.
    Voit raahata useammankin mikäli tuntuu siltä että muutkin ansaitsevat pisteitä :)
</p>
<div class="vote-widget">
    <div class="vote-notice vote-success ui-state-highlight"><div class="ui-icon ui-icon-info icon-messagebox"></div><span>Äänestys suoritettu!</span></div>
    <div class="vote-notice vote-error ui-state-error"><div class="ui-icon ui-icon-alert icon-messagebox"></div><span id="vote-error-text"></span></div>
    <div class="vote-button-wrapper"><span class="vote-button" id="submit_button">Tallenna</span></div>
    <ul id="from_list" class="vote-list connected">
{% for entry in nvoted_entries %}
        <li id="{{ entry.id }}" class="vote-list-item">
            <span class="vote-entry">
                {{ entry.name }}<br />
                <span class="vote-entry-desc">by {{ entry.creator }}</span>
            </span>
            <div class="vote-right">
                <span class="vote-rank"></span>
                <span class="vote-score"></span>
            </div>
        </li>
{% endfor %}
    </ul>
    <ul id="to_list" class="vote-list connected">
{% for entry in voted_entries %}
        <li id="{{ entry.id }}" class="vote-list-item">
            <span class="vote-entry">
                {{ entry.name }}<br />
                <span class="vote-entry-desc">by {{ entry.creator }}</span>
            </span>
            <div class="vote-right">
                <span class="vote-rank"></span>
                <span class="vote-score"></span>
            </div>
        </li>
{% endfor %}
    </ul>
    <div style="clear: both; text-align: right;"></div>
</div>


{% endblock %}