{% extends "kompomaatti/base.html" %}
{% load uni_form_tags %}
{% load static %}

{% block title %} - {{ compo.name }} - Tiedot{% endblock %}

{% block head %}
{{ block.super }}
    <!-- tablesorter files -->
    <link rel="stylesheet" type="text/css" href="{% static "libs/css/tablesorter/theme.default.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "libs/css/tablesorter/jquery.tablesorter.pager.css" %}" />
    <script type="text/javascript" src="{% static "libs/js/tablesorter/jquery.tablesorter.min.js" %}"></script>
    <script type="text/javascript" src="{% static "libs/js/tablesorter/jquery.tablesorter.pager.min.js" %}"></script>
    <script type="text/javascript" src="{% static "libs/js/tablesorter/jquery.tablesorter.widgets.min.js" %}"></script>
{% endblock %}

{% block jquery %}
{{ block.super }}
    $(".delete_link").click(function(){
        return confirm("Haluatko varmasti poistaa ilmoittautumisen ?"); 
    });
    $("#entries_table").tablesorter({widgets: ['zebra'], sortList: [[0,0],]}).tablesorterPager({container: $("#entries_pager")});
    
    $('.button').button();
    $('.delete_link').addClass('ui-icon ui-icon-closethick custom_icon_style');
    $('.edit_link').addClass('ui-icon ui-icon-pencil custom_icon_style');
    $('.management_field').css('width','30px');
{% endblock %}

{% block crumbs %}
{{ block.super }}
	&raquo; <a href="{% url 'kompomaatti-compo' sel_event_id compo.id %}">{{ compo.name }}</a>
	&raquo; Tiedot
{% endblock %}

{% block content %}
{{ block.super }}
<h2>{{ compo.name }}</h2>


<h3>Kuvaus</h3>
{{ compo.description|safe }}


<h3>Ajat</h3>
<table class="info">
    <tr>
        <th style="width: 20%;">Ilmoittautuminen päättyy:</th>
        <td>{{ compo.adding_time }}</td>
    </tr>
    <tr>
        <th>Muokkausaika päättyy:</th>
        <td>{{ compo.editing_time }}</td>
    </tr>
    <tr>
        <th>Kompo alkaa:</th>
        <td>{{ compo.compo_time }}</td>
    </tr>
    <tr>
        <th>Äänestysaika:</th>
        <td>{{ compo.voting_time }}</td>
    </tr>
</table>


{% if not compo.show_voting_results and compo.has_voting_started %}
<h3>Osallistujat</h3>
{% if all_entries %}
<ul>
{% for entry in all_entries %}
    <li>
        <a href="{% url 'kompomaatti-entry' sel_event_id compo.id entry.id %}">{{ entry.name }}</a> 
        by {{ entry.creator }} {% if entry.disqualified %}<strong>(diskattu)</strong>{% endif %}
    </li>
{% endfor %}
</ul>
{% else %}
<p>Ei osallitujia.</p>
{% endif %}
{% endif %}
{% if compo.show_voting_results %}
<h3>Tulokset</h3>
{% if all_entries %}
<ol>
{% for entry in all_entries %}
    <li>
        <a href="{% url 'kompomaatti-entry' sel_event_id compo.id entry.id %}">{{ entry.name }}</a> 
        by {{ entry.creator }} {% if entry.disqualified %}<strong>(diskattu)</strong>{% else %}({{ entry.get_score|floatformat:"2" }}p){% endif %}
    </li>
{% endfor %}
</ol>
{% else %}
<p>Ei osallitujia.</p>
{% endif %}
{% endif %}

{% if user.is_authenticated %}
<h3>Äänestys</h3>
{% if can_vote and compo.is_voting_open %}
<p>Äänestys on avoinna.</p>
<a href="{% url 'kompomaatti-compo-vote' sel_event_id compo.id %}" class="button">Siirry äänestämään</a>
{% endif %}
{% if not can_vote and compo.is_voting_open %}
<p>Äänestys on auki, mutta sinulla ei ole äänestysoikeutta! Käy hakemassa äänioikeutta profiili-paneelissa.</p>
{% endif %}
{% if can_vote and not compo.is_voting_open %}
<p>Äänestys on kiinni.</p>
{% endif %}
{% if not can_vote and not compo.is_voting_open %}
<p>Äänestys on kiinni.</p>
{% endif %}
{% endif %}


{% if user.is_authenticated %}
<h3>Omat teokset</h3>
{% if my_entries %}
<p>Olet osallistunut kompoon seuraavilla teoksilla:</p>
<table class="tablesorter" id="entries_table">
    <thead>
        <tr>
            <th>Teoksen nimi</th>
            <th>Nimimerkki</th>
            <th>Teos</th>
            <th>Lähdekoodi</th>
            <th>Kuva</th>
{% if compo.is_editing_open %}
            <th class="sorter-false management_field"></th>
{% endif %}
        </tr>
    </thead>
    <tbody>
{% for entry in my_entries %}
        <tr>
            <td>{{ entry.name }}</td>
            <td>{{ entry.creator }}</td>
            <td><a href="{{ entry.entryfile.url }}">Lataa</a></td>
            <td>{% if entry.sourcefile %}<a href="{{ entry.sourcefile.url }}">Lataa</a>{% endif %}</td>
            <td>{% if entry.imagefile_original %}<a href="{{ entry.imagefile_original.url }}">Lataa</a>{% endif %}</td>
{% if compo.is_editing_open or compo.is_adding_open %}
            <td>
{% if compo.is_editing_open %}
                <a href="{% url 'kompomaatti-entry-edit' sel_event_id compo.id entry.id %}" class="edit_link">Muokkaa</a>
{% endif %}
{% if compo.is_adding_open %}
                <a href="{% url 'kompomaatti-entry-delete' sel_event_id compo.id entry.id %}" class="delete_link">Poista</a>
{% endif %}
            </td>
{% endif %}
        </tr>
{% endfor %}
    </tbody>
</table>
<div id="entries_pager" class="pager">
{% include "common/pagination.html" %}
</div>
{% else %}
<p>Et ole vielä osallistunut.</p>
{% endif %}

{% if compo.is_adding_open %}
{% uni_form entryform entryform.helper %}
{% endif %}
{% endif %}

{% endblock %}