{% extends "kompomaatti/base.html" %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% if voting_open %}
    $("#sortable").sortable();
    $("#sortable").disableSelection();
    $("#savebutton").button({label: 'Tallenna'});
    $("#savebutton").css("font-size", "1.0em");
    $('#savebutton').click(function() {
        order = [];
        $("#sortable").children('li').each(function(idx, elm) {
            order.push(elm.id.split('_')[1]);
        });                                     
        $.post('/kompomaatti/compo/{{ compo.id }}/', {
            'action': 'vote', 
            'order[]': order,
            'csrfmiddlewaretoken': '{{ csrf_token }}'
        }, function(data) {
            $('#voting_errortext').removeClass('ui-state-highlight');
            $('#voting_errortext').removeClass('ui-state-error');
            if(data == '0') {
                $('#voting_errortext').addClass('ui-state-highlight');
                $('#voting_errortext').html('<div class="ui-icon ui-icon-info icon-messagebox"></div><span>Äänestys suoritettu!</span>');
            } else {
                $('#voting_errortext').addClass('ui-state-error');
                $('#voting_errortext').html('<div class="ui-icon ui-icon-alert icon-messagebox"></div><span>Virhe äänestyksessä!</span>');
            }
        });
    });
{% endif %}
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Kompo: {{ compo.name }}</h2>
    <h3>Kuvaus</h3>
    <div class="compo_description">
        {{ compo.description|safe }}
    </div>
    
    <h3>Aikataulu</h3>
    <table class="compo_details">
        <tr>
            <th>Deadline entryjen lisäämiselle</th>
            <td>{{ compo.adding_time }}</td>
        </tr>
        <tr>
            <th>Deadline entryjen muokkaamiselle</th>
            <td>{{ compo.editing_time }}</td>
        </tr>
        <tr>
            <th>Kompo alkaa</th>
            <td>{{ compo.compo_time }}</td>
        </tr>
        <tr>
            <th>Äänestysaika</th>
            <td>{{ compo.voting_time }}</td>
        </tr>
    </table>
    
    <h3>Teokset</h3>
    <p>
        Äänestys näkyy vain, jos äänestysaika on voimassa. Muutoin näytetään lista teoksista.
        Teoslistasta saa ladattua teoksia vain äänestysajan aluettua (ja loputtua).
        <strong>Huomaa: äänestäminen vaatii selaimelta javascript-tuen!</strong>
    </p>
{% if not has_voted and voting_open %}
    <p>
        <strong>Et ole vielä äänestänyt!</strong>
    </p>
{% endif %}
{% if entries %}
{% if voting_open %}
    <div id="voting_errortext"></div>
    <ul id="sortable">
{% for entry in entries %}
        <li class="ui-state-default" id="entry_{{ entry.id }}">
            <span class="ui-icon ui-icon-arrowthick-2-n-s"></span><a href="/kompomaatti/entry/{{ entry.id }}/">{{ entry.name }}</a> by {{ entry.creator }}
        </li>
{% endfor %}
    </ul>
    <p>
        <div id="savebutton"></div>
    </p>
{% else %}
    {% if compo.show_voting_results %}
    <p>Äänestystulokset:</p>
    <ol>
    {% for entry in entries %}
        {% if entry.disqualified %}
        <li><a href="/kompomaatti/entry/{{ entry.id }}/">{{ entry.name }}</a> by {{ entry.creator }}. Diskattu!</li>
        {% else %}
        <li><a href="/kompomaatti/entry/{{ entry.id }}/">{{ entry.name }}</a> by {{ entry.creator }}. Pisteet: {{ entry.score }}</li>
        {% endif %}
    {% endfor %}
    </ol>
    {% else %}
    <p>Teokset aakkosjärjestyksessä:</p>
    <ul>
    {% for entry in entries %}
        <li><a href="/kompomaatti/entry/{{ entry.id }}/">{{ entry.name }}</a> by {{ entry.creator }}.{% if entry.disqualified %} Diskattu!{% endif %}</li>
    {% endfor %}
    </ul>
    {% endif %}
{% endif %}
{% else %}
    <p>Kompossa ei ole vielä osallistujia!</p>
{% endif %}
{% endblock %}