{% extends "kompomaatti/event_base.html" %}

{% block title %}{{ block.super }} - Kompot{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'km:compos' sel_event_id %}">Kompot</a></li>
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Kompot</h2>

{% if compos %}
{% for compo in compos %}
    <h3>{{ compo.name }}</h3>
    <table class="info">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Ilmoittautuminen päättyy:</th>
                <th>Kompo alkaa:</th>
                <th>Äänestysaika:</th>
            </tr>
        </thead>
        <tbody>
            <th>Tila/Aika:</th>
            <td>{{ compo.adding_time }}</td>
            <td>{{ compo.compo_time }}</td>
            <td>{{ compo.voting_time }}</td>
        </tbody>
    </table>
    <p><a href="{% url 'km:compo' sel_event_id compo.id %}">Siirry tarkastelemaan kompon tarkempia tietoja &raquo;</a></p>
{% endfor %}
{% else %}
    <p>Ei kompoja.</p>
{% endif %}
{% endblock %}