{% extends "kompomaatti/base.html" %}

{% block title %} - {{ compo.name }} - Äänestä{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
    $("#from_list").sortable({
        connectWith: ".connected",
        update:  function (event, ui) {
            $("#from_list").find(".vote-rank").html("");
            $("#from_list").find(".vote-score").html("");
        }
    });
    $("#to_list").sortable({
        connectWith: ".connected",
        update:  function(event, ui) {
            $("#to_list").children('li').each(function(index) {
                index = index + 1.0
                rank = $(this).find('.vote-rank');
                score = $(this).find('.vote-score');
                rank.html(index+'.');
                score.html(Math.round((1.0/index)*100)/100+'p')
            });
        }
    });
{% endblock %}

{% block crumbs %}
{{ block.super }}
	&raquo; <a href="{% url 'kompomaatti-compo' sel_event_id compo.id %}">{{ compo.name }}</a>
	&raquo; Äänestä
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Äänestä</h2>
<p>
    Raahaa entryjä (vähintään yksi) paremmuusjärjestykseen oikeanpuoleiseen paneeliin.
    Voit raahata useamman kuin kolme, mikäli tuntuu että muut ansaitsevat pisteitä :)
</p>
<div class="vote-widget">
    <ul id="from_list" class="vote-list connected">
{% for entry in nvoted_entries %}
        <li>
            <span class="vote-entry">
                <a href="{% url 'kompomaatti-entry' sel_event_id compo.id entry.id  %}">{{ entry.name }}</a><br />
                <span class="vote-entry-desc">by {{ entry.creator }}</span>
            </span>
            <div class="vote-right">
                <span class="vote-rank"></span>
                <span class="vote-score"></span>
            </div>
        </li>
{% endfor %}
    </ul>
    <ul id="to_list" class="vote-list connected">
{% for entry in voted_entries %}
        <li>
            <span class="vote-entry">
                <a href="{% url 'kompomaatti-entry' sel_event_id compo.id entry.id  %}">{{ entry.name }}</a><br />
                <span class="vote-entry-desc">by {{ entry.creator }}</span>
            </span>
            <div class="vote-right">
                <span class="vote-rank"></span>
                <span class="vote-score"></span>
            </div>
        </li>
{% endfor %}
    </ul>
</div>

{% endblock %}