{% extends "kompomaatti/base.html" %}
{% load idx %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Kompot</h2>
{% if compolist %}
{% for compo in compolist %}
<div class="compo">
    <h3>{{ compo.name }}</h3>
    <table class="compo_details">
        <tr>
            <th>Deadline entryjen lisäämiselle</th>
            <td>{{ compo.adding_time }}</td>
        </tr>
        <tr>
            <th>Deadline entryjen muokkaamiselle</th>
            <td>{{ compo.editing_time }}</td>
        </tr>
        <tr>
            <th>Kompo alkaa</th>
            <td>{{ compo.compo_time }}</td>
        </tr>
        <tr>
            <th>Äänestysaika</th>
            <td>{{ compo.voting_time }}</td>
        </tr>
    </table>
    <p>
        <a href="/kompomaatti/compo/{{ compo.id }}/">Siirry lisätietoihin &amp; äänestämään &raquo;</a>
    </p>
    <ul>
{% for entry in entries|idx:compo.id %}
        <li><a href="/kompomaatti/entry/{{ entry.id }}/">{{ entry.name }}</a> by {{ entry.creator }}</li>
{% endfor %}
    </ul>
</div>
{% endfor %}
{% else %}
<p>Ei kompoja!</p>
{% endif %}
{% endblock %}