{% extends "kompomaatti/base.html" %}
{% load uni_form_tags %}
{% load static %}

{% block title %} - {{ compo.name }} - {{ entry.name }} - Tiedot{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    &raquo; <a href="{% url 'kompomaatti-compo' sel_event_id compo.id %}">{{ compo.name }}</a>
	&raquo; <a href="{% url 'kompomaatti-entry' sel_event_id compo.id entry.id %}">{{ entry.name }}</a>
	&raquo; Tiedot
{% endblock %}

{% block content %}
{{ block.super }}
<h2>{{ entry.name }}</h2>
{% endblock %}