{% extends "kompomaatti/event_base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - {{ compo.name }} - {{ entry.name }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'km:compos' sel_event_id %}">Kompot</a></li>
    <li><a href="{% url 'km:compo' sel_event_id compo.id %}">{{ compo.name }}</a></li>
    <li><a href="{% url 'km:entry-edit' sel_event_id compo.id entry.id %}">{{ entry.name }}</a></li>
{% endblock %}

{% block content %}
{{ block.super }}
<h2>{{ entry.name }}</h2>

{% crispy entryform entryform.helper %}
{% endblock %}