{% extends "kompomaatti/base.html" %}

{% block head %}
{{ block.super }}
{% if entry.compo.entry_view_type == 3 %}
    <link rel="stylesheet" type="text/css" href="/static/libs/css/jplayer-2.1.0/pink.flag/jplayer.pink.flag.css" />
    <script type="text/javascript" src="/static/libs/js/jplayer-2.1.0/jquery.jplayer.min.js"></script>
{% endif %}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% if show.jplayer %}
    $("#mplayer").jPlayer({
        ready: function () {
            $(this).jPlayer("setMedia", {
                {{ entry.get_entry_jplayer_ext }}: "{{ entry.entryfile.url }}"
            });
        },
        swfPath: "/static/libs/js/jplayer-2.1.0/Jplayer.swf",
        supplied: "{{ entry.get_entry_jplayer_ext }}",
        wmode: "window"
    });
{% endif %}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Entry: {{ entry.name }} by {{ entry.creator }}</h2>
<h3>Tiedot</h3>
{% if show.youtube %}{% include "kompomaatti/entryviews/youtube.html" %}{% endif %}
{% if show.jplayer %}{% include "kompomaatti/entryviews/jplayer.html" %}{% endif %}
{% if show.image   %}{% include "kompomaatti/entryviews/image.html"   %}{% endif %}
{% if entry.description %}
<h3>Kuvaus</h3>
<p>
    {{ entry.description|linebreaks }}
</p>
{% endif %}
{% if entry.disqualified %}
<h3>Tuotos on diskattu!</h3>
<p>
    {{ entry.disqualified_reason|linebreaks }}
</p>
{% endif %}
<p>
    <a href="{{ entry.entryfile.url }}">Lataa teos &raquo;</a>
</p>
{% endblock %}