{% extends "kompomaatti/base.html" %}

{% block head %}
{{ block.super }}
{% if entry.compo.entry_view_type == 3 %}
    <link rel="stylesheet" type="text/css" href="/static/libs/css/jplayer-2.1.0/pink.flag/jplayer.pink.flag.css" />
    <script type="text/javascript" src="/static/libs/js/jplayer-2.1.0/jquery.jplayer.min.js"></script>
{% endif %}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% if show.jplayer %}
    $("#mplayer").jPlayer({
        ready: function () {
            $(this).jPlayer("setMedia", {
                {{ entry.get_entry_jplayer_ext }}: "{{ entry.entryfile.url }}"
            });
        },
        swfPath: "/static/libs/js/jplayer-2.1.0/Jplayer.swf",
        supplied: "{{ entry.get_entry_jplayer_ext }}",
        wmode: "window"
    });
{% endif %}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Entry: {{ entry.name }} by {{ entry.creator }}</h2>

{% if not show.jplayer %}
<h3>Esikatselu</h3>
{% endif %}
{% if show.youtube %}{% include "kompomaatti/entryviews/youtube.html" %}{% endif %}
{% if show.image   %}{% include "kompomaatti/entryviews/image.html"   %}{% endif %}

<h3>Tiedot</h3>
<table class="generic_info_table">
    <tr>
        <th>Nimi</th>
        <td>{{ entry.name }}</td>
        <td rowspan="{% if entry.disqualified %}5{% else %}4{% endif %}">
            {% if show.jplayer %}{% include "kompomaatti/entryviews/jplayer.html" %}{% endif %}
        </td>
    </tr>
    <tr>
        <th>Tekijä</th>
        <td>{{ entry.creator }}</td>
    </tr>
    <tr>
        <th>Kuvaus</th>
        <td>{% if entry.description %}{{ entry.description|linebreaksbr }}{% else %}Ei kuvausta.{% endif %}</td>
    </tr>
{% if entry.disqualified %}
    <tr>
        <th>Diskaus!</th>
        <td>
            <strong>Huom! Tuotos on diskattu seuraavasta syystä:</strong><br />
            {{ entry.disqualified_reason|linebreaksbr }}
        </td>
    </tr
{% endif %}
    <tr>
        <th>Lataa</th>
        <td><a href="{{ entry.entryfile.url }}">Lataa teos &raquo;</a></td>
    </tr>
</table>

</p>
{% endblock %}