{% extends "kompomaatti/base.html" %}
{% load static %}

{% block title %}{{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
        $('#submit_button').css('display', 'none');
        $('#event_select').change(function() {
            window.location.replace("/kompomaatti/"+$('#event_select').val()+'/');
        });
{% endblock %}

{% block headernav %}
{{ block.super }}
            <li class="menuitem">
                <a href="{% url 'km:eventselect' %}">Tapahtumat</a>
            </li>
{% endblock %}

{% block crumbs %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Tapahtuman valinta</h2>
    <p>Valitse tapahtuma.</p>
    <form id="mform" method="POST" action="">
        <select id="event_select" name="eventsel">
            <option value="-1">---</option>
    {% for event in events %}
            <option value="{{ event.id }}">{{ event.name }}</option>
    {% endfor %}
        </select>
        {% csrf_token %}
        <input type="submit" id="submit_button" value="Valitse" />
    </form>
{% endblock %}