{% extends "kompomaatti/base.html" %}
{% load static kompomaatti_base_tags %}

{% block title %} - {% event_name sel_event_id %}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block headernav %}
{{ block.super }}
            <li class="menuitem">
                <a href="{% url 'km:index' sel_event_id %}">{% event_name sel_event_id %}</a>
            </li>
            <li class="menuitem">
                <a href="{% url 'km:compos' sel_event_id %}">Kompot ({% render_base_compos_count sel_event_id %})<span class="navmenu-icon-down"></span></a>
                <ul class="sub-level">
{% render_base_compos_nav sel_event_id  %}
                </ul>
            </li>
            <li class="menuitem">
                <a href="{% url 'km:competitions' sel_event_id %}">Kilpailut ({% render_base_competitions_count sel_event_id %})<span class="navmenu-icon-down"></span></a>
                <ul class="sub-level">
{% render_base_competitions_nav sel_event_id  %}
                </ul>
            </li>
        </ul>
        <ul id="header_nav_right">
{% if user.is_authenticated %}
            <li class="menuitem">
                <a href="{% url 'km:profile' sel_event_id %}">{% if user.email %}{{ user.email }}{% else %}Profiili{% endif %}</a>
            </li>
{% endif %}
            <li class="menuitem">
{% if user.is_authenticated %}
                <a href="{% url 'km:logout' sel_event_id %}">Kirjaudu ulos</a>
{% else %}
                <a href="{% url 'km:login' sel_event_id %}">Kirjaudu sisään</a>
{% endif %}
            </li>
{% endblock %}

{% block crumbs %}
{{ block.super }}
    &raquo; <a href="{% url 'km:index' sel_event_id %}">{% event_name sel_event_id %}</a>
{% endblock %}

{% block content %}
{{ block.super }}
{% endblock %}