{% extends "kompomaatti/base.html" %}
{% load static %}

{% block title %}{{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block headernav %}
{{ block.super }}
        <ul id="header_nav_left">
            <li class="menuitem">
                <a href="{% url 'km:eventselect' %}">Tapahtumat</a>
            </li>
        </ul>
{% endblock %}

{% block crumbs %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Tapahtumat</h2>
<p>
    Kompomaatissa ei ole tapahtumia!
</p>
{% endblock %}