{% extends "kompomaatti/base.html" %}
{% load static kompomaatti_base_tags %}

{% block title %}{{ block.super }} - {% event_name sel_event_id %}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block headernav %}
{{ block.super }}
        <ul id="header_nav_left">
            <li class="menuitem">
                <a href="{% url 'km:index' sel_event_id %}">{% event_name sel_event_id %}</a>
            </li>
            <li class="menuitem">
                <a href="{% url 'km:compos' sel_event_id %}">Kompot ({% render_base_compos_count sel_event_id %})<span class="navmenu-icon-down"></span></a>
                <ul class="sub-level">
{% render_base_compos_nav sel_event_id  %}
                </ul>
            </li>
            <li class="menuitem">
                <a href="{% url 'km:competitions' sel_event_id %}">Kilpailut ({% render_base_competitions_count sel_event_id %})<span class="navmenu-icon-down"></span></a>
                <ul class="sub-level">
{% render_base_competitions_nav sel_event_id  %}
                </ul>
            </li>
            <li class="menuitem">
                <a href="{% url 'km:votecode' sel_event_id %}">Äänestyskoodi</a>
            </li>
        </ul>
{% endblock %}
        
{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'km:index' sel_event_id %}">{% event_name sel_event_id %}</a></li>
{% endblock %}

{% block content %}
{{ block.super }}
{% endblock %}