{% extends "kompomaatti/base.html" %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Apua</h2>
<h3>Kompomaatti, mitähäh ?</h3>
<p>
    Kompomaatti on Instanssi-tapahtuman virallinen kompoentryjen hallinta- ja äänestysjärjestelmä.
    Kirjautumalla käyttäjäksi voit osallistua Instanssien kompoihin omilla teoksillasi. Kirjautuminen
    tapahtuu Googlen ja Korpin OpenID-palvelun kautta, joten tarvitset tunnukset jompaan kumpaan palveluun.
</p>

<h3>Äänestys</h3>
<p>
    Kompomaatti toimii myös äänestysjärjestelmänä. Äänestystä varten tarvitset ovella sinulle
    jaetun äänestyskoodin. Voit myös hakea äänestysoikeutta Omat tiedot-sivulta löytyvällä 
    "Pyydä äänestysoikeutta"-lomakkeella (Mikäli osallistut kompoihin esimerkiksi etänä). Varsinainen 
    äänestäminen tapahtuu liikuttamalla teoksia kuvaavat palkit haluttuun järjestykseen 
    (paras päällimmäiseksi).
</p>

<h3>Kompoihin osallistuminen</h3>
<p>
    Kompoihin osallistutaan Omat tiedot-sivun kautta. Sivulla luetellaan auki olevat kompot, joihin voit
    sivun lataushetkellä osallallistua. Entryjä voi vielä osallistumisajan päättymisen jälkeen muokata 
    määriteltyyn deadlineen asti.
</p>
<p>
    Kaikki teokset johon kuuluu useampia tiedostoja kuin yksi, ovat oltava paketoituna jollakin yleisellä
    pakkausmenetelmällä. Osallistumislomake ilmoittaa hyväksytyt tiedostoformaatit ja -koot. Osallistuttaessa
    on mahdollista myös lisätä teokselle lähdekoodipaketti sekä kuvankaappaus teoksesta. Kuvankaappausta
    käytetään mahdollisesti myöhemmin teosta arkistoitaessa, ja se toimii hyvänä muistutuksena teoksen sisällöstä
    äänestysvaiheessa. Lähdekoodipaketti voi pitää sisällään teoksen lähdekoodit ja dokumentaation, mikäli 
    nämä halutaan jakaa. 
</p>

<h3>Muuta</h3>
<p>
    Mikäli ilmenee muita ongelmia, voi webmasteriin ottaa yhteyttä joko IRCNetissä möläyttämällä nickille Katajakasa
    (myös muut järjestäjät kanavalla #instanssi osannevat auttaa), tai lähettämällä sähköpostia osoitteeseen
    katajakasa_ät_gmail.com. Toimivuusongelmista kannattaa raportoida heti :)
</p>
{% endblock %}