{% extends "kompomaatti/event_base.html" %}
{% load kompomaatti_base_tags %}

{% block title %}{{ block.super }} - Etusivu{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Etusivu</li>
{% endblock %}

{% block content %}
{{ block.super }}
<h2>{% event_name sel_event_id %}</h2>
<p>
    Tervetuloa Kompomaattiin, Instanssien viralliseen entryjenhallinta- ja äänestyspalveluun!
</p>

{% if not votecode_associated %}
<h3>Äänestäminen</h3>
<div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
    <p>
        <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
        <strong>HUOM!</strong> Äänestysoikeutta varten on määriteltävä äänestyskoodi <a href="{% url 'km:votecode' sel_event_id %}">äänestyskoodisivulla</a>.
    </p>
</div>

{% endif %}

<h3>Tulevat tapahtumat</h3>
{% if events %}
<table>
    <thead>
        <tr>
            <th style="width: 20%;">Aika</th>
            <th>Kuvaus</th>
        </tr>
    </thead>
    <tbody>
{% for event in events %}
        <tr>
            <td>{{ event.formatted_time }}</td>
            <td>{{ event.title }}{% if event.url %} <span style="font-size: 10px;">(<a href="{{ event.url }}">Lisätiedot &raquo;</a>){% endif %}</span></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>Ei tapahtumia.</p>
{% endif %}
{% endblock %}