{% extends "kompomaatti/base.html" %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Etusivu</h2>
<h3>Tervetuloa!</h3>
<p>
    Tervetuloa Kompomaattiin, Instanssien viralliseen entryjenhallinta- ja äänestyspalveluun!
</p>
{% if not associated %}
<p>
    <strong>Et ole rekisteröitynyt äänestäjäksi.</strong> Käyhän rekisteröitymässä <a href="/kompomaatti/myentries/">Omat tiedot-sivulla</a>.
</p>
{% endif %}

<h3>Tulossa</h3>
{% if events %}
{% for event in events %}
<p>
    <strong>{{ event.compo_start|date:"d.m.Y \k\l\o\. H:i" }}</strong>: {{ event.name }} <a href="/kompomaatti/compo/{{ event.id }}/">Lisätietoja &raquo;</a>
</p>
{% endfor %}
{% else %}
<p>Ei tapahtumia.</p>
{% endif %}

<div class="push"></div>
{% endblock %}