{% extends "kompomaatti/base.html" %}
{% load uni_form_tags %}
{% load editableentry %}

{% block head %}
{{ block.super }}
	<link rel="stylesheet" href="/static/libs/css/tablesorter/style.css" />
	<script type="text/javascript" src="/static/libs/js/tablesorter/jquery.tablesorter.min.js"></script>
	<script type="text/javascript" src="/static/libs/js/tablesorter/jquery.tablesorter.pager.js"></script>
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('form.uniForm').uniform();
    $('.deleteicon').button({ icons: {primary: 'ui-icon-trash'}, text: false });
    $('.editicon').button({ icons: {primary: 'ui-icon-pencil'}, text: false });
    $('.icon').css('width','20px');
    $('.icon').css('height','20px');
    $('.deleteicon').click(function() {
        return confirm('Oletko varma että haluat poistaa tuotoksen ? Huomaa, että mikäli lisäysaika on päättynyt, et voi enää lisätä uutta tuotosta!');
    });
    
    $("#compos_table").tablesorter({widgets: ['zebra']});
    $("#entries_table").tablesorter({widgets: ['zebra']});
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Dashboard</h2>

<h3>Omat tiedot</h3>
<p>
	Seuraavat tiedot on saatu käyttämältäsi OpenID-kirjautumispalvelimelta, ja tallennettu kompomaatin 
	kirjautumisjärjestelmään.
</p>
<table class="generic_info_table">
	<tr>
		<th>Etunimi</th>
		<td>{{ user.first_name }}</td>
	</tr>
	<tr>
		<th>Sukunimi</th>
		<td>{{ user.last_name }}</td>
	</tr>
	<tr>
		<th>Sähköposti</th>
		<td>{{ user.email }}</td>
	</tr>
</table>

<h3>Äänestysavain</h3>
{% if associated %}
<p>Sinulle on assosoitu äänestysavain <strong>{{ votecode.key }}</strong>! Voit äänestää.</p>
{% else %}
    <p>
        Seuraavia kenttiä käytetään äänestysoikeuden hankkimiseen. Jos sait äänestyskoodin lippusi kanssa,
        syötä se ylempään lomakkeeseen. Jos olet hukannut koodin, et sellaista saanut tai olet yhteydessä muualta,
        voit pyytää äänestysoikeutta alemmalla lomakkeella. Mikäli pyydät äänestysoikeutta, saattaa sen saamisessa 
        kestää hetki.
    </p>
	{% uni_form assocform assocform.helper %}
	{% uni_form requestform requestform.helper %}
{% endif %}

<h3>Ladatut tuotokset</h3>
{% if myentries %}
<table id="entries_table" class="tablesorter">
    <thead>
        <tr>
            <th>Kompo</th>
            <th>Nimi</th>
            <th>Kuvaus</th>
            <th>Tekijä</th>
            <th>Tiedosto</th>
            <th>Kuva</th>
            <th>Lähdekoodi</th>
            <th>Hallinta</th>
        </tr>
    </thead>
    <tbody>
{% for entry in myentries %}
        <tr>
            <td>{{ entry.compo }}</td>
            <td>{{ entry.name }}</td>
            <td>{{ entry.description }}</td>
            <td>{{ entry.creator }}</td>
            <td><a href="{{ entry.entryfile.url }}">Lataa</a></td>
            <td>{% if entry.imagefile_original %}<a href="{{ entry.imagefile_original.url }}">Kuva</a>{% endif %}</td>
            <td>{% if entry.sourcefile %}<a href="{{ entry.sourcefile.url }}">Lähdekoodi</a>{% endif %}</td>
            <td>
{% if entry|is_editable %}
                <a class="icon editicon" href="/kompomaatti/myentries/edit/{{ entry.id }}/">Muokkaa</a>
                <a class="icon deleteicon" href="/kompomaatti/myentries/del/{{ entry.id }}/">Poista</a>
{% endif %}
            </td>
        </tr>
{% endfor %}
{% else %}
    <p>Ei ladattuja tuotoksia</p>
{% endif %}
    </tbody>
</table>

<h3>Avoimet kompot</h3>
<p>
    Tuotoksia voi lisätä vain kompon lisäämisdeadlineen asti. Kompoissa saattaa olla erillinen muokkausdeadline, jolloin
    kompo vielä hyväksyy muokkaukset ja poistot tuotoksiin. Muokkausdeadlinen jälkeen tuotos on ja pysyy, eikä sitä
    voi enää muokata. Kannattaa siis paketoida tuotos hyvissä ajoin huolellisesti!
</p>
{% if opencompos %}
<table id="compos_table" class="tablesorter">
    <thead>
        <tr>
            <th>Kompo</th>
            <th>Deadline lisäyksille</th>
            <th>Deadline muokkauksille</th>
            <th>Lisätietoja</th>
            <th>Lisää uusi entry!</th>
        </tr>
    </thead>
    <tbody>
{% for compo in opencompos %}
        <tr>
            <td>{{ compo.name }}</td>
            <td>{{ compo.adding_time }}</td>
            <td>{{ compo.editing_time }}</td>
            <td><a href="/kompomaatti/compo/{{ compo.id }}/">Lisätietoja</a></td>
            <td><a href="/kompomaatti/myentries/add/{{ compo.id }}/">Lisää uusi entry!</a></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>Ei avoimia kompoja.</p>
{% endif %}
{% endblock %}