{% extends "kompomaatti/base.html" %}
{% load uni_form_tags %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('form.uniForm').uniform();
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Omat Tuotokset</h2>

<h3>Ladatut tuotokset</h3>
{% if myentries %}
<table class="generic_table">
    <thead>
        <tr>
            <th>Kompo</th>
            <th>Nimi</th>
            <th>Kuvaus</th>
            <th>Tekijä</th>
            <th>Tiedosto</th>
            <th>Kuva</th>
        </tr>
    </thead>
    <tbody>
{% for entry in myentries %}
        <tr>
            <td>{{ entry.compo }}</td>
            <td>{{ entry.name }}</td>
            <td>{{ entry.description }}</td>
            <td>{{ entry.creator }}</td>
            <td><a href="{{ entry.entryfile.url }}">Lataa</a></td>
            <td>{% if entry.imagefile_original %}<a href="{{ entry.imagefile_original.url }}">Kuva</a>{% endif %}</td>
        </tr>
{% endfor %}
{% else %}
    <p>Ei ladattuja tuotoksia</p>
{% endif %}
    </tbody>
</table>

<h3>Lataa uusi tuotos</h3>
{% uni_form addform addform.helper %}
{% endblock %}