{% extends "kompomaatti/event_base.html" %}
{% load crispy_forms_tags static %}

{% block title %}{{ block.super }} - Äänestyskoodi{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
    function handle_ticket_votecode_change() {
        var f = $('#ticketvotecode');
        var e = f.next();
        $('#submit-id-submit-ticketvcassoc').attr("disabled", true);
        if(f.val().length >= 8) {
            var get_url = '/kompomaatti/{{ sel_event_id }}/validate_votecode_api/' + f.val() + '/';
            $.get(get_url, function(data) {
                if(data['code'] == 200) {
                    e.html('<span class="ui-state-highlight ui-corner-all votecode-error">\
                                <p>\
                                    <span class="ui-icon ui-icon-check"></span>\
                                    Lippuavain löydetty. Paina "Hae äänestysoikeus" jatkaaksesi.\
                                </p>\
                            </span>');
                    $('#submit-id-submit-ticketvcassoc').attr("disabled", false);
                } else {
                    e.html('<span class="ui-state-error ui-corner-all votecode-error">\
                                <p>\
                                    <span class="ui-icon ui-icon-notice"></span>\
                                    ' + data['errortext'] + '\
                                </p>\
                            </span>');
                    $('#submit-id-submit-ticketvcassoc').attr("disabled", true);
                }
            });
        } else if(f.val().length > 0) {
            console.log("waiting for more text");
            e.html("Syötä vielä " + (8 - f.val().length) + '  merkkiä.');
        } else {
            e.html("Syötä vähintään ensimmäiset kahdeksan (8) merkkiä lippukoodistasi tähän.");
        }
    }
    $('#ticketvotecode').change(handle_ticket_votecode_change);
    $('#ticketvotecode').keyup(handle_ticket_votecode_change);
    handle_ticket_votecode_change();
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'km:votecode' sel_event_id %}">Äänestyskoodi</a></li>
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Äänestyskoodi</h2>

{% if can_vote %}
    <p>Sinulla on oikeus äänestää.</p>
    {% if votecode_type == 'ticket' %}
        <p>Käyttäjätiliisi on liitetty lippuavain <strong>{{ reserved_code|truncatechars:8 }}</strong></p>
    {% elif votecode_type == 'votecode' %}
        <p>Käyttöösi on varattu äänestystunnus <strong>{{ reserved_code }}</strong>.</p>
    {% endif %}
{% else %}
    <p>
        Sinulle ei vielä ole oikeutta äänestää. Voit hankkia äänestysoikeuden syöttämällä äänestykseen oikeuttavan
        pääsylippukoodin, tai pyytää äänioikeutta suoraan tapahtuman järjestäjiltä.
    </p>

    <h3>Pyydä äänestysoikeutta lippukoodilla</h3>
    <p>Syötä allaolevaan kenttään vähintään 8 ensimmäistä merkkiä pääsylippusi avainkoodista.</p>
    <p>
        <img id="ticketcode_pic" src="{% static "kompomaatti/img/lippukoodi_kuvaus.png" %}" />
    </p>
    {% crispy ticket_votecode_form ticket_votecode_form.helper %}

    {% comment %}
    <h3>Pyydä äänestysoikeutta erillisellä äänestyskoodilla</h3>
    {% crispy votecodeassocform votecodeassocform.helper %}
    {% endcomment %}

    <h3>Pyydä äänestysoikeutta suoraan</h3>
    {% if request_made %}
    <p>
    <div class="ui-state-highlight ui-corner-all" style="padding: .7em;">
        <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
        <strong>HUOM!</strong> Olet jo pyytänyt äänestysoikeutta, odota rauhassa ...
    </div>
    </p>
    {% else %}
    {% crispy votecoderequestform votecoderequestform.helper %}
    {% endif %}
{% endif %}
{% endblock %}