{% extends "kompomaatti/event_base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - Äänestyskoodi{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'km:votecode' sel_event_id %}">Äänestyskoodi</a></li>
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Äänestyskoodi</h2>

{% if can_vote %}
    <p>Sinulla on oikeus äänestää.</p>
    {% if votecode_type == 'ticket' %}
        <p>Käyttäjätiliisi on liitetty lippuavain <strong>{{ reserved_code|truncatechars:8 }}</strong></p>
    {% elif votecode_type == 'votecode' %}
        <p>Käyttöösi on varattu äänestystunnus <strong>{{ reserved_code }}</strong>.</p>
    {% endif %}
{% else %}
    <p>
        Sinulle ei vielä ole oikeutta äänestää. Voit joko syöttää äänestykseen oikeuttavan lippukoodin,
        erillisen koodin, tai pyytää äänioikeutta suoraan tapahtuman järjestäjiltä.
    </p>

    <h3>Pyydä äänestysoikeutta lippukoodilla</h3>
    {% crispy ticket_votecode_form ticket_votecode_form.helper %}

    <h3>Pyydä äänestysoikeutta erillisellä äänestyskoodilla</h3>
    {% crispy votecodeassocform votecodeassocform.helper %}

    <h3>Pyydä äänestysoikeutta suoraan</h3>
    {% if request_made %}
    <p>
    <div class="ui-state-highlight ui-corner-all" style="padding: .7em;">
        <span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span>
        <strong>HUOM!</strong> Olet jo pyytänyt äänestysoikeutta, odota rauhassa ...
    </div>
    </p>
    {% else %}
    {% crispy votecoderequestform votecoderequestform.helper %}
    {% endif %}
{% endif %}
{% endblock %}