{% extends "admin_store/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} - Vie{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'manage-store:export' %}">Vie</a></li>
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Vie</h2>

<h3>Vie ostotapahtumat CSV-tiedostona</h3>
{% crispy form form.helper %}

{% endblock %}
