{% extends "admin_store/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} - Tuotteet - Muokkaa{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('#id_description').summernote({height: 250, lang: 'fi-FI'});
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'manage-store:items' %}">Tuotteet</a></li>
    <li>Muokkaa</li>
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Muokkaa tuotetta</h2>
<form method="post" action="" enctype="multipart/form-data">
    <fieldset>
        <legend>Lisää tuote</legend>
        {% crispy item_form item_form.helper %}
        {% crispy variant_formset variant_formset.form.helper %}
        <div class="buttonHolder">
            <input type="submit" name="submit" value="Tallenna" class="btn btn-primary" id="submit-id-submit">
        </div>
    </fieldset>
</form>
{% endblock %}
