{% extends "admin_store/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} - Tuotteet{% endblock %}

{% block head %}
{{ block.super }}
    <script type="text/javascript" src="{% static "libs/js/wymeditor/jquery.wymeditor.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'libs/fancybox/jquery.fancybox.css' %}" />
    <script type="text/javascript" src="{% static 'libs/fancybox/jquery.fancybox.pack.js' %}"></script>
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('#id_description').wymeditor({
        containersItems: [
            {'name': 'P', 'title': 'Paragraph', 'css': 'wym_containers_p'},
            {'name': 'PRE', 'title': 'Preformatted', 'css': 'wym_containers_pre'},
            {'name': 'BLOCKQUOTE', 'title': 'Blockquote', 'css': 'wym_containers_blockquote'},
            {'name': 'TH', 'title': 'Table_Header', 'css': 'wym_containers_th'}
        ],
        skin: 'silver',
        lang: '{{ SHORT_LANGUAGE_CODE }}'
    });
    $('#submit-id-submit').addClass('wymupdate');

    $(".fancybox").fancybox();

    $("#items_table").tablesorter({widgets: ['zebra'], sortList: [[0,1],]}).tablesorterPager({container: $("#items_pager")});
    $(".delete_link").click(function(){
        return confirm("Haluatko varmasti poistaa tuotteen ?"); 
    });
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'manage-store:items' %}">Tuotteet</a></li>
    <li>Selaa</li>
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Tuotteet</h2>
{% if items %}
    <table id="items_table" class="tablesorter">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nimi</th>
                <th>Tapahtuma</th>
                <th>Hinta</th>
                <th>Saatavilla</th>
                <th>Ostettu</th>
                <th>Maksimi per tilaus</th>
                <th>Ostettavissa</th>
                <th class="sorter-false">&nbsp;</th>
                <th class="sorter-false management_field"></th>
            </tr>
        </thead>
        <tbody>
{% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.event.name }}</td>
                <td>{{ item.price }} &euro;</td>
                <td>{{ item.max }}</td>
                <td>{{ item.num_sold }}</td>
                <td>{{ item.max_per_order }}</td>
                <td>{% if item.available %}Kyllä{% else %}Ei{% endif %}</td>
                <td style="width: 34px; background-color: white;">
                    {% if item.imagefile_original %}
                    <a class="fancybox" href="{{ item.imagefile_original.url }}">
                        <img src="{{ item.imagefile_thumbnail.url }}" width="32" height="32" alt="Tuotekuva" />
                    </a>
                    {% endif %}
                </td>
                <td>
{% if perms.store.change_storeitem %}
                    <a href="{% url 'manage-store:edit_item' item.id %}" class="edit_link">Muokkaa</a>
{% endif %}
{% if perms.store.delete_storeitem and item.sold == 0 %}
                    <a href="{% url 'manage-store:delete_item' item.id%}" class="delete_link">Poista</a>
{% endif %}
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    <div id="items_pager" class="pager">
        {% include "common/pagination.html" %}
    </div>
{% else %}
    <p>Ei tuotteita!</p>
{% endif %}

{% if perms.store.add_storeitem %}
{% crispy addform addform.helper %}
{% endif %}
{% endblock %}
