{% extends "admin_store/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} - Tuotteet - Muokkaa{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
        &raquo; <a href="{% url 'manage-store:items' %}">Tuotteet</a>
        &raquo; Muokkaa
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Muokkaa tuotetta</h2>
{% crispy editform editform.helper %}
{% endblock %}