{% extends "admin_store/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} - Tuotteet{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('#id_description').summernote({height: 250, lang: 'fi-FI'});
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'manage-store:items' %}">Tuotteet</a></li>
    <li>Selaa</li>
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Tuotteet</h2>
{% if items %}
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>ID</th>
                <th>Järjestys</th>
                <th>Nimi</th>
                <th>Tapahtuma</th>
                <th>Hinta</th>
                <th>Saatavilla</th>
                <th>Ostettu</th>
                <th>Maksimi per tilaus</th>
                <th>Ostettavissa</th>
                <th></th>
                {% if perms.store.change_storeitem %}<th></th>{% endif %}
                {% if perms.store.delete_storeitem %}<th></th>{% endif %}
            </tr>
        </thead>
        <tbody>
{% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.sort_index }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.event.name }}</td>
                <td>{{ item.price }} &euro;</td>
                <td>{{ item.max }}</td>
                <td>{{ item.num_sold }}</td>
                <td>{{ item.max_per_order }}</td>
                <td>{% if item.available %}Kyllä{% else %}Ei{% endif %}</td>
                <td>
                    {% if item.image_available %}
                    <a data-toggle="lightbox" data-title="{{ item.name }}" data-type="image" href="{{ item.imagefile_original.url }}">
                        <img src="{{ item.imagefile_thumbnail.url }}" width="32" height="32" alt="Tuotekuva" class="img-fluid" />
                    </a>
                    {% endif %}
                </td>
{% if perms.store.change_storeitem %}
                <td>
                    <a href="{% url 'manage-store:edit_item' item.id %}"  class="edit_link btn btn-primary btn-xs" role="button">
                        <span class="edit_link fa fa-pencil"></span>
                    </a>
                </td>
{% endif %}
{% if perms.store.delete_storeitem %}
                <td>
                    {% if item.sold == 0 %}
                    <a href="{% url 'manage-store:delete_item' item.id %}"  class="delete_link btn btn-danger btn-xs" role="button">
                        <span class="edit_link fa fa-trash"></span>
                    </a>
                    {% endif %}
                </td>
{% endif %}
            </tr>
{% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Ei tuotteita!</p>
{% endif %}

{% if perms.store.add_storeitem %}
    <form method="post" action="" enctype="multipart/form-data">
        <fieldset>
            <legend>Lisää tuote</legend>
            {% crispy item_form item_form.helper %}
            {% crispy variant_formset variant_formset.form.helper %}
            <div class="buttonHolder">
                <input type="submit" name="submit" value="Tallenna" class="btn btn-primary" id="submit-id-submit">
            </div>
        </fieldset>
    </form>
{% endif %}
{% endblock %}
