{% extends "admin_store/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} - Ostotapahtumat{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
    $("#transactions_table").tablesorter({widgets: ['zebra'], sortList: [[0,1],]}).tablesorterPager({container: $("#transactions_pager")});
{% endblock %}

{% block crumbs %}
{{ block.super }}
        &raquo; <a href="{% url 'manage-store:status' %}">Ostotapahtumat</a>
        &raquo; Selaa
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Ostotapahtumat</h2>
{% if transactions %}
    <table id="transactions_table" class="tablesorter">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nimi</th>
                <th>Sähköposti</th>
                <th>Tilattu</th>
                <th>Maksettu</th>
                <th>Peruutettu</th>
                <th>Tila</th>
                <th>Yhteensä</th>
                <th class="sorter-false">Lisätiedot</th>
            </tr>
        </thead>
        <tbody>
{% for item in transactions %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.firstname }} {{ item.lastname }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.time_created|date:"d.m.Y H:i" }}</td>
                <td>{{ item.time_paid|date:"d.m.Y H:i" }}</td>
                <td>{{ item.time_cancelled|date:"d.m.Y H:i" }}</td>
                <td>{{ item.get_status_text }}</td>
                <td>{{ item.get_total_price }} &euro;</td>
                <td><a href="{% url 'manage-store:transactionstatus' item.id %}">Tiedot</a></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
    <div id="transactions_pager" class="pager">
        {% include "common/pagination.html" %}
    </div>
{% else %}
    <p>Ei transaktioita.</p>
{% endif %}
{% endblock %}
