{% extends "base_layout/base.html" %}
{% load static %}

{% block title %}Instanssi Kauppa{% endblock %}
{% block headername %}<a href="{% url 'store:index' %}">Kauppa</a>{% endblock %}

{% block head %}
    <!-- Store -->
    <!--<link rel="stylesheet" type="text/css" href="{% static "libs/css/jquery/ui-lightness/jquery-ui-1.9.1.custom.min.css" %}" />-->
    <script type="text/javascript" src="{% static "libs/js/jquery/jquery-ui-1.9.1.custom.min.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "store/css/style.css" %}" />
{% endblock %}

{% block jquery %}
    $('.ui-widget').css('font-size','14px');
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'store:index' %}">Instanssi Kauppa</a></li>
{% endblock %}

{% block headernav %}
        <ul id="header_nav_left">
            <li class="menuitem">
                <a href="{% url 'store:order' %}">Tilaus</a>
            </li>
            <li class="menuitem">
                <a href="{% url 'store:terms' %}">Toimitusehdot</a>
            </li>
            <li class="menuitem">
                <a href="{% url 'store:privacy' %}">Rekisteriseloste</a>
            </li>
        </ul>
        <ul id="header_nav_right">
            &nbsp;
        </ul>
{% endblock %}

{% block content %}{% endblock %}
