{% extends "store/base.html" %}
{% load crispy_forms_tags %}

{% block title %} - Etusivu{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('.emailinput').addClass('textInput');
{% endblock %}

{% block crumbs %}
{{ block.super }}
	&raquo; Etusivu
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Instanssin lippu- ja oheistuotekauppa</h2>
<p>
    Tervetuloa Instanssin lippu- ja oheistuotekauppaan!
</p>
{% if has_products %}
{% crispy transaction_form transaction_form.helper %}
{% else %}
    <p>Kaupassa ei ole tällä hetkellä tuotteita.</p>
{% endif %}

{% endblock %}