{% extends "store/base.html" %}
{% load crispy_forms_tags static %}

{% block title %}{{ block.super }} - Etusivu{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Etusivu</li>
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Etusivu</h2>

<p>Lippujen ja oheistuotteiden ostaminen onnistuu <a href="{% url 'store:order' %}">tilaussivulla</a>. Huomaathan, että pääsyliput ja tuotteiden lunastamiseen vaadittavat koodit toimitetaan sähköpostitse. Verkkokaupasta ostetut tuotteet voi lunastaa tapahtuman aikana infotiskiltä sisäänkäynnin lähettyviltä.</p>
<p><a href="{% url 'store:order' %}" class="btn btn-primary">Siirry tilaamaan tuotteita &raquo;</a></p>

<h3>Maksaminen</h3>

<p>Lipun maksaminen onnistuu luomalla itsellesi Paytrail-tilin ja suorittamalla maksun tiliin liitetyllä debit- tai credit-kortilla. Tilin luominen ja kortin liittäminen tapahtuu maksuprosessin yhteydessä Paytrailin maksuvalintasivulta. Tiliä luodessa varaudu tunnistautumaan omilla verkkopankkitunnuksillasi (mikäli sinulla ei siis tiliä jo ole). Onnistuneen tilin luonnin ja kortin liittämisen jälkeen voit suorittaa maksun loppuun ja myöhemmin tarkastella niin tätä kuin myös muita Paytrail-tilillä tekemiäsi maksuja osoitteessa <a href="http://my.paytrail.com">my.paytrail.com</a>.</p>
<p>Maksun voit suorittaa Paytrail-tilin sijasta myös omilla verkkopankkitunnuksillasi tai <a href="https://bittiraha.fi/content/mik%C3%A4-bitcoin">bitcoineilla</a>.</p>
<p>Instanssin verkkokaupan tuotteiden hinta on sidottu euromääräiseen arvoon. Tämän vuoksi bitcoineilla maksaessasi tuotteiden hinta voi vaihdella valuuttakurssin mukaisesti.</p>
<p>Vaikka Instanssi-tapahtumalla ei varsinaista ikärajaa ole, verkkomaksamisen käyttöehdot edellyttävät 18 vuoden ikää. Jos tämä tuottaa ongelmia, voit myös ostaa lippuja ja tuotteita ovelta tapahtuman aikana tai pyytää toista henkilöä ostamaan lipun puolestasi.</p>

{% endblock %}
