<!DOCTYPE html>
<html>
<head>
    <title>Käyttöehdot</title>
</head>
<body>
<h1>Rekisteriseloste</h1>
<p>
    Henkilötietolain (523 /99)10 §:n mukainen REKISTERISELOSTE
</p>

<h2>Rekisterinpitäjä</h2>
<h3>Nimi</h3>
<p>
    Linkki Jyväskylä ry
</p>
<h3>Osoite</h3>
<p>
    Agora, Ag C233.2<br />
    PL 35<br />
    40014 Jyväskylän yliopisto
</p>

<h2>Rekisteriasioista vastaava henkilö ja/tai yhteyshenkilö</h2>
<h3>Nimi</h3>
<p>
    Tuomas Virtanen
</p>
<h3>Osoite</h3>
<p>
    Instanssin webmaster<br />
    Tuomas Virtanen<br />
    Linkki Jyväskylä ry.<br />
    Agora, Ag C233.2<br />
    PL 35<br />
    40014 Jyväskylän yliopisto
</p>
<h3>Muut yhteystiedot</h3>
<p>
    webmaster@instanssi.org
</p>

<h2>Rekisterin nimi</h2>
<p>
    Asiakasrekisteri
</p>

<h2>Henkilötietojen käsittelyn tarkoitus / rekisterin käyttötarkoitus</h2>
<p>
    Asiakasrekisteri sisältää tiedot kaikista Instanssi-tapahtumaan lippuja 
    tai muita tuotteita tilanneista. Rekisteriin kuuluvien henkilötietoja 
    käytetään lippujen lähettämiseen sekä tapahtumassa ja tilauksessa ilmenevien 
    muutosten tiedottamiseen.
</p>

<h2>Rekisterin tietosisältö</h2>
<ul>
    <li><strong>etunimi</strong></li>
    <li><strong>sukunimi</strong></li>
    <li><strong>sähköpostiosoite</strong></li>
    <li><strong>maa</strong></li>
    <li><strong>katuosoite</strong></li>
    <li><strong>postinumero</strong></li>
    <li><strong>paikkakunta</strong></li>
    <li>puhelinnumero</li>
    <li>matkapuhelinnumero</li>
    <li>yritys</li>
    <li>tiedot tilatuista tuotteista</li>
</ul>
<p>
    Lihavoinnilla merkityt tiedot ovat pakollisia, muut vapaaehtoisia.
</p>

<h2>Säännönmukaiset tietolähteet</h2>
<p>
    Asiakkaan ilmoittamat tiedot tilauksen yhteydessä.
</p>

<h2>Säännönmukaiset tietojen luovutukset ja tietojen siirto EU:n tai Euroopan talousalueen ulkopuolelle:</h2>
<p>
    Tietoja ei luovuteta ko. alueiden ulkopuolelle.
</p>

<h2>Rekisterin tietojen luovutukset ulkopuolisille</h2>
<p>
    Tietoja ei luovuteta ulkopuolisille.
</p>

<h2>Rekisterin suojauksen periaatteet</h2>
<h3>A. Manuaalinen aineisto (säilytyspaikka ja suojaaminen)</h3>
<p>
    Asiakasrekisteristä ei ole tulosteita.
</p>
<h3>B. ATK:lle talletetut tiedot (rekisterin käyttöoikeuden periaatteet ja käytön valvonta sekä laitteiden fyysinen suojaus)</h3>
<p>
    Asiakasrekisteri sijaitsee palveluntarjoajan tietokantapalvelimella, jonne on käyttöoikeus Instanssi-tapahtuman järjestäjillä.
</p>

</body>
</html>