{% extends "store/base.html" %}

{% block title %}{{ block.super }} - Rekisteriseloste{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Rekisteriseloste</li>
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Rekisteriseloste</h2>
<p>
    Henkilötietolain (523 /99)10 §:n mukainen REKISTERISELOSTE
</p>

<h3>Rekisterinpitäjä</h3>
<p>
    Linkki Jyväskylä ry<br />
    Agora, Ag C233.2<br />
    PL 35<br />
    40014 Jyväskylän yliopisto
</p>

<h3>Rekisteriasioista vastaava henkilö ja/tai yhteyshenkilö</h3>
<p>
    Instanssin webmaster<br />
    Tuomas Virtanen &lt;webmaster@instanssi.org&gt;<br />
    Linkki Jyväskylä ry.<br />
    Agora, Ag C233.2<br />
    PL 35<br />
    40014 Jyväskylän yliopisto
</p>


<h3>Rekisterin nimi</h3>
<p>
    Asiakasrekisteri
</p>

<h3>Henkilötietojen käsittelyn tarkoitus / rekisterin käyttötarkoitus</h3>
<p>
    Asiakasrekisteri sisältää tiedot kaikista Instanssi-tapahtumaan lippuja 
    tai muita tuotteita tilanneista. Rekisteriin kuuluvien henkilötietoja 
    käytetään lippujen lähettämiseen sekä tapahtumassa ja tilauksessa ilmenevien 
    muutosten tiedottamiseen.
</p>

<h3>Rekisterin tietosisältö</h3>
<ul>
    <li><strong>etunimi</strong></li>
    <li><strong>sukunimi</strong></li>
    <li><strong>sähköpostiosoite</strong></li>
    <li><strong>maa</strong></li>
    <li><strong>katuosoite</strong></li>
    <li><strong>postinumero</strong></li>
    <li><strong>paikkakunta</strong></li>
    <li>puhelinnumero</li>
    <li>matkapuhelinnumero</li>
    <li>yritys</li>
    <li>tiedot tilatuista tuotteista</li>
</ul>
<p>
    Lihavoinnilla merkityt tiedot ovat pakollisia, muut vapaaehtoisia.
</p>

<h3>Säännönmukaiset tietolähteet</h3>
<p>
    Asiakkaan ilmoittamat tiedot tilauksen yhteydessä.
</p>

<h3>Säännönmukaiset tietojen luovutukset ja tietojen siirto EU:n tai Euroopan talousalueen ulkopuolelle:</h3>
<p>
    Tietoja ei luovuteta ko. alueiden ulkopuolelle.
</p>

<h3>Rekisterin tietojen luovutukset ulkopuolisille</h3>
<p>
    Tietoja ei luovuteta ulkopuolisille.
</p>

<h3>Rekisterin suojauksen periaatteet</h3>
<h4>A. Manuaalinen aineisto (säilytyspaikka ja suojaaminen)</h4>
<p>
    Asiakasrekisteristä ei ole tulosteita.
</p>

<h4>B. ATK:lle talletetut tiedot (rekisterin käyttöoikeuden periaatteet ja käytön valvonta sekä laitteiden fyysinen suojaus)</h4>
<p>
    Asiakasrekisteri sijaitsee palveluntarjoajan tietokantapalvelimella, jonne on käyttöoikeus Instanssi-tapahtuman järjestäjillä.
</p>
{% endblock %}
