{% extends "store/base.html" %}
{% load crispy_forms_tags static %}

{% block title %}{{ block.super }} - Tilaus{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Tilaus</li>
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Tilaus</h2>

<div id="store">
</div>

<script src="{% static 'libs/vue/vue.js' %}"></script>
<script src="{% static 'store/js/store.js' %}"></script>
<noscript>
The Instanssi Store requires JavaScript to function.
</noscript>

{% endblock %}
