{% extends "store/base.html" %}
{% load static %}

{% block title %} - Tilaus onnistui{% endblock %}

{% block head %}
{{ block.super }}
{{ wizard.form.media }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
	&raquo; Tilaus onnistui
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Tilaus onnistui</h2>
<p>
    Osto suoritettu. Kuitti ja tilauksen mahdollisesti sisältämät liput toimitetaan hetken kuluttua antamaasi sähköpostiosoitteeseen.
</p>

{% endblock %}