{% extends "store/base.html" %}
{% load static %}

{% block title %}{{ block.super }} - Tilaus onnistui{% endblock %}

{% block head %}
{{ block.super }}
{{ wizard.form.media }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
	&raquo; Tilaus onnistui
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Tilaus onnistui</h2>
<p>
    Maksu suoritettu onnistuneesti. Kuitti ja tilauksen sisältämät tuotteiden ja 
    lippujen lunastuskoodit toimitetaan hetken kuluttua antamaasi sähköpostiosoitteeseen.
</p>
<p>
    Mikäli maksoit Bitcoineilla, kannattaa huomioida että lippu- ja tuotekoodit toimitetaan
    sähköpostiin vasta kun maksu on varmennettu. Maksun varmentamiseen menee normaalisti n. 15 minuuttia,
    mutta joskus jopa tunti. Mikäli koodit sisältävää sähköpostia ei tämänkään jälkeen ole saapunut, 
    kannattaa ottaa yhteyttä osoitteeseen webmaster@instanssi.org.
</p>

{% endblock %}