{% extends "store/base.html" %}

{% block title %}{{ block.super }} - Verkkokaupan toimitusehdot{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Verkkokaupan toimitusehdot</li>
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Verkkokaupan toimitusehdot</h2>
<p>
    Voimassa 27.01.2013 alkaen.
</p>

<h3>Yleistä verkkokaupasta</h3>
<p>
    Verkkokaupan tuotteita myy Linkki Jyväskylä ry, Y-tunnus 2147178-4. 
    Tuotteita myydään täysi-ikäisille yksityishenkilöille Suomeen 
    ja EU-alueelle. Hinnoissa ei ole arvonlisäveroa, sillä Linkki Jyväskylä ry 
    ei ole arvonlisävelvollinen. Näin ollen siltä tehdyistä ostoksista sitä ei 
    tarvitse maksaa. Pidätämme oikeuden hintojen ja toimituskulujen muutoksiin.
</p>

<h3>Tilaaminen</h3>
<p>
    Tuotteet tilataan pääsääntöisesti Internetin välityksellä 
    osoitteesta http://instanssi.org/ .
</p>
<p>
    Kaikki tilaukset vahvistetaan sähköpostilla, jossa ilmoitetaan 
    tilauksen hinta sekä tilatut tuotteet. Tilauksen tekeminen edellyttää 
    edellyttää sähköpostiosoitteen ilmoittamista tilauksen yhteydessä. 
    Asiakas sitoutuu jokaisen tilauksen yhteydessä voimassa oleviin toimitusehtoihin.
</p>

<h3>Tilausvahvistus</h3>
<p>Lähetämme sähköpostitse tilausvahvistuksen, josta näet:</p>
<ul>
    <li>viitenumeron</li>
    <li>tilaajan</li>
    <li>tilatut tuotteet</li>
    <li>laskun loppusumman</li>
</ul>

<h3>Maksutavat</h3>
<p>
    Tuotteet maksetaan tilauksen yhteydessä. Verkkokaupassa voidaan maksaa 
    seuraavilla maksutavoilla: Nordea, Osuuspankki, Sampo, Tapiola, Aktia, 
    Nooa, Paikallisosuuspankit, Säästöpankit, Handelsbanken, S-Pankki, 
    Ålandsbanken sekä luottokortit. Maksaminen tapahtuu Paytrail Oyj:n kautta.
</p>

<h3>Maksut Visa, Visa Electron tai MasterCard-korteilla</h3>
<p>
    Maksettaessa Visa, Visa Electron tai MasterCard-korteilla Linkki Jyväskylä 
    ry toimii ainoastaan tuotteiden ja palveluiden markkinoijana ja lisäksi 
    toimittaa tuotteet ostajalle. Reklamaatioista vastaa Paytrail Oyj.
</p>
<p>
    Paytrail Oyj toimii Visa-, Visa Electron - tai MasterCard-korteilla 
    tehtävissä maksuissa tuotteen myyjänä ja kauppa syntyy asiakkaan ja 
    Paytrail Oyj:n välille. Myyjän vastuulla ovat kaikki kauppaan liittyvät 
    velvoitteet. Paytrail Oyj on myös maksun saaja.
</p>

<h4>Paytrail Oyj</h4>
<p>
    Y-tunnus: 2122839-7
</p>
<p>
    Innova 2<br />
    Lutakonaukio 7<br />
    40100 JYVÄSKYLÄ<br />
    Puhelin: 0207 181830
</p>

<h3>Verkkopankit</h3>
<p>
    Verkkopankkimaksamiseen liittyvän maksu- ja rahoituspalvelun toteuttaa 
    Paytrail Oyj (2122839-7) yhteistyössä suomalaisten pankkien ja luottolaitosten 
    kanssa. Paytrail Oyj ostaa maksusuorituksen ja tilittää sen kauppiaalle.
    Käyttäjän kannalta palvelu toimii aivan kuten perinteinen verkkomaksaminenkin.
</p>

<h3>Toimitustapa ja toimituskulut</h3>
<p>
    Liput toimitetaan vain elektronisessa muodossa. Tilausvahvistuksen mukana 
    lähetetään linkki sivulle, missä lippu on nähtävillä.
</p>
<p>
    Muut tuotteet voi saada Instanssi-tapahtumasta 1.-3.3.2013 lipunmyynnistä. 
    Muulla tavoin niitä ei toimiteta ilman erillistä sopimista. Näin toimitettuina 
    tuotteilla ei ole toimituskuluja.
</p>

<h3>Vaihto- ja palautusehdot</h3>
<p>
    Maksettuja lippuja ei vaihdeta eikä palauteta. Tilaisuuden järjestäjä vastaa 
    tilaisuudesta ja sen mahdollisesta peruuntumisesta tai muutoksista ohjelmassa 
    kuten laissa määrätään. Kadonneita lippuja ei korvata.
</p>
<p>
    Asiakas on velvollinen tarkastamaan, että tapahtuma ei ole peruuntunut sekä 
    muut tapahtumaan liittyvät tiedot Instanssin nettisivuilta.
</p>
<p>
    Muut tuotteet kuin liput ovat saatavilla ainoastaan Instanssi-tapahtumassa 1.-3.3.2013. 
    Tuotteet voi lunastaa lipunmyynnistä. Asiakkaalla on oikeus palauttaa tai vaihtaa tuote 
    tapahtuman aikana lipunmyynnissä tai sitä ennen sähköpostin välityksellä. Tällöin tuotteen 
    hinta maksetaan asiakkaan tilille takaisin kuukauden sisällä palautuksesta. Tapahtuman 
    jälkeen vaihdosta tai palautuksesta pitää sopia erikseen. Palautusoikeus koskee vain 
    käyttämättömiä ja myyntikelpoisia tuotteita.
</p>
<p>
    Mikäli tuote halutaan palauttaa tai vaihtaa muulloin kuin tapahtumassa, ota yhteyttä 
    sähköpostitse: webmaster@instanssi.org. Tämä sähköpostiosoite palvelee myös muissa 
    ongelmatilanteissa tai kysymyksissä.
</p>

<h3>Muuta</h3>
<p>
    Pidätämme oikeuden muuttaa toimitusehtojamme. Asiakkaan on ennen tilaustaan tutustuttava 
    kulloinkin voimassa oleviin toimitusehtoihin.
</p>
<p>
    Linkki Jyväskylä ry käsittelee kaikki asiakastiedot täysin luottamuksellisesti.
</p>
{% endblock %}
