<!DOCTYPE html>
<html>
<head>
    <title>Käyttöehdot</title>
</head>
<body>
<h1>Käyttöehdot</h1>

<h2>Rekisteriseloste</h2>
<p>
    Henkilötietolain (523 /99)10 §:n mukainen REKISTERISELOSTE
</p>

<h3>Rekisterinpitäjä</h3>
<h4>Nimi</h4>
<p>
    Linkki Jyväskylä ry
</p>
<h4>Osoite</h4>
<p>
    Agora, Ag C233.2<br />
    PL 35<br />
    40014 Jyväskylän yliopisto
</p>

<h3>Rekisteriasioista vastaava henkilö ja/tai yhteyshenkilö</h3>
<h4>Nimi</h4>
<p>
    Tuomas Virtanen
</p>
<h4>Osoite</h4>
<p>
    Instanssin webmaster<br />
    Tuomas Virtanen<br />
    Linkki Jyväskylä ry.<br />
    Agora, Ag C233.2<br />
    PL 35<br />
    40014 Jyväskylän yliopisto
</p>
<h4>Muut yhteystiedot</h4>
<p>
    webmaster@instanssi.org
</p>

<h3>Rekisterin nimi</h3>
<p>
    Asiakasrekisteri
</p>

<h3>Henkilötietojen käsittelyn tarkoitus / rekisterin käyttötarkoitus</h3>
<p>
    Asiakasrekisteri sisältää tiedot kaikista Instanssi-tapahtumaan lippuja 
    tai muita tuotteita tilanneista. Rekisteriin kuuluvien henkilötietoja 
    käytetään lippujen lähettämiseen sekä tapahtumassa ja tilauksessa ilmenevien 
    muutosten tiedottamiseen.
</p>

<h3>Rekisterin tietosisältö</h3>
<ul>
    <li><strong>etunimi</strong></li>
    <li><strong>sukunimi</strong></li>
    <li><strong>sähköpostiosoite</strong></li>
    <li><strong>maa</strong></li>
    <li><strong>katuosoite</strong></li>
    <li><strong>postinumero</strong></li>
    <li><strong>paikkakunta</strong></li>
    <li>puhelinnumero</li>
    <li>matkapuhelinnumero</li>
    <li>yritys</li>
    <li>tiedot tilatuista tuotteista</li>
</ul>
<p>
    Lihavoinnilla merkityt tiedot ovat pakollisia, muut vapaaehtoisia.
</p>

<h3>Säännönmukaiset tietolähteet</h3>
<p>
    Asiakkaan ilmoittamat tiedot tilauksen yhteydessä.
</p>

<h3>Säännönmukaiset tietojen luovutukset ja tietojen siirto EU:n tai Euroopan talousalueen ulkopuolelle:</h3>
<p>
    Tietoja ei luovuteta ko. alueiden ulkopuolelle.
</p>

<h3>Rekisterin tietojen luovutukset ulkopuolisille</h3>
<p>
    Tietoja ei luovuteta ulkopuolisille.
</p>

<h3>Rekisterin suojauksen periaatteet</h3>
<h4>A. Manuaalinen aineisto (säilytyspaikka ja suojaaminen)</h4>
<p>
    Asiakasrekisteristä ei ole tulosteita.
</p>
<h4>B. ATK:lle talletetut tiedot (rekisterin käyttöoikeuden periaatteet ja käytön valvonta sekä laitteiden fyysinen suojaus)</h4>
<p>
    Asiakasrekisteri sijaitsee palveluntarjoajan tietokantapalvelimella, jonne on käyttöoikeus Instanssi-tapahtuman järjestäjillä.
</p>

<h2>Verkkokaupan toimitusehdot</h2>
<p>
    Voimassa 27.01.2013 alkaen.
</p>

<h3>Yleistä verkkokaupasta</h3>
<p>
    Verkkokaupan tuotteita myy Linkki Jyväskylä ry, Y-tunnus 2147178-4. 
    Tuotteita myydään tuotteita täysi-ikäisille yksityishenkilöille Suomeen 
    ja EU-alueelle. Hinnoissa ei ole arvonlisäveroa, sillä Linkki Jyväskylä ry 
    ei ole arvonlisävelvollinen. Näin ollen siltä tehdyistä ostoksista sitä ei 
    tarvitse maksaa. Pidätämme oikeuden hintojen ja toimituskulujen muutoksiin.
</p>

<h3>Tilaaminen</h3>
<p>
    Tuotteet tilataan pääsääntöisesti Internetin välityksellä 
    osoitteesta http://instanssi.org/ .
</p>
<p>
    Kaikki tilaukset vahvistetaan sähköpostilla, jossa ilmoitetaan 
    tilauksen hinta sekä tilatut tuotteet. Tilauksen tekeminen edellyttää 
    edellyttää sähköpostiosoitteen ilmoittamista tilauksen yhteydessä. 
    Asiakas sitoutuu jokaisen tilauksen yhteydessä voimassa oleviin toimitusehtoihin.
</p>

<h3>Tilausvahvistus</h3>
<p>Lähetämme sähköpostitse tilausvahvistuksen, josta näet:</p>
<ul>
    <li>viitenumeron</li>
    <li>tilaajan</li>
    <li>tilatut tuotteet</li>
    <li>laskun loppusumman</li>
</ul>

<h3>Maksutavat</h3>
<p>
    Tuotteet maksetaan tilauksen yhteydessä. Verkkokaupassa voidaan maksaa 
    seuraavilla maksutavoilla: Nordea, Osuuspankki, Sampo, Tapiola, Aktia, 
    Nooa, Paikallisosuuspankit, Säästöpankit, Handelsbanken, S-Pankki, 
    Ålandsbanken sekä luottokortit. Maksaminen tapahtuu Suomen Verkkomaksut 
    Oyj:n kautta.
</p>

<h3>Maksut Visa, Visa Electron tai MasterCard-korteilla</h3>
<p>
    Maksettaessa Visa, Visa Electron tai MasterCard-korteilla Linkki Jyväskylä 
    ry toimii ainoastaan tuotteiden ja palveluiden markkinoijana ja lisäksi 
    toimittaa tuotteet ostajalle. Reklamaatioista vastaa Suomen Verkkomaksut Oyj.
</p>
<p>
    Suomen Verkkomaksut Oyj toimii Visa-, Visa Electron - tai MasterCard-korteilla 
    tehtävissä maksuissa tuotteen myyjänä ja kauppa syntyy asiakkaan ja Suomen 
    Verkkomaksut Oyj:n välille. Myyjän vastuulla ovat kaikki kauppaan liittyvät 
    velvoitteet. Suomen Verkkomaksut Oyj on myös maksun saaja.
</p>

<h4>Suomen Verkkomaksut Oyj</h4>
<p>
    Y-tunnus: 2122839-7
</p>
<p>
    Innova 2<br />
    Lutakonaukio 7<br />
    40100 JYVÄSKYLÄ<br />
    Puhelin: 0207 181830
</p>

<h3>Verkkopankit</h3>
<p>
    Verkkopankkimaksamiseen liittyvän maksu- ja rahoituspalvelun toteuttaa Suomen 
    Verkkomaksut Oy (2122839-7) yhteistyössä suomalaisten pankkien ja luottolaitosten 
    kanssa. Suomen Verkkomaksut Oyj ostaa maksusuorituksen ja tilittää sen kauppiaalle.
    Käyttäjän kannalta palvelu toimii aivan kuten perinteinen verkkomaksaminenkin.
</p>

<h3>Toimitustapa ja toimituskulut</h3>
<p>
    Liput toimitetaan vain elektronisessa muodossa. Tilausvahvistuksen mukana 
    lähetetään linkki sivulle, missä lippu on nähtävillä.
</p>
<p>
    Muut tuotteet voi saada Instanssi tapahtumasta 1.-3.3.2013 lipunmyynnistä. 
    Muulla tavoin niitä ei toimiteta ilman erillistä sopimista. Näin toimitettuina 
    tuotteilla ei ole toimituskuluja.
</p>

<h3>Vaihto- ja palautusehdot</h3>
<p>
    Maksettuja lippuja ei vaihdeta eikä palauteta. Tilaisuuden järjestäjä vastaa 
    tilaisuudesta ja sen mahdollisesta peruuntumisesta tai muutoksista ohjelmassa 
    kuten laissa määrätään. Kadonneita lippuja ei korvata.
</p>
<p>
    Asiakas on velvollinen tarkastamaan, että tapahtuma ei ole peruuntunut sekä 
    muut tapahtumaan liittyvät tiedot Instanssin nettisivuilta.
</p>
<p>
    Muut tuotteet kuin liput ovat saatavilla ainoastaan Instanssi-tapahtumassa 1.-3.3.2013. 
    Tuotteet voi lunastaa lipunmyynnistä. Asiakkaalla on oikeus palauttaa tai vaihtaa tuote 
    tapahtuman aikana lipunmyynnissä tai sitä ennen sähköpostin välityksellä. Tällöin tuotteen 
    hinta maksetaan asiakkaan tilille takaisin kuukauden sisällä palautuksesta. Tapahtuman 
    jälkeen vaihdosta tai palautuksesta pitää sopia erikseen. Palautusoikeus koskee vain 
    käyttämättömiä ja myyntikelpoisia tuotteita.
</p>
<p>
    Mikäli tuote halutaan palauttaa tai vaihtaa muulloin kuin tapahtumassa, ota yhteyttä 
    sähköpostitse: webmaster@instanssi.org. Tämä sähköpostiosoite palvelee myös muissa 
    ongelmatilanteissa tai kysymyksissä.
</p>

<h3>Muuta</h3>
<p>
    Pidätämme oikeuden muuttaa toimitusehtojamme. Asiakkaan on ennen tilaustaan tutustuttava 
    kulloinkin voimassa oleviin toimitusehtoihin.
</p>
<p>
    Linkki Jyväskylä ry käsittelee kaikki asiakastiedot täysin luottamuksellisesti.
</p>

</body>
</html>