{% extends "store/transaction_base.html" %}
{% load static %}

{% block title %}{{ block.super }} - Tilaustiedot{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h1 class="noPrint">Tilaustiedot</h1>
<p class="noPrint">
    Tältä sivulta näet tilauksesi tiedot ja QR-koodin, jolla voit lunastaa kaikki tilauksen tuotteet tapahtuman aikana. Voit esittää QR-koodin tapahtumassa lipputiskillä joko tulosteena tai suoraan oman laitteen näytöltä.
</p>

<div class="order">
<h2>Tilaus</h2>
<table>
    <tbody>
        <tr>
            <th>Tilaaja:</th>
            <td>{{ transaction.firstname }} {{ transaction.lastname }}</td>
        </tr>
        <tr>
            <th>Tunniste:</th>
            <td>{{ transaction.key }}</td>
        </tr>
    </tbody>
</table>
<img src="https://chart.googleapis.com/chart?cht=qr&chs=160x160&chl={{ transaction.qr_code }}" width="160" height="160" alt="Tilauksen QR-koodi." />
</div>

{% if ta_items %}
<h1 class="noPrint">Tuotteet</h1>
<p class="noPrint">
    Allaolevilla koodeilla tai linkeillä voi lunastaa yksittäisiä tilaukseen kuuluvia tuotteita. Voit lahjoittaa tuotteita kavereille jakamalla heille QR-koodeja tai ostosten URL-osoitteita. Huomaa, että jokainen koodi voidaan lunastaa vain kerran.
</p>
{% for ta_item in ta_items %}
    <div class="item">
        <h2><a href="{% url 'store:ti_view' ta_item.key %}">{{ ta_item.item.name }}</a></h2>
        <img src="https://chart.googleapis.com/chart?cht=qr&chs=160x160&chl={{ ta_item.qr_code }}" width="160" height="160" alt="Ostetun tuotteen QR-koodi." />
    </div>
{% endfor %}

{% endif %}
{% endblock %}
