{% extends "admin_kompomaatti/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} - Kilpailut - Osallistujat - Muokkaa{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'manage-kompomaatti:competitions' selected_event_id %}">Kilpailut</a></li>
    <li><a href="{% url 'manage-kompomaatti:participations' selected_event_id competition.id %}">Osallistujat</a></li>
    <li>Muokkaa</li>
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Muokkaa osanottotietoa</h2>
{% crispy pform pform.helper %}
{% endblock %}