@import 'src/styles/variables';

@media screen and (min-width: $screen-sm-min) {
    .compos-item {
        .item-title {
            display: flex;
            flex: 1 1 auto;
            .item-title-actions {
                margin-left: auto;
            }
        }
    }
}
