body{
    background: url('./images/kompomaatti-bg.jpg') repeat-x #F2F2F2; 
    font-family: Verdana, "DejaVu Sans", "Bitstream Vera Sans", sans-serif; 
}
h1 { font-size: 1.4em; font-variant: small-caps; margin:0; padding: 30px 0px; color: #4ED3FF;} 
h2 { font-size: 1.1em; letter-spacing: 1px; margin-bottom: 1em; margin-top: 1em; font-weight: bold; font-variant: small-caps;}
h3 { font-size: 0.9em; letter-spacing: 1px; margin-bottom: 1.0em; margin-top: 2.0em; font-weight: bold; border-bottom: 1px solid #aaaaaa; padding-bottom: 0.3em;}
legend { font-size: 0.5em; }
p, li, td, th, label, div { font-size: 14px; }
strong { font-weight: bold; }

/* Base div CSS */
#base {margin: 0 auto;}
#header{ background: #222; margin: auto; width: 100%;border-bottom: 1px solid #888; box-shadow: 0px 0px 10px #222;}
#nav, h1{ width: 960px; margin: 0 auto;}

/* uni-form stuff */
form.uniForm .ctrlHolder {
    border-bottom: 1px dotted #aaaaaa;
}

/* Content div css */
#content { width: 960px; margin: 0 auto; padding: 0.2em; min-height: 400px; margin-bottom: 4em;}
#content fieldset { border: 1px solid #999999; padding: 0.3em; margin: 0.3em; }
#content > p,
#content > ul,
#content > ol { margin-bottom: 1em; margin-top: 1em; }
#content > ul li,
#content > ol li { display: list-item; padding: 0.3em; }
#content > ul { list-style-type: disc; margin-left: 1.2em; }
#content > ol { list-style-type: decimal; margin-left: 1.2em; }

/* For tabular data fields using tablesorter.js */
div.pager { margin-top: 0.1em; margin-bottom: 0.3em; }
table.tablesorter { margin-top: 0; }

/* Tables that have headers on the left side, and data on the right side */
table.generic_info_table { border: 1px solid #bbbbbb; width: 100%; }
table.generic_info_table th { background-color: #e6eeee; padding: 0.3em; border: 1px solid #bbbbbb; width: 30%; text-align: left; }
table.generic_info_table td { background-color: #ffffff; padding: 0.3em; border: 1px solid #bbbbbb; width: 70%; }

/* Sortables in voting */
#sortable { margin: 0; padding: 0; width: 60%; }
#sortable li { list-style-type: none; display: block; margin: 0 3px 3px 3px; padding: 0.4em; height: 18px; }
#sortable li > span { float: left; }

/* For error/notice box in voting form */
.msgicon { float: left; }
#voting_errortext { margin-bottom: 0.2em; margin-top: 0.2em; padding: 0.2em; }
#vote_js_mode { display: none; }
#vote_js_mode p { margin: 0.3em; }
#vote_html_mode input { margin: 0.3em; }
#vote_html_mode p {margin: 0.3em;}
#vote_html_mode fieldset { padding: 0.3em; }
#vote_html_mode li { border: 1px solid #dcdcdc; background-color: #eeeeee; margin: 0.3em; padding: 0em; }

/* Navigation stuff */
#nav { padding: 0.2em; }

#basenav { 
    display: inline-block; 
    width: 960px; 
}
#basenav li {
    float:left;
    margin-right: 0px; 
    padding: 0px 0px;
}
#basenav li a{
    text-decoration:none;
    /*border: 1px solid #005860;*/
    color: #ccc;
    display: block;
    text-align: left;
    padding: 8px 8px;
    font-size: 16px;
    /*box-shadow: inset 1px 0px 1px #ccc;*/
}
#basenav li a:hover{color: #fff;}

 /* DROPDOWN MENU*/
#subnav {margin: 0;}
#subnav li { float: none; margin: 0; width: 100%; }
#subnav{position:absolute;   margin-top: 0px; margin-left: 0px;}
#subnav li{/*visibility:hidden;*/ display: none; background: #222; border: 1px solid #111; opacity: 0.9;}
#subnav li a{border: 0px;}
li:hover #subnav li{/*visibility:visible;*/ display: block;}
.img-placeholder{margin-left: 10px;width:20px;height:20px; background: url('../images/dropdown-menu-marker.png');float:right;}


/* JQuery ui icons */
a.icon {
    width: 18px;
    height: 18px;
    padding: 0;
    margin: 0;
    margin-right: 0.1em;
    margin-left: 0.1em;
    float: left;
}

/* jquery-ui stuff */
.ui-button {
    font-size: 14px;
}

/* FOOTER ALWAYS BOTTOM*/
* {
margin: 0;
}
html, body {
height: 100%;
}
#base {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -3em;
}
#footer, .push {height: 3em;}
#footer{margin-top: -3em; background: /*url('../images/kompomaatti-bg.jpg')*/ repeat-x #222;/*padding: 8px;*/ text-align: right; color: #fff; border-top: 1px solid #000;}
 


/* CSS 3*/
#header, #footer{
	background-image: linear-gradient(bottom, rgb(34,34,34) 10%, rgb(51,51,51) 57%);
	background-image: -o-linear-gradient(bottom, rgb(34,34,34) 10%, rgb(51,51,51) 57%);
	background-image: -moz-linear-gradient(bottom, rgb(34,34,34) 10%, rgb(51,51,51) 57%);
	background-image: -webkit-linear-gradient(bottom, rgb(34,34,34) 10%, rgb(51,51,51) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(34,34,34) 10%, rgb(51,51,51) 57%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.1, rgb(34,34,34)),
		color-stop(0.57, rgb(51,51,51))
	);
} 
h1{
	text-shadow: 1px 1px 1px #000;
}
#basenav li a{text-shadow: 1px 0px 1px #333;}
