/* ---------- Voting crap ---------- */

div.vote-widget {
    width: 550px;
    border: 1px solid #999999;
}

ul.vote-list {
    float: left;
}

div.vote-notice {
    margin-right: 26px;
    margin-left: 26px;
    margin-top: 6px;
}

div.vote-notice > div {
    display: inline-block;
    float: left;
    margin: 2px;
}

div.vote-notice > span {
    display: inline-block;
    margin: 3px;
}

div.vote-widget ul {
    border: 1px dotted black;
    display: inline-block;
    width: 220px;
    padding: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #efefef;
    min-height: 50px;
}

div.vote-widget li {
    list-style-type: none;
    margin: 0;
    border: 1px solid #999999;
    display: block;
    border-radius: 2px;
    height: 40px;
    background: #efefef;
    background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(229,229,229,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(229,229,229,1)));
    background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(229,229,229,1) 100%); 
    background: -o-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(229,229,229,1) 100%); 
    background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(229,229,229,1) 100%); 
    background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(229,229,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#e5e5e5',GradientType=0 );
}

.vote-entry {
    margin: 5px;
    float: left;
}

.vote-right {
    float: right;
    width: 29px;
    height: 29px;
    text-align: right;
    border: 0;
    margin: 5px;
    text-align: center;
}

.vote-rank {
    font-size: 20px;
    margin: 0px;
    padding: 0;
    display: block;
}

.vote-score {
    font-size: 8px;
    margin: 0;
    padding: 0;
    display: block;
}

span.vote-entry-desc {
    font-size: 10px;
}
