/* ---------- Voting crap ---------- */

div.vote-widget {
    width: 500px;
    border: 1px solid #999999;
}

ul.vote-list {
    float: left;
    padding: 4px !important;
    margin: 10px !important;
}

.vote-list-item {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

div.vote-notice {
    margin: 10px;
    margin-bottom: 0px;
}

div.vote-notice > div {
    display: inline-block;
    float: left;
    margin: 2px;
}

div.vote-notice > span {
    display: inline-block;
    margin: 3px;
}

div.vote-widget ul {
    border: 1px dotted black;
    display: inline-block;
    width: 220px;
    padding: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #efefef;
    min-height: 50px;
}

div.vote-widget li {
    list-style-type: none;
    margin: 0;
    border: 1px solid #999999;
    display: block;
    border-radius: 2px;
    height: 40px;
    background: #efefef;
    background: -moz-linear-gradient(top, rgba(239,239,239,1) 0%, rgba(229,229,229,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(229,229,229,1)));
    background: -webkit-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(229,229,229,1) 100%); 
    background: -o-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(229,229,229,1) 100%); 
    background: -ms-linear-gradient(top, rgba(239,239,239,1) 0%,rgba(229,229,229,1) 100%); 
    background: linear-gradient(to bottom, rgba(239,239,239,1) 0%,rgba(229,229,229,1) 100%);
}

.vote-entry {
    margin: 5px;
    display: inline-block;
    width: 160px;
}

.vote-right {
    float: right;
    width: 29px;
    text-align: center;
    border: 0;
    margin: 5px;
}

.vote-rank {
    font-size: 20px;
    margin: 0px;
    padding: 0;
}

.vote-score {
    font-size: 8px;
    margin: 0;
    padding: 0;
    top: -4px;
    position: relative;
}

span.vote-entry-name,
span.vote-entry-desc {
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    width: inherit;
    text-overflow: ellipsis;
}

span.vote-entry-desc {
    font-size: 10px;
}

span.vote-button {
    margin-right: 10px;
}

div.vote-button-wrapper {
    clear: both; 
    text-align: right;
    margin-top: 10px;
}

