@import 'base_layout/css/common.scss';

// layout

.vote-widget {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #999999;
}

.vote-wrapper {
    clear: both;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 10px;
    position: relative;
}

.vote-wrapper.vote-buttons {
    text-align: right;
}

// time to bust out the old margin hack
#compo-vote ul {
    float: left;
    left: 100% !important;
    width: 50%;
    width: calc(50% - 12px);
    position: relative;
}

#compo-vote ul#from_list {
    margin-left: -100% !important;
    margin-left: calc(-100% + 8px) !important;
}

#compo-vote ul#to_list {
    margin-left: -50% !important;
    margin-left: calc(-50% + 4px) !important;
}

.vote-entry {
    max-width: 100%;
    margin: 4px 32px 4px 4px;
    display: block;
}
.vote-entry > * {
    max-width: 100%;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    width: inherit;
    text-overflow: ellipsis;
}
.vote-entry .vote-entry-desc {
    margin-top: 4px;
}

// details


ul.vote-list {
    float: left;
    padding: 4px !important;
    margin: 10px !important;
}

.vote-list-item {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    position: relative;
}

.vote-right {
    position: absolute;
    right: 4px;
    top: 4px;
    margin: 0;
}

div.vote-notice {
    margin: 10px;
    margin-bottom: 0px;
}

div.vote-notice > div {
    display: inline-block;
    float: left;
    margin: 2px;
}

div.vote-notice > span {
    display: inline-block;
    margin: 3px;
}

#compo-vote.vote-widget ul {
    border: 1px dotted black;
    box-sizing: border-box;
    padding: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #eee;
    min-height: 50px;
}

div.vote-widget li {
    list-style-type: none;
    margin: 0;
    border: 1px solid #999999;
    display: block;
    border-radius: 2px;
    min-height: 40px;
    background: #efefef;
    cursor: grab;
}

#compo-vote #to_list {
    li:nth-child(1) {
        background: #fff;
        color: black;
    }
    li:nth-child(2) {
        background: #fafafa;
        color: black;
    }
    li:nth-child(3) {
        background: #f0f0f0;
        color: black;
    }
}

.vote-right {
    float: right;
    width: 29px;
    text-align: center;
    border: 0;
}

.vote-rank {
    font-size: 20px;
    margin: 0px;
    padding: 0;
}

.vote-score {
    font-size: 8px;
    margin: 0;
    padding: 0;
    top: -4px;
    position: relative;
}

span.vote-entry-desc {
    font-size: 10px;
}

span.vote-button {
    margin-right: 10px;
}


