#box {
	background-color: #111121;
}

.dd-desc {
    font-size: 12px;
}

#providers,
#identifier {
    border: 1px solid #999999;
    padding: 1px;
}

#providers {
    min-width: 140px;
}

#identifier {
    min-width: 240px;
}
