{% extends "base_theme/card_page.html" %}
{% load i18n %}

{% block title %}Instanssi.org - {% trans "Password Reset Complete" %}{% endblock %}
{% block subtitle %}{% trans "Password Reset Complete" %}{% endblock %}

{% block card_content %}
    <p><i class="fa-solid fa-check me-2 text-success"></i>{% trans "Your password has been reset. You can now log in with your new password." %}</p>
    <a href="{% url 'account_login' %}" class="btn btn-outline-light">{% trans "Sign In" %}</a>
{% endblock %}
