{% extends "base_theme/card_page.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}Instanssi.org - {% trans "Set New Password" %}{% endblock %}
{% block subtitle %}{% trans "Set New Password" %}{% endblock %}

{% block card_content %}
    {% if token_fail %}
        <p>{% trans "This password reset link is invalid or has expired. Please request a new one." %}</p>
        <a href="{% url 'account_reset_password' %}" class="btn btn-outline-light">{% trans "Request new link" %}</a>
    {% else %}
        {% crispy form form.helper %}
    {% endif %}
{% endblock %}
