
body,p {
    font-family: "Cutive Mono", monospace;
    font-size: 16px;
}

h1 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    border-bottom: 1px dotted black;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

ol {
    list-style-type: decimal;
    margin-left: 20px;
}

li {
    margin-left: 20px;
    margin-top: 1px;
    margin-bottom: 1px;
}

strong {
    font-weight: bold;
}

img {
    display: block;
    margin: 10px;
}

/* uniform tweaks */

form.uniForm { margin-top: 1.0em; }
form.uniForm .ctrlHolder, form.uniForm .error { border-bottom: 1px dotted #aaaaaa;  }
form.uniForm .buttonHolder { margin: 0; }
form.uniForm .error { margin: 0.5em; }
form.uniForm fieldset { border: 1px solid #999999; }
form.uniForm fieldset legend {  padding: .3em; margin: 0 .7em; }

/* Structure */

#logo {
    float: left;
    height: 60px;
}

#content {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    min-width: 200px;
    background-color: #eeeeee;
    padding: 10px;
}
