{% load static blog_tags twitter_tag cache compress %}

<div class="container">
    <div class="row">
        <section class="sponsors col-md-8 col-md-push-2 col-sm-8 col-sm-push-4">
            <h2>Yhteistyössä mukana</h2>
            <div class="sponsors-container">
                <div class="sponsor"><a href="https://www.jyu.fi/it"><img src="{% static 'main2018/images/partners/jyuit.png' %}" alt="JYU IT logo" /></a></div>
                <div class="sponsor"><a href="https://www.jyu.fi/it/laitokset/mit"><img src="{% static 'main2018/images/partners/tietotekniikanlaitos.png' %}" alt="JYU TTL logo" /></a></div>
                <div class="sponsor"><a href="http://linkkijkl.fi/"><img src="{% static 'main2018/images/partners/linkki.png' %}" alt="Linkki logo" /></a></div>
                <div class="sponsor"><a href="http://koodilehto.fi/"><img src="{% static 'main2018/images/partners/koodilehto.png' %}" alt="Koodilehto logo" /></a></div>
                <!--<div class="sponsor"><a href="http://www.ruosila.com/"><img src="{% static 'main2018/images/partners/ruosila.png' %}" alt="Ruosila logo" /></a></div>-->
                <div class="sponsor"><a href="http://www.paytrail.com/"><img src="{% static 'main2018/images/partners/paytrail.png' %}" alt="Paytrail logo" /></a></div>
                <div class="sponsor"><a href="http://www.musikantti.fi/"><img src="{% static 'main2018/images/partners/musikantti.png' %}" alt="Musikantti logo" /></a></div>
                <div class="sponsor"><a href="http://jimms.fi/"><img src="{% static 'main2018/images/partners/jimms.png' %}" alt="Jimms logo" /></a></div>
                <div class="sponsor"><a href="http://www.arroweng.fi/"><img src="{% static 'main2018/images/partners/arrow.png' %}" alt="Arrow logo" /></a></div>
                <div class="sponsor"><a href="http://www.reaktor.fi/"><img src="{% static 'main2018/images/partners/reaktor.png' %}" alt="Reaktor logo" /></a></div>
                <div class="sponsor"><a href="http://www.cgi.fi/"><img src="{% static 'main2018/images/partners/cgi.png' %}" alt="CGI logo" /></a></div>
                <div class="sponsor"><a href="http://wunder.dog"><img src="{% static 'main2018/images/partners/wunderdog.png' %}" alt="Wunderdog logo" /></a></div>
                <div class="sponsor"><a href="http://nvidia.com"><img src="{% static 'main2018/images/partners/nvidia.png' %}" alt="Nvidia logo" /></a></div>
                <div class="sponsor"><a href="http://www.flowa.fi"><img src="{% static 'main2018/images/partners/flowa.png' %}" alt="Flowa logo" /></a></div>
                <div class="sponsor"><a href="http://www.amistech.com/msc/"><img src="{% static 'main2018/images/partners/mysummercar.png' %}" alt="MY SUMMER CAR logo" /></a></div>
                <div class="sponsor"><a href="https://www.facebook.com/NESeSports-1500839223515719/"><img src="{% static 'main2018/images/partners/nesesports.png' %}" alt="NESeSports logo" /></a></div>
                <div class="sponsor"><a href="http://vectorama.info"><img src="{% static 'main2018/images/partners/vectorama.png' %}" alt="Vectorama logo" /></a></div>
                <div class="clear"></div>
            </div>
        </section>
        <section class="sitemap col-md-2 col-md-pull-8 col-sm-4 col-sm-pull-8">
            <h2>Sivukartta</h2>
            <ul>
                <li class="menu-item {% if templatename == 'index' %}current-menu-item{% endif %}"><a href="{% url 'main2018:index' %}">Blogi</a></li>
                <li class="menu-item {% if templatename == 'info' %}current-menu-item{% endif %}"><a href="{% url 'main2018:info' %}">Info</a></li>
                <li class="menu-item {% if templatename == 'kompot' %}current-menu-item{% endif %}"><a href="{% url 'main2018:kompot' %}">Kompot</a></li>
                <li class="menu-item {% if templatename == 'ohjelma' %}current-menu-item{% endif %}"><a href="{% url 'main2018:ohjelma' %}">Ohjelma</a></li>
                <li class="menu-item {% if templatename == 'aikataulu' %}current-menu-item{% endif %}"><a href="{% url 'main2018:aikataulu' %}">Aikataulu</a></li>
                <li class="menu-item {% if templatename == 'english' %}current-menu-item{% endif %}"><a href="{% url 'main2018:english' %}">In English</a></li>
                <!--<li class="menu-item {% if templatename == 'stream' %}current-menu-item{% endif %}" ><a href="{% url 'main2018:stream' %}">Stream</a></li>-->
                <li class="menu-item"><a href="{% url 'store:index' %}">Kauppa</a></li>
                <li class="menu-item"><a href="{% url 'km:index' event_id %}">Kompomaatti</a></li>
                <li class="menu-item"><a href="{% url 'archive:index' %}">Arkisto</a></li>
                <div class="clearer"></div>
            </ul>
        </section>
        <!--<section class="contact col-md-2 col-sm-12">
            <h2>Yhteystiedot</h2>
        </section>-->
    </div>
</div>