{% extends "users/base.html" %}
{% load crispy_forms_tags static %}

{% block title %}{{ block.super }} - Kirjaudu sisään{% endblock %}

{% block head %}
{{ block.super }}
    <style type="text/css">
    #id_openid_identifier {
        background: url({% static 'common/img/openid.gif' %}) no-repeat;
        background-position: 5px 50%;
        padding-left: 26px;
        width: 50%;
    }
    </style>
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('form.uniForm').uniform();
    $('#id_sps').change(function() {
        $('#id_openid_identifier').val($('#id_sps').val());
    });
    $('.login-button').button();
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Kirjaudu sisään</li>
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Kirjaudu sisään</h2>
    <p>Valitse kirjautumispalvelusi.</p>
    <p>
        Huom! Valitse kirjautumispalvelu huolella, ja käytä sitten vain sitä. Yhdellä kirjautumispalvelulla luodun
        Instanssi-tilin sisältöön ei pääse käsiksi toisen kirjautumispalvelun kautta kirjauduttaessa.
    </p>

    {% for method in AUTH_METHODS %}
        <a class="login-button login-{{ method.0 }}" href="{% url 'social:begin' method.1 %}?next={{ next }}">{{ method.2 }}</a>
    {% endfor %}
    <br />
    {% crispy openidform openidform.helper %}<br />
    {% crispy djangoform djangoform.helper %}
{% endblock %}