{% extends "users/base.html" %}
{% load crispy_forms_tags static %}

{% block title %}{{ block.super }} - Kirjaudu sisään{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Kirjaudu sisään</li>
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Kirjaudu sisään</h2>
    <p>Valitse kirjautumispalvelusi.</p>
    <p>
        Huom! Valitse kirjautumispalvelu huolella, ja käytä sitten vain sitä. Yhdellä kirjautumispalvelulla luodun
        Instanssi-tilin sisältöön ei pääse käsiksi toisen kirjautumispalvelun kautta kirjauduttaessa.
    </p>
    <p>
    {% for method in AUTH_METHODS %}
        <a class="btn btn-primary login-button login-{{ method.0 }}" href="{% url 'social:begin' method.1 %}?next={{ next }}">{{ method.2 }}</a>
    {% endfor %}
    </p>
    {% crispy djangoform djangoform.helper %}
{% endblock %}
