{% extends "users/base.html" %}
{% load crispy_forms_tags static %}

{% block title %}{{ block.super }} - Kirjaudu sisään{% endblock %}

{% block head %}
{{ block.super }}
    <style type="text/css">
    #id_openid_identifier {
        background: url({% static 'common/img/openid.gif' %}) no-repeat;
        background-position: 5px 50%;
        padding-left: 26px;
        width: 50%;
    }
    </style>
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('form.uniForm').uniform();
    $('#id_sps').change(function() {
        $('#id_openid_identifier').val($('#id_sps').val());
    });
    $('.login-button').button();
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Kirjaudu sisään</li>
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Kirjaudu sisään</h2>
    <p>Valitse kirjautumispalvelusi.</p>

    <a class="login-button" href="{% url 'social:begin' 'facebook' %}?next={{ next }}">Facebook</a>
    <a class="login-button" href="{% url 'social:begin' 'google-oauth2' %}?next={{ next }}">Google</a>
    <a class="login-button" href="{% url 'social:begin' 'twitter' %}?next={{ next }}">Twitter</a>
    <a class="login-button" href="{% url 'social:begin' 'github' %}?next={{ next }}">Github</a>
    <br />
    {% crispy openidform openidform.helper %}<br />
    {% crispy djangoform djangoform.helper %}
{% endblock %}