{% extends "users/base.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}Instanssi.org - {% trans "Login" %}{% endblock %}
{% block subtitle %}{% trans "Login" %}{% endblock %}

{% block card_content %}
    <div class="social-buttons mb-3">
        {% for method in AUTH_METHODS %}
            <a class="btn btn-outline-light" href="{% url 'social:begin' method.1 %}?next={{ next|urlencode }}">
                {% if method.0 == "google" %}<i class="fa-brands fa-google me-1"></i>{% endif %}
                {% if method.0 == "github" %}<i class="fa-brands fa-github me-1"></i>{% endif %}
                {% if method.0 == "steam" %}<i class="fa-brands fa-steam me-1"></i>{% endif %}
                {{ method.2 }}
            </a>
        {% endfor %}
    </div>
    <h2>{% trans "Login with credentials" %}</h2>
    {% crispy djangoform djangoform.helper %}
{% endblock %}
