{% extends "users/base.html" %}

{% block title %}{{ block.super }} - Profiili{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Profiili</li>
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Kirjautumistilit</h2>
    <p>
        Halutessasi voit sitoa tiliisi muita kirjautumispalveluita. Tällöin voit kirjautua Instanssi.org palvelun
        tiliisi käyttäen mitä tahansa tunnukseesi sidottua kirjautumispalvelua. Mikäli painike on harmaa, tarkoittaa
        se palvelun olevan jo sidottu Instanssi.org-tiliin.
    </p>
    <p>
    {% for provider_id, provider_name, is_connected in providers %}
        {% if is_connected %}
            <button class="btn btn-primary login-button login-{{ provider_id }}" disabled="disabled">{{ provider_name }}</button>
        {% else %}
            <a class="btn btn-primary login-button login-{{ provider_id }}" href="/accounts/{{ provider_id }}/login/?process=connect&next={% url 'users:profile' %}">Sido {{ provider_name }}</a>
        {% endif %}
    {% endfor %}
    </p>

    <h2>Profiili</h2>
    <p>Kannattaa pitää huolta siitä että käyttäjätiedot ovat oikein. Tapahtuman järjestäjillä saattaa tulla asiaa :) Mitään tämän sivun käyttäjätietoja ei julkaista.</p>
    <form method="post" action="{% url 'users:profile' %}">
        {% csrf_token %}
        {% for field in profileform %}
        <div style="margin-bottom: 12px;">
            <label for="{{ field.id_for_label }}"><strong>{{ field.label }}</strong></label><br>
            {{ field }}
            {% if field.help_text %}<br><small>{{ field.help_text }}</small>{% endif %}
            {% if field.errors %}
            <ul class="errorlist">
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary" name="submit-profile">Tallenna</button>
    </form>
{% endblock %}
