<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Arkistoija</title>
    <link rel="stylesheet" href="/static/libs/css/reset.css" />
    <link rel="stylesheet" href="/static/libs/css/jquery/ui-lightness/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" href="/static/arkistoija/css/style.css" />
    <link rel="stylesheet" href="/static/libs/css/uni-form/uni-form.css" media="all" />
    <link rel="stylesheet" href="/static/libs/css/uni-form/default.uni-form.css" media="all" />
    <script type="text/javascript" src="/static/libs/js/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/libs/js/jquery/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/static/libs/js/uni-form/uni-form-validation.jquery.min.js"></script>
{% block head %}{% endblock %}
    <script type="text/javascript">
    $(function() {
{% block jquery %}{% endblock %}
    });
    </script>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>