<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Arkistoija</title>
    <link rel="stylesheet" href="/static/libs/css/reset.css" />
    <link rel="stylesheet" href="/static/libs/css/jquery/ui-lightness/jquery-ui-1.8.16.custom.css" />
    <link rel="stylesheet" href="/static/arkistoija/css/style.css" />
    <link rel="stylesheet" href="/static/libs/css/uni-form/uni-form.css" media="all" />
    <link rel="stylesheet" href="/static/libs/css/uni-form/default.uni-form.css" media="all" />
    <script type="text/javascript" src="/static/libs/js/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/libs/js/jquery/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/static/libs/js/uni-form/uni-form-validation.jquery.min.js"></script>
{% block head %}{% endblock %}
    <script type="text/javascript">
    $(function() {
        $('#previous').button({disabled: {% if page_prev < 0 %}true{% else %}false{% endif %}});
        $('#cancel').button({disabled: {% if page_this == 0 %}true{% else %}false{% endif %}});
        $('#next').button();
{% block jquery %}{% endblock %}
    });
    </script>
</head>
<body>
<div id="base">
    <h1>Arkistoija</h1>
    <div id="content">
        <h2>&raquo; {% block title %}{% endblock %}</h2>
        {% block content %}{% endblock %}
    </div>
    <div id="buttonrow">
        <a href="/arkistoija/p/{{ page_prev }}/" id="previous">&laquo; Edellinen</a>
        <a href="/arkistoija/p/0/" id="cancel">Lopeta</a>
        <a href="/arkistoija/p/{{ page_next }}/" id="next">Seuraava &raquo;</a>
    </div>
</div>

</body>
</html>