{% extends "arkistoija/base.html" %}
{% load uni_form_tags %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('form.uniForm').uniform();
    $('#next').click(function() {
        $('.uniForm').trigger('submit');
        return false;
    });
{% endblock %}

{% block title %}{{ block.super }}Tapahtuman tiedot{% endblock %}

{% block content %}
{{ block.super }}
<p>
    Ensin täytyy luoda uusi tapahtuma. Anna tapahtuman tiedot ja paina "Seuraava".
</p>
{% uni_form eventform eventform.helper %}
{% endblock %}
