{% extends "arkistoija/base.html" %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block title %}{{ block.super }}Etusivu{% endblock %}

{% block content %}
{{ block.super }}
<p>
    Arkistoija hoitaa kompojen siirtämisen kompomaatista arkistoon. Arkistoija esittää muutamia kysymyksiä siirrosta, 
    ja viimeisessä askeleessa suoritetaan itse siirtoprosessi. Huom! Arkistointiprosessi ei tuhoa kompomaatin tietoja;
    ne on tuhottava käsin. Huomaa myös, että mikäli kompot vievät paljon tilaa, saattaa vastaan tulla palvelimen
    levytila!
</p>
<p>
    Kun haluat aloittaa siirtoprosessin, paina "Seuraava".
</p>
{% endblock %}
