{% extends "main2020/base.html" %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
    <h1>Info</h1>

    <h2>Mikä on Instanssi?</h2>
    <p>
        Instanssi on ainejärjestö Linkki Jyväskylä ry:n vuotuisesti, jo vuodesta 2010 lähtien järjestämä
        digitaalisen tekemisen festivaali Jyväskylässä.
    </p>
    <p>
        Instanssi on aloittelijaystävällinen tapahtuma, jonka ohjelma koostuu kompoista
        (eli kilpailuista), pelaamisesta, ohjelmoimisesta, esitelmistä ja työpajoista.
    </p>
    <p>
        Tapahtuman erikoisuuksina ovat ohjelmoitava salivalaistus ja kompoista erityisesti Summamutikka,
        jossa tavoitteena on mahdollisimman suuri hämmennys vapaavalintaisella esittämistavalla.
    </p>

    <h2>Aika ja paikka</h2>
    <p>
      Instanssi 2020 järjestetään 27.2.-1.3.2020 Jyväskylän kristillisellä koululla, osoitteessa Voionmaankatu 18, Jyväskylä.
    </p>

    <iframe width="600"
            height="450"
            id="instanssi-location-map"
            frameborder="0"
            style="border:0; max-width:100%"
            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ3WoIEiN0hUYRogdPWJx7Alk&language=fi&key={{ GOOGLE_API_KEY }}" allowfullscreen></iframe>

    <h2>Mitä mukaan?</h2>
    <p>
        Instanssiin tullessaan on hyvä varautua samaan malliin kuin laneille tai muille demopartyille tullessa.
        Tässäpä lista, huomaa kahvikuppi:
    </p>
    <ul>
      <li>
          Tietokone tarvikkeineen, 10 metrin verkkojohto on hyvä idea, samoin jatkojohto jossa riittää reikiä kaikille
          tuomillesi laitteille. Merkitse etenkin johtosi, mutta mielellään muutkin tuomasi tavarat, jotta löydät omasi
          helposti lähtiessäsi.
      </li>
      <li>Makuupussi ja -alusta tai vastaavat yöpymisvälineet</li>
      <li>Vaihtovaatteita viikonlopun tarpeiksi</li>
      <li>Henkilökohtaiset hygieniavälineet: pyyhe, hammasharja ja sitä rataa. Paikalla on suihku.</li>
      <li>Käteistä rahaa mm. ovelta ostettavia lippuja tai t-paitoja varten.</li>
      <li>Oma kahvikuppi ilmaista kahvia ja teetä varten</li>
      <li>Pientä purtavaa ja juotavaa kannattaa olla omastakin takaa. Tapahtumapaikalla tänä vuonna on ainakin yksi yleisön käytössä oleva mikroaaltouuni, kahvinkeitin sekä vedenkeitin.
        <ul><li>Konepaikkojen sähköverkko ei kestä kävijöiden omia kodinkoneita, kuten kahvinkeittimiä, jääkaappeja tai mikroaaltouuneja. Saat tuoda oman peltier-elementillä varustetun matkakylmälaukun.</li></ul>
      </li>
      <li>Hilpeää partyfiilistä!</li>
    </ul>

    <h2>Mitä EI mukaan!</h2>
    <p>Kiellettyjen asioiden &amp; aineiden lista.</p>
    <ul>
        <li>Reseptilääkkeet ilman reseptiä ja henkilöllisyystodistusta</li>
        <li>Alkoholi</li>
        <li>Huumausaineet</li>
        <li>Ampuma- ja teräaseet sekä muut vahingoittamiseen tarkoitetut esineet</li>
        <li>Monitoimityökalut</li>
        <li>Ilotulitteet ja muut räjähteet</li>
        <li>Laserosoittimet ja muut vastaavat esineet</li>
        <li>Omat kodinkoneet (kahvinkeittimet, jääkaapit, pyykinpesukoneet, jne.)</li>
    </ul>

    <h2>Yhteystiedot</h2>
    <p>
        IRC: #instanssi @ IRCNet<br />
        Email: Koko työryhmän tavoitat osoitteesta info@instanssi.org.<br />
    </p>

    <h2>Some</h2>
    <p>
        Twitter: <a href="https://twitter.com/instanssi">https://twitter.com/instanssi</a><br />
        Facebook: <a href="https://www.facebook.com/instanssi">https://www.facebook.com/instanssi</a><br />
        Telegram: <a href="https://telegram.me/Instanssi">https://telegram.me/Instanssi</a><br />
        Youtube: <a href="https://www.youtube.com/user/InstanssiOrg">https://www.youtube.com/user/InstanssiOrg</a>
    </p>
{% endblock %}

