{% extends "main2020/base.html" %}
{% load static %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h1>Effect Server</h1>

<h2>Mikä?</h2>
<p>
    <a href="http://valot.party:8080">Effect Server</a> eli Tehostepalvelin on jatkoa Instansseilla aikaisemmin nähdylle Valopalvelimelle.
</p>
<p>
    Tehostepalvelimen tarkoitus on tarjota Instanssin kävijöille ohjelmointirajapinta
    partysalin valaistukseen ja mahdollisesti muihin salissa olevien tehosteiden hallintaan. Vuoden 2020 Instanssissa salin valaistuksena on 24 RGB LED-valoa ja 4 UV-valoa.
</p>
<p>
    Tehostepalvelimen lähdekoodi on saatavilla <a href="https://github.com/Instanssi/effectserver">GitHubissa</a>. Repositoriossa on myös muutamia koodiesimerkkejä.
</p>
<h2>Valojen asettelu</h2>
<img class="no-border" src="{% static 'main2020/images/salivalot.svg' %}" style="max-height: 300px;">
<p></p>
<p>
    RGB-valot on numeroitu 0..23 vastapäivään kiertäen, alkaen lavan vasemmalta puolelta. UV-valojen numerot ovat 24..27.
</p>
<h2>Protokolla</h2>
<p>
    Tehostepalvelimen rajapinta valoihin on yksinkertainen viestiprotokolla, jota voi käyttää UDP-paketeilla tai WebSocket-viesteillä. Sen suunnittelussa on erityisesti pyritty ottamaan huomioon ohjelmoitavuuden yksinkertaisuus liikaa kuitenkaan rajoittamatta laajennettavuutta. Valojen ohjaukseen ei siis tarvita mitään kirjastoja, vaan tehtävään soveltuu mikä tahansa kieli, jolla voidaan lähettää UDP-paketteja tai binäärimuotoisia WebSocket-viestejä.
</p>
<p>
    Tehostepalvelimen viestipaketissa ensimmäinen tavu on protokollan versio, joka on tällä hetkellä aina numero yksi. Tämän jälkeen pakettiin voidaan liittää yksi tai useampi komento.
</p>
<p>
    Yksittäinen RGB-valon komento koostuu 6 tavusta:
</p>
<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Arvo (uint8)</th>
            <th>Selitys</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1.</td>
            <td>1</td>
            <td>Ohjattavan tehosteen tyyppi. 1 = Valo</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>0-N</td>
            <td>Valon numero. Katso yo. kuva.</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>0</td>
            <td>Valon tyyppi. 0 = RGB-valo</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>0-255</td>
            <td>Punaisen värin kirkkaus</td>
        </tr>
        <tr>
            <td>5.</td>
            <td>0-255</td>
            <td>Vihreän värin kirkkaus</td>
        </tr>
        <tr>
            <td>6.</td>
            <td>0-255</td>
            <td>Sinisen värin kirkkaus</td>
        </tr>
    </tbody>
</table>
<p>
    Jos tarkoitus on päivittää kaikkien valojen tilaa nopeasti, samassa paketissa kannattaa antaa komento useammalle valolle kerrallaan.
</p>
<p>
    Eli paketti ensimmäisen valon muuttamiseksi punaiseksi ja toisen siniseksi olisi seuraavanlainen:
</p>
<script src="https://gist.github.com/1678580.js?file=gistfile1.txt"></script>
<p>
    Tämä muuntuu koodiksi Python-ohjelmointikielellä seuraavasti
</p>
<script src="https://gist.github.com/teistiz/3b90f4d8cd15b7dcc917e1787b822a2a.js"></script>
{% endblock %}
