<!DOCTYPE html>{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <title>Screenshow</title>
    <meta name="viewport" content="width=1280, height=720" />
    <script type="text/javascript" src="{% static 'libs/js/jquery/jquery-1.8.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/js/twitterlib/twitterlib.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'screenshow/js/jmpress.js' %}"></script>
    <script type="text/javascript" src="{% static 'screenshow/js/jquery.tubeplayer.min.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'screenshow/js/settings.js' %}"></script>
    <script type="text/javascript" src="{% static 'screenshow/js/mods/clock.js' %}"></script>
    <script type="text/javascript" src="{% static 'screenshow/js/mods/events.js' %}"></script>
    <script type="text/javascript" src="{% static 'screenshow/js/mods/front.js' %}"></script>
    <script type="text/javascript" src="{% static 'screenshow/js/mods/irc.js' %}"></script>
    <script type="text/javascript" src="{% static 'screenshow/js/mods/messages.js' %}"></script>
    <script type="text/javascript" src="{% static 'screenshow/js/mods/twitter.js' %}"></script>
    <script type="text/javascript" src="{% static 'screenshow/js/mods/youtube.js' %}"></script>
    
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" type="text/css" href="{% static 'libs/css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'screenshow/css/style.css' %}" />
    <script type="text/javascript">
    $(function() {
        "use strict";
        
        // URLs to APIs
        var events_api_url = '{% url 'screen:events-api' event_id %}';
        var irc_api_url = '{% url 'screen:irc-api' event_id %}';
        var messages_api_url = '{% url 'screen:messages-api' event_id %}';
        var youtube_api_url = '{% url 'screen:playlist-api' event_id %}';
        var settings_api_url = '{% url 'screen:settings-api' event_id %}';
        
        // Set jmpress element
        var jm = $('#jmpress');
        
        // Load settings
        var settings = new Settings(settings_api_url);
        settings.update();
        
        // Set modules
        var modules = [];
        modules.push(new ScreenIrc(settings, jm, $('#irc'), irc_api_url));
        modules.push(new ScreenEvents(settings, jm, $('#events'), events_api_url));
        modules.push(new ScreenMessages(settings, jm, $('#messages'), messages_api_url));
        modules.push(new ScreenClock(settings, jm, $('#clock')));
        modules.push(new ScreenFrontpage(settings, jm, $('#nametext')));
        modules.push(new ScreenTwitter(settings, jm, $('#twitter')));
        modules.push(new ScreenYoutube(settings, jm, $('#youtube'), youtube_api_url));
        
        // Init all modules
        $.each(modules, function(key, module){
            module.init(); 
        });
        
        // Init jmpress
        jm.jmpress({
            afterInit: function(element, eventData) {
                $.each(modules, function(key, module){
                    module.post_init(); 
                });
            },
            beforeChange: function(element, eventData) { 
                // Update all on nametext slide
                if(element.attr('id') == 'nametext') {
                    $.each(modules, function(key, module){
                        module.update();
                    });
                }
            },
            mouse: { clickSelects: false }
        });
    });
    </script>
</head>
<body>
<div id="jmpress">
    <div id="nametext" class="step nohide text" data-x="0" data-y="0" data-z="0" data-scale="1.0" data-duration="8000"></div>
    <div id="twitter" class="step dohide text" data-x="0" data-y="540" data-z="0" data-rotate-z="90" data-scale="1.0" data-duration="8000"></div>
    <div id="clock" class="step dohide text" data-x="0" data-y="-500" data-z="0" data-rotate-z="90" data-scale="1.0" data-duration="8000"></div>
{% for sponsor in sponsors %}
    <div id="sponsor_{{ sponsor.id }}" 
         class="step dohide text" 
         data-x="{{ sponsor.x }}" 
         data-y="{{ sponsor.y }}" 
         data-z="{{ sponsor.z }}"
         data-rotate-x="{{ sponsor.rot_x }}" 
         data-rotate-y="{{ sponsor.rot_y }}" 
         data-rotate-z="{{ sponsor.rot_z }}"
         data-scale="0.1"
         data-duration="1200">
        {% if sponsor.logo %}
        <img class="sponsorimage" src="{{ sponsor.logo_scaled.url }}" alt="{{ sponsor.name }}" width="{{ sponsor.logo_scaled.width }}" height="{{ sponsor.logo_scaled.height  }}" />
        {% else %}
        <p class="sponsorname">{{ sponsor.name }}</p>
        {% endif %}
    </div>
{% endfor %}
    <div id="events" class="step dohide text" data-x="900" data-y="0" data-z="300" data-rotate-z="310" data-rotate-y="50" data-scale="0.2" data-duration="8000"></div>
    <div id="youtube" class="step dohide fullscreen" data-x="100" data-y="600" data-z="-700" data-rotate-x="330" data-rotate-z="270" data-rotate-y="170" date-scale="0.2"></div>
    <div id="messages" class="step dohide text" data-x="-200" data-y="200" data-z="-150" data-rotate-x="90" data-rotate-z="0" data-rotate-y="270" date-scale="0.2" data-duration="8000"></div>
    <div id="irc" class="step dohide text" data-x="-400" data-y="0" data-z="-350" data-rotate-z="30" data-rotate-y="200" date-scale="0.2" data-duration="20000"></div>
</div>
</body>
</html>