		<form>
			<img alt="First" src="/static/libs/css/tablesorter/icons/first.png" class="first"/>
			<img alt="Previous" src="/static/libs/css/tablesorter/icons/prev.png" class="prev"/>
			<input type="text" size="20" class="pagedisplay"/>
			<img alt="Next" src="/static/libs/css/tablesorter/icons/next.png" class="next"/>
			<img alt="Last" src="/static/libs/css/tablesorter/icons/last.png" class="last"/>
			<select class="pagesize">
				<option value="10">10</option>
				<option value="20">20</option>
				<option selected="selected" value="30">30</option>
				<option value="40">40</option>
				<option value="80">80</option>
			</select>
		</form>