		<form>
			<img alt="First" style="margin-bottom: 3px;" src="/static/libs/css/tablesorter/icons/first.png" class="first"/>
			<img alt="Previous" style="margin-bottom: 3px;" src="/static/libs/css/tablesorter/icons/prev.png" class="prev"/>
			<input type="text" size="20" style="border: 1px solid black;" class="pagedisplay"/>
			<img alt="Next" style="margin-bottom: 3px;" src="/static/libs/css/tablesorter/icons/next.png" class="next"/>
			<img alt="Last" style="margin-bottom: 3px;" src="/static/libs/css/tablesorter/icons/last.png" class="last"/>
			<select class="pagesize" style="border: 1px solid black;">
				<option selected="selected" value="10">10</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="80">80</option>
			</select>
		</form>