// Background effects. These may be changed by JS at runtime.

#page-background {
    > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;

        transition: opacity 2s ease-in-out;
    }
    .layer-cyan {
        background-image: url('../images/bg/cyan.png');
    }
    .layer-green {
        background-image: url('../images/bg/green.png');
    }
    .layer-purple {
        background-image: url('../images/bg/purple.png');
    }
    .layer-yellow {
        background-image: url('../images/bg/yellow.png');
    }
}

#content {
    // raise content above the background effect
    position: relative;
}

@media (max-width: $screen-sm-max) {
    #page-background {
        display: none;

        // TODO: Make a merged image and display it as a static background?
    }
}
