/* footer */
#page-footer {
    min-height: $main-footer-height;
    margin-top: $spacing-large;
    width: 100%;
    background: #333;
    bottom: 0px;
    padding: $spacing-large 0;

    .container {
        box-sizing: border-box;
        padding: 0 10px 0;
    }

    section {
        float: left;

        h2 {
            font-size: 18px;
            color: #fff;
            font-weight: bold;
        }
    }

    .sitemap {
        width: 150px;
        margin-bottom: 20px;
    }

    .sponsors {
        width: 740px;

        .sponsor {
            width: 128px;
            float: left;
            padding: 0% 1% 1% 0%;

            &.white {
                background: #fff;
            }

            a {
                display: block;
                line-height: 0px;
                padding: 4%;
                background: #fff;
            }

            a:hover {
                opacity: 0.9;
            }

            img {
                background: #fff;
            }
        }
    }

    .contact {
        width: 150px;
    }

    .menu-item {
        margin: 8px 0 8px;
    }

    .menu-item a {
        padding: 8px;
        color: #ccc;
        text-decoration: none;
    }

    .current-menu-item a {
        color: #fff;
        background: $theme-color;
        text-decoration: none;
    }
}
