#page-header {
    position: relative;
    overflow: hidden;

    .header-bg {
        position: absolute;
        // background: url($banner-image-0) repeat-x;
        // background-position: contain;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .header-bg-fx {
        position: relative;
    }

    .halo-orange {
        background: url('../images/halo-orange.png') no-repeat;
    }
    .halo-green {
        background: url('../images/halo-green.png') no-repeat;
    }
    .halo-blue {
        background: url('../images/halo-blue.png') no-repeat;
    }
    .halo-purple {
        background: url('../images/halo-purple.png') no-repeat;
    }
    // TODO: Mobile positioning
    .halo-2018 {
        position: absolute;
        background-size: contain;
        transition: opacity linear 0.5s;
    }

    a {
        text-decoration: none; // no underline pls
    }

    // logo and info

    .header-info {
        min-height: $main-header-height;
        padding: 0 8px;

        // position to prevent the (positioned) art from covering this
        position: relative;

        color: #fff;

        &:after {
            // The big logo
            margin-left: -24px; // fix alignment with content
            content: '';
            display: block;
            position: absolute;
            top: 20px;
            width: 530px;
            height: 200px;
            max-width: 100%;
            background: url('../images/logo.png') 50% no-repeat;
            background-size: 100%;

            @media screen and (max-width: $screen-xs-min - 1px) {
                // tweak logo to align with text
                margin-left: -10px;
                top: 0px;
                max-width: 75%;
                height: 100px;
            }
        }
        h1, .tagline, .time {
            margin-left: 8px;
            font-family: $title-font-family;
            color: #fff;
        }
        .tagline, .time {
            margin-bottom: 5px;
            text-shadow: #124 0 2px 3px;
            text-shadow: #124 0 2px 3px, #124 0 2px 6px;
        }
        .tagline {
            font-size: 20px;
        }
        .time {
            font-size: 24px;
            padding: 180px 0 0 8px;
        }

        h1 {
            font-size: 55px;
            font-weight: 800;
            text-transform: uppercase;
            padding: 0;
            line-height: 400%;
            text-shadow: #124 4px 0 3px, #124 -4px 0 3px;
        }

    }

    // Mobile menu button
    .nav-btn {
        display: none;
        // margin: 8px 0 0;
        padding: 8px 8px;
        color: #fff;
        background: rgba($theme-color-bright, 0.5);
        box-shadow: rgba(#000, .25) 1px 1px 4px;
        cursor: pointer;

        .fa {
            // mimic logo's styling with text color and shadow
            color: #fff;
            text-shadow: rgba($theme-color, .5) 0 0 8px;
        }

        &:active {
            background: $theme-color-bright;
        }
    }

    // Navigation menu
    nav.main-nav {
        padding: 0;
        margin-bottom: $spacing-large;
        //background: rgba(darken($theme-color, 10%), 0.9);
        background: rgba($theme-color-dark, 0.9);
        ul {
            border: 0;
            li {
                a {
                    font-family: $title-font-family;
                    text-transform: uppercase;
                    transition: background-image $transition-large ease;
                    text-decoration: none;

                    padding: ($spacer * 1.5) ($spacer * 2);

                    color: #fff;
                    background: rgba(#fff, 0);
                    // Bootstrap default is 2px
                    margin-right: 0;

                    @media screen and (max-width: $screen-md-max) {
                        // tighten navbar layout a bit to fit all links
                        padding: 12px;
                    }

                    border: 0;

                    position: relative;
                    $link-hover-bg: $theme-color-bright;

                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        background: linear-gradient(
                            rgba($link-hover-bg, 0.0),
                            rgba($link-hover-bg, 0.33)
                        );
                        transition: opacity .3s ease-out;
                        opacity: 0;
                    }

                    &:hover {
                        border: 0;

                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
            .menu-item-right {
                float: right;
            }
            li.active {
                background: $theme-color-bright;
                a {
                    color: #fff;
                    &:hover {
                        color: #fff;
                    }
                }
            }
            li a {
                padding-left: 15px;
                position: relative;
            }
            li a::before {
                margin-right: 8px;
                display: inline-block;
            }
            .item-store a::before { @include awesome-glyph('\f07a'); }
            .item-blog a::before { @include awesome-glyph('\f015'); }
            /*.item-archive a::before { @include awesome-glyph('\f187'); }
            .item-kompomaatti a::before { @include awesome-glyph('\f1b2'); }
            .item-english a::before{ @include awesome-glyph('\f0ac'); }
            .item-info a::before { @include awesome-glyph('\f129'); }
            .item-kompos a::before { @include awesome-glyph('\f091'); }
            .item-programme a::before { @include awesome-glyph('\f133'); }
            .item-schedule a::before { @include awesome-glyph('\f017'); }*/
        }
    }
}
