/* .container aside > section > div {
    padding: $spacing-medium;
}*/

#sidebar {
    // float: left;
    // width: 300px;

    .social-media-icons {
        margin: 0 (-$spacer/2);

        a {
            display: inline-block;
            margin: 0 ($spacer/2) $spacer;
            &:hover {
                opacity: .7;
            }
            > img {
                // Can we trust IE to keep aspect this time?
                // Also, !important because some old hack meant to keep
                // 3000+px blog images in check
                max-width: 32px !important;
                max-height: 32px !important;
            }
        }
    }

    .widget { margin-bottom: $spacer; }

    #tweets { margin: 0 $spacer; }
    #tweets .link a,
    #tweets .time {
        font-size: 11px;
    }
    #tweets li {
        margin-bottom: 20px;
    }
}

.widget-rekry {
    ul {
        list-style: disc outside none;
        margin-left: 1.7em;
    }
    div {
        margin: 1em 5px 1em;
    }
}
