{% load static %}
{% if progs %}
<div id="programme">
{% for prog in progs %}
    <div class="item" id="{{ prog.id }}">
        <h2 class="title">
            {{ prog.title }}
        </h2>
        <div class="pull-right text-right">
            <div>
                <a class="schedule-link" href="{% url 'main2017:aikataulu' %}#sp-{{ prog.id }}">
                    <span class="fa fa-clock-o"></span> {{ prog.short_start_time }}
                </a>
            </div>
            <div>{{ prog.place }}</div>
        </div>
        <div class="person">
{% if prog.icon_original or prog.icon2_original %}
            <div class="icon">
{% if prog.icon_original %}
                <img src="{{ prog.icon_small.url }}"
                     width="{{ prog.icon_small.width }}"
                     height="{{ prog.icon_small.height }}"
                     alt="Icon 1" />
{% endif %}
{% if prog.icon2_original %}
                <img src="{{ prog.icon2_small.url }}"
                     width="{{ prog.icon2_small.width }}"
                     height="{{ prog.icon2_small.height }}"
                     alt="Icon 2" />
{% endif %}
            </div>
{% endif %}
            <div class="personalinfo">
                <span class="names">{{ prog.presenters }}</span>
                <span class="titles">{{ prog.presenters_titles }}</span>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="description">
            {{ prog.description|safe }}
        </div>
        <div class="serviceicons">
{% if prog.home_url %}<a class="link-web" href="{{ prog.home_url }}"><span class="sr-only">Kotisivu</span></a>{% endif %}
{% if prog.email %}<a class="link-email" href="mailto:{{ prog.email }}"><span class="sr-only">Sähköpostiosoite</span></a>{% endif %}
{% if prog.twitter_url %}<a class="link-twitter" href="{{ prog.twitter_url }}"><span class="sr-only">Twitter</span></a>{% endif %}
{% if prog.github_url %}<a class="link-github" href="{{ prog.github_url }}"><span class="sr-only">Github</span></a>{% endif %}
{% if prog.facebook_url %}<a class="link-facebook" href="{{ prog.facebook_url }}"><span class="sr-only">Facebook</span></a>{% endif %}
{% if prog.linkedin_url %}<a class="link-linkedin" href="{{ prog.linkedin_url }}"><span class="sr-only">Linkedin</span></a>{% endif %}
{% if prog.wiki_url %}<a class="link-wiki"  href="{{ prog.wiki_url }}"><span class="sr-only">Wikipedia</span></a>{% endif %}
{% if prog.gplus_url %}<a class="link-gplus" href="{{ prog.gplus_url }}"><span class="sr-only">Google+</span></a>{% endif %}
        </div>
    </div>
{% endfor %}
</div>
{% else %}
<p>Ohjelmaa ei ole vielä määritelty.</p>
{% endif %}
