{% extends "admin_users/base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - API Avaimet{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Selaa</li>
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Omat applikaatiot</h2>

{% for app in apps %}
    <h3>{{ app.name }}</h3>
    <p>
    <strong>Client ID:</strong><br />
    {{ app.client_id }}<br/>
    <strong>Client Secret:</strong><br />
    {{ app.client_secret }}
    </p>
    <p>
    <a href="{% url 'manage-users:delete_app' app.id %}">Poista</a>
    </p>
{% endfor %}

{% crispy add_form add_form.helper %}

{% if request.user.is_superuser %}
    <br /><h2>Kaikki applikaatiot</h2>
{% if all_apps %}
     <table class="table table-striped table-condensed">
         <thead>
             <tr>
                <th>Omistaja</th>
                <th>Applikaatio</th>
                 <th>Client ID</th>
             </tr>
         </thead>
         <tbody>
{% for app in all_apps %}
            <tr>
                <td>{{ app.user }}</td>
                <td>{{ app.name }}</td>
                <td>{{ app.client_id }}</td>
            </tr>
{% endfor %}
         </tbody>
     </table>
{% else %}
    <p>Ei applikaatioita!</p>
{% endif %}
{% endif %}
{% endblock %}
