{% extends "admin_base/generic_base.html" %}

{% block title %} - Käyttäjät{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block sidemenu %}
{{ block.super }}
            <ul class="box">
            	<li class="menuitem"><a href="/manage/profile/">Apua</a></li>
                <li class="menuitem"><a href="/manage/profile/profile/">Profiilin tiedot</a></li>
                <li class="menuitem"><a href="/manage/profile/password/">Salasanan vaihto</a></li>
            </ul>
{% endblock %}

{% block content %}
{{ block.super }}
{% endblock %}