{% extends "admin_blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} - Muokkaa{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Muokkaa blogientryä</li>
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('#id_text').summernote({height: 250, lang: 'fi-FI'});
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Muokkaa blogientryä</h2>
{% crispy editform editform.helper %}
{% endblock %}