{% extends "admin_blog/base.html" %}
{% load crispy_forms_tags compress static %}

{% block title %}{{ block.super }} - Muokkaa{% endblock %}

{% block head %}
{{ block.super }}
    <script type="text/javascript" src="{% static "libs/trumbowyg/trumbowyg.min.js" %}"></script>
    <script type="text/javascript" src="{% static "libs/trumbowyg/langs/fi.min.js" %}"></script>
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "libs/trumbowyg-instanssi/trumbowyg.scss" %}" />
    {% endcompress %}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Muokkaa blogientryä</li>
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('#id_text').trumbowyg({
        lang: 'fi',
        semantic: true,
        resetCss: true,
        removeformatPasted: true
    });
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Muokkaa blogientryä</h2>
{% crispy editform editform.helper %}
{% endblock %}