{% extends "admin_blog/base.html" %}

{% block title %}{{ block.super }} - Entryt{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
		&raquo; Entryt
{% endblock %}

{% block jquery %}
{{ block.super }}
    $(".delete_link").click(function(){
        return confirm("Haluatko varmasti poistaa blogientryn ?"); 
    });
    $("#blogentry_table").tablesorter({widgets: ['zebra'], sortList: [[0,0],]}).tablesorterPager({container: $("#blog_pager")}); 
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Blogientryt</h2>
{% if entries %}
	<table id="blogentry_table" class="tablesorter">
		<thead>
			<tr>
				<th>Otsikko</th>
				<th>Päivämäärä</th>
				<th>Käyttäjä</th>
				<th>Julkinen</th>
				<th class="sorter-false">Muokkaa</th>
				<th class="sorter-false">Poista</th>
			</tr>
		</thead>
		<tbody>
{% for entry in entries %}
			<tr>
				<td>{{ entry.title }}</td>
				<td>{{ entry.date|date:"d.m.Y \k\l\o\. H:i" }}</td>
				<td>{{ entry.user.username }}</td>
				<td>{% if entry.public %}Kyllä{% else %}Ei{% endif %}</td>
				<td><a href="/manage/{{ selected_event_id }}/blog/edit/{{ entry.id }}/" >Muokkaa</a></td>
				<td><a href="/manage/{{ selected_event_id }}/blog/delete/{{ entry.id }}/" class="delete_link">Poista</a></td>
			</tr>
{% endfor %}
		</tbody>
	</table>
	<div id="blog_pager" class="pager">
		{% include "common/pagination.html" %}
	</div>
{% else %}
    <p>Ei entryjä!</p>
{% endif %}
{% endblock %}