{% extends "admin_slides/base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
		&raquo; Selaa
{% endblock %}

{% block jquery %}
{{ block.super }}
	$("#slides_table").tablesorter({widgets: ['zebra'], sortList: [[0,0],]});
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Slaidit</h2>
    	
{% if compos %}
	<table id="slides_table" class="tablesorter">
		<thead>
			<tr>
				<th>Kompo</th>
				<th>Kompon alkamisaika</th>
				<th class="sorter-false">Osallistujat</th>
				<th class="sorter-false">Tulokset</th>
			</tr>
		</thead>
		<tbody>
{% for compo in compos %}
			<tr>
				<td>{{ compo.name }}</td>
				<td>{{ compo.compo_start|date:"d.m.Y \k\l\o\. H:i" }}</td>
				<td><a href="/manage/{{ selected_event_id }}/slides/slide_entries/{{ compo.id }}/">Osallistujat</a></td>
				<td><a href="/manage/{{ selected_event_id }}/slides/slide_results/{{ compo.id }}/">Tulokset</a></td>
			</tr>
{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>Ei kompoja!</p>
{% endif %}
{% endblock %}