{% extends "admin_base/generic_base.html" %}

{% block title %} - Tapahtumat{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block sidemenu %}
{{ block.super }}
            <ul class="box">
            	<li class="menuitem"><a href="/manage/events/">Selaa</a></li>
                <li class="menuitem"><a href="/manage/events/add/">Lisää</a></li>
            </ul>
{% endblock %}

{% block content %}
{{ block.super }}
{% endblock %}