{% extends "admin_events/base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - Listaus{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Selaa</li>
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Tapahtumat</h2>
{% if events %}
    <table class="table table-striped table-condensed">
    	<thead>
    		<tr>
    			<th>Nimi</th>
    			<th>Päivämäärä</th>
    			<th>Arkistoitu</th>
    			{% if perms.kompomaatti.change_event %}<th></th>{% endif %}
                {% if perms.kompomaatti.delete_event %}<th></th>{% endif %}
    		</tr>
    	</thead>
    	<tbody>
{% for event in events %}
			<tr>
				<td><a href="{% url 'manage-overview:index' event.id %}">{{ event.name }}</a></td>
				<td>{{ event.date|date:"d.m.Y" }}</td>
				<td>{% if event.archived %}Kyllä{% else %}Ei{% endif %}</td>
{% if perms.kompomaatti.change_event %}
				<td>
					<a href="{% url 'manage-events:edit' event.id %}"  class="edit_link btn btn-primary btn-xs" role="button">
                        <span class="edit_link fa fa-pencil"></span>
                    </a>
                </td>
{% endif %}
{% if perms.kompomaatti.delete_event %}
                <td>
					<a href="{% url 'manage-events:delete' event.id %}"  class="delete_link btn btn-danger btn-xs" role="button">
                        <span class="edit_link fa fa-trash"></span>
                    </a>
				</td>
{% endif %}
			</tr>
{% endfor %}
		</tbody>
    </table>
{% else %}
	<p>Ei tapahtumia.</p>
{% endif %}

{% if perms.kompomaatti.add_event %}
{% crispy eventform eventform.helper %}
{% endif %}
{% endblock %}