{% extends "admin_events/base.html" %}
{% load uni_form_tags %}

{% block title %}{{ block.super }} - Listaus{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
    $(".delete_link").click(function(){
        return confirm("Haluatko varmasti poistaa tapahtuman ?"); 
    });
    $("#event_table").tablesorter({widgets: ['zebra']}).tablesorterPager({container: $("#event_pager")}); 
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Tapahtumat</h2>
{% if events %}
    <table id="event_table" class="tablesorter">
    	<thead>
    		<tr>
    			<th>Nimi</th>
    			<th>Päivämäärä</th>
    			<th>Arkistoitu</th>
    			<th>Poista</th>
    			<th>Muokkaa</th>
    		</tr>
    	</thead>
    	<tbody>
{% for event in events %}
			<tr>
				<td>{{ event.name }}</td>
				<td>{{ event.date|date:"d.m.Y" }}</td>
				<td>{% if event.archived %}Kyllä{% else %}Ei{% endif %}</td>
				<td><a href="/manage/events/delete/{{ event.id }}/" class="delete_link">Poista</a></td>
				<td><a href="/manage/events/edit/{{ event.id }}/">Muokkaa</a></td>
			</tr>
{% endfor %}
		</tbody>
    </table>
	<div id="event_pager" class="pager">
		{% include "common/pagination.html" %}
	</div>
{% else %}
	<p>Ei tapahtumia.</p>
{% endif %}

{% uni_form eventform eventform.helper %}
{% endblock %}