{% extends "main2017/base.html" %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}


<h1>In English</h1>

<h2>What is Instanssi?</h2>
<p>
    Instanssi is a festival of digital creativity in Jyväskylä, Finland. Instanssi is meant to be
    a beginner friendly event that anyone who is
    interested in digital culture can visit and enjoy. Instanssi offers workshops, presentations 
    and a friendly creative environment. Unfortunately most of the website is currently only available in Finnish.
</p>
<p>
    Competitions at Instanssi include classics such as demo, 4k demo, music, graphics,
    gamedev and random, which is meant to confuse the audience using any means necessary.
    One of the specialities of Instanssi are programmable lights, which can be used as 
    a part of the compo entry.
</p>
<p>
    You can ask questions and get more info on our IRC channel at #instanssi (on IRCnet).
</p>
<!--
<p>
    The address of the venue is Voionmaankatu 17-19, 40700 Jyväskylä, Finland.
</p>


<h2>Tickets</h2>
<p>
    Tickets can be bought from the door or beforehand from the Internet. From the door you can also get 
    a ticket, which gives you one time entrance and costs 2 Euros
</p>
<p
    <b>Dynamic ticket</b> – 5 Euros. This ticket includes entrance to the event for the whole weekend. 
    You can watch all the program, participate in the workshops and use the showers and WLAN. There is 
    also sleeping space available.
</p>
<p>
    <b>Static ticket</b> – 10 Euros. This ticket includes everything that the Dynamic ticket offers, 
    plus network, electricity and table space (90x70cm) for your computer. Note: static tickets have 
    been sold out.
</p>-->

{% endblock %}
