@import 'reset';

// Picked up from the flyer image.
$theme-color-orange: #ffcc2b;
$theme-color-green: #3bff2b;
$theme-color-blue: #2bd1ff;
$theme-color-purple: #f92bff;

// desktop screens
$screen-lg-min: 1200px;
// landscape tablets
$screen-md-max: 1199px;
$screen-md-min: 980px;
// tablets
$screen-sm-max: 979px;
$screen-sm-min: 768px;
// landscape phones / small tablets
$screen-xs-max: 480px;
$screen-xs-min: 0px;

// ---- last chance to override bootstrap defaults for site theme ----
@import 'base_layout/css/common.2022.scss';


@media screen and (min-width: $screen-lg-min) {
    .hidden-lg-up { display: none; }
}
@media screen and (min-width: $screen-md-min) {
    .hidden-md-up { display: none; }
}
@media screen and (min-width: $screen-sm-min) {
    .hidden-sm-up { display: none; }
}
@media screen and (min-width: $screen-xs-min) {
    .hidden-xs-up { display: none; }
}

$main-header-height-md: 288px;
$main-header-height-lg: 313px;
$main-footer-height: 320px;
$main-header-actual: 275px;
$main-footer-actual: $main-footer-height + $spacing-large * 2;
// ugly interpolation syntax because SCSS variables only work inside calc this way
$main-content-height: calc(100vh - #{$main-header-actual} - #{$main-footer-actual});

@import 'general';
@import 'header';
@import 'programme';
@import 'primary';
@import 'sidebar';
@import 'footer';

.content-wrap {
    // This wraps the main content section, excluding the Bootstrap
    // container's padding.
    background: #fdfdfd;
    padding: $spacing-large;
}

/* Stream */
.stream-window {
    width: 644px;
    height: 276px;
    margin: 0 auto;
    text-align: center;
}

.meili::after {
    content: '@instanssi.org';
}

#page-header nav ul {
    transition: max-height $transition-large ease-in-out;
}

#page-header a,
.btn,
#sidebar-widgets .social-media a,
#page-header nav ul .menu-item a {
    -webkit-transition: all $transition-small ease-in-out;
    transition: all $transition-small ease-in-out;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    form input[type="text"] {
        width: 96%;
        padding: 2%;
    }
}

/* Landscape phone to portrait tablet */
/* (this is the size where we drop the main layout columns ) */
@media (max-width: 767px) {
    #page-footer {
        padding-top: $spacer;

        section {
            text-align: center;
        }

        .sitemap {
            li.menu-item {
                display: inline-block;

                a {
                    padding: 8px;
                }
            }
        }

        .sponsors-container {
            padding-left: 8px; // match sitemap items
            .sponsor {
                display: inline-block;
                float: none;
            }
        }

        .contact {
            float: none;
        }
    }

    form {
        label {
            min-width: 1px;
            display: block;
        }

        input[type="text"] {
            width: 96%;
            padding: 2%;
        }

        select {
            width: 100%;
        }

        .errorField {
            padding: 0px;
        }
    }
}

/* Landscape phones */
@media (max-width: $screen-xs-max) {
    #page-header .nav-btn {
        display: block;
        position: absolute;
        top: 16px;
        right: 16px;
        z-index: 985;
        font-size: 30px;
    }

    .no-js #page-header .nav-btn {
        display: none;
    }

    // flatten content
    #content, .main-nav-container {
        padding: 0;
    }
    nav.main-nav {
        margin-bottom: 0;
    }
    #page-footer {
        margin-top: 0;
    }

    #page-wrap {
        // hidden anyway, don't even try to render gradient on mobile
        background: none;
        // some blog content is causing overflow issues, let's fix for mobile at least
        overflow: hidden;
    }
    #page-header {
        .header-bg {
            display: none;
        }

        .header-info {
            min-height: 0;
            margin: 0; // match content

            padding: 0;

            .logo > * {
                margin: 0;
            }

            h1 {
                padding: 0;
                padding-top: 0;
                text-indent: 0;
                background: none;
                font-size: 36px;
                height: auto;
                line-height: 1.25em;
            }

            .tagline {
                font-size: 16px;
            }

            .time {
                font-size: 26px;
            }
        }

        nav {
            margin-top: 8px;
        }

        nav ul {
            li {
                width: 50%;
                padding: 0px;
                float: left;
            }

            .menu-item a {
                display: block;
                padding: 15px 15px;
            }

            .menu-item a:hover {
                top: 0px;
            }

            .menu-item a::before {
                // realign menu icons (font-awesome icons are not square)
                margin-right: 0;
                width: 2em;
                text-align: center;
            }
        }

        nav ul {
            // background-color: #333;
            max-height: 0px;
            overflow: hidden;
        }
    }

    .no-js #page-header nav ul,
    #page-header nav ul.active {
        max-height: 255px;
    }

    #primary th {
        display: none;
        visibility: hidden;
    }

    #primary tr,
    #primary table,
    #primary tbody {
        display: block;
        width: 100%;
    }

    #primary table td {
        display: block;
        width: 92%;
        padding: 1% 4%;
    }

    #page-header {
        nav.main-nav {
            margin: 0;
        }
    }
}
