@import 'base_layout/css/common.scss';

/* ---------- Pro H4x ---------- */

/* For nested forms */
div.inner_form {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* ---------- Left side navigation bar ---------- */

#left_nav {
    float: left;
    width: 150px;
    background-color: $theme-color-bright;
    padding-top: 3px;
    padding-bottom: 3px;
    color: $theme-nav-text;
    margin: 0;
	height: auto;
	height: 100%;
	min-height: 100%;
}

#left_nav .menuitem a {
    padding: 7px;
    padding-left: 9px;
}

#left_nav ul {
    margin: 0;
}

#left_nav ul.sub-level {
    display: none;
}

#left_nav li:hover .sub-level {
    background-color: $theme-color-bright;
    display: block;
    position: absolute;
    left: 150px;
    top: 0px;
}

#left_nav ul.sub-level li {
    float: left;
    width: 150px;
    border-top: 1px dotted #333333;
    z-index: 2;
}

#left_nav ul.sub-level li:first-child { 
	border-top: 0px; 
}

