h1,h2,h3,h4,h5,p,td,th,span {
    font-family: 'Open Sans';
}

body {
    margin-left: 20px;
    margin-top: 20px;
}

h1 {
    font-size: 18pt;
    margin-bottom: 20px;
    margin-top: 40px;
    border-bottom: 1px dotted black;
}
h2 {
    margin-top: 40px;
    font-size: 16pt;
}

table {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

th {
    text-align: left;
}

p {
    margin-top: 15px;
    margin-bottom: 25px;
}

td,th {
    padding: 5px;
}

td {
    border-left: 1px dotted #cccccc;
}

.ticket, .order {
     page-break-after: always;
}

@media print {
    .noPrint {
        display:none;
    }
}