<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Hallinta{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/libs/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin_base/css/style.css" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif" />
    <link rel="stylesheet" type="text/css" href="/static/libs/css/jquery/ui-lightness/jquery-ui-1.8.16.custom.css" />
    <link href="/static/libs/css/uni-form/uni-form.css" media="all" rel="stylesheet" />
    <link href="/static/libs/css/uni-form/default.uni-form.css" media="all" rel="stylesheet" />
    <link rel="stylesheet" href="/static/libs/css/datetimepicker/jquery.ui.datetime.css" />
    <script type="text/javascript" src="/static/libs/js/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/static/libs/js/jquery/jquery-ui-1.8.16.custom.min.js"></script>
    <script type="text/javascript" src="/static/libs/js/uni-form/uni-form-validation.jquery.min.js"></script>
    <script type="text/javascript" src="/static/libs/js/datetimepicker/jquery.ui.datetime.src.js"></script>
{% block head %}{% endblock %}
    <script type="text/javascript">
    $(function() {
{% block jquery %}{% endblock %}
	$('form.uniForm').uniform();
	$('.datetimeinput').datetime();
	$('.dateinput').datepicker({dateFormat: 'yy-mm-dd'});
	$('.ui-widget').css('font-size','0.90em');
    });
    </script>
</head>
<body>
    <div id="admin_base_bottom">
        <div id="admin_base_header" class="admin_base_sizer"><h1>Hallinta</h1></div>
        <div class="admin_base_sizer admin_base_nav">
        	<a href="/control/events/">Tapahtumat</a>
            <a href="/control/kompomaatti/">Kompomaatti</a>
            <a href="/control/files/">Tiedostot</a>
            <a href="/control/slides/">Slaidit</a>
            <a href="/control/blog/">Blogi</a>
            <a href="/control/calendar/">Aikataulu</a>
            <a href="/control/arkisto/">Arkisto</a>
            <a href="/control/users/">Käyttäjät</a>
            <a href="/control/auth/logout/">Logout</a>
        </div>
    </div>
    <div id="admin_base_subnav_bottom">
        <div class="admin_base_sizer admin_base_nav">
            &raquo; {% block navigation %}{% endblock %}
        </div>
    </div>
    <div id="admin_base_content" class="admin_base_sizer">
    {% block content %}{% endblock %}
    </div>
</body>
</html>