{% extends "admin_base/admin_base.html" %}
{% load event_name from admin_base_tags %}

{% block title %} - Blog{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block bottom %}
{{ block.super }}
	<ul id="left_nav">
    	<li class="menuitem"><a href="{% url 'manage-blog:index' selected_event_id %}">Blogi</a></li>
        <li class="menuitem"><a href="{% url 'manage-slides:index' selected_event_id %}">Slaidit</a></li>
        <li class="menuitem"><a href="{% url 'manage-uploads:index' selected_event_id %}">Tiedostot</a></li>
        <li class="menuitem"><a href="{% url 'manage-programme:index' selected_event_id %}">Ohjelma</a></li>
        <li class="menuitem"><a href="{% url 'manage-timingtool:index' selected_event_id %}">Ajastus</a></li>
        <li class="menuitem">
            <a href="{% url 'manage-store:index' selected_event_id %}">Kauppa<span class="navmenu-icon-right"></span></a>
            <ul class="sub-level">
                <li class="menuitem"><a href="{% url 'manage-store:items' selected_event_id %}">Tuotteet</a></li>
                <li class="menuitem"><a href="{% url 'manage-store:status' selected_event_id %}">Tila</a></li>
            </ul>
        </li>
        <li class="menuitem">
        	<a href="{% url 'manage-arkisto:index' selected_event_id %}">Arkisto<span class="navmenu-icon-right"></span></a>
            <ul class="sub-level">
            	<li class="menuitem"><a href="{% url 'manage-arkisto:archiver' selected_event_id %}">Arkistoija</a></li>
                <li class="menuitem"><a href="{% url 'manage-arkisto:vids' selected_event_id %}">Videot</a></li>
                <li class="menuitem"><a href="{% url 'manage-arkisto:vidcats' selected_event_id %}">Kategoriat</a></li>
            </ul>
        </li>
        <li class="menuitem">
            <a href="{% url 'manage-screenshow:index' selected_event_id %}">Screenshow<span class="navmenu-icon-right"></span></a>
            <ul class="sub-level">
                <li class="menuitem"><a href="{% url 'manage-screenshow:sponsors' selected_event_id %}">Sponsorit</a></li>
                <li class="menuitem"><a href="{% url 'manage-screenshow:messages' selected_event_id %}">Viestit</a></li>
                <li class="menuitem"><a href="{% url 'manage-screenshow:ircmessages' selected_event_id %}">IRC-Loki</a></li>
                <li class="menuitem"><a href="{% url 'manage-screenshow:playlist' selected_event_id %}">Toistolista</a></li>
                <li class="menuitem"><a href="{% url 'manage-screenshow:config' selected_event_id %}">Asetukset</a></li>
            </ul>
        </li>
    	<li class="menuitem">
        	<a href="{% url 'manage-kompomaatti:index' selected_event_id %}">Kompomaatti<span class="navmenu-icon-right"></span></a>
            <ul class="sub-level">
                <li class="menuitem"><a href="{% url 'manage-kompomaatti:compos' selected_event_id %}">Kompot</a></li>
                <li class="menuitem"><a href="{% url 'manage-kompomaatti:entries' selected_event_id %}">Entryt</a></li>
                <li class="menuitem"><a href="{% url 'manage-kompomaatti:competitions' selected_event_id %}">Kilpailut</a></li>
                <li class="menuitem"><a href="{% url 'manage-kompomaatti:results' selected_event_id %}">Tulokset</a></li>
                <li class="menuitem"><a href="{% url 'manage-kompomaatti:votecodes' selected_event_id %}">Äänestyskoodit</a></li>
                <li class="menuitem"><a href="{% url 'manage-kompomaatti:votecoderequests' selected_event_id %}">Koodipyynnöt</a></li>
            </ul>
        </li>
    </ul>
    <div id="contents" class="contents_events_case">
		<div id="crumbpath">
			<a href="{% url 'manage-base:index' %}">Hallinta</a> &raquo;
			<a href="{% url 'manage-overview:index' selected_event_id %}">{% event_name selected_event_id %}</a>
{% block crumbs %}{% endblock %}
		</div>
{% block content %}{% endblock %}
    </div>
{% endblock %}