{% extends "admin_base/admin_base.html" %}

{% block title %} - Blog{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block bottom %}
{{ block.super }}
	<ul id="left_nav">
    	<li class="menuitem"><a href="/manage/{{ selected_event_id }}/blog/">Blogi</a></li>
        <li class="menuitem"><a href="/manage/{{ selected_event_id }}/slides/">Slaidit</a></li>
        <li class="menuitem"><a href="/manage/{{ selected_event_id }}/files/">Tiedostot</a></li>
        <li class="menuitem"><a href="/manage/{{ selected_event_id }}/programme/">Ohjelma</a></li>
        <li class="menuitem"><a href="/manage/{{ selected_event_id }}/calendar/">Aikataulu</a></li>
        <li class="menuitem">
        	<a href="/manage/{{ selected_event_id }}/arkisto/">Arkisto</a>
            <ul class="sub-level">
            	<li class="menuitem"><a href="/manage/{{ selected_event_id }}/arkisto/archiver/">Arkistoija</a></li>
                <li class="menuitem"><a href="/manage/{{ selected_event_id }}/arkisto/vids/">Videot</a></li>
                <li class="menuitem"><a href="/manage/{{ selected_event_id }}/arkisto/vidcats/">Kategoriat</a></li>
            </ul>
        </li>
    	<li class="menuitem">
        	<a href="/manage/{{ selected_event_id }}/kompomaatti/">Kompomaatti</a>
            <ul class="sub-level">
                <li class="menuitem"><a href="/manage/{{ selected_event_id }}/kompomaatti/compos/">Kompot</a></li>
                <li class="menuitem"><a href="/manage/{{ selected_event_id }}/kompomaatti/entries/">Entryt</a></li>
                <li class="menuitem"><a href="/manage/{{ selected_event_id }}/kompomaatti/competitions/">Kilpailut</a></li>
                <li class="menuitem"><a href="/manage/{{ selected_event_id }}/kompomaatti/results/">Tulokset</a></li>
                <li class="menuitem"><a href="/manage/{{ selected_event_id }}/kompomaatti/votecodes/">Äänestyskoodit</a></li>
                <li class="menuitem"><a href="/manage/{{ selected_event_id }}/kompomaatti/votecoderequests/">Koodipyynnöt</a></li>
            </ul>
        </li>
    </ul>
    <div id="contents" class="contents_events_case">
		<div id="crumbpath">
			<a href="/manage/">Hallinta</a> &raquo;
			<a href="/manage/{{ selected_event_id }}/">{{ selected_event_name }}</a>
{% block crumbs %}{% endblock %}
		</div>
{% block content %}{% endblock %}
    </div>
{% endblock %}