{% extends "admin_base/admin_base.html" %}

{% block title %} - Blog{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block sidebar %}
{{ block.super }}
            <div class="box">
                <div class="sizer">
                    Tapahtuma:
                    <select name="event_select" id="event_select">
{% for event in navmenu_events %}
						<option value="{{ event.id }}" {% if event.id == selected_event_id %}selected="selected"{% endif %}>{{ event.name }}</option>
{% endfor %}
                    </select>
                </div>
            </div>
            <ul class="box">
                <li class="menuitem">
                    <a href="/manage/{{ selected_event_id }}/blog/">Blog</a>
                    <ul class="sub-level">
                        <li class="menuitem"><a href="/manage/{{ selected_event_id }}/blog/">Selaa</a></li>
                        <li class="menuitem"><a href="/manage/{{ selected_event_id }}/blog/write/">Kirjoita</a></li>
                    </ul>
                </li>
            </ul>
{% endblock %}

{% block content %}
{{ block.super }}
{% endblock %}