{% extends "admin_base/generic_base.html" %}

{% block title %}{{ block.super }} - Etusivu{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Etusivu</li>
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Hallinta</h2>
    <p>Tervetuloa hallintapaneeliin, {{ real_name }}!</p>

{% if important_flag %}
    <h3>Huomio!</h3>

    <p>Tapahtumissa on odottavia äänestyskoodipyyntöjä:</p>
    <ul>
{% for vcreq in vcreqs %}
        <li>{{ vcreq.count }} pyyntöä tapahtumassa <a href="{% url 'manage-kompomaatti:votecoderequests' vcreq.event_id %}">{{ vcreq.event_name }}</a></li>
{% endfor %}
    </ul>
{% endif %}

    <h3>Statistiikkaa</h3>
    <p>
        Kompomaatissa on tällä hetkellä <strong>{{ stats.events }}</strong>
        tapahtumaa, joissa on yhteensä <strong>{{ stats.compos }}</strong> kompoa
        ja <strong>{{ stats.entries }}</strong> entryä.
    </p>
    <p>
        Kompomaattiin syötetyt tiedostot (entryt, entryjen sorsat, kuvat)
        vievät tällä hetkellä yhteensä <strong>{{ stats.space_usage|filesizeformat }}</strong> tilaa.
    </p>
{% endblock %}