{% extends "admin_utils/base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
        &raquo; Käyttäjät
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Käyttäjät</h2>

<h3>Käyttäjät</h3>
<p>
    Käyttäjälistaus kaikista rekisteröityneistä käyttäjistä. Kannattaa huomata, että "openiduser[n]"-tunnukset ovat vanhentuneita tunnuksia
    vanhasta kirjautumisjärjestelmästä. "staff"-ryhmän jäseniä voi muokata vain pääkäyttäjä-tason oikeuksilla.
</p>
<p>
    <a href="{% url 'manage-users:users' %}">Siirry selaamaan käyttäjiä &raquo;</a>
</p>

<h3>Loki</h3>
<p>
    Lokisivulla voi seurata käyttäjien toimia. Lokiin tallentuu myös muita tapahtumia järjestelmän toiminnasta.
</p>
<p>
    <a href="{% url 'manage-users:log' %}">Siirry selaamaan lokia &raquo;</a>
</p>

{% endblock %}