{% extends "admin_users/base.html" %}

{% block title %}{{ block.super }} - OpenID-käyttäjät{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
		&raquo; <a href="/manage/users/openid/">OpenID-käyttäjät</a>
		&raquo; Selaa
{% endblock %}

{% block jquery %}
{{ block.super }}
	$("#user_table").tablesorter({widgets: ['zebra'], sortList: [[0,0],]}).tablesorterPager({container: $("#users_pager")}); 
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>OpenID-käyttäjät</h2>
{% if openidusers %}
 	<table id="user_table" class="tablesorter">
 		<thead>
 			<tr>
 				<th>Nimi</th>
 				<th>Sähköposti</th>
 				<th>Rekisteröity</th>
 				<th>Viimeisin kirjautuminen</th>
 				<th>Aktivoitu</th>
 				<th class="sorter-false">Muut tiedot</th>
 			</tr>
 		</thead>
 		<tbody>
{% for user in openidusers %}
			<tr>
				<td>{{ user.first_name }} {{ user.last_name }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.date_joined|date:"d.m.Y \k\l\o\. H:i" }}</td>
				<td>{{ user.last_login|date:"d.m.Y \k\l\o\. H:i" }}</td>
				<td>{% if user.is_active %}Kyllä{% else %}Ei{% endif %}</td>
				<td>{{ user.otherinfo|linebreaksbr }}</td>
			</tr>
{% endfor %}
 		</tbody>
 	</table>
	<div id="users_pager" class="pager">
		{% include "common/pagination.html" %}
	</div>
{% else %}
	<p>Ei OpenID-käyttäjiä!</p>
{% endif %}
{% endblock %}