{% extends "admin_users/base.html" %}
{% load uni_form_tags %}

{% block title %}{{ block.super }} - Pääkäyttäjät{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
	$("#user_table").tablesorter({widgets: ['zebra'], sortList: [[3,0],[0,0]]}).tablesorterPager({container: $("#users_pager")}); 
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Pääkäyttäjät</h2>
 	<table id="user_table" class="tablesorter">
 		<thead>
 			<tr>
 				<th>Tunnus</th>
 				<th>Nimi</th>
 				<th>Sähköposti</th>
 				<th>Käyttäjätaso</th>
 				<th>Rekisteröity</th>
 				<th>Viimeisin kirjautuminen</th>
 				<th>Aktivoitu</th>
 			</tr>
 		</thead>
 		<tbody>
{% for user in superusers %}
			<tr>
				<td>{{ user.username }}</td>
				<td>{{ user.first_name }} {{ user.last_name }}</td>
				<td>{{ user.email }}</td>
				<td>{% if user.is_superuser %}Administrator{% elif user.is_staff %}Staff{% else %}Käyttäjä{% endif %}</td>
				<td>{{ user.date_joined|date:"d.m.Y \k\l\o\. H:i" }}</td>
				<td>{{ user.last_login|date:"d.m.Y \k\l\o\. H:i" }}</td>
				<td>{% if user.is_active %}Kyllä{% else %}Ei{% endif %}</td>
			</tr>
{% endfor %}
 		</tbody>
 	</table>
	<div id="users_pager" class="pager">
		{% include "common/pagination.html" %}
	</div>
{% if addform %}
{% uni_form addform addform.helper %}
{% endif %}
{% endblock %}