{% extends "admin_users/base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - Käyttäjät{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
		&raquo; Selaa
{% endblock %}

{% block jquery %}
{{ block.super }}
    $(".delete_link").click(function(){
        return confirm("Haluatko varmasti deaktivoida käyttäjän ?"); 
    });
	$("#user_table").tablesorter({widgets: ['zebra'], sortList: [[3,0],[0,0]]}).tablesorterPager({container: $("#users_pager")}); 
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Käyttäjät</h2>
 	<table id="user_table" class="tablesorter">
 		<thead>
 			<tr>
 				<th>Tunnus</th>
 				<th>Nimi</th>
 				<th>Sähköposti</th>
 				<th>Käyttäjätaso</th>
 				<th>Rekisteröity</th>
 				<th>Viimeisin kirjautuminen</th>
 				<th>Aktivoitu</th>
{% if user.is_superuser %}
 				<th class="sorter-false management_field"></th>
{% endif %}
 			</tr>
 		</thead>
 		<tbody>
{% for m_user in superusers %}
			<tr>
				<td>{{ m_user.username }}</td>
				<td>{{ m_user.first_name }} {{ m_user.last_name }}</td>
				<td>{{ m_user.email }}</td>
				<td>{% if m_user.is_superuser %}Administrator{% elif m_user.is_staff %}Staff{% else %}User{% endif %}</td>
				<td>{{ m_user.date_joined|date:"d.m.Y \k\l\o\. H:i" }}</td>
				<td>{{ m_user.last_login|date:"d.m.Y \k\l\o\. H:i" }}</td>
				<td>{% if m_user.is_active %}Kyllä{% else %}Ei{% endif %}</td>
{% if user.is_superuser %}
{% if m_user.is_superuser%}
				<td>&nbsp;</td>
{% else %}
				<td>
					<a href="{% url 'admin-users-edit' m_user.id %}" class="edit_link">Muokkaa</a>
					<a href="{% url 'admin-users-delete' m_user.id %}" class="delete_link">Poista</a>
				</td>
{% endif %}
{% endif %}
			</tr>
{% endfor %}
 		</tbody>
 	</table>
	<div id="users_pager" class="pager">
		{% include "common/pagination.html" %}
	</div>
{% if user.is_superuser %}
{% crispy userform userform.helper %}
{% endif %}
{% endblock %}