html, body{overflow-x:hidden;background: #111;}
body{ background-image:url('../images/header-background.jpg');background-repeat:repeat-x;}

#header .center{ height: 300px; }
#header{width: 100%; height: 300px; font-family: 'Alfa Slab One', cursive; font-weight:normal; background: url('../images/mobile/mobile-header.jpg');}
#header h1{padding-top:10px;letter-spacing: 0px;font-size: 60px; font-variant: small-caps;}
#header a, #header a:visited, #header a:link, #header a:hover{text-decoration: none;color: #000;}
.description{font-size: 16.5px; font-variant: small-caps;}
.date{color: #014162; margin-top: 30px;}
.place{ color: #014162;margin-top: 10px;}
.details{ color: #014162;margin-top: 10px;}

#navigation{width: 100%; height: 50px; background: #000;display: block;}
#navigation ul{padding-top: 15px;}
#navigation ul li{display: inline;position: relative;}
#navigation a{color:white; padding: 0 .5em; text-decoration: none;}
#navigation .nav-marker{width: 20px; height: 20px; background: url('../images/navigation-marker.png'); position: relative; top: 7px; }
/*
ins = 25
aik = 105
komp= 180
liput= 147
info= 297
yht = 373
eng = 465
*/
#content {
}

#content{width: 100%; background: #111; border-top: 1px solid #1e5166; padding: 50px 0 50px 0;display: -webkit-box;}
#content h2{color: #fff;margin-bottom: 20px; font-variant: small-caps; font-size: 18px; }
#content h2 .posted{ color: #999; font-size: 12px;}
#content h3{color: #1fa3f5; margin-top: 20px; font-variant: small-caps; font-size: 16px; letter-spacing: 2px;}
#content p,
#content em {font-style: italic; }
#tweets li,
#content div.p,
.blogtext {font-family: verdana; font-size: 12px; color: #fff; line-height: 130%; background: #161616; padding: 0.5em 2em;}
#content #main-area{width: 600px; padding: 0 25px 0 0; float: left; min-height: 600px; border-right: 1px solid #181818;}
#content #side-bar { width: 220px; float: left; padding: 0 0 0 25px;}
#content a:link, #content a:hover, #content a:visited{color: #1fa3f5;}
#content img{border: 4px solid #eee; margin: 0 auto;}
#content .order-ticket a{ padding: 1em; background: blue; color: #fff; text-decoration: none; 
	background: url('../images/copyright-bg.png') #1c93dd repeat-x; text-shadow: 1px 1px 1px #000;
	border: 1px solid #65BBED; font-variant: small-caps; font-size: 16px; border-radius: 3px;
	margin-top: 100px !important;
}
#content span.order-ticket{ margin-top: 10px; position: relative; top: 40px; }
#content ul{font-size: 12px;font-family: verdana; }

#footer{ width: 100%; min-height: 390px; border-top: 1px solid #1fa3f5;  background: url('../images/footer-bg.png') repeat-x #34302a;}
#footer-copyright{ width: 100%; height: 50px; background: url('../images/copyright-bg.png') #1c93dd repeat-x ; border-top: 1px solid #7bbde5; }
#footer-copyright pre{ color: #fff; padding-top: 15px; text-align: right;}
.site-map, .partners, .social-media{ float:left; height: 390px; width: 312px; }
.site-map{width: 170px;}
.site-map a, .site-map a:visited, .site-map a:hover{color: #eee; text-decoration: none; padding: 4px;} 
.site-map ul li {padding-bottom: 10px;}

.partners{ width: 620px; border-left: 0px solid #34302a; border-right: 0px solid #34302a; }
.partners img{padding:0; border: 0; margin:0; margin: 5px;}
.social-media{width: 140px;}
.social-media img{position: relative; }
.social-media a{ float:left !important; width: 60px;}
.social-media p{ margin-bottom: 10px; color: #eee;}

#footer h3{padding: 20px 0 20px 0; color: #eee; border-bottom: 1px solid #1fa3f5; width: 120px; margin: 0 0 20px 0; }

#layerItems{width:100%; position:absolute; top:0; height:300px; overflow:hidden;clip: }
.layerItem{position: absolute; top:0;left:0;z-index:0;}
.clearer{ clear: both; }
.center{ width: 940px; margin: 0 auto; padding-left: 10px; padding-right: 10px }
#map_canvas{ width: 588px; height: 400px; display: block; border: 6px solid #fff; margin: 20px 0 20px 0;}

/* border-radius, shadow, rotation */
#footer h3{ text-shadow: 2px 0px 1px #000;}
#schedule img{ box-shadow: 1px 0px 1px #000;}
#schedule td.aika{ text-shadow: 1px 0px 1px #000;}
.tr-caption-container{ box-shadow: 0px 0px 20px #000; }

/* Twitter feed */
#tweets ul { display: inline; }
#tweets .time { font-size: 11px; color: #999; display: inline-block; }
#tweets .author {  }
#tweets .text {}
#tweets .link { font-size: 11px; color: #999; display: inline-block;  }

/* RSS Feed */
.blogtext {  }
.blogtime { font-size: 11px; color: #999; display: inline-block; }
.blogger-post-footer img{visibility: hidden;}

.tr-caption-container{background: #eee; border: 4px solid #eee;}
.tr-caption{ color: #000;}


/* Schedule */
#schedule table{
border-collapse:separate; 
border-spacing: 0 10px;
}

#schedule img { border: 2px solid #fff; }

#schedule tr:nth-child(even) { border: 0px solid #161616; background: #161616; margin: 0 0 10px;}
#schedule tr.kompo  {color: #ccc; }
#schedule tr.esitys { color: #ccc;}
#schedule tr.infra  { color: #ccc; }

#schedule td:nth-child(3),
#schedule th:nth-child(3),
#schedule th:nth-child(4),
#schedule td:nth-child(4){padding: 0.5em 0 0 10px;}

#schedule th    { text-align: left; color: #90DAFF; background: #0a0a0a;}

#schedule td    { vertical-align: top; position: relative; }
#schedule td.aika, th.aika { width: 3em; padding: 0.5em; }

#schedule span.puhujainfo { display: block; font-size: 75%; }
#schedule .puhuja { position: relative; width: 100%; height: 100%; }

#schedule .puhujalinkit { position: absolute; right: 10px; top: 1px; }

#schedule .puhujalinkit img { width: 1em; }
#schedule td.kuva, #schedule th.kuva  { width: 4em; }

#schedule td.otsikko1, #schedule th.otsikko1 { width: 16em;}
#schedule td.otsikko2, #schedule th.otsikko2 { width: 24em;}
 #schedule td.otsikko1, #schedule td.otsikko2{}


#schedule img { width: 4em; }

#content ul.info { color: #fff; list-style: disc; padding-left: 50px; font-size: 12px; }

/*
#schedule img { width: 4em; border: 2px solid #fff}
#schedule tr   { border:  #161616 1px solid; }

#schedule td.aika, th.aika { width: 3em; padding: 0.5em; }
*/

