html {
    overflow-y: scroll;
}
html , body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
img {
    // prevent images from blowing up page
    max-width: 99% !important;
    height: auto !important;
}
iframe {
    // work around embedded content layout issues
    max-width: 100%;
}
body * {
    color: #333;
    font-size: 15px;
    line-height: 150%;
    font-family: $body-font-family;
}

body {
    position: relative;
    background: #262729 !important;
    background: url(../images/webtausta.jpg) top center no-repeat, #262729 !important;
}

.kupla {
    position: absolute;
}

.header-background {
    // Stop margin collapsing
    &:after {
        content: '';
        display: table;
    }
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;

    .salmonsnek {
        position: absolute;
        top: -100px;
        right: -250px;
        width: 1920px;
        height: 1080px;

        @media screen and (max-width: $screen-md-max) {
            width: 800px;
            height: auto;
            top: -50px;
            right: -120px;
        }
        @media screen and (max-width: $screen-sm-max) {
            width: 75%;
            height: 75%;
            margin-top: -20%;
            top: 120px;
            /*min-height: 105%;*/
        }
        @media screen and (max-width: $screen-xs-max) {
            width: 70vw;
            height: 200%;
            margin-top: 0;
            top: 0;
            margin-top: 0;
            min-height: unset;
        }
    }

    .header-lohari-glitch1,
    .header-lohari-glitch2 {
        display: none;
    }
}

h1 {
    font-family: $title-font-family;
    //font-variant: small-caps;
    text-transform: uppercase;
    font-size: 26px;
    margin-bottom: .75em;
    color: $theme-color-bright;
    font-weight: 400;
    line-height: 90%;
}

form legend {
    font-family: $title-font-family;
    background: $theme-color-dark;
    font-weight: bold;
    font-size: 25px;
    margin: 20px 0;
    padding-left: 8px;
    padding-right: 8px;
    color: #fff;
}

#content h2,
.item .title,
.header {
    color: $theme-color-dark;
    font-family: $title-font-family;
    border-bottom: 1px solid $theme-color-bright;
    background: transparent;
    font-weight: 400;
    padding: 0 $spacer;
    margin: 0 (-$spacer) ($spacer * 2);
    font-size: 25px;
}
h3 {
    font-size: 16px;
    margin: ($spacer * 2) (-$spacer);
    padding: 0 $spacer;
    color: #000;
    font-weight: bold;
}
h4 {
    font-size: 14px;
    margin: 20px 8px;
    color: #000;
    font-weight: bold;
}
b, strong {
    font-weight: bold;
}
i, em {
    font-style: italic;
}
blockquote {
    font-size:125%;
    font-style: italic;
    margin-left: 4%;
    margin-bottom: 8px;
}
sup, sub {
    font-size: 75%;
}
sup {
    vertical-align: super;
}
sub {
    vertical-align: sub;
}

/* buttons */
.btn {
    border: 1px solid $theme-color;
    text-decoration: none !important;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 0px;

    &, & > * {
        color: #fff !important;
    }

    &:hover {
        color: #fff;
        opacity: 0.9;
    }
}

#content {
    // background: #fff;
    box-sizing: border-box;
    // padding: 24px 10px 24px;

    min-height: 100vh;
    min-height: $main-content-height;
}
