{% extends "admin_screenshow/base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }} - Asetukset{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
        &raquo; <a href="{% url 'manage-screenshow:config' selected_event_id %}">Asetukset</a>
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Asetukset</h2>
{% crispy configform configform.helper %}
{% endblock %}