{% extends "admin_screenshow/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Overview</li>
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Overview</h2>

<h3>Sponsorit</h3>
<p>
    Sponsorit-osiossa voidaan syöttää screenillä pyörivälle animaatiolle sponsoreiden nimiä ja kuvia.
    <strong>Huom!</strong> Sponsorit on syötettävä _ennen_ animaation käynnistämistä. Mikäli kuvia lisätään 
    käynnistämisen jälkeen, on animaatio käynnistettävä uudelleen (Refresh).
</p>
<p>
    <a href="{% url 'manage-screenshow:sponsors' selected_event_id %}">Siirry selaamaan sponsoreita &raquo;</a>
</p>

<h3>Viestit</h3>
<p>
    Viestit-sivulla voidaan kirjoittaa lyhyitä, screenillä hetken näkyviä viestejä, kuten "Kioskissa tarjolla pizzaa" tjsp.
    Viestit päivittyvät screenille noin minuutin viiveellä.
</p>
<p>
    <a href="{% url 'manage-screenshow:messages' selected_event_id %}">Siirry selaamaan viestejä &raquo;</a>
</p>

<h3>IRC-Viestit</h3>
<p>
    IRC-viestit pitää sisällään irkkibotin keräämät viestit.
</p>
<p>
    <a href="{% url 'manage-screenshow:ircmessages' selected_event_id %}">Siirry selaamaan irkkiviestejä &raquo;</a>
</p>

<h3>Toistolista</h3>
<p>
    Toistolistaan voi lisätä screenillä toistettavia youtube-videoita. Videoita toistetaan heti, kun toistolistasta löytyy
    jotain toistettavaa. Kun toistettava loppuu, aloitetaan alusta. Muutokset listaan näkyvät screenillä hetkeen viiveellä.
</p> 
<p>
    <a href="{% url 'manage-screenshow:playlist' selected_event_id %}">Siirry hallinnoimaan soittolistaa &raquo;</a>
</p>
{% endblock %}