{% extends "admin_screenshow/base.html" %}

{% block title %}{{ block.super }} - IRC-Viestit{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'manage-screenshow:ircmessages' selected_event_id %}">IRC-Viestit</a></li>
    <li>Selaa</li>
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>IRC-Viestit</h2>

{% if messages %}
<table class="table table-striped table-condensed"
       data-toggle="table" data-sort-name="id" data-sort-order="desc" data-pagination="true" data-page-size="25">
    <thead>
        <tr>
            <th data-field="id" data-sortable="true">ID</th>
            <th>Aika</th>
            <th data-field="nick" data-sortable="true">Nimimerkki</th>
            <th>Viesti</th>
            {% if perms.screenshow.change_ircmessage %}<th></th>{% endif %}
            {% if perms.screenshow.delete_ircmessage %}<th></th>{% endif %}
        </tr>
    </thead>
    <tbody>
{% for message in messages %}
        <tr>
            <td>{{ message.id }}</td>
            <td>{{ message.date|date:"d.m.Y \k\l\o\. H:i:s" }}</td>
            <td>{{ message.nick }}</td>
            <td>{{ message.message }}</td>
{% if perms.screenshow.change_ircmessage %}
                <td>
                    <a href="{% url 'manage-screenshow:edit-ircmessage' selected_event_id message.id %}"  class="edit_link btn btn-primary btn-xs" role="button">
                        <span class="edit_link fa fa-pencil"></span>
                    </a>
                </td>
{% endif %}
{% if perms.screenshow.delete_ircmessage %}
                <td>
                    <a href="{% url 'manage-screenshow:delete-ircmessage' selected_event_id message.id %}"  class="delete_link btn btn-danger btn-xs" role="button">
                        <span class="edit_link fa fa-trash"></span>
                    </a>
                </td>
{% endif %}
        </tr>
{% endfor %}
    </tbody>
</table>
{% else %}
<p>Ei tallennettuja irkkiviestejä.</p>
{% endif %}
{% endblock %}