{% extends "main2022/base.html" %}

{% block head %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="/static/main2022/css/radio.css">
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h1>Instanssiradio</h1>

<h2>Mikä on instanssiradio?</h2>
<p>
    Voit virittäytyä Instanssi-tunnelmaan nettiradion välityksellä. Radiosta tulee taustamusiikkia, juonnettuja ohjelmapätkiä ja dj-settejä.
</p>

<h2>Milloin ja missä voit kuunnella?</h2>
<p>
    Vaikka vuoden 2021 varsinainen tapahtuma on peruttu, Instanssiradio soi audiostreamina http:llä osoitteessa 
    <a href="http://radio.instanssi.org:8000/fm.opus" target="_blank">http://radio.instanssi.org:8000/fm.opus</a>
    Radio soi etätapahtuman aikana 5.3.2021 alkaen.
</p>

<h2>Millä ohjelmalla voit kuunnella nettiradiota?</h2>
<p>Useimmat soittimet tukevat http-streamin kuuntelua.</p>
<ul>
    <li>Selaimet (yleisimmät nettiselaimet)</li>
    <li>VLC</li>
    <li>Foobar2000</li>
    <li>Rhythmbox</li>
</ul>
<h2>Radiosoitin</h2>
<p><b>Radiossa soi tällä hetkellä:</b> <span id="radiostream_nytsoi">Haetaan...</span></p>
<audio preload="none" id ="radiostream_audio" controls>
    <source src="http://radio.instanssi.org:8000/fm.opus" type="audio/ogg; codecs=opus">
    <source src="http://radio.instanssi.org:8000/fm.mp3" type="audio/mpeg">
    <p>Selaimesi ei tue html5-audio -elementtiä. <a href="http://radio.instanssi.org:8000/fm.opus" target="_blank">Suora linkki tästä.</a></p>
</audio>
<br>
<p><a href="http://musiikki.instanssi.org" target="_blank">Katso lista aiemmin soineista kappaleista Google Sheetsistä.</a></p>

<h2>Radio-ohjelmien aikataulu</h2>
<div id="aikataulu"></div>

<br><br>
<p>Alla on linkit suoraan Google-kalenteriin.</p>
<p><a href="https://calendar.google.com/calendar/ical/46oohofs0emt0rrm05darkobdo%40group.calendar.google.com/public/basic.ics" target="_blank">Lataa iCal (ics) -tiedosto kalenterista.</a>
  | <a href="https://calendar.google.com/calendar/embed?src=46oohofs0emt0rrm05darkobdo@group.calendar.google.com&ctz=Europe%2FHelsinki" target="_blank">Avaa kalenteri omaan ikkunaan.</a>
</p>

<script type="text/javascript" src="/static/main2022/js/radio.js"></script>
{% endblock %}

{% block widgets %}
{{ block.super }}
{% endblock %}
