{% extends "main2022/base.html" %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}

<h1>Instanssin säännöt</h1>

<p>
    Tapahtumassa noudatetaan Suomen lakia ja yleisiä asetuksia. Tapahtuma on ikärajaton ja päihteetön.
    Alla kuitenkin yleisen turvallisuuden ja tapahtuman viihtyvyyden vuoksi laadittu sääntölista.
</p>
<p>
    Huomaathan, että järjestäjät voivat muuttaa ja tulkita sääntöjä tapahtuman aikana näkemänsä tarpeen
    mukaan tapahtuman sujuvuuden varmistamiseksi. Häiritsevästi käyttäytyvä / sääntöjä rikkova voidaan
    poistaa tapahtuma-alueelta, tai tavaroita voidaan takavarikoida tapahtuman ajaksi.
</p>

<ul>
    <li>
        Kiellettyjä esineitä ovat kaikenlaiset aseet (teräaseet, räjähteet, ydinaseet), päihteet (alkoholi,
        huumeet + reseptilääkkeet ilman reseptiä), häiriötä aiheuttavat esineet (isot kaiuttimet, savukoneet,
        kuivajää), myrkylliset aineet sekä kodinkoneet (tapahtumapaikalla on kahvinkeitin, vedenkeitin
        ja mikroaaltouuni).
    </li>
    <li>
        Ei kuljeta tapahtumapaikalla muuten kuin jaloin (pl. pyörätuolit ym. perustellut avustimet).
    </li>
    <li>
        Ei sisään humalassa tai muuten päihtyneenä. Järjestyksenvalvojilla on oikeus evätä sisäänpääsysi,
        mikäli yrität sitä selvästi alkoholin tai muun huumausaineen vaikutuksen alaisena.
    </li>
    <li>Ei tupakoida koulun alueella, edes sähkötupakkaa. Tupakkapaikoille ohjataan infosta.</li>
    <li>Ei wareteta, laitonta.</li>
    <li>Ei vahingoiteta paikkoja tai toisten tavaroita.</li>
    <li>Ei rakennella mitään vaarallista.</li>
    <li>Ei näytetä K-18, tai muuten häiritsevää tai laitonta sisältöä.</li>
    <li>Ei "häkkeröidä" (ilman lupaa), eikä perseillä tapahtuman verkossa.</li>
    <li>Ei seurata toisten verkkoliikennettä.</li>
    <li>Ei omia verkkovirityksiä.</li>
    <li>Vastaat omasta tietoliikenteestäsi (ne waret!)</li>
    <li>Ei mainosteta tai myydä mitään ilman lupaa.
        <ul>
            <li>Haluatko sponsoriksi? Ota yhteyttä!</li>
        </ul>
    </li>
    <li>Olet vastuussa omista tavaroistasi.</li>
    <li><strong>Noudatetaan Suomen lakia!</strong></li>
    <li>Järjestäjät ja näiden valtuuttamat tahot voivat kuvata tapahtuman aikana ja julkaista kuvat netissä.</li>
</ul>

{% endblock %}