/* common.scss
   Sitewide SCSS (theme colors, etc.) goes here.
*/

$theme-color: #13285e;
$theme-color-bright: #4f8bc8;
$theme-nav-hover: $theme-color * 0.66;

$background-color: #1b1b1b;

$body-font-family: 'Open Sans', sans-serif;
$title-font-family: 'Exo 2', $body-font-family;

$transition-small: .2s;
$transition-large: .4s;

$padding-large: 16px;
$padding-medium: 8px;
$padding-small: 4px;

@mixin awesome-glyph($code) {
    font: normal normal normal 1em/1 FontAwesome;
    content: $code;
}

// This hides content visually but should not block screen readers, scraping
// and so on. Similar CSS is used in WordPress core and the HTML5 boilerplate.
.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

@mixin body-background-mixin() {
    background: $background-color;
    background: linear-gradient($background-color 275px, lighten($background-color, 5) 675px);
}
