/* common.scss
   Sitewide SCSS (theme colors, etc.) goes here.
*/

$theme-color: #0f56a7;
$theme-nav-hover: $theme-color * 0.66;

$background-color: #bbf4ff;

$body-font-family: 'Open Sans', sans-serif;
$title-font-family: $body-font-family;

$transition-small: .2s;
$transition-large: .4s;

@mixin awesome-glyph($code) {
    font: normal normal normal 1em/1 FontAwesome;
    content: $code;
}

// This hides content visually but should not block screen readers, scraping
// and so on. Similar CSS is used in WordPress core and the HTML5 boilerplate.
.visuallyhidden {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
