body, html {
	height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #e7e7e7;
    font-size: 14px;
}

h1,h2,h3,h4,h5,p,span,ul,ol,div,form,td {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

p {
	line-height: 130%;
}

strong {
	font-weight: bold;
}

sup { font-size: 75%; vertical-align: super; }
sub { font-size: 75%; vertical-align: sub; }

h1 {
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    padding-top: 18px;
    padding-left: 10px;
    font-size: 250%;
    color: #eee;
}
h1 a, h1 a:visited {
    color: #eee;
    text-decoration: none;
}
h1 a:hover {
    text-shadow: #eee 0 0 3px;
}

h2 {
    font-size: 170%;
    margin-bottom: 1em;
    border-bottom: 1px dotted #0088c3;
    width: 100%;
}

h3 {
	font-size: 120%;
    margin-top: 1.5em;
    margin-bottom: 0.75em;
    border-bottom: 1px dotted #0088c3;
}

p,pre,blockquote,ul,ol {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

p {
    text-align: justify;
}

hr {
    border: 0; border-top: 1px dotted #0088c3;
}

/* ---------- Base layout tuning ---------- */

.container {
	max-width: 1200px;
	width: 90%;
	min-width: 550px;
	margin: 0 auto;
    clear: both;
}

#base {
	height: auto !important;
	height: 100%;
	min-height: 100%;
	background-color: #f9f9f9;
	box-shadow: 0px 0px 5px #888;
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
}

/* ---------- Header ---------- */

#header {
    background: #111121;
    background: -moz-linear-gradient(top, rgba(17,17,57,1) 0%, rgba(17,17,33,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,17,57,1)), color-stop(100%,rgba(17,17,33,1)));
    background: -webkit-linear-gradient(top, rgba(17,17,57,1) 0%,rgba(17,17,33,1) 100%);
    background: -o-linear-gradient(top, rgba(17,17,57,1) 0%,rgba(17,17,33,1) 100%);
    background: -ms-linear-gradient(top, rgba(17,17,57,1) 0%,rgba(17,17,33,1) 100%);
    background: linear-gradient(to bottom, rgba(17,17,57,1) 0%,rgba(17,17,33,1) 100%);
    background: #0088C3;
}

#header_nav {
    background-color: #111121;
    background: rgba(0,0,0,.7);
    box-shadow: 0px 3px 3px #888;
	-moz-box-shadow: 0px 3px 3px #888;
	-webkit-box-shadow: 0px 3px 3px #888;
}
#header_nav:after {
    display: table;
    content: ' ';
    clear: both;
}
#header h1 { padding-bottom: 7px; }
#header h1 .section { margin-left: .25em; font-size: .5em;}

#header_nav_left { float: left; margin: 0; }
#header_nav_right { float: right; margin: 0; }
#header_nav .menuitem { float: left; }
#header_nav .menuitem a { padding: 9px; }
#header_nav .menuitem a:first-child { padding-left: 12px;}
#header_nav ul.sub-level span { padding: 9px; }
#header_nav ul.sub-level { display: none; }

#header_nav li:hover .sub-level {
    background-color: #18242b;
    display: block;
    position: absolute;
    left: 0px;
    top: 21px;
}

#header_nav ul.sub-level li {
    float: left;
    width: 150px;
    border-top: 1px dotted #111111;
    z-index: 2;
}

#header_nav ul.sub-level li:first-child { border-top: 0px; }

/* ----------- Some common stuff for menuitems ---------- */

.navmenu-icon-down {
	float: right;
	position: relative;
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 6px;
	background-image: url('../img/arrow_down.png');
}

.navmenu-icon-right {
    float: right;
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 6px;
    background-image: url('../img/arrow_right.png');
}

.menuitem:hover {
    background-color: #18242b;
}

.menuitem a,
.menuitem span {
    color: #eeeeee;
    text-decoration: none;
    display: block;
}

.menuitem a:hover { text-shadow: #cccccc 0px 0px 5px; }
.menuitem:hover { position: relative; }
ul.sub-level { z-index: 99; }

/* ---------- Contents ---------- */

#contents {
    padding: 12px;
}
#contents ul,
#contents ol { margin-left: 2em; }
#contents ul { list-style-type: disc; }
#contents ol { list-style-type: decimal; }
#contents ol li,
#contents ul li { margin-top: 0.8em; margin-bottom: 0.8em; }

#contents pre {
    font-family: "Consolas", monospace;
    background-color: #eaeaff;
    border: 1px solid #cdcdcd;
    padding: 8px;
}

#contents blockquote {
    background-color: #eaeaff;
    border-left: 3px dotted #aaaaaa;
    padding: 1px;
    padding-left: 1em;
    margin-left: 1em;
}

/* ---------- Crumbpath ---------- */

ul#crumbpath {
    font-size: 12px;
    margin: 0 0 1.5em 0 !important;
    padding: 0;
    width: 100%;
    display: block;
}
ul#crumbpath li {
    margin: 0;
    list-style: none;
    display: inline-block;
    position: relative;
    left: -4px;
}
ul#crumbpath li:before {
    content: '> ';
    color: #555;
}
ul#crumbpath li:first-child:before {
    content: '';
    padding: 0;
}
ul#crumbpath li * {
    font-size: 12px;
    padding: 4px;
}

@media screen and (max-width: 720px) {
    .container {
        width: 100%;
        min-width: 0;
    }
}

/* ---- usertools ---- */
#usertools {
    float: right;
    background: #111121;
    background: rgba(0,0,0,.7);
    color: #eee;
    padding: 8px;
}
#usertools a, #usertools a:visited {
    color: #eee;
    text-decoration: none;
}
#usertools a:hover {
    color: #eee;
    text-shadow: 0 0 2px white;
}