{% extends "main2012/base.html" %}

{% block head %}
{{ block.super }}
    <style type="text/css"> .nav-marker{left: 95px;} </style>
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}

<div id="schedule"> <!-- for inner CSS tunings -->

  <h2>Aikataulu</h2>

  <p>Instanssi 2012:n aikataulu. Aikatauluun tulee vielä täydennyksiä ja muutoksia ennen tapahtumaa.
  Muutoksista laitetaan viestit <a href="http://twitter.com/Instanssi">twitteriin</a>,
  <a href="https://www.facebook.com/events/281869421862634/">facebook-tapahtumaan</a> ja
  <a href="http://blog.instanssi.org/">blogiin</a>, joten yksi tai kaikki seurantaan. :-)
  </p>

  <p>Lisätietoja voi pyytää edellä mainituista medioista tai postitse osoitteesta <strong>info@instanssi.org</strong>.</p>

  <h3>Perjantai</h3>
  <table>
    <tr class='otsikot'>
      <th class='aika'>Aika</th>
      <th class='kuva'>Kuva</th>
      <th class='otsikko1'>Otsikko</th>
      <th class='otsikko2'></th>
    </tr>
    <tr class='infra'>
      <td class='aika'>
        17:00
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Ovet auki</strong>
      </td>
    </tr>
    <tr class='infra'>
      <td class='aika'>
        17:00
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Pöydissä sähköt &amp; verkko</strong>
      </td>
    </tr>
    <tr class='infra'>
      <td class='aika'>
        17:00
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Kioski auki</strong>
      </td>
    </tr>
    <tr class='infra'>
      <td class='aika'>
        18:00
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Ständien pitäjät paikalle</strong>
      </td>
    </tr>
    <tr class='esitys'>
      <td class='aika'>
        19:00
      </td>
      <td class='kuva'>
        <img alt="deggis" src='/static/main2012/images/schedule/deggis.jpg' />
      </td>
      <td class='otsikko1'>
        <div class='puhuja'>
          <strong>Heikki Salo</strong>
        </div>
      </td>
      <td class='otsikko2'>
        Tervetulotoivotus &amp; esittelyjä (20 min)
      </td>
    </tr>
    <tr class='esitys'>
      <td class='aika'>
        19:30
      </td>
      <td class='kuva'>
        <img alt="poikola" src='/static/main2012/images/schedule/poikola.jpg' />
      </td>
      <td class='otsikko1'>
        <div class='puhuja'>
          <strong>Antti Poikola</strong>
        </div>
      </td>
      <td class='otsikko2'>
        "Mitä on avoin data ja mitä Suomessa tapahtuu nyt?" (20 min)
      </td>
    </tr>
    <tr class='esitys'>
      <td class='aika'>
        20:00
      </td>
      <td class='kuva'>
        <img alt="domander" src='/static/main2012/images/schedule/leolahti.jpg' />
      </td>
      <td class='otsikko1'>
        <div class='puhuja'>
          <strong>Leo Lahti</strong>
        </div>
      </td>
      <td class='otsikko2'>
        "soRvi - avoimen datan työkalupakki R-kielelle" (20 min)
      </td>
    </tr>
    <tr class='esitys'>
      <td class='aika'>
        20:30
      </td>
      <td class='kuva'>
        <img alt="sauli" src='/static/main2012/images/schedule/sauli.jpg' />
      </td>
      <td class='otsikko1'>
        <div class='puhuja'>
          <strong>Sauli Korhonen</strong>
        </div>
      </td>
      <td class='otsikko2'>
        "Vielä yksi johdatus konemusiikkiin" (20 min)
      </td>
    </tr>
    <tr class='infra'>
      <td class='aika'>
        21:00
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Ständit kiinni yöksi</strong>
      </td>
    </tr>
    <tr class='esitys'>
      <td class='aika'>
        21:00
      </td>
      <td class='kuva'>
        <img alt="epeli" src='/static/main2012/images/schedule/epeli.jpg' />
      </td>
      <td class='otsikko1'>
        <div class='puhuja'>
          <strong>Esa-Matti Suuronen</strong>
        </div>
      </td>
      <td class='otsikko2'>
        "Instanssin valot - Effect Server" (20 min)
      </td>
    </tr>
    <tr class='infra'>
      <td class='aika'>
        21:15
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Effect Server online</strong> - Salivalot osallistujien ohjelmoitavissa
      </td>
    </tr>
<!--    <tr class='esitys'>
      <td class='aika'>
        23:45
      </td>
      <td class='kuva'>
        <img alt="itpro" src='/static/main2012/images/schedule/itpro.jpg' />
      </td>
      <td class='otsikko1'>
        <div class='puhuja'>
          <strong>HC IT-ammattilainen</strong>
        </div>
      </td>
      <td class='otsikko2'>
        "Robocode-koodaus" (15 min)
      </td>
    </tr> -->
    <tr class='kompo'>
      <td class='aika'>
        22:00
      </td>
      <td class='kuva'>
        <img alt="robocode" src='/static/main2012/images/schedule/robocode.jpg' />
      </td>
      <td colspan='2'>
        <strong>Robocode-näytösottelu</strong>
      </td>
    </tr>
  </table>

  <h3>Lauantai</h3>
  <table>
    <tr class='otsikot'>
      <th class='aika'>Aika</th>
      <th class='kuva'>Kuva</th>
      <th class='otsikko1'>Otsikko</th>
      <th class='otsikko2'></th>
    </tr>
    <tr class='kompo'>
      <td class='aika'>
        08:00
      </td>
      <td class='kuva'></td>
      <td class='otsikko1'>
        <strong>Deadline: 4k, demo</strong>
      </td>
      <td class='otsikko2'>
        kevyt deadline: päivittää saa vielä.
      </td>
    </tr>
    <tr class='infra'>
      <td class='aika'>
        10:00
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Kioski aukeaa</strong>
      </td>
    </tr>
    <tr class='infra'>
      <td class='aika'>
        12:00
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Ständien pitäjät paikalle</strong>
      </td>
    </tr>
    <tr class='esitys'>
      <td class='aika'>
        15:00
      </td>
      <td class='kuva'>
        <img alt="domander" src='/static/main2012/images/schedule/hacklabjkl.jpg' />
      </td>
      <td class='otsikko1'>
        <div class='puhuja'>
          <strong>Hacklab jkl</strong>
        </div>
      </td>
      <td class='otsikko2'>
        "Hacklab Jyväskylä ry:n ja Hacklab-ständin esittely"
      </td>
    </tr>
    <tr class='esitys'>
      <td class='aika'>
        15:30
      </td>
      <td class='kuva'>
        <img alt="domander" src='/static/main2012/images/schedule/kysymysmerkki.jpg' />
      </td>
      <td class='otsikko1'>
        <div class='puhuja'>
          <strong>Jarno Liski</strong>
        </div>
      </td>
      <td class='otsikko2'>
        "Datajournalismia Jyväskylään!" (20 min)
      </td>
    </tr>
    <tr class='esitys'>
      <td class='aika'>
        16:00
      </td>
      <td class='kuva'>
        <img alt="domander" src='/static/main2012/images/schedule/domander.jpg' />
      </td>
      <td class='otsikko1'>
        <div class='puhuja'>
          <strong>Richard Domander</strong>
        </div>
      </td>
      <td class='otsikko2'>
        "Tekotyperyys - tahallaan väärin toimivat älykkäät agentit" (20 min)
      </td>
    </tr>
    <tr class='esitys'>
      <td class='aika'>
        16:30
      </td>
      <td class='kuva'>
        <img alt="paavo" src='/static/main2012/images/schedule/paavo.jpg' />
      </td>
      <td class='otsikko1'>
        <div class='puhuja'>
          <strong>Paavo Nieminen</strong>
        </div>
      </td>
      <td class='otsikko2'>
        "Alle 1 kt:n softasyntikka" (20 min)
      </td>
    </tr>
    <tr class='kompo'>
      <td class='aika'>
        16:00
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Deadline: 4k, demo</strong>
      </td>
    </tr>
    <tr class='infra'>
      <td class='aika'>
        18:00
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Ständit illaksi kiinni</strong>
      </td>
    </tr>
    <tr class='kompo'>
      <td class='aika'>
        20:30
      </td>
      <td class='kuva'>
        <img alt="palkinnot" src='/static/main2012/images/schedule/palkinnot.jpg' />
      </td>
      <td colspan='2'>
        <strong>Grafiikka</strong>
      </td>
    </tr>
    <tr class='kompo'>
      <td class='aika'>
        21:00
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Grafiikka - äänestys alkaa</strong>
      </td>
    </tr>
    <tr class='kompo'>
      <td class='aika'>
        22:00
      </td>
      <td class='kuva'>
        <img alt="palkinnot" src='/static/main2012/images/schedule/palkinnot.jpg' />
      </td>
      <td colspan='2'>
        <strong>Summamutikka</strong>
      </td>
    </tr>
    <tr class='kompo'>
      <td class='aika'>
        23:00
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Summamutikka - äänestys alkaa</strong>
      </td>
    </tr>
    <tr class='kompo'>
      <td class='aika'>
        23:00
      </td>
      <td class='kuva'>
        <img alt="palkinnot" src='/static/main2012/images/schedule/palkinnot.jpg' />
      </td>
      <td colspan='2'>
        <strong>Pikkiriikkinen demo &amp; Instanssi demo</strong>
      </td>
    </tr>
    <tr class='kompo'>
      <td class='aika'>
        00:00
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Demosarjat - äänestys alkaa</strong>
      </td>
    </tr>


<!--    <tr class='esitys'>
      <td class='aika'>
        23:45
      </td>
      <td class='kuva'>
        <img alt="itpro" src='/static/main2012/images/schedule/itpro.jpg' />
      </td>
      <td class='otsikko1'>
        <strong>HC IT-ammattilainen</strong>
      </td>
      <td class='otsikko2'>
        "Semifinaalitankkien koodi ja tehdyt päivitykset" (15 min)
      </td>
    </tr> -->
    <tr class='kompo'>
      <td class='aika'>
        00:00
      </td>
      <td class='kuva'>
        <img alt="robocode" src='/static/main2012/images/schedule/robocode.jpg' />
      </td>
      <td colspan='2'>
        <strong>Robocode-semifinaali</strong>
      </td>
    </tr>
    <tr class='kompo'>
      <td class='aika'>
        01:00
      </td>
      <td class='kuva'>
        <img alt="palkinnot" src='/static/main2012/images/schedule/palkinnot.jpg' />
      </td>
      <td class='otsikko1'>
        <strong>Scorched Earth</strong>
      </td>
      <td class='otsikko2'>
        "50 erän die hard -turnaus"
      </td>
    </tr>
    <tr class='esitys'>
      <td class='aika'>
        03:00
      </td>
      <td class='kuva'>
        <img alt="es" src='/static/main2012/images/schedule/es.jpg' />
      </td>
      <td colspan='2'>
        <strong>Livefeediä Stage142:lta</strong>
      </td>
    </tr>
  </table>

  <h3>Sunnuntai</h3>
  <table>
    <tr class='otsikot'>
      <th class='aika'>Aika</th>
      <th class='kuva'>Kuva</th>
      <th class='otsikko1'>Otsikko</th>
      <th class='otsikko2'></th>
    </tr>
    <tr class='kompo'>
      <td class='aika'>
        09:00
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Deadline: Robocode-finaali</strong>
      </td>
    </tr>
    <tr class='kompo'>
      <td class='aika'>
        10:00
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Kaikki äänestykset päättyvät</strong>
      </td>
    </tr>
<!--    <tr class='esitys'>
      <td class='aika'>
        11:30
      </td>
      <td class='kuva'>
        <img alt="itpro" src='/static/main2012/images/schedule/itpro.jpg' />
      </td>
      <td class='otsikko1'>
        <div class='puhuja'>
          <strong>HC IT-ammattilainen</strong>
        </div>
      </td>
      <td class='otsikko2'>
        "Finaalitankkien koodi ja tehdyt päivitykset" (15 min)
      </td>
    </tr> -->
    <tr class='kompo'>
      <td class='aika'>
        12:00
      </td>
      <td class='kuva'>
        <img alt="robocode" src='/static/main2012/images/schedule/robocode.jpg' />
      </td>
      <td colspan='2'>
        <strong>Robocode-finaali</strong>
      </td>
    </tr>
    <tr class='kompo'>
      <td class='aika'>
        13:00
      </td>
      <td class='kuva'>
        <img alt="palkinnot" src='/static/main2012/images/schedule/palkinnot.jpg' />
      </td>
      <td colspan='2'>
        <strong>Palkintojen jako</strong>
      </td>
    </tr>
    <tr class='infra'>
      <td class='aika'>
        14:00
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>ValoAPI offline</strong>
      </td>
    </tr>
    <tr class='infra'>
      <td class='aika'>
        14:00
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Kioski kiinni</strong>
      </td>
    </tr>
    <tr class='infra'>
      <td class='aika'>
        14:30
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Pöydistä verkko &amp; virrat kiinni</strong>
      </td>
    </tr>
    <tr class='infra'>
      <td class='aika'>
        15:00
      </td>
      <td class='kuva'></td>
      <td colspan='2'>
        <strong>Ovet kiinni</strong>
      </td>
    </tr>
  </table>

</div>

{% endblock %}
