<!DOCTYPE html>{% load static %}{% load blog_tags %}
<html>
<head>
    <meta charset="utf-8" />
    <title>Instanssi 9.-11.3.2012</title>
    <meta name="viewport" content="initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'libs/css/reset.css?v2' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'main2012/css/style.css?v2' %}" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Alfa+Slab+One" />
    <link rel="image_src" href="{% static 'main2012/images/social-media/banner-button-256x256.jpg' %}" />
    <link rel="alternate" type="application/rss+xml" title="Instanssi Blog - RSS" href="{% blog_rss_url event_id %}" />
    <link rel="icon" type="image/jpeg" href="/static/main2012/images/favicon.jpg">
    <script type="text/javascript" src="{% static 'libs/js/jquery/jquery-1.8.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main2012/js/twitterlib.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main2012/js/modernizr-1.7.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main2012/js/instanssiBackground.js' %}"></script>
    <script type="text/javascript" src="{% static 'main2012/js/twitter_feed.js' %}"></script>
    <meta property="og:locale" content="fi_FI" />
    <meta property="og:locale:alternate" content="en_GB" />
    <meta property="og:url" content="http://instanssi.org/2012/" />
    <meta property="og:image" content="http://instanssi.org/static/main2012/images/social-media/banner-button-256x256.jpg" />
    <meta property="og:title" content="Instanssi - Digitaalisen tekemisen festivaali" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Instanssi" />
{% if GOOGLE_ANALYTICS %}
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_CODE }}']);
    _gaq.push(['_trackPageview']);
    
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
{% endif %}
{% block head %}{% endblock %}
    <script type="text/javascript">
    $(function() {
{% block jquery %}
    $('#tweets').twitterfeed({
        users: ["Instanssi"], 
        tweetcount: 5
    });
{% endblock %}
    });
    </script>
</head>
<body>
<div id="header">
    <div class="center">
        <a class="hover-fade" href="http://instanssi.org">
            <h1>Instanssi</h1>
            <h2 class="description">Digitaalisen tekemisen festivaali</h2>
        </a>
        <h2 class="date">2013 Jyväskylä</h2>
        <!--<h2 class="place">Voionmaan lukiolla</h2>-->
        <h2 class="details">Kilpailuja, valoja, esitelmiä ja työpajoja</h2>
    </div>
</div>
<div id="navigation">
    <ul class="center">
        <li><a href="{% url 'main2012:index' %}">Instanssi</a></li>
        <li><a href="{% url 'main2012:aikataulu' %}">Aikataulu</a></li>
        <li><a href="{% url 'main2012:ohjelma' %}">Ohjelma</a></li>
        <li><a href="{% url 'main2012:kompot' %}">Kompot</a></li>
        <li><a href="{% url 'main2012:liput' %}">Liput</a></li>
        <li><a href="{% url 'main2012:info' %}">Info</a></li>
        <li><a href="{% url 'main2012:yhteystiedot' %}">Yhteystiedot</a></li>
        <li><a href="{% url 'main2012:english' %}">In English</a></li>
        <li><a href="{% url 'archive:index' %}">Arkisto</a></li>
        <div class="clearer"></div>
        <div class="nav-marker"></div>
    </ul>
</div>
<div id="content">
    <div class="center">
        <div id="main-area">
{% block content %}{% endblock %}
        </div>
        <div id="side-bar">
            <h2>Twitter</h2>
            <div id="tweets">
            </div>
        </div>
        <div class="clearer"></div>
    </div>
</div>
<div id="footer">
    <div class="center">
    <div class="site-map">
        <h3>Sivukartta</h3>
        <ul>
            <li class="hover-fade hover-right"><a href="{% url 'main2012:index' %}">Instanssi</a></li>
            <li class="hover-fade hover-right"><a href="{% url 'main2012:aikataulu' %}">Aikataulu</a></li>
            <li class="hover-fade hover-right"><a href="{% url 'main2012:ohjelma' %}">Ohjelma</a></li>
            <li class="hover-fade hover-right"><a href="{% url 'main2012:kompot' %}">Kompot</a></li>
            <li class="hover-fade hover-right"><a href="{% url 'main2012:liput' %}">Liput</a></li>
            <li class="hover-fade hover-right"><a href="{% url 'main2012:info' %}">Info</a></li>
            <li class="hover-fade hover-right"><a href="{% url 'main2012:yhteystiedot' %}">Yhteystiedot</a></li>
            <li class="hover-fade hover-right"><a href="{% url 'main2012:english' %}">In English</a></li>
        </ul>
    </div>
    <div class="partners">
        <h3>Yhteistyössä</h3>
        <div class="parner-logos">
            <a href="http://magister.fi/" ><img src="{% static 'main2012/images/partners/magister-logo.png' %}" alt="" /></a>
            <a href="http://www.vincit.fi/" ><img src="{% static 'main2012/images/partners/vincit-logo.png' %}" alt="" /></a>
            <a href="http://www.jaadisain.fi/" ><img src="{% static 'main2012/images/partners/jaadisain-logo.png' %}" alt="" /></a>
            <a href="http://www.mediacabinet.fi/" ><img src="{% static 'main2012/images/partners/mediacabinet-logo.png' %}" alt="" /></a>
            <a href="http://www.sysdrone.fi/" ><img src="{% static 'main2012/images/partners/sysdrone-logo.png' %}" alt="" /></a>
            <a href="http://linkkijkl.fi/" ><img src="{% static 'main2012/images/partners/linkki-logo.png' %}" alt="" /></a>
            <a href="https://www.jyu.fi/it/laitokset/mit/" ><img src="{% static 'main2012/images/partners/jyuit-logo.png' %}" alt="" /></a>
            <a href="http://www.jao.fi/" ><img src="{% static 'main2012/images/partners/jao-logo.png' %}" alt="" /></a>
            <a href="http://www.koodilehto.fi/" ><img src="{% static 'main2012/images/partners/codegrove-logo.png' %}" alt="" /></a>
            <a href="http://www.liveherring.org/" ><img src="{% static 'main2012/images/partners/liveherring-logo.png' %}" alt="" /></a>
            <a href="http://www.musikantti.fi/" ><img src="{% static 'main2012/images/partners/musikantti-logo.png' %}" alt="" /></a>
            <div class="clearer"></div>
        </div>
    </div>
    <div class="social-media">
        <h3>Sosiaaliset mediat</h3>
        <p>IRC: #instanssi<br/>&#64; IRCNet</p>
        <div class="social-media-icons">
            <a href="http://www.facebook.com/instanssi"><img src="{% static 'main2012/images/social-media/facebook.png' %}" alt="Facebook" /></a>
            <a href="http://twitter.com/instanssi"><img src="{% static 'main2012/images/social-media/twitter.png' %}" alt="Twitter" /></a>
            <a href="http://www.youtube.com/user/InstanssiOrg"><img src="{% static 'main2012/images/social-media/youtube.png' %}" alt="Youtube" /></a>
            <a href="http://www.pouet.net/party.php?which=1544&amp;when=2011"><img src="{% static 'main2012/images/social-media/pouet.png' %}" alt="pouet.net" /></a>
            <a href="http://groups.google.com/group/instanssi"><img src="{% static 'main2012/images/social-media/google.png' %}" alt="Google groups" /></a>
            <div class="clearer"></div>
        </div>
    </div>
    <div class="clearer"></div>
</div>
<div id="footer-copyright">
    <pre class="center">© 2012 Instanssi | Kaikki oikeudet pidätetään.</pre>
</div>
<div id="layerItems">
</div>
</body>
</html>
