{% extends "main2012/base.html" %}

{% block head %}
{{ block.super }}
    <style type="text/css"> .nav-marker{left: 260px;} </style>
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Yleisesti kompoista</h2>

<div class="p">
    Yleiset säännöt:
    <ul class="info">
        <li>
            Kompoteosten ohjelmakoodia kannustetaan julkaistavaksi avoimena lähdekoodina. 
            Työn alla olevista teoksista sopii keskustella julkisesti vaikkapa ohjelmointivinkkien etsimiseksi.
        </li>
        <li>
            Kaikkien teosten tulee koostua pääosin ennen julkaisemattomasta materiaalista.
        </li>
        <li>
            Sääntömuutoksia tehdään tarvittaessa yllättäen ja mielivaltaisesti, joskaan ei perusteettomasti tahi asiasta informoimatta.
        </li>
        <li>
            Kaikkeen missä tahansa teoksessa käytettyyn materiaaliin tulee osallistujalla olla tekijänoikeudet tai 
            lupa tekijänoikeuksien haltijoilta.
        </li>
        <li>
            Suosiota saavuttaneet hissipuheet palaavat! Kaikissa kompoissa tarjotaan kaikkien teosten kohdalla tekijöille mahdollisuus piipahtaa 
            juuri ennen teoksen esittämistä lavalla esittäytymässä sekä esittelemässä ja kenties kehaisemassakin tuotostaan. Pakko ei ole, mikäli 
            ei halua. Kannustamme kuitenkin keksimään markkinointihengessä tai vaikkapa kieli poskessa pari sanasta.
        </li>
    </ul>
</div>
<div class="p">
    Osallistumistakarajat:
    <ul class="info">
        <li>
            Teosten kompomaattiin rekisteröinnin takaraja tulee olemaan perjantain ja lauantain välisenä yönä. 
            Tässä vaiheessa on jo toimitettava julkaisukelpoinen teos. Teosta saa kuitenkin päivittää järjestelmään 
            vielä tämän jälkeen, komposta riippuen lähes kompon alkuun saakka. Tarkat takarajat näkyvät tapahtuman 
            aikana kompomaatissa. Erikoistapauksissa neuvotteluvaraa on.
        </li>
    </ul>
</div>
<div class="p">
    Etäosallistuminen:
    <ul class="info">
        <li>
            Etäosallistuminen on sallittua tietyin rajauksin. Etäosallistuminen tarkoittaa osallistumista 
            johonkin kompoon ilman että tekijä tai tekijää edustava taho on tapahtumassa paikan päällä. 
            Mikäli haluat lähettää etäentryn, ota yhteyttä järjestäjiin.
        </li>
        <li>Järjestäjät voivat hylätä mahdollisuuden etäosallistumiseen, mikäli kilpasarjassa on riittävästi
            osallistujia tai jos teoksen esittäminen osoittautuu muutoin ongelmalliseksi. Järjestäjillä ei ole
            velvollisuutta perustella karsintaan johtaneita syitä. Riskiä karsiutumiseen voi pienentää
            laatimalla järjestäjille seikkaperäiset esittämisohjeet, erityisesti silloin,
            kun teos poikkeaa ympäristöltään tai vaatimuksiltaan tyypillisestä. Etäentryn yhteydessä
            menettää tietysti mahdollisuuden mainospuheen pitämiseen kompon yhteydessä.
        </li>
        <li>
            Edustajan välityksellä tapahtuva kilpaan osallistuminen on suositeltavampi vaihtoehto ja se on
            mahdollista missä tahansa kompossa. 
            Tällöin tapahtumassa paikan päällä oleva kävijä huolehtii teoksen lähettämisestä kompomaattiin,
            mahdollisen mainospuheen pitämisestä kompon yhteydessä sekä mahdollisen palkinnon vastaanottamisesta.
        </li>
    </ul>
</div>
<div class="p">
    Salivalaistuksen käyttäminen osana teosta:
    <ul class="info">
        <li>
            Kannustamme käyttämään salivalaistusta osana teosta, niissä tapauksissa kun se on mahdollista. 
            Valojen hyödynnykseen speksejä ja apuja löytyy oheisesta blogientrystä: 
            <a href="http://blog.instanssi.org/2012/01/effect-server-ohjelmoitavat-valot-20.html">
                http://blog.instanssi.org/2012/01/effect-server-ohjelmoitavat-valot-20.html
            </a>. 
            Tarkempia tietoja sekä kattavaa tukea tarjoamme tapahtuman aikana. Tällöin ehtii paikan päällä 
            vielä mainiosti esimerkiksi toteuttaa muutoin valmiihkoon demoon valo-ohjauksen. Tiedusteluihin 
            asian tiimoilta vastaamme toki koska tahansa ennen tapahtumaakin.

        </li>
    </ul>
</div>
<div class="p">
    Julkaisu:
    <ul class="info">
        <li>
            Kompoihin osallistuminen tarkoittaa teoksen luovuttamista hyvässä demoskene-hengessä julkiseen 
            käyttöön sisältäen teosten ja videotallenteiden levittämisen Instanssin sivustolla. Käytettävän 
            materiaalin täytyy olla moiseen sopivaa mm. sisältönsä ja tekijänoikeusseikkojen puolesta.
        </li>
    </ul>
</div>
<div class="p">
    Kompokone 1:
    <ul class="info">
        <li>Käyttöjärjestelmä: Windows 7 64bit</li>
        <li>Prosessori: Intel i7 2600</li>
        <li>Emolevy: Asus P67</li>
        <li>Keskusmuisti: 8GB DDR3</li>
        <li>Näytönohjain: Geforce GTX580 1536M</li>
        <li>Massamuisti: Intel SSD 510 128GB</li>
    </ul>
</div>
<div class="p">
    Kompokone 2:
    <ul class="info">
        <li>Käyttöjärjestelmä: Ubuntu Linux 11.10 64bit</li>
        <li>Prosessori: Core 2 Quad Q9300 (2.5Ghz)</li>
        <li>Emolevy: Asus P5K</li>
        <li>Keskusmuisti: 8Gb DDR3</li>
        <li>Näytönohjain: Geforce GTX570 1280M</li>
        <li>Massamuisti: Löytyy!</li>
    </ul>
</div>
<div class="p">
    Sallitut resoluutiot videoille, demoille &amp; grafiikoille (60Hz):
    <ul class="info">
        <li>640x480</li>
        <li>720x480</li>
        <li>1280x720</li>
        <li>1920x1080</li>
    </ul>
</div>

<br />
<h2>Kompot</h2>

<h3>Instanssidemo</h3>
<p>
    Instanssidemo on tapahtuman kliimaksi, jolloin taiteelliset reaaliaikaiset päräytykset 
    alistavat raudan tahtoonsa tavoitteena audiovisuaalinen elämys. Teos on audiovisuaalinen 
    tietokoneohjelma. Käytettävän tekniikan saa valita vapaasti. Esimerkiksi OpenGL, SDL, 
    DirectX, XNA, Qt, HTML5 ja ncurses ovat kelvollisia ympäristöjä. Kompokoneelle voidaan 
    tarvittaessa asentaa oletusasetuksin yleisimpiä (paketinhallinnasta löytyviä) kirjastoja. 
    Eriskummallisissa tapauksissa valmistaudu käyttämään esitykseen omaa laitteistoasi. 
    Valkokankaan ja äänentoiston lisäksi ohjelmoitavaa salivalaistusta kannustetaan käyttämään 
    osana demoa.
</p>
<div class="p">
    Lisätietoa:
    <ul class="info">
        <li>
            Puretun paketin on mahduttava alle 128 megatavun tilaan.
        </li>
        <li>
            Valkokankaan ja äänentoiston lisäksi salivalaistusta kannustetaan käyttämään osana demoa. 
        </li>
        <li>
            Demon on oltava enimmäkseen ohjelmoitu. Puhtaat animaatiot sopivat summamutikkaan.
        </li>
    </ul>
</div>

<h3>Pikkiriikkinen demo</h3>
<p>
    Pikkiriikkinen demo edustaa raa’an ohjelmointitaidon terävintä kärkeä. Teos on äärimmäisen 
    pieni audiovisuaalinen tietokoneohjelma. Ainoa, joskin hyvin määrittävä ero instanssidemokompoon 
    verrattuna on teoksen 4096 tavun kokorajoite. Perinteisten suoritettavien binäärien lisäksi kompoon 
    kelvollisia ovat tulkattavat ja käännettävät ohjelmat, siispä esimerkiksi selaimessa toimivan 
    Javascriptin käyttö on sallittua. Käytetty teknologia mainitaan esityksen yhteydessä.
</p>
<div class="p">
    Lisätietoa:
    <ul class="info">
        <li>
            Binäärimuotoinen teos voi linkittää käytettävän järjestelmän yleisiin kirjastoihin 
            (Linux-koneella esim. C, OpenGL, SDL). Lisäkirjastojen asennusta voi pyytää.
        </li>
        <li>
            Valkokankaan ja äänentoiston lisäksi salivalaistusta voi tavumäärän salliessa käyttää osana demoa.
        </li>
        <li>
            Ajettava ohjelma on kooltaan enintään 4096 tavua.
        </li>
    </ul>
</div>

<h3>Musiikki</h3>
<p>
    Loihdi sävelmiä, mielenkiintoisia soundeja tai rankkoja äänimattoja - kunhan loihdit ääntä 
    joka on jonkin tulkinnan mukaan musikaalista. Maailma lienee täynnä hyviä esimerkkejä hyvistä 
    biiseistä. Tekniikka vapaa, esimerkiksi renderoitu äänitiedosto, äänite, tracker-muotoinen 
    kappale tai ajettava ohjelma newskool- tai oldskool-raudalla käy.
</p>
<div class="p">
    Lisätietoa:
    <ul class="info">
        <li>
            Kappaletta soitetaan kompossa enintään neljä minuuttia. Aikaraja on suhteellisen ruhtinaallinen, 
            mutta kappaletta ei kannata väkisin viruttaa kattamaan koko suotua aikaikkunaa.
        </li>
        <li>
            Äänentoistojärjestelmä tulee olemaan kohtalaisen jytäkkä, myös subbaritehoa löytyy 
            mukavasti. Kaikki teokset soitetaan samaa, ennen kompoa konsensushakuisesti yhdessä 
            yleisön kanssa säädettävää, miksausta käyttäen. Äänenvoimakkuutta voidaan varioida 
            teoskohtaisesti, joten äänentasoja ei ole välttämättä pakko rutistaa puuroutuvan kovaksi. 
            Toki jonkinasteinen tasojen kompressointi on nykyajalle tyypillistä ja ihan suositeltavaa.
        </li>
        <li>
            Renderoidulle äänelle soveltuvia tiedostomuotoja ovat .mp3, .ogg ja .flac.
        </li>
        <li>
            Tracker-biiseille suotavimmat formaatit ovat .mod, .s3m, .xm ja .it. Toistoon käytettävä 
            ohjelma on MODPlug Playerin uusin versio. Pyrimme toteuttamaan mahdolliset erityistoivomukset 
            kappaleiden toistoon käytettävän ohjelman käytöstä. Myös esimerkiksi .xrns-tiedostolla (Renoise) 
            osallistuminen on mahdollista. Tracker-muodossa lähetetyt kappaleet eivät saa sisältää ulkopuolisia 
            riippuvuuksia, kuten VSTi-plugineja.
        </li>
        <li>
            Oldskool-teosten yhteydessä varaudu tuomaan oma laitteisto mukana. 
            Mahdollisuuksien mukaan voimme toistaa oldskool-teokset emulaattoreita käyttäen.
        </li>
        <li>
            Myös softasyntikkaentry on mahdollinen. Tukeudu alustaspekseissä tällöin kompokonespekseihin.
        </li>
        <li>
            Olipa alusta mikä hyvänsä, kappaleelle ei ole asetettu kokorajoitusta.
        </li>
    </ul>
</div>

<h3>Grafiikka</h3>
<p>
    Teos on tietokoneella tuotettu kuva. Tekniikaksi käy esimerkiksi pikseleiden asettaminen paikoilleen 
    käsin tai 3D-mallin renderöinti. Tai kaikkien mahdollisten tekniikoiden sekakäyttö.
</p>
<div class="p">
    Lisätietoa:
    <ul class="info">
        <li>Pelkät valokuvat eivät siltänään kelpaa, mutta niitä voi käyttää teoksen materiaalina.</li>
        <li>Valmiin tuotoksen on oltava .png-muodossa.</li>
    </ul>
</div>

<h3>Vikkelä grafiikka</h3>
<p>
    Teos on tietokoneellisesti tuotettu kuva kuten grafiikkakompossa. Se tehdään kuitenkin tapahtuman 
    aikana aiheesta, joka annetaan kilpailuajan alkaessa. Annettavan kilpailuajan pituus pidetään tässä 
    vaiheessa arvoituksena.
</p>

<h3>Robocode</h3>
<p>
    Potkaise robottiin sullottu koodisi areenalle näyttämään kenen algoritmit hallitsevat lähitienoita. 
    Kompossa ohjelmoidaan tankki käyttäen Robocode-alustaa. Lisätietoa Robocodesta: 
    <a href="http://robocode.sourceforge.net/">http://robocode.sourceforge.net/</a>. 
    Ottelukohtainen robottimäärä määräytyy osanottajien määrästä, kuitenkin siten että kentällä on kerrallaan 
    enimmillään 6 tankkia. Kompo toteutetaan turnausmuodossa. Ottelujen kokoonpanot arvotaan. Yksittäisessä 
    ottelussa on kerrallaan korkeintaan kuusi tankkia.
</p>
<div class="p">
    Lisätietoa:
    <ul class="info">
        <li>Ei ennen julkaistuja tankkeja.</li>
        <li>
            Välieriä muodostetaan puolitusalgoritmilla kunnes ruudulla on kerrallaan korkeintaan 
            kuusi tankkia.
        </li>
        <li>
            Ottelut tullaan selostamaan.
        </li>
        <li>
            Osallistujia kehotetaan toimittamaan robottinsa yhteydessä myös sen lähdekoodi, 
            jota tullaan käyttämään lähteenä otteluselostusten faktatietoudelle.
        </li>
    </ul>
</div>

<h3>Summamutikka</h3>
<p>
    Summamutikka tulee todennäköisesti olemaan taas se kilpailu, joka aiheuttaa yllättävän 
    paljon kuhinaa. Summamutikkaan todella kuka tahansa pystyy osallistumaan varsin spontaanistikin. 
    Tavoitteena on mahdollisimman suuri hämmennys, häkellys ja vaikutus. Tyyli ja keinot ovat vapaat 
    tarjottujen puitteiden rajoissa. Teoksen voi esittää valkokankaan sijaan myös kekseliäämmin keinoin. 
    Aikaisempina kertoina on nähty mm. ohjelmoitavaa salivalaistusta hyödyntävä kuunnelma, informatiivinen 
    PowerPoint-esitys, livekeikka, hassunhauskoja videoita sekä kaikenkarvaisten harrasteprojektien 
    esittelyjä. Tule, hämmennä ja hämmästytä!
</p>
<div class="p">
    Lisätietoa:
    <ul class="info">
        <li>
            Ilmoittautuessasi kompoon (tapahtuman aikana) ilmoita kuvauksessa teoksen luonne ja esitystapa. 
            Erityistarpeista kannattaa sopia etukäteen. Pyrimme mahdollisuuksien mukaan tarjoamaan tekniikan 
            ja puitteet.
        </li>
        <li>
            Esitysympäristö on valkokangas ja/tai salin etuosa. Käytettävissä valkokangas, äänentoisto, 
            mikrofoneja, salivalot, savukoneistoa sekä mahdollinen muu tapahtuman tehostevarustus.
        </li>
        <li>
            Ei pyrotekniikkaa, vaarallisia aineita eikä vaarallisia esineitä. 
        </li>
    </ul>
</div>

<h3>Skreippaus</h3>
<p>
    Skreippauskompon tavoitteena on teknisesti ja/tai sisällöllisesti mielenkiintoinen tiedonvapautus. 
    Vapauta tietoa kotona tai paikan päällä tekemällä screen scraper -työkalu, joka esittää mielenkiintoista 
    julkista tietoa koneen luettavaksi tarkoitetussa muodossa. Liitä kilpailutyöhön lähdekoodi ja lyhyt kuvaus.
</p>

<br />
<h2>Kysymyksiä, huolia?</h2>
<p>
    Mikäli kaipaat mihin tahansa kompoihin liittyvään seikkaan täsmennyksiä, apua tai haluat esittää toivomuksia, 
    älä epäröi ottaa yhteyttä jo hyvissä ajoin!
</p>
{% endblock %}
