{% extends "main2012/base.html" %}

{% block head %}
{{ block.super }}
    <style type="text/css"> .nav-marker{left: 320px;} </style>
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Liput</h2>
    
    <p><strong>Lippujen ennakkomyynti on päättynyt!</strong> Dynaamisia lippuja voi ostaa käteisellä
    ovelta viiden euron hintaan. Tervetuloa!</p>
    
    <h3>Dynaaminen lippu – 5 euroa</h3>
    <p>
        Lipulla saa kulkea koko viikonlopun ajan rajattomasti sisään ja ulos, seurata kaikkea ohjelmaa, osallistua työpajoihin 
        sekä käyttää langatonta verkkoa, suihkuja (pojille ja tytöille erilliset tilat) ja nukkumistilaa.
    </p>
	
    <h3>Staattinen lippu – 10 euroa</h3>
    <p>
        Lippu sisältää kaiken minkä dynaaminenkin lippu ja lisäksi langallisen verkon, virtaa ja pöytätilaa tietokoneellesi (90x70cm).
    </p>
    <p>
        <strong>Huom! Staattiset liput on loppuunmyyty!</strong>
    </p>
    
    <h3>Muuta</h3>
    <p>
        Tapahtumassa on istumatilaa katsomossa, satunnaisia irtopistokkeita ja jokunen pöytä oleskeluun. Irtopistokkeita ei 
        kuitenkaan riitä kaikille kävijöille samanaikaisesti, joten suosittelemme staattisen lipun hankkimista, jos haluat 
        taata sähkön ja netin koneellesi.
    </p>
    <p>
        Ovelta saa myös parilla eurolla kertalippuja joilla voi epäröidessään kurkistaa Instanssia. Kertalippu on nimensä
        mukaisesti kertakäyttöinen. Haluat todennäköisesti käydä viikonlopun aikana ulkona, joten kannattaa ostaa dynaaminen tai 
        staattinen lippu.
    </p>
    
    <!--<span class="order-ticket">    
	<a href="http://tickets.holvi.com/event/6fd5ca46/">Siirry ostamaan lippuja</a>
    </span>-->
{% endblock %}

