{% extends "main2012/base.html" %}

{% block head %}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Liput</h2>
    <h3>Dynaaminen lippu – 5 euroa</h3>
    <p>
        Lipulla saa kulkea koko viikonlopun ajan rajattomasti sisään ja ulos, seurata kaikkea ohjelmaa, osallistua työpajoihin 
        sekä käyttää langatonta verkkoa, suihkuja (pojille ja tytöille erilliset tilat) ja nukkumistilaa.
    </p>
	

    <h3>Staattinen lippu – 10 euroa</h3>
    <p>
        Lippu sisältää kaiken minkä dynaaminenkin lippu ja lisäksi langallisen verkon, virtaa ja pöytätilaa tietokoneellesi (60x70cm).
    </p>
    <h3>Muuta</h3>
    <p>
        Tapahtumassa on istumatilaa katsomossa, satunnaisia irtopistokkeita ja jokunen pöytä oleskeluun. Irtopistokkeita ei 
        kuitenkaan riitä kaikille kävijöille samanaikaisesti, joten suosittelemme staattisen lipun hankkimista, jos haluat 
        taata sähkön ja netin koneellesi.
    </p>
    <p>
        Ovelta saa myös parilla eurolla kertalippuja joilla voi epäröidessään kurkistaa Instanssia. Kertalippu on nimensä
        mukaisesti kertakäyttöinen. Haluat todennäköisesti käydä viikonlopun aikana ulkona, joten kannattaa ostaa dynaaminen tai 
        staattinen lippu.
    </p>
    
	<span class="order-ticket">    
	<a href="http://tickets.holvi.com/event/6fd5ca46/">Siirry ostamaan lippuja</a>
    </span>
	
	<style> .nav-marker{left: 230px;} </style>

{% endblock %}

