{% extends "main2012/base.html" %}

{% block head %}
{{ block.super }}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ googleapikey }}&amp;sensor=false"></script>
    <style type="text/css"> .nav-marker{left: 278px;}</style>
{% endblock %}

{% block jquery %}
{{ block.super }}
    var position = new google.maps.LatLng(62.239850, 25.72460);
    var mapopts = {
        center: position,
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapopts);
    var marker = new google.maps.Marker({
        position: position,
        map: map,
        title: "Instanssi"
    });
{% endblock %}

{% block content %}
{{ block.super }}

    <h2>Instanssi 2012 - ohjelma</h2>

    <p>Instanssi 2012:n aikataulu. Aikatauluun tulee vielä täydennyksiä ja muutoksia ennen tapahtumaa.
    Muutoksista laitetaan viestit <a href="http://twitter.com/Instanssi">twitteriin</a>,
    <a href="https://www.facebook.com/events/281869421862634/">Facebook-tapahtumaan</a>,
    <a href="https://plus.google.com/b/105078397903279257138/">Google+-sivulle</a> ja
    <a href="http://blog.instanssi.org/">blogiin</a>, joten yksi tai kaikki seurantaan. :-)
    </p>

    <div id="program">
		
        <h3>Esitykset</h3>

        <div class="program-item" id="heikkisalo">
			<h4>Tervetulotoivotus & esittelyjä</h4>
			<img alt="Heikki deggis Salo" class="author-img" src='/static/main2012/images/schedule/deggis.jpg' />
			<div class="author">
				<p class="author-name">Heikki Salo</p>
				<p class="author-description">Instanssi 2012 -työryhmän puheenjohtaja</p>
			</div><div class="clearer"></div>
			<p class="program-description">
            Heikki sanoo vartin aikana kolme kertaa "Tervetuloa!" ja kertoo sitten, mitä tapahtuu seuraavaksi.
			</p>
			<div class="program-author-links">
				<a href='http://deggis.iki.fi'><img src='/static/main2012/images/program/link.png' /></a>
				<a href='https://github.com/deggis'><img class="github-icon" src='/static/main2012/images/program/git.png' /></a>
				<a href='http://twitter.com/#!/deggis'><img src='/static/main2012/images/program/twitter.png' /></a>
				<a href='http://www.linkedin.com/profile/view?id=87349669'><img src='/static/main2012/images/program/linkedin.jpg' /></a>
			</div>
        </div>

		<div class="program-item" id="anttipoikola">
			<h4>Mitä on avoin data ja mitä Suomessa tapahtuu nyt?</h4>
			<img alt="Antti Poikola" class="author-img" src='/static/main2012/images/schedule/poikola.jpg' />
			<div class="author">
				<p class="author-name">Antti Poikola</p>
				<p class="author-description">yrittäjä, tutkija, konsultti</p>
			</div><div class="clearer"></div>
			<p class="program-description">
			Antti Poikola kertoo, mistä avoimessa datassa on kyse (ja mistä ei). Tätä yhteenvetoa tekemään ei Suomesta parempaa puhujaa löydy.
			</p>
			<div class="program-author-links">
				<a href='http://apoikola.wordpress.com/'><img src='/static/main2012/images/program/link.png' /></a>
				<a href='http://twitter.com/#!/apoikola'><img src='/static/main2012/images/program/twitter.png' /></a>
				<a href='http://www.linkedin.com/profile/view?id=1480240'><img src='/static/main2012/images/program/linkedin.jpg' /></a>
			</div>
        </div>


		<div class="program-item" id="sorvi">
			<h4>soRvi - avoimen datan työkalupakki R-kielelle</h4>
			<img alt="Leo Lahti, Juuso Parkkinen" class="author-img" src='/static/main2012/images/schedule/kysymysmerkki.jpg' />
			<div class="author">
				<p class="author-name">Leo Lahti, Juuso Parkkinen</p>
				<p class="author-description">Apps4Finland 2011 -kilpailun finalistit</p>
			</div><div class="clearer"></div>
			<p class="program-description">
			Leo ja Juuso esittelevät Sorvi-työkalupaketin ja näyttävät, mitä sillä voi tehdä.
			</p>
			<div class="program-author-links">
			</div>
        </div>

		<div class="program-item" id="paavonieminen">
			<h4>All 1kt:n softasyntikka</h4>
			<img alt="Paavo Nieminen" class="author-img" src='/static/main2012/images/schedule/paavo.jpg' />
			<div class="author">
				<p class="author-name">Paavo Nieminen</p>
				<p class="author-description">tutkija, muusikko</p>
			</div><div class="clearer"></div>
			<p class="program-description">
			Paavo esittelee yhden pikkiriikkisen reaaliaikaisen softasyntetisaattorin syntyvaiheet ja prosessista kerätyt kantapääopetukset. Syntikka on esityksen jälkeen haettavissa omaan käyttöön! (vertailun vuoksi: Ei-optimoimatu JPEG-kuva Paavosta on 3,77 kt. Terv. webmaster)
			</p>
			<div class="program-author-links">
				<a href='http://users.jyu.fi/~nieminen/'><img src='/static/main2012/images/program/link.png' /></a>
			</div>
        </div>


		<div class="program-item" id="saulikorhonen">
			<h4>Vielä yksi johdatus konemusiikkiin</h4>
			<img alt="Sauli Korhonen" class="author-img" src='/static/main2012/images/schedule/sauli.jpg' />
			<div class="author">
				<p class="author-name">Sauli Korhonen</p>
				<p class="author-description">muusikko, skenekonkari</p>
			</div><div class="clearer"></div>
			<p class="program-description">
			  Sauli tunnetaan takavuosilta muun muassa Tekotuotanto-ryhmästä sekä pseudonyymien King Thrill ja Rage Manifesto takaa. Sauli-setä opastaa konemusiikkiharrastuksen pariin.
			</p>
			<div class="program-author-links">
				<a href='http://kingthrill.blogspot.com'><img src='/static/main2012/images/program/link.png' /></a>
			</div>
        </div>


		<div class="program-item" id="esamattisuuronen">
			<h4>Instanssin valot - EffectServer</h4>
			<img alt="Sauli Korhonen" class="author-img" src='/static/main2012/images/schedule/epeli.jpg' />
			<div class="author">
				<p class="author-name">Esa-Matti Suuronen</p>
				<p class="author-description">ohjelmistokehittäjä</p>
			</div><div class="clearer"></div>
			<p class="program-description">
			  Esa-Matti Suuronen esittelee, miten kävijät ja teokset voivat käyttää Instanssin valaistusta (50 kpl DMX Led-valonheittimiä). Valot ovat esityksen jälkeen käytettävissä sunnuntaihin asti.
			</p>
			<div class="program-author-links">
				<a href='http://esa-matti.suuronen.org/'><img src='/static/main2012/images/program/link.png' /></a>
				<a href='https://github.com/epeli'><img class="github-icon" src='/static/main2012/images/program/git.png' /></a>
				<a href='http://twitter.com/#!/EsaMatti'><img src='/static/main2012/images/program/twitter.png' /></a>
				<a href='http://www.linkedin.com/profile/view?id=87349151'><img src='/static/main2012/images/program/linkedin.jpg' /></a>
			</div>
        </div>


		<div class="program-item" id="robocode">
			<h4>Robocode</h4>
			<img alt="Robocode" class="author-img" src='/static/main2012/images/schedule/robocode.jpg' />
			<div class="author">
				<p class="author-name">Robocode-ottelut</p>
				<p class="author-description"></p>
			</div><div class="clearer"></div>
			<p class="program-description">
				Instansseilla järjestetään kolmet juonnetut Robocode-ottelut, perjantain näytösottelu, lauantain semifinaali ja sunnuntain finaali. Robocoden juontaa Rage Manifesto + kaksi asiantuntijaa.
			</p>
			<div class="program-author-links">
				<a href='http://robocode.sourceforge.net/'><img src='/static/main2012/images/program/link.png' /></a>
			</div>
        </div>

		<div class="program-item" id="moleman2">
			<h4>Moleman 2 Demoscene - The Art Of The Algorithms</h4>
			<img alt="Moleman 2" class="author-img" src='/static/main2012/images/schedule/molemanheader_crop.jpg' />
			<div class="author">
				<p class="author-name">Moleman 2 -dokumenttielokuva</p>
				<p class="author-description"></p>
			</div><div class="clearer"></div>
			<p class="program-description">
				Vasta Euroopassa ensiesityksensä saanut unkarilainen dokumenttielokuva Moleman 2 -dokumentti Demoscene – The Art of the Algorithms esitetään Instansseilla perjantain ja lauantain välisenä yönä! Moleman 2 on suomeksi tekstitetty.
			</p>
			<div class="program-author-links">
				<a href='http://molemanfilm.com/'><img src='/static/main2012/images/program/link.png' /></a>
			</div>
        </div>



		
		<div class="program-item" id="heikkisalo">
			<h4>Demoscenen tyylilajit ja niiden kehitys 80-luvulta nykypäivään</h4>
			<img alt="nosfe" class="author-img" src='/static/main2012/images/schedule/nosfegnome_crop.jpg' />
			<div class="author">
				<p class="author-name">Pilvari Nosfe Pirtola</p>
				<p class="author-description">Taiteilija, demoparta</p>
			</div><div class="clearer"></div>
			<p class="program-description">
            "Demoscenen tyylilajit ja niiden kehitys 80-luvulta nykypäivään" ja esittelee samalla parhaat palat eri tyylilajeista.
			</p>
			<div class="program-author-links">
				<a href='http://low.fi/~nosfe/'><img src='/static/main2012/images/program/link.png' /></a>
			</div>
        </div>

	<!--
		Jäi kuva yli jota en osannut äkkiseltään sommitella tekstin sekaan
		<img alt="Demoscene" class="teaser" src='/static/main2012/images/program/event_pirtola_demoscene.jpg' />
     -->   
    </div>

{% endblock %}
