{% extends "main2012/base.html" %}

{% block head %}
{{ block.super }}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key={{ googleapikey }}&amp;sensor=false"></script>
    <style type="text/css"> .nav-marker{left: 185px;}</style>
{% endblock %}

{% block jquery %}
{{ block.super }}
    var position = new google.maps.LatLng(62.239850, 25.72460);
    var mapopts = {
        center: position,
        zoom: 16,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    var map = new google.maps.Map(document.getElementById("map_canvas"), mapopts);
    var marker = new google.maps.Marker({
        position: position,
        map: map,
        title: "Instanssi"
    });
{% endblock %}

{% block content %}
{{ block.super }}

    <h2>Instanssi 2012 - ohjelma</h2>

    <p>Instanssi 2012:n ohjelma. Mahdollisista muutoksista laitetaan viestit <a href="http://twitter.com/Instanssi">twitteriin</a>,
    <a href="https://www.facebook.com/events/281869421862634/">Facebook-tapahtumaan</a>,
    <a href="https://plus.google.com/b/105078397903279257138/">Google+-sivulle</a> ja
    <a href="http://blog.instanssi.org/">blogiin</a>, joten yksi tai kaikki seurantaan. :-)
    </p>

    <div id="program">
		
        <h3>Esitykset</h3>

        <div class="program-item" id="heikkisalo">
			<h4><a name="tervetulotoivotus">Tervetulotoivotus & esittelyjä</a></h4>
			<img alt="Heikki deggis Salo" class="author-img" src='/static/main2012/images/schedule/deggis.jpg' />
			<div class="author">
				<p class="author-name">Heikki Salo</p>
				<p class="author-description">Instanssi 2012 -työryhmän puheenjohtaja</p>
			</div><div class="clearer"></div>
			<p class="program-description">

            Heikki sanoo vartin aikana kaksi kertaa "Tervetuloa!" ja kertoo, mitä täällä oikein tapahtuu.
			</p>
			<div class="program-author-links">
				<a href='http://deggis.iki.fi'><img src='/static/main2012/images/program/link.png' /></a>
				<a href='https://github.com/deggis'><img class="github-icon" src='/static/main2012/images/program/git.png' /></a>
				<a href='http://twitter.com/#!/deggis'><img src='/static/main2012/images/program/twitter.png' /></a>
				<a href='http://www.linkedin.com/profile/view?id=87349669'><img src='/static/main2012/images/program/linkedin.jpg' /></a>
			</div>
        </div>

		<div class="program-item" id="anttipoikola">
			<h4><a name="avoindata">Mitä on avoin data ja mitä Suomessa tapahtuu nyt?</a></h4>
			<img alt="Antti Poikola" class="author-img" src='/static/main2012/images/schedule/poikola.jpg' />
			<div class="author">
				<p class="author-name">Antti Poikola</p>
				<p class="author-description">yrittäjä, tutkija, konsultti</p>
			</div><div class="clearer"></div>
			<p class="program-description">
			Antti Poikola kertoo, mistä avoimessa datassa on kyse ja mitä liikehdintää Suomessa on tällä hetkellä. Esityksen yhteydessä esitellään, mitä avoimeen dataan liittyviä kuvioita Instansseilla on tarjolla.
			</p>
			<div class="program-author-links">
				<a href='http://apoikola.wordpress.com/'><img src='/static/main2012/images/program/link.png' /></a>
				<a href='http://twitter.com/#!/apoikola'><img src='/static/main2012/images/program/twitter.png' /></a>
				<a href='http://www.linkedin.com/profile/view?id=1480240'><img src='/static/main2012/images/program/linkedin.jpg' /></a>
			</div>
        </div>


		<div class="program-item" id="sorvi">
			<h4><a name="sorvi">soRvi - avoimen datan työkalupakki R-kielelle</a></h4>
			<img alt="Leo Lahti" class="author-img" src='/static/main2012/images/schedule/leolahti.jpg' />
			<img alt="Juuso Parkkinen" class="author-img" src='/static/main2012/images/schedule/parkkinen.jpg' />

			<div class="author">
				<p class="author-name">Leo Lahti, Juuso Parkkinen</p>
				<p class="author-description">tukijat, sovelluskehittäjät</p>
			</div><div class="clearer"></div>
			<p class="program-description">
			Leo ja Juuso esittelevät Sorvi-työkalupakettia ja näyttävät, mitä sillä voi tehdä. Tätä voi käyttää sekä jatkokehittää esim. uusien avattujen datasettien kanssa Instansseilla. Sorvista on tuhti tietopaketti <a href="http://apps4finland.fi/fi/kilpailutyot/datan-avaus-sorvi-avoimen-datan-tyokalupakki-r-kielelle">Apps4Finland</a>-sivustolla. Sorvi voitti Yksityinen datan avaus -sarjan.
			</p>
			<div class="program-author-links">
				<a href='http://louhos.wordpress.com/'><img src='/static/main2012/images/program/link.png' /></a>
				<a href='http://www.linkedin.com/profile/view?id=9702688'><img src='/static/main2012/images/program/linkedin.jpg' /></a>
				<a href='http://www.linkedin.com/profile/view?id=7528568'><img src='/static/main2012/images/program/linkedin.jpg' /></a>
			</div>
        </div>

		<div class="program-item" id="paavonieminen">
			<h4><a name="softasyntikka">All 1kt:n softasyntikka</a></h4>
			<img alt="Paavo Nieminen" class="author-img" src='/static/main2012/images/schedule/paavo.jpg' />
			<div class="author">
				<p class="author-name">Paavo Nieminen</p>
				<p class="author-description">tutkija, muusikko</p>
			</div><div class="clearer"></div>
			<p class="program-description">
				<a href="/static/main2012/images/program/Synti2RealtimeTest.png"><img class="program-thumbnail" src="/static/main2012/images/program/Synti2RealtimeTest_tn.png" /></a>

			Paavo esittelee yhden pikkiriikkisen reaaliaikaisen softasyntetisaattorin syntyvaiheet ja prosessista kerätyt kantapääopetukset. Syntikka on esityksen jälkeen haettavissa omaan käyttöön! (vertailun vuoksi: ei-optimoitu JPEG-kuva Paavosta on 3,77 kt. Terv. webmaster)
			</p>
			<div class="program-author-links">
				<a href='http://users.jyu.fi/~nieminen/'><img src='/static/main2012/images/program/link.png' /></a>
			</div>
			<div class="clearer"></div>
        </div>


		<div class="program-item" id="saulikorhonen">
			<h4><a name="johdatuskonemusiikkiin">Vielä yksi johdatus konemusiikkiin</a></h4>
			<img alt="Sauli Korhonen" class="author-img" src='/static/main2012/images/schedule/sauli.jpg' />
			<div class="author">
				<p class="author-name">Sauli Korhonen</p>
				<p class="author-description">muusikko, skenekonkari</p>
			</div><div class="clearer"></div>
			<p class="program-description">
				<a href="/static/main2012/images/program/ragemusa.png"><img class="program-thumbnail" src="/static/main2012/images/program/ragemusa_tn.png" /></a>

			  Sauli tunnetaan takavuosilta muun muassa Tekotuotanto-ryhmästä sekä pseudonyymien King Thrill ja Rage Manifesto takaa. Sauli-setä opastaa konemusiikkiharrastuksen pariin.
			</p>
			<div class="program-author-links">
				<a href='http://kingthrill.blogspot.com'><img src='/static/main2012/images/program/link.png' /></a>
			</div>
			<div class="clearer"></div>
        </div>

		<div class="program-item" id="esamattisuuronen">
			<h4><a name="effectserver">Instanssin valot - EffectServer</a></h4>
			<img alt="Sauli Korhonen" class="author-img" src='/static/main2012/images/schedule/epeli.jpg' />
			<div class="author">
				<p class="author-name">Esa-Matti Suuronen</p>
				<p class="author-description">geek</p>
			</div><div class="clearer"></div>
			<p class="program-description">
			  Esa-Matti Suuronen esittelee, miten kävijät ja teokset voivat käyttää Instanssin valaistusta (50 kpl DMX Led-valonheittimiä). Valot ovat esityksen jälkeen käytettävissä sunnuntaihin asti.
			</p>
			<div class="program-author-links">
				<a href='http://esa-matti.suuronen.org/'><img src='/static/main2012/images/program/link.png' /></a>
				<a href='https://github.com/epeli'><img class="github-icon" src='/static/main2012/images/program/git.png' /></a>
				<a href='http://twitter.com/#!/EsaMatti'><img src='/static/main2012/images/program/twitter.png' /></a>
				<a href='http://www.linkedin.com/profile/view?id=87349151'><img src='/static/main2012/images/program/linkedin.jpg' /></a>
			</div>
        </div>

		<div class="program-item" id="moleman2">
			<h4><a name="moleman">Moleman 2 Demoscene - The Art Of The Algorithms</a></h4>
			<img alt="Moleman 2" class="author-img" src='/static/main2012/images/schedule/molemanheader_crop.jpg' />
			<div class="author">
				<p class="author-name">Moleman 2 -dokumenttielokuva</p>
				<p class="author-description"></p>
			</div><div class="clearer"></div>
			<p class="program-description">
				<a href="/static/main2012/images/program/moleman2.png"><img class="program-thumbnail" src="/static/main2012/images/program/moleman2_tn.png" /></a>

				Vasta Euroopassa ensiesityksensä saanut unkarilainen dokumenttielokuva Moleman 2 -dokumentti Demoscene – The Art of the Algorithms esitetään Instansseilla perjantain ja lauantain välisenä yönä! Moleman 2 on tätä esitystä varten suomeksi tekstitetty.
			</p>
			<div class="program-author-links">
				<a href='http://molemanfilm.com/'><img src='/static/main2012/images/program/link.png' /></a>
			</div>
        </div>


		<div class="program-item" id="hacklab">
			<h4><a name="hacklab">Hacklab Jyväskylä</a></h4>
			<img alt="hacklab" class="author-img" src='/static/main2012/images/schedule/hacklabjkl.jpg' />
			<div class="author">
				<p class="author-name">Hacklab Jyväskylä</p>
				<p class="author-description"></p>
			</div><div class="clearer"></div>
			<p class="program-description">
			  Hacklab Jyväskylä on paikalla koko Instanssien ajan ja esittelee lauantaina toimintaansa. Hacklabin pisteellä voit kokeilla Arduinoja ja kokeilla 3D-printtaamista. Arduinoista ja 3D-printtaamisesta lisätietoja <a href='http://blog.instanssi.org/2012/02/hacklab-jyvaskyla-3d-printtausta-ja.html'>täällä</a>.
			</p>
			<div class="program-author-links">
				<a href='http://hacklabjkl.org/'><img src='/static/main2012/images/program/link.png' /></a>
			</div>
        </div>

		<div class="program-item" id="jarnoliski">
			<h4><a name="datajournalismia">Datajournalismia Jyväskylään!</a></h4>
			<img alt="hacklab" class="author-img" src='/static/main2012/images/schedule/liski.jpg' />
			<div class="author">
				<p class="author-name">Jarno Liski</p>
				<p class="author-description">Jyväskylän ylioppilaslehden päätoimittaja</p>
			</div><div class="clearer"></div>
			<p class="program-description">
			  Jarno Liski esittelee journalistia ja juridisia lähtökohtia datan avaamiseen ja sen jalostamiseen uutisiksi.
			</p>
			<div class="program-author-links">
				<a href='http://www.linkedin.com/pub/jarno-liski/10/380/2b8'><img src='/static/main2012/images/program/linkedin.jpg' /></a>
			</div>
        </div>

		<div class="program-item" id="richarddomander">
			<h4><a name="tekotyperyys">Tekotyperyys - tahallaan väärin toimivat älykkäät agentit</a></h4>
			<img alt="hacklab" class="author-img" src='/static/main2012/images/schedule/domander.jpg' />
			<div class="author">
				<p class="author-name">Richard Domander</p>
				<p class="author-description">opiskelija, asiantuntija</p>
			</div><div class="clearer"></div>
			<p class="program-description">
				<a href="/static/main2012/images/program/ghost.png"><img class="program-thumbnail" src="/static/main2012/images/program/ghost_tn.png" /></a>

			   Mitä tarkoittaa agentin uskottavuus? Entä mitä on tekotyperyys? Miten se eroaa huonosta tekoälystä? Miten tekotyperät, uskottavat agentit voisivat mahdollistaa viihdyttävämpiä pelejä? Kaikkiin näihin kysymyksiin (ja muihin) vastaus maailmanlopun Instansseilla 2012.
			</p>
			<div class="program-author-links">
				<a href='http://www.linkedin.com/in/richarddomander'><img src='/static/main2012/images/program/linkedin.jpg' /></a>
			</div>
        </div>

		<div class="program-item" id="nosfe">
			<h4><a name="demoscenentyylilajit">Demoscenen tyylilajit ja niiden kehitys 80-luvulta nykypäivään</a></h4>
			<img alt="nosfe" class="author-img" src='/static/main2012/images/schedule/nosfegnome_crop.jpg' />
			<div class="author">
				<p class="author-name">Pilvari Nosfe Pirtola</p>
				<p class="author-description">Taiteilija, demoparta</p>
			</div><div class="clearer"></div>
			<p class="program-description">
            "Demoscenen tyylilajit ja niiden kehitys 80-luvulta nykypäivään" ja esittelee samalla parhaat palat eri tyylilajeista.
			</p>
			<div class="program-author-links">
				<a href='http://low.fi/~nosfe/'><img src='/static/main2012/images/program/link.png' /></a>
			</div>
        </div>

		<div class="program-item" id="karihintikka">
			<h4><a name="ijkvt">Ihmisen ja koneen välinen taide</a></h4>
			<img alt="nosfe" class="author-img" src='/static/main2012/images/schedule/karisuolaakalatautomatkanajaksi_crop.jpg' />
			<div class="author">
				<p class="author-name">Kari A. Hintikka</p>
				<p class="author-description">Tieke ry:n erityisasiantuntija, tietotekniikka-kolumnisti</p>
			</div><div class="clearer"></div>
			<p class="program-description">
				<a href="/static/main2012/images/program/stelarc08.jpg"><img class="program-thumbnail" src="/static/main2012/images/program/stelarc08_tn.jpg" /></a>
			  Ihmisen ja koneen sulautumista on haaveiltu pitkään. Mutta onko siitä taiteeksi? Esittelyssä kyborgitaiteen ja -tutkimuksen klassikoita, muun muassa Stelarc, Mark Paulinen tappajarobottisirkus ja Hirosti Ishiguro - maailman ensimmäinen klooniandroidi.
			</p>

			<div class="program-author-links">
				<a href='http://fi.wikipedia.org/wiki/Kari_A._Hintikka'><img src='/static/main2012/images/program/wiki.png' /></a>
			</div>
        </div>

		<div class="program-item" id="ironskyoperationhighjump">
			<h4><a name="ijkvt">Iron Sky: Operation Highjump</a></h4>
			<img alt="nosfe" class="author-img" src='/static/main2012/images/schedule/ironskyoperationhighjump.png' />
			<div class="author">
				<p class="author-name">Iron Sky: Operation Highjump</p>
				<p class="author-description">Erittäin yhteisöllisesti kehitetty peli.</p>
			</div><div class="clearer"></div>
			<p class="program-description">
			  Iron Sky -leffan saapuessa Suomen teattereihin myös virallisen Iron Sky -pelin ensimmäinen osa julkastaan. Operation Highjumpia voi kutsua massively crowd sourcatuksi, ja pienelläkin kontribuutiolla pääsee mukaan. Pelin kehittäjäyhteisöä koordinoiva Tapio Honkonen kertoo, miten peliä on kehitetty sekä miten sen kehittämiseen pääsee mukaan.
			</p>

			<div class="program-author-links">
				<a href='http://www.wreckamovie.com/ironskyoperationhighjump'><img src='/static/main2012/images/program/link.png' /></a>
				<a href='http://twitter.com/#!/IronSkyGame'><img src='/static/main2012/images/program/twitter.png' /></a>
			</div>
        </div>


		<div class="program-item" id="robocode">
			<h4><a name="robocode">Robocode</a></h4>
			<img alt="Robocode" class="author-img" src='/static/main2012/images/schedule/robocode.jpg' />
			<div class="author">
				<p class="author-name">Robocode-ottelut</p>
				<p class="author-description"></p>
			</div><div class="clearer"></div>
			<p class="program-description">
				Instansseilla järjestetään kolmet juonnetut Robocode-ottelut, perjantain näytösottelu, lauantain semifinaali ja sunnuntain finaali. Robocoden juontaa Rage Manifesto + kaksi asiantuntijaa.
			</p>
			<div class="program-author-links">
				<a href='http://robocode.sourceforge.net/'><img src='/static/main2012/images/program/link.png' /></a>
			</div>
        </div>

		<div class="program-item" id="musiikki">
			<h4><a name="musiikki">Instanssi Musiikki</a></h4>
			<img alt="Robocode" class="author-img" src='/static/main2012/images/schedule/palkinnot.jpg' />
			<div class="author">
				<p class="author-name">Musiikkikompo</p>
				<p class="author-description"></p>
			</div><div class="clearer"></div>
			<p class="program-description">
			  Instanssin musiikkikompossa kilpailevat teokset kuunnellaan peräkkäin. Teoksien jättäjillä on halutessaan mahdollisuus esitellä/pitcahta teosta ennen sen esittämistä. Lisää tietoa <a href="/2012/kompot">Kompot-sivulla</a>.
			</p>
			<div class="program-author-links">
			</div>
        </div>

		<div class="program-item" id="scraper">
			<h4><a name="scraper">Instanssi Scraper</a></h4>
			<img alt="Robocode" class="author-img" src='/static/main2012/images/schedule/palkinnot.jpg' />
			<div class="author">
				<p class="author-name">Scraperkompo</p>
				<p class="author-description"></p>
			</div><div class="clearer"></div>
			<p class="program-description">
			  Kompossa esitellään scraper-kisaan osallistuvat teokset. Esittelyn yhteydessä scrapereiden tekijöillä on mahdollisuus esitellä/pitcata teosta. Lisää tietoa <a href="/2012/kompot">Kompot-sivulla</a>.
			</p>
			<div class="program-author-links">
			</div>
        </div>

		<div class="program-item" id="grafiikka">
			<h4><a name="grafiikka">Instanssi Grafiikka</a></h4>
			<img alt="Robocode" class="author-img" src='/static/main2012/images/schedule/palkinnot.jpg' />
			<div class="author">
				<p class="author-name">Grafiikkakompo</p>
				<p class="author-description"></p>
			</div><div class="clearer"></div>
			<p class="program-description">
			  Kompossa esitellään grafiikkakisaan osallistuvat teokset. Esittelyn yhteydessä kuvien tekijöillä on mahdollisuus esitellä/pitcata teosta. Lisää tietoa <a href="/2012/kompot">Kompot-sivulla</a>.
			</p>
			<div class="program-author-links">
			</div>
        </div>

		<div class="program-item" id="summamutikka">
			<h4><a name="summamutikka">Instanssi Summamutikka</a></h4>
			<img alt="Robocode" class="author-img" src='/static/main2012/images/schedule/palkinnot.jpg' />
			<div class="author">
				<p class="author-name">Summamutikkakompo</p>
				<p class="author-description"></p>
			</div><div class="clearer"></div>
			<p class="program-description">
			  Kompossa esitellään summamutikkakisaan osallistuvat teokset. Esittelyn yhteydessä kuvien tekijöillä on mahdollisuus esitellä/pitcata teosta tai olla itse teos. Teokset voivat hyödyntää ohjelmoitavaa salivalaistusta. Ei mitään hajua, mitä tästä tulee. Lisää tietoa <a href="/2012/kompot">Kompot-sivulla</a>.
			</p>
			<div class="program-author-links">
			</div>
        </div>

		<div class="program-item" id="demot">
			<h4><a name="demot">Instanssi demo &amp; Instanssi pikkiriikkinen demo</a></h4>
			<img alt="Robocode" class="author-img" src='/static/main2012/images/schedule/palkinnot.jpg' />
			<div class="author">
				<p class="author-name">Instanssi demo &amp; Instanssi pikkiriikkinen demo</p>
				<p class="author-description"></p>
			</div><div class="clearer"></div>
			<p class="program-description">
			  Kompossa esitellään demosarjoihin osallistuvat ohjelmoidut teokset, jotka voivat hyödyntää ohjelmoitavaa salivalaistusta. Esittelyn yhteydessä kuvien tekijöillä on mahdollisuus esitellä/pitcata teosta. Lisää tietoa <a href="/2012/kompot">Kompot-sivulla</a>.
			</p>
			<div class="program-author-links">
			</div>
        </div>

		<div class="program-item" id="scorchedearth">
			<h4><a name="scorch">Scorched Earth</a></h4>
			<img alt="Robocode" class="author-img" src='/static/main2012/images/schedule/pum.gif' />
			<div class="author">
				<p class="author-name">Scorched Earth</p>
				<p class="author-description"></p>
			</div><div class="clearer"></div>
			<p class="program-description">
			  50 erän <a href="http://en.wikipedia.org/wiki/Scorched_Earth_(video_game)">Scorched Earth</a> die hard -turnaus. Die hard tarkoittaa eeppistä. Eriä on tosi monta.
			</p>
			<div class="program-author-links">
			</div>
        </div>







	<!--
		Jäi kuva yli jota en osannut äkkiseltään sommitella tekstin sekaan
		<img alt="Demoscene" class="teaser" src='/static/main2012/images/program/event_pirtola_demoscene.jpg' />
     -->   
    </div>

{% endblock %}
