{% extends "main2012/base.html" %}

{% block head %}
{{ block.super }}
    <style type="text/css"> .nav-marker{left: 445px;} </style>
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Yhteystiedot</h2>
    <h3>Yhteyshenkilö</h3>
    <p>
        Heikki Salo<br />
        email: heikki.salo@instanssi.org<br />
        IRCNet: deggis
    </p>
    <h3>Muut</h3>
    <p>
        IRC: #instanssi @ IRCNet<br />
        Email: Koko työryhmän tavoitat osoitteesta info@instanssi.org.
    </p>
    <p>
        Voit halutessasi liittyä Instanssi-postilistalle osoitteessa <a href="http://groups.google.com/group/instanssi">http://groups.google.com/group/instanssi</a>. Listalle lähetetään oleellisimmat Instanssia koskevat tiedotteet.
    </p>

{% endblock %}
