html {
    overflow-y: scroll;
}
html , body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}
.clearer, .clear {
    clear: both;
}
img {
    // prevent images from blowing up page
    max-width: 99% !important;
    height: auto !important;
}
body * {
    color: #333;
    font-size: 14px;
    line-height: 150%;
    font-family: $body-font-family;
}
h1 {
    font-family: $title-font-family;
    font-size: 40px;
    margin-bottom: .75em;
    color: $theme-color;
    font-weight: bold;
    line-height: 90%;
}
h2,
form legend
.item .title,
.header {
    font-family: $title-font-family;
    font-size: 25px;
    margin: 20px 0;
    padding-left: 8px;
    padding-right: 8px;
    color: #fff;
    font-weight: bold;
}
h3 {
    font-size: 16px;
    margin: 20px 8px;
    color: #000;
    font-weight: bold;
}
h4 {
    font-size: 14px;
    margin: 20px 8px;
    color: #000;
    font-weight: bold;
}
b, strong {
    font-weight: bold;
}
i, em {
    font-style: italic;
}
blockquote {
    font-size:125%;
    font-style: italic;
    margin-left: 4%;
    margin-bottom: 8px;
}
sup, sub {
    font-size: 75%;
}
sup {
    vertical-align: super;
}
sub {
    vertical-align: sub;
}

/* buttons */
.btn {
    border: 1px solid #48B9DC;
    color: #fff !important;
    text-decoration: none !important;
    display: inline-block;
    padding: 6px 20px;
    border-radius: 0px;

    &:hover {
        color: #fff;
        opacity: 0.8;
    }
}

h2, .item .title, .header,
table th,
.btn,
form legend {
    background: $theme-color;
}

#content {
    background: #fff;
    box-sizing: border-box;
    padding: 24px 10px 24px;
    min-height: 100vh;
}
#page-wrap {
    min-height: 100%;
    position: relative;
    background: $background-color;
    background: linear-gradient($background-color 275px, lighten($background-color, 5) 675px);
}

.container {
    width: 900px;
    margin: 0 auto;
    padding: 0px 0px;
}
