$banner-image: '../images/banner-bg-1.png';

#page-header {
    position: relative; // grab any absolute-positioned stuff
    overflow: hidden;
    z-index: 0;

    background: url($banner-image) repeat-x;
    background:
        linear-gradient(rgba($theme-color-bright, 1) 0px,
        rgba($theme-color-bright, 0) $main-header-height),
        url($banner-image) repeat-x calc(50% - 110px);
    // try to align looping background snake with the one in the header
    background-position: center top;
    background-position: center top, calc(50% - 85px) 5px;

    .snek {
        position: relative;
        left: 100px;

        z-index: -1;

        .snek-head {
            left: 50%;
            margin-left: -50%;
            pointer-events: none;
            position: absolute;
            width: 640px;
            height: 300px;
            background: url('../images/banner-snek.png') no-repeat;
            background-size: 100%;
        }
        .snek-tail {
            position: absolute;
            width: 30px;
            height: 30px;
            background: #fff;
            //box-shadow: $theme-color-bright 0 0 4px;
            background: url('../images/banner-cube-1.png') no-repeat;
            background-size: 100%;
        }
    }

    a {
        text-decoration: none; // no underline pls
    }

    // logo and info

    .header-info {
        min-height: $main-header-height;
        padding: 0 8px;

        color: #fff;

        &:after {
            // The big logo
            margin-left: 4px; // fix alignment with content
            content: '';
            display: block;
            position: absolute;
            top: 50px;
            width: 480px;
            height: 140px;
            max-width: 100%;
            max-width: calc(100% - #{$spacing-large});
            background: url('../images/logo.png') 50% no-repeat;
            background-size: 100%;
        }
        h1, .tagline, .time {
            margin-left: 8px;
            font-family: $title-font-family;
            color: #fff;
        }
        .tagline, .time {
            margin-bottom: 5px;
            text-shadow: #148 0 0 2px;
            text-shadow: #148 0 0 2px, #148 0 0 4px;
            font-variant: small-caps;
        }
        .tagline {
            font-size: 20px;
        }
        .time {
            font-size: 24px;
            padding: 180px 0 0 8px;
        }

        h1 {
            display: none;
            height: 103px;
            font-size: 55px;
            font-weight: 800;
            text-transform: uppercase;
            padding: 0;
            line-height: 400%;
            text-shadow: #13285e 4px 0 3px, #13285e -4px 0 3px;
        }
    }

    // navigation

    // Mobile menu button
    .nav-btn {
        display: none;
        margin: 8px 0 0;
        padding: 8px 8px;
        color: #fff;
        background: $theme-color;
        float: right;
        cursor: pointer;

        .line {
            width: 16px;
            padding: 2px;
            background: #fff;
            margin: 3px 0px;
        }
    }

    // Navigation menu
    nav {
        bottom: 0px;
        position: relative;
        background: $theme-color;
        ul {
            margin: 0px;
            .menu-item {
                float: left;
                width: auto;
                a {
                    font-family: $title-font-family;
                    text-transform: uppercase;
                    padding: 12px 16px;
                    display: inline-block;
                    -webkit-transition: background-color $transition-large ease-in-out;
                    transition: background-color $transition-large ease-in-out;
                    text-decoration: none;
                    position: relative;
                    color: #fff;
                    top: 0px;
                    background: rgba(255,255,255,0);
                    &:hover {
                        background: $theme-color-bright;
                    }
                }
            }
            .menu-item-right {
                float: right;
            }
            .current-menu-item {
                background: $theme-color-bright;
                a {
                    color: #fff;
                    &:hover {
                        color: #fff;
                    }
                }
            }
            .menu-item a {
                padding-left: 16px;
                position: relative
            }
            .menu-item a::before {
                margin-right: 8px;
                display: inline-block;
            }
            .item-store a::before { @include awesome-glyph('\f07a'); }
            .item-archive a::before { @include awesome-glyph('\f187'); }
            .item-kompomaatti a::before { @include awesome-glyph('\f1b2'); }
            .item-english a::before{ @include awesome-glyph('\f0ac'); }
            .item-info a::before { @include awesome-glyph('\f129'); }
            .item-blog a::before { @include awesome-glyph('\f015'); }
        }
    }
}
