#page-header {
    position: relative; // grab any absolute-positioned stuff
    overflow: hidden;
    z-index: 0;
    background: url('../images/banner-snek.png') no-repeat, url('../images/banner-bg.png') repeat-x;
    background-position: top center;


    a {
        text-decoration: none; // no underline pls
    }

    // logo and info

    .header-info {
        min-height: 225px;
        padding: 0 8px;

        color: #fff;

        &:after {
            // Add dank logo
            content: '';
            display: block;
            position: absolute;
            top: 50px;
            width: 480px;
            height: 140px;
            background: url('../images/logo.png') 50% no-repeat;
            background-size: 100%;
        }
        .logo > * {
            margin-left: 8px;
        }

        h1, .tagline, .time {
            font-family: $title-font-family;
            color: #fff;
        }
        .tagline, .time {
            margin-bottom: 5px;
            text-shadow: #bef 0 0 2px;
            font-variant: small-caps;
        }
        .tagline {
            font-size: 20px;
        }
        .time {
            font-size: 24px;
            padding: 180px 0 0 5px;
        }

        h1 {
            display: none;
            height: 103px;
            font-size: 55px;
            font-weight: 800;
            text-transform: uppercase;
            padding: 0;
            line-height: 400%;
            text-shadow: #13285e 4px 0 3px, #13285e -4px 0 3px;
        }
    }

    // navigation

    // Mobile menu button
    .nav-btn {
        display: none;
        margin: 8px 0 0;
        padding: 8px 8px;
        color: #fff;
        background: $theme-color;
        float: right;
        cursor: pointer;

        .line {
            width: 16px;
            padding: 2px;
            background: #fff;
            margin: 3px 0px;
        }
    }

    // Navigation menu
    nav {
        bottom: 0px;
        position: relative;
        background: $theme-color;
        ul {
            -webkit-transition: all $transition-large ease-in-out;
            transition: all $transition-large ease-in-out;
            margin: 0px;
            .menu-item {
                display: inline-block;
                width: auto;
                a {
                    font-family: $title-font-family;
                    text-transform: uppercase;
                    padding: 12px 16px;
                    display: inline-block;
                    -webkit-transition: background-color $transition-large ease-in-out;
                    transition: background-color $transition-large ease-in-out;
                    text-decoration: none;
                    position: relative;
                    color: #fff;
                    top: 0px;
                    background: rgba(255,255,255,0);
                    &:hover {
                        background: $theme-color-bright;
                    }
                }
            }
            .current-menu-item {
                background: $theme-color-bright;
                a {
                    color: #fff;
                    &:hover {
                        color: #fff;
                    }
                }
            }
            .menu-item a::before { margin-right: 0.5em; }
            .item-store a::before { @include awesome-glyph('\f07a'); }
            .item-archive a::before { @include awesome-glyph('\f187'); }
            .item-kompomaatti a::before { @include awesome-glyph('\f1b2'); }
            .item-info a::before { @include awesome-glyph('\f129'); }
            .item-blog a::before { @include awesome-glyph('\f015'); }
        }
    }
}
