		<form>
			<img alt="First" src="/static/libs/css/tablesorter/go-first.png" class="first"/>
			<img alt="Previous" src="/static/libs/css/tablesorter/go-previous.png" class="prev"/>
			<input type="text" size="2" maxlength="2" class="pagedisplay"/>
			<img alt="Next" src="/static/libs/css/tablesorter/go-next.png" class="next"/>
			<img alt="Last" src="/static/libs/css/tablesorter/go-last.png" class="last"/>
			<select class="pagesize">
				<option selected="selected" value="10">10</option>
				<option value="20">20</option>
				<option value="30">30</option>
				<option value="40">40</option>
				<option value="80">80</option>
			</select>
		</form>