{% extends "admin_store/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Verkkokauppa</li>
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Verkkokauppa</h2>
<p>
    Verkkokaupan hallinta on saatavilla vain "store"-ryhmään kuuluville henkilöille.
    Huom! Verkkokauppa on käytännössä henkilötietorekisteri, joka on lain mukaan pidettävä suojassa.
    Kannattaa siis varoa kuinka suurelle ryhmälle annetaan pääsy tähän osastoon (mitä isompi ryhmä, 
    sitä suurempi mahdollisuus että jonkun tilille murtaudutaan tms.), ja mihin tietoa jaetaan.
</p>

<h3>Tuotteet</h3>
<p>
    Tuotteiden lisäämisessä kannattaa olla tarkkana. Tuotteita voi poistaa niin kauan kuin niitä ei ole ostettu.
    Heti kun tuotetta on ostettu yksikin kappale, tuotetta ei voi enää poistaa verkkokaupasta, jotta tietokanta
    säilyy koherenttina. Muokkaus kuitenkin onnistuu edelleen.
</p>
<p>
    <a href="{% url 'manage-store:items' %}">Siirry hallinnoimaan tuotteita &raquo;</a>
</p>

<h3>Ostotapahtumat</h3>
<p>
    Ostotapahtumat-näkymässä voi selata verkkokauppaan tehtyjä tilauksia. Tilauksen tila voi olla yksi neljästä:
</p>
<ul>
    <li><strong>Tuotteet valittu.</strong> Tilaus on tehty, mutta sitä ei vielä ole maksettu.</li>
    <li><strong>Vireillä.</strong> Tilaus on maksettu, mutta maksupalvelu ei ole vielä varmistanut maksua.</li>
    <li><strong>Maksettu.</strong> Tilausksen maksu on varmistettu, ja tilauksen tiedot on lähetetty tilaajalle.</li>
    <li><strong>Peruutettu.</strong> Tilaus on (osittain) tehty, mutta sen maksaminen on peruutettu (syystä tai toisesta).</li>
    <li><strong>Toimitettu.</strong> Tilauksen KAIKKI tuotteet (liput, t-paidat, jne.) on toimitettu tilaajalle.</li>
</ul>
<p>
    <a href="{% url 'manage-store:status' %}">Siirry selaamaan ostotapahtumia &raquo;</a>
</p>

<h3>Transaktiotuotteet</h3>
<p>
    Näkymä listaa erikseen kaikkien tilausten yksittäiset tuotteet. Helpottaa hieman ostosten erittelyä.
</p>
<p>
    <a href="{% url 'manage-store:transactionitems' %}">Siirry selaamaan ostettuja tuotteita &raquo;</a>
</p>

{% endblock %}
