{% extends "admin_store/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} - Ostotapahtumat{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'manage-store:status' %}">Ostotapahtumat</a></li>
    <li>Selaa</li>
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Ostotapahtumat</h2>
{% if transactions %}
    <table class="table table-striped table-condensed"
           data-toggle="table" data-sort-name="id" data-sort-order="desc" data-pagination="true" data-page-size="25">
        <thead>
            <tr>
                <th data-field="id" data-sortable="true">ID</th>
                <th data-field="name" data-sortable="true">Nimi</th>
                <th>Tilattu</th>
                <th>Vireillä</th>
                <th>Maksettu</th>
                <th>Peruttu</th>
                <th data-field="status" data-sortable="true">Tila</th>
                <th data-field="payment_method" data-sortable="true">Maksutapa</th>
                <th data-field="total" data-sortable="true">Yht.</th>
                <th>Tiedot</th>
            </tr>
        </thead>
        <tbody>
{% for item in transactions %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.firstname }} {{ item.lastname }}</td>
                <td>{{ item.time_created|date:"d.m.Y H:i" }}</td>
                <td>{{ item.time_pending|date:"d.m.Y H:i" }}</td>
                <td>{{ item.time_paid|date:"d.m.Y H:i" }}</td>
                <td>{{ item.time_cancelled|date:"d.m.Y H:i" }}</td>
                <td>{{ item.get_status_text }}</td>
                <td>{{ item.payment_method_name }}</td>
                <td>{{ item.get_total_price }} &euro;</td>
                <td><a href="{% url 'manage-store:transactionstatus' item.id %}">Tiedot</a></td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Ei transaktioita.</p>
{% endif %}
{% endblock %}
