{% extends "admin_store/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} - Transaktiotuotteet{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'manage-store:transactionitems' %}">Transaktiotuotteet</a></li>
    <li>Selaa</li>
{% endblock %}

{% block content %}
{{ block.super }}
<h2>Transaktiotuotteet</h2>
{% if items %}
    <table class="table table-striped table-condensed"
           data-toggle="table" data-sort-name="id" data-sort-order="desc" data-pagination="true" data-page-size="25">
        <thead>
            <tr>
                <th data-field="id" data-sortable="true">ID</th>
                <th data-field="name" data-sortable="true">Nimi</th>
                <th data-field="first_name" data-sortable="true">Etunimi</th>
                <th data-field="last_name" data-sortable="true">Sukunimi</th>
                <th data-field="owner" data-sortable="true">Omistaja</th>
                <th data-field="is_delivered" data-sortable="true">Lunastettu</th>
                <th data-field="is_paid" data-sortable="true">Maksettu</th>
                <th data-field="key" data-sortable="true">Avain</th>
            </tr>
        </thead>
        <tbody>
{% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.item.name }}</td>
                <td>{{ item.transaction.firstname }}</td>
                <td>{{ item.transaction.lastname }}</td>
                <td>{{ item.transaction.email }}</td>
                <td>
                    {% if item.transaction.is_paid %}
                    {% if item.is_delivered %}Kyllä{% else %}Ei{% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if item.transaction.is_paid %}Kyllä{% else %}Ei{% endif %}
                </td>
                <td>
                    {% if item.transaction.is_paid %}
                    <a href="{% url 'store:ti_view' item.key %}">{{ item.key }}</a>
                    {% endif %}
                </td>
            </tr>
{% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Ei tuotteita!</p>
{% endif %}

{% endblock %}
