{% extends "admin_programme/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }} - Muokkaa{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('#id_description').summernote({height: 250, lang: 'fi-FI'});
    
    function change_event_form() {
        var ac_list = Array(
            '#div_id_description',
            '#div_id_presenters',
            '#div_id_presenters_titles',
            '#div_id_icon_original',
            '#div_id_icon2_original',
            '#div_id_email',
            '#div_id_home_url',
            '#div_id_twitter_url',
            '#div_id_github_url',
            '#div_id_facebook_url',
            '#div_id_linkedin_url',
            '#div_id_wiki_url',
        );
        var c = $('#id_event_type').val();
        $.each(ac_list, function(index, value) {
           if(c == 0) {
               $(value).hide();
           } else {
               $(value).show();
           }
        });
    }
    
    change_event_form();
    $("#id_event_type").change(function() {
        change_event_form();
    });
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Muokkaa tapahtumaa</li>
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Muokkaa tapahtumaa {{ event.title }}</h2>
{% crispy eventform eventform.helper %}
{% endblock %}