{% extends "admin_programme/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Selaa</li>
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('#id_description').summernote({height: 250, lang: 'fi-FI'});
    
    function change_event_form() {
        var ac_list = Array(
            '#div_id_description',
            '#div_id_presenters',
            '#div_id_presenters_titles',
            '#div_id_icon_original',
            '#div_id_icon2_original',
            '#div_id_email',
            '#div_id_home_url',
            '#div_id_twitter_url',
            '#div_id_github_url',
            '#div_id_facebook_url',
            '#div_id_linkedin_url',
            '#div_id_wiki_url',
            '#div_id_gplus_url'
        );
        var c = $('#id_event_type').val();
        $.each(ac_list, function(index, value) {
           if(c == 0) {
               $(value).hide();
           } else {
               $(value).show();
           }
        });
    }
    
    change_event_form();
    $("#id_event_type").change(function() {
        change_event_form();
    });
    
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Ohjelma</h2>
    
{% if programme_events %}
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Otsikko</th>
                <th>Tyyppi</th>
                <th>Aktiivinen</th>
                <th>Alkaa</th>
                <th>Päättyy</th>
                {% if perms.ext_programme.change_programmeevent %}<th></th>{% endif %}
                {% if perms.ext_programme.delete_programmeevent %}<th></th>{% endif %}
            </tr>
        </thead>
        <tbody>
{% for event in programme_events %}
            <tr>
                <td>{{ event.title }}</td>
                <td>{% if event.event_type == 1 %}Yksityiskohtainen{% else %}Yksinkertainen{% endif %}</td>
                <td>{% if event.active %}Kyllä{% else %}Ei{% endif %}</td>
                <td>{{ event.start|date:"d.m.Y \k\l\o\. H:i" }}</td>
                <td>{{ event.end|date:"d.m.Y \k\l\o\. H:i" }}</td>
{% if perms.ext_programme.change_programmeevent %}
                <td>
                    <a href="{% url 'manage-programme:edit' selected_event_id event.id %}"  class="edit_link btn btn-primary btn-xs" role="button">
                        <span class="edit_link fa fa-pencil"></span>
                    </a>
                </td>
{% endif %}
{% if perms.ext_programme.delete_programmeevent %}
                <td>
                    <a href="{% url 'manage-programme:delete' selected_event_id event.id %}"  class="delete_link btn btn-danger btn-xs" role="button">
                        <span class="edit_link fa fa-trash"></span>
                    </a>
                </td>
{% endif %}
            </tr>
{% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Ei määriteltyä ohjelmaa.</p>
{% endif %}

{% if perms.ext_programme.add_programmeevent %}
{% crispy eventform eventform.helper %}
{% endif %}
{% endblock %}