{% extends "admin_programme/base.html" %}

{% block title %}{{ block.super }} - Listaus{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
    $(".delete_link").click(function(){
        return confirm("Haluatko varmasti poistaa tapahtuman ?"); 
    });
    $("#event_table").tablesorter({widgets: ['zebra']});
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Ohjelma</h2>
    
{% if pevs %}
	<table id="event_table" class="tablesorter">
		<thead>
			<tr>
				<th>Otsikko</th>
				<th>Esiintyjät</th>
				<th>Muokkaa</th>
				<th>Poista</th>
			</tr>
		</thead>
		<tbody>
{% for event in pevs %}
			<tr>
				<td>{{ event.title }}</td>
				<td>{{ event.presenters }}</td>
				<td><a href="/control/programme/edit/{{ event.id }}/" >Muokkaa</a></td>
				<td><a href="/control/programme/delete/{{ event.id }}/" class="delete_link">Poista</a></td>
			</tr>
{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>Ei määriteltyä ohjelmaa.</p>
{% endif %}
    
{% endblock %}