{% extends "admin_programme/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}{{ block.super }}{% endblock %}

{% block head %}
{{ block.super }}
    <script type="text/javascript" src="{% static "libs/js/wymeditor/jquery.wymeditor.min.js" %}"></script>
{% endblock %}

{% block crumbs %}
{{ block.super }}
		&raquo; Selaa
{% endblock %}

{% block jquery %}
{{ block.super }}
    $('#id_description').wymeditor({
        containersItems: [
            {'name': 'P', 'title': 'Paragraph', 'css': 'wym_containers_p'},
            {'name': 'PRE', 'title': 'Preformatted', 'css': 'wym_containers_pre'},
            {'name': 'BLOCKQUOTE', 'title': 'Blockquote', 'css': 'wym_containers_blockquote'},
            {'name': 'TH', 'title': 'Table_Header', 'css': 'wym_containers_th'}
        ],
        skin: 'silver',
        lang: '{{ SHORT_LANGUAGE_CODE }}'
    });
    $('#submit-id-submit').addClass('wymupdate');
    $(".delete_link").click(function(){
        return confirm("Haluatko varmasti poistaa tapahtuman ?"); 
    });
    $("#event_table").tablesorter({widgets: ['zebra'], sortList: [[2,0],]}).tablesorterPager({container: $("#event_pager")});
    
    function change_event_form() {
        var ac_list = Array(
            '#id_description',
            '#id_presenters',
            '#id_presenters_titles',
            '#id_icon_original',
            '#id_icon2_original',
            '#id_email',
            '#id_home_url',
            '#id_twitter_url',
            '#id_github_url',
            '#id_facebook_url',
            '#id_linkedin_url',
            '#id_wiki_url',
            '#id_gplus_url'
        );
        var c = $('#id_event_type').val();
        $.each(ac_list, function(index, value) {
           if(c == 0) {
               $(value).parent().hide(); 
           } else {
               $(value).parent().show(); 
           }
        });
    }
    
    change_event_form();
    $("#id_event_type").change(function() {
        change_event_form();
    });
    
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Ohjelma</h2>
    
{% if pevs %}
	<table id="event_table" class="tablesorter">
		<thead>
			<tr>
				<th>Otsikko</th>
				<th>Tyyppi</th>
				<th>Aktiivinen</th>
				<th>Alkaa</th>
				<th>Päättyy</th>
				<th class="sorter-false management_field"></th>
			</tr>
		</thead>
		<tbody>
{% for event in pevs %}
			<tr>
				<td>{{ event.title }}</td>
				<td>{% if event.event_type == 1 %}Yksityiskohtainen{% else %}Yksinkertainen{% endif %}</td>
				<td>{% if event.active %}Kyllä{% else %}Ei{% endif %}</td>
				<td>{{ event.start|date:"d.m.Y \k\l\o\. H:i" }}</td>
				<td>{{ event.end|date:"d.m.Y \k\l\o\. H:i" }}</td>
				<td>
{% if perms.ext_programme.change_programmeevent %}
					<a href="{% url 'manage-programme:edit' selected_event_id event.id %}" class="edit_link">Muokkaa</a>
{% endif %}
{% if perms.ext_programme.delete_programmeevent %}
					<a href="{% url 'manage-programme:delete' selected_event_id event.id %}" class="delete_link">Poista</a>
{% endif %}
				</td>
			</tr>
{% endfor %}
		</tbody>
	</table>
	<div id="event_pager" class="pager">
		{% include "common/pagination.html" %}
	</div>
{% else %}
	<p>Ei määriteltyä ohjelmaa.</p>
{% endif %}

{% if perms.ext_programme.add_programmeevent %}
{% crispy eventform eventform.helper %}
{% endif %}
{% endblock %}