/*
html, body{margin:0;padding:0;background-image:url('../images/sky_repeat.jpg');background-repeat:repeat-x; background-position: 0px -221px;}

html{background-color: #000000; overflow-x:hidden;}


.layerItem{position: absolute; top:0;left:0;z-index:0;overflow:hidden;}
.cloud{width: 10em; height: 4em;background-color: #fbfbfb;border-radius: 10px;overflow:hidden;}


h1,h2{font-family:sans-serif;font-weight:normal;}
h1{margin-top:1em;letter-spacing: 0px;font-size: 3.6em;}
h2{font-size: 1em;margin-top:0.4em;}
h2.date{font-size: 1.4em;}
h2.place{font-size: 1.45em; letter-spacing:4px;}
.blackArea{width:100%;height:200px;background-color:black;position:absolute;top:424px;}
#sky{z-index:0;margin:auto;width:1600px;position:absolute;top:0;left:10%;}
#navigation{ width:960px;margin:auto;display:block;line-height:32px;font-variant:small-caps;border-bottom: 1px solid #222;}
#navigation ul li{display:inline;}
#navigation a{color:white;text-shadow:#dddddd 1px 1px 7px;padding: 0 .5em;}
#content{ background-color:transparent;width:960px;margin:auto;position:absolute;}

#mainWrap{margin:270px 0 100px 0; color:white;}
div.main{width:655px;float:left;}
div.main h2{font-size: 1.5em;margin-bottom:1em;}
div.main h2 span.posted{color: #999999;font-size: 0.5em;}
div.main p{margin: 0.5em 0 0.5em 0;line-height:130%}
div.main p strong{color: #7bcffa; font-weight: normal;font-size: 1em;}
div.main{color:#ffffff;font-family:arial;}

div#sideBar{width:220px;float:left; border-left: 1px solid #222;padding-left: 40px;margin-left:40px;}
div#sideBar h2{border-bottom: 1px solid #222;margin-bottom: 2em;}
div#sideBar p{margin: 1em 0 1em 0; font-size: 0.8em;}


#footer{height: 400px; width: 100%; background: blue;}
*/
/* *** */
html{overflow-x:hidden;}
body{ background-image:url('../images/header-background.jpg');background-repeat:repeat-x;}

#header .center{ height: 300px;background: url('../images/cube.png') no-repeat; background-position: 100px 0px;}
#header{width: 100%; height: 300px; font-family: 'Alfa Slab One', cursive;font-weight:normal; }
#header h1{padding-top:10px;letter-spacing: 0px;font-size: 60px; font-variant: small-caps;}
#header a, #header a:visited, #header a:link, #header a:hover{text-decoration: none;color: #000;}
.description{font-size: 16.5px; font-variant: small-caps;}
.date{color: #014162; margin-top: 30px;}
.place{ color: #014162;margin-top: 10px;}
.details{ color: #014162;margin-top: 10px;}

#navigation{width: 100%; height: 50px; background: #000;display: block;}
#navigation ul{padding-top: 15px;}
#navigation ul li{display: inline;}
#navigation a{color:white; padding: 0 .5em; text-decoration: none;}
#navigation .nav-marker{width: 20px; height: 20px; background: url('../images/navigation-marker.png'); position: relative; top: 7px; }
/*
ins = 25
aik = 105
komp= 180
liput= 147
info= 297
yht = 373
eng = 465
*/
#content{width: 100%; background: #111; border-top: 1px solid #1e5166; padding: 50px 0 50px 0;}
#content h2{color: #fff;margin-bottom: 20px; font-variant: small-caps; font-size: 18px;}
#content h2 .posted{ color: #999; font-size: 12px;}
#content h3{color: #1fa3f5; margin-top: 20px; font-variant: small-caps; font-size: 16px;}
#content p{font-family: verdana; font-size: 12px; color: #fff; line-height: 130%; background: #161616; padding: 0.5em 2em;}
#content #main-area{width: 600px; padding: 0 25px 0 0; float: left; min-height: 600px; border-right: 1px solid #181818;}
#content #side-bar { width: 220px; float: left; padding: 0 0 0 25px;}
#content a:link, #content a:hover, #content a:visited{color: #1fa3f5;}

#footer{ width: 100%; height: 390px; border-top: 1px solid #1fa3f5;  background: url('../images/footer-bg.png') repeat-x #34302a;}
#footer-copyright{ width: 100%; height: 50px; background: url('../images/copyright-bg.png') #1c93dd repeat-x ; border-top: 1px solid #7bbde5; }
#footer-copyright pre{ color: #fff; padding-top: 15px; text-align: right;}
.site-map, .partners, .social-media{ float:left; height: 390px; width: 312px; }
.site-map{}
.site-map a, .site-map a:visited, .site-map a:hover{color: #eee; text-decoration: none; padding: 4px;} 
.site-map ul li {padding-bottom: 10px;}


.partners{ border-left: 0px solid #34302a; border-right: 0px solid #34302a; }
.social-media{}
.social-media img{position: relative;}

#footer h3{padding: 20px 0 20px 0; color: #eee; border-bottom: 1px solid #1fa3f5; width: 120px; margin: 0 0 20px 0; }

.layerItem{position: absolute; top:0;left:0;z-index:0;overflow:hidden;}
.clearer{ clear: both; }
.center{ width: 940px; margin: 0 auto; padding-left: 10px; padding-right: 10px }
#map_canvas{ width: 600px; height: 400px; display: block; border: 6px solid #fff; margin: 20px 0 20px 0;}
.twitter-date{ font-size: 11px; color: #999; display: block;}

/* border-radius, shadow, rotation */
#footer h3{ text-shadow: 2px 0px 1px #000;}
