{% extends "store/base.html" %}
{% load crispy_forms_tags static %}

{% block title %}{{ block.super }} - Etusivu{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li>Etusivu</li>
{% endblock %}

{% block content %}
{{ block.super }}
    <h2>Etusivu</h2>
    <p>
        Lippujen ja oheistuotteiden ostaminen onnistuu <a href="{% url 'store:order' %}">tilaussivulla</a>.
        Huomaathan, että pääsyliput ja tuotteiden lunastamiseen vaadittavat koodit toimitetaan sähköpostitse.
        Verkkokaupasta ostetut tuotteet voi lunastaa tapahtuman aikana infotiskiltä sisäänkäynnin lähettyviltä.
    </p>
    <p>
        <a href="{% url 'store:order' %}" class="btn btn-primary">Siirry tilaamaan tuotteita &raquo;</a>
    </p>

    <h3>Maksaminen</h3>
    <p>
        Lipun maksamisen voit suorittaa omilla verkkopankkitunnuksillasi.
    </p>
    <p>
        Vaikka Instanssi-tapahtumalla ei varsinaista ikärajaa ole, Paytrail-verkkomaksamisen käyttöehdot edellyttävät
        18 vuoden ikää. Jos tämä tuottaa ongelmia, voit myös ostaa lippuja ja tuotteita ovelta tapahtuman
        aikana tai pyytää toista henkilöä ostamaan lipun puolestasi.
    </p>
{% endblock %}
