{% extends "store/transaction_base.html" %}
{% load static qr_code store_tags %}

{% block title %}{{ block.super }} - Tilaustiedot{% endblock %}

{% block head %}
{{ block.super }}
{% endblock %}

{% block jquery %}
{{ block.super }}
{% endblock %}

{% block content %}
{{ block.super }}
<h1 class="noPrint">Tilaustiedot</h1>
<p class="noPrint">
    Tältä sivulta näet tilauksesi tiedot ja QR-koodin, jolla voit lunastaa kaikki tilauksen tuotteet tapahtuman
    aikana. Voit esittää QR-koodin tapahtumassa lipputiskillä joko tulosteena tai suoraan oman laitteen näytöltä.
</p>

<div class="order">

<img class="item-code"
     src="{% qr_url_from_text transaction.qr_code_path|absolute_url:request boost_error=True version=6 image_format="svg" %}"
     width="160"
     height="160"
     alt="Tilauksen QR-koodi" />
<h2>Tilaus</h2>
<span class="item-key">{{ transaction.key }}</span>
<table>
    <tbody>
        <tr>
            <th>Tilaaja:</th>
            <td>{{ transaction.firstname }} {{ transaction.lastname }}</td>
        </tr>
    </tbody>
</table>

</div>

{% if ta_items %}
<h2 id="items" class="noPrint">Tuotteet</h1>
<p class="noPrint">
    Allaolevilla koodeilla tai linkeillä voi lunastaa yksittäisiä tilaukseen kuuluvia tuotteita.
    Voit lahjoittaa tuotteita kavereille jakamalla heille QR-koodeja tai ostosten URL-osoitteita.
    Huomaa, että jokainen koodi voidaan lunastaa vain kerran.
</p>
<p>
    Lippukoodin kahdeksan ensimmäistä merkkiä toimii myös äänestyskoodina, joten ethän hukkaa lippua!
</p>
<div class="items">
{% for ta_item in ta_items %}
    <div class="item{% if ta_item.is_delivered %} delivered{% endif %}" >
        <img class="item-code"
             src="{% qr_url_from_text ta_item.qr_code_path|absolute_url:request boost_error=True version=6 image_format="svg" %}"
             width="160"
             height="160"
             alt="Ostetun tuotteen QR-koodi" />
        <div class="item-heading">
            <h2><a href="{% url 'store:ti_view' ta_item.key %}">{{ ta_item.item.name }}{% if ta_item.variant %}, {{ ta_item.variant.name }}{% endif %}</a></h2>
            <span class="item-key">{% if ta_item.item.is_ticket %}LIPPUKOODI{% else %}TUOTEKOODI{% endif %}: {{ ta_item.key }}</span>
        </div>
        <div class="item-description ck-content">{{ ta_item.item.description|safe }}</div>

        {% if ta_item.is_delivered %}
        <div class="delivered-stamp">
            <div class="stamp-title">Toimitettu</div>
            <div class="stamp-date">{{ ta_item.time_delivered|date:"d.n.Y H:i O" }}</div>
        </div>
        {% endif %}

        {% if has_infodesk_access %}
        <form class="item-manage" method="post" action="{% url 'store:ta_view' transaction.key %}#items">
            {% csrf_token %}
            <input type="hidden" name="ta_item_key" value="{{ta_item.key}}" />
            <input type="submit" value="Merkitse toimitetuksi" {% if ta_item.is_delivered %}disabled="disabled"{% endif %}/>
        </form>
        {% endif %}
    </div>
{% endfor %}
</div>

{% endif %}
{% endblock %}
