
/* ---------- Pro H4x ---------- */

/* Don't show delete functionality without Javascript support! */
.delete_link {
	display: none;
}

.custom_icon_style {
	float: left;
	display: inline-block;
	width: 17px;
	height: 17px;
	border: 1px solid #bbbbbb;
	background-color: #eeeeee;
	margin-left: 5px;
	margin-right: 5px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.custom_icon_style:hover {
	background-color: #cccccc;
}

/* ---------- Left side navigation bar ---------- */

#left_nav {
    float: left;
    width: 150px;
    background-color: #28343b;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    margin: 0;
	height: auto;
	height: 100%;
	min-height: 100%;
}

#left_nav .menuitem a {
    padding: 7px;
    padding-left: 9px;
}

#left_nav ul {
    margin: 0;
}

#left_nav ul.sub-level {
    display: none;
}

#left_nav li:hover .sub-level {
    background-color: #111111;
    display: block;
    position: absolute;
    left: 150px;
    top: 0px;
}

#left_nav ul.sub-level li {
    float: left;
    width: 150px;
    border-top: 1px dotted #333333;
    z-index: 2;
}

#left_nav ul.sub-level li:first-child { 
	border-top: 0px; 
}

/* ---------- Generic tables ---------- */

table { 
	border-collapse: collapse; 
	width: 100%; 
}

table th { 
	padding: 5px; 
	border: 1px solid #aaaaaa; 
	background-color: rgba(40,52,59,1); 
	color: #eeeeee; 
	text-align: left; 
}

table td { 
	padding: 5px; 
	border: 1px solid #aaaaaa; 
	background-color: #eeeeee; 
}

/* ---------- Tablesorter pagination ---------- */

div.pager {
	vertical-align: middle;
}

div.pager img {
	margin-bottom: 2px;
}

div.pager select,
div.pager input {
	border: 1px solid #777777;
}

/* ---------- uniForm tweaks ---------- */

form.uniForm {
	margin-top: 1.0em;
}

form.uniForm .ctrlHolder,
form.uniForm .error { 
    border-bottom: 1px dotted #aaaaaa; 
}

form.uniForm .buttonHolder {
	margin: 0;
}

form.uniForm .error {
    margin: 0.5em;
}

form.uniForm fieldset { 
	border: 1px solid #999999;
}

form.uniForm legend { 
	padding: 0.3em;	
}
