html { overflow-y: scroll; }
body,li,a { font-family: Verdana, Geneva, "DejaVu Sans", sans-serif; }
h1 { font-size: 140%; font-weight: bold; }
h2 { font-size: 130%; font-weight: bold; padding-top: 0.3em; padding-bottom: 1em; }
h3 { font-size: 100%; font-weight: bold; padding-top: 1em; padding-bottom: 0.3em; margin-bottom: 0.7em; border-bottom: 1px dotted #333333; }
p,ul,form,table { font-size: 10pt; }

#admin_base_bg {
	width: 100%;
    background-image: url('/static/admin_base/images/header.jpg');
    background-repeat: no-repeat;
    background-color: #000;
}

#admin_base_bottom {
    width: 100%;
    background-color: black;
    box-shadow: 0px 0px 5px #050505;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    position: relative;
    background-color: rgba(0,0,0,0.85);

}

.admin_base_sizer {
    max-width: 1000px;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#admin_base_header {
    padding-bottom: 10px;
    background-image: url('../images/admin_icon.png');
    background-repeat: no-repeat;
}

#admin_base_header h1 {
    position: relative;
    left: 28px;
    top: 2px;
}

#admin_base_content {
    padding: 8px;
}

#admin_base_content a:hover { text-decoration: none; }

/* tables */
table { border-collapse: collapse; width: 100%; }
table th { padding: 5px; border: 1px solid #aaaaaa; background-color: #222222; color: white; text-align: left; }
table td { padding: 5px; border: 1px solid #aaaaaa; background-color: #eeeeee; }

/* forms */
form.uniForm .ctrlHolder { border-bottom: 1px dotted #aaaaaa; }
#admin_base_content fieldset { border: 1px solid #bbbbbb; padding: 0.3em; margin: 0.3em; }

p,ul,ol,pre,blockquote {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

#admin_base_content ul {
    list-style-type: disc;
    margin-left: 2em;
}

#admin_base_content ol {
    list-style-type: decimal;
    margin-left: 2em;
}

#admin_base_content pre {
    font-family: "Consolas", monospace;
    background-color: #eaeaff;
    border: 1px solid #cdcdcd;
    padding: 8px;
}

#admin_base_content blockquote {
    background-color: #eaeaff;
    border-left: 3px dotted #aaaaaa;
    padding: 1px;
    padding-left: 1em;
    margin-left: 1em;
}
