html, body, * {margin:0;padding:0;}
html{background: url('background-image-white.jpg');}
html{ overflow-y: scroll;}

#header{background: #111;border-bottom: 1px solid #777;font-variant: small-caps; font-weight:bold;}
h1{color: #fff; font-size: 1em; font-weight: normal; padding: 1em 0;  margin: 0 auto; width: 960px;}
#nav li a, .see-all-results{font-size: 14px; text-decoration:none; color:#0A5ED3;}
#nav li a:hover, .see-all-results:hover{text-decoration: underline;}
h2{color:#0A5ED3; font-size: 2em;font-weight: normal; font-family: Palatino Linotype, Book Antiqua, Palatino, serif;text-shadow: 0px 1px 0px #E0DEDE; font-variant: small-caps; margin-bottom: 40px;}
h3{color:#0A5ED3; font-size: 1em;font-weight: normal; font-family: Palatino Linotype, Book Antiqua, Palatino, serif;text-shadow: 0px 1px 0px #E0DEDE; font-variant: small-caps;}


#nav{border-bottom: 1px solid #aaa; padding: 20px 0px;}
#nav li{display: inline;}
#nav .separator{margin: 0 10px;}

#content{width:960px; margin: 0 auto;}

.entry img{width:160px; height: 100px;border: 1px solid #fff; box-shadow: 0px 2px 6px #000;}
.entry{ float: left; margin: 15px; }
.entry img:hover{ border: 1px solid #666; cursor: pointer;}

.entry-holder{margin-bottom: 40px;}

.tags a{ color: #888; text-decoration: none; font-style: italic;}
.tags a:hover{ text-decoration: underline;}


.clearer{clear: both;}

/* ENRTY VIEW*/ 
html, body, * {margin:0;padding:0;}
html{background: url('background-image-white.jpg');}
html{ overflow-y: scroll;}

#header{background: #111;border-bottom: 1px solid #777;font-variant: small-caps; font-weight:bold;}
h1{color: #fff; font-size: 1em; font-weight: normal; padding: 1em 0;  margin: 0 auto; width: 960px;}
#nav li a, .see-all-results{font-size: 14px; color:#0A5ED3; color:#0A5ED3;}
#nav li a:hover, .see-all-results:hover{text-decoration: underline;}
h2{color:#0A5ED3; font-size: 2em;font-weight: normal; font-family: Palatino Linotype, Book Antiqua, Palatino, serif;text-shadow: 0px 1px 0px #E0DEDE; font-variant: small-caps; margin-bottom: 40px;}
h3{color:#0A5ED3; font-size: 1em;font-weight: normal; font-family: Palatino Linotype, Book Antiqua, Palatino, serif;text-shadow: 0px 1px 0px #E0DEDE; font-variant: small-caps;}


#nav{border-bottom: 1px solid #aaa; padding: 20px 0px;}
#nav li{display: inline;}
#nav .separator{margin: 0 10px;}

#content{width:960px; margin: 0 auto;}

.entry img{width:160px; height: 100px;border: 1px solid #fff; box-shadow: 0px 2px 6px #000;}
.entry{ float: left; margin: 15px; }
.entry img:hover{ border: 1px solid #666; cursor: pointer;}

.entry-holder{margin-bottom: 40px;}

.tags a{ color: #888; text-decoration: none; font-style: italic;}
.tags a:hover{ text-decoration: underline;}

.clearer{clear: both;}


#big-entry .title{font-variant: small-caps;}
#big-entry .name{font-size: 1.6em;}
#big-entry .by{font-size: 1.6em;}

#big-entry .img{width: 640px; height: 420px; border: 1px solid #333; float: left; }
#big-entry .info{font-size: 1.3em; float:left;margin-left: 20px; font-variant: small-caps;}
#big-entry .info p:first-child{margin-top: 295px;}
#big-entry .info p a{ margin: 5px; font-variant: small-caps;color:#0A5ED3;text-decoration: none;}
#big-entry .info p a:hover{ text-decoration: underline;}

#big-entry .some-width{width: 100px; background:blue;}
#big-entry .desc{background: #ddd; padding: 20px; margin: 20px 0; }