/* ---------- Icons ---------- */

.custom_icon_style {
    float: left;
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
    margin-left: 2px;
    margin-right: 2px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.custom_icon_style:hover {
    background-color: #cccccc;
}

/* Store form */

.store-data {
    display: table;
    width: 100%;
}

.store-data input,
.store-data textarea,
.store-data select {
    border: 1px solid #555;
    margin: 5px;
    padding: 2px;
}
.store-form > * { background-color: #eee; margin: 8px 0; }
.store-header { text-align: center; }
.store-header, .store-nav { padding: 8px 4px; }

.store-header .step { padding: 0 .5em; }
.store-header .step.current { font-weight: bold; }

/* Make the step buttons resemble links */
.store-header .step button {
    border: 0;
    background: transparent;
    color: #2040C0;
    font-size: 1em;
    cursor: pointer;
    padding: 0;
}
.store-header .step button:hover {
    text-decoration: underline;
}

.store-nav { overflow: hidden; }
.store-nav input { float: right; }
.store-nav button { float: left; }

.store-errors {
    background-color: #B81900;
    overflow: hidden;
    color: white;
}

/* Store other fields */

.store-form .even { background-color: #eaeaea; }
.store-form .odd  { background-color: #f4f4f4; }

.field-wrapper {
    display: table-row;
    padding: 4px;
    overflow: hidden;
}
.field-wrapper > * {
    display: table-cell;
    vertical-align: middle;
    padding: 4px 8px;
}

.required-field:after {
    content: '*';
    padding-left: 1ex;
    font-weight: bold;
    color: red;
}

.field-label textarea {
    width: 400px;
}
.field-input ul {
    margin: 0 !important;
    min-width: 200px;
}
.field-input li {
    list-style-type: none;
    margin: 0 !important;
}

.field-desc .errorlist {
    color: red;
}

/* ---------- Store items ---------- */

.store-item {
    padding: 8px;
    vertical-align: top;
    overflow: hidden;
}

.item-title, .item-price {
    border: 0;
    font-size: 120%;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.item-image {
    box-shadow: 0 0 1px 1px #555;
    width: 65px;
    height: 65px;
    float: left;
    margin-right: 1em;
}

.item-field {
    float: right;
}
.store-form > .store-data { background: transparent;}
.store-data > .store-item { margin: 8px 0; background: #eee;}

.store-item:first-child { margin-top: 0; }
.store-item:last-child { margin-bottom: 0; }

.store-item > * {
    float: left; position: relative; left: 100%; margin-left: -100%;
}
.store-item > .item-details {
    margin-left: -100%; width: 85%;
}
.store-item > .item-amount {
    margin-left: -15%; width: 15%;
    text-align: right;
}
.store-item .item-amount input {
    margin: 0;
}

.items-summary { padding: 8px; }
.items-summary h3 { margin: 4px 0 16px; }

.items-summary table { background: #fff; width: 100%; }
.items-summary th, .items-summary td { padding: 8px; text-align: left; }
.items-summary th { border-bottom: 1px solid #eee;}
.items-summary tr > * { text-align: right; }
.items-summary tr > *:first-child { text-align: left; width: 50%;}
.items-summary .items-total { border-top: 1px solid #eee; }
.items-summary .items-total td { text-align: right; }
