/* ---------- Icons ---------- */

.custom_icon_style {
    float: left;
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
    margin-left: 2px;
    margin-right: 2px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.custom_icon_style:hover {
    background-color: #cccccc;
}

/* ---------- Store items ---------- */

.item-wrapper {
    border-top: 1px dotted black;
    padding: 1em;
    vertical-align: top;
    overflow: hidden;
}

.item-wrapper h3 {
    border: 0;
}

.item-image {
    box-shadow: 0 0 1px 1px #555;
    width: 65px;
    height: 65px;
    float: left;
    margin-right: 1em;
}

.item-text h3 {
    font-size: 120%;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.item-field {
    float: right;
}

/* Store form */

.store-data input,
.store-data textarea,
.store-data select {
    border: 1px solid #555;
    margin: 5px;
    padding: 2px;
}

.store-form {
    background-color: #eee;
    border: 1px dotted #555;
}

.store-header p {
    text-align: center;
}

.store-header .step {
    padding: 0 .5em;
}
.store-header .step.current {
    font-weight: bold;
}
.store-header .step button {
    border: 0;
    background: transparent;
    color: #2040C0;
    font-size: 1em;
    cursor: pointer;
    padding: 0;
}
.store-header .step button:hover {
    text-decoration: underline;
}

.store-nav {
    border-top: 1px dotted black;
    padding: 1em;
    overflow: hidden;
}

.store-nav input { float: right; }
.store-nav button { float: left; }

.store-errors {
    border-top: 1px dotted black;
    background-color: #B81900;
    overflow: hidden;
}

/* Store other fields */

.store-form .light {
    background-color: #e6e6e6;
}

.store-form .dark {
    background-color: #dddddd;
}

.field-wrapper {
    padding: 5px;
    overflow: hidden;
}

.field-label {
    width: 50%;
    float: left;
    vertical-align: top;
}

.required-field:first-child:before {
    content: '* ';
    font-weight: bold;
    color: red;
}

.field-label label {
    width: 200px;
    display: inline-block;
}

.field-label input
    width: 300px;
}
.field-label textarea {
    width: 400px;
}
.field-label ul {
    width: 300px;
}
.field-label li {
    list-style-type: none;
}

.field-desc .errorlist {
    color: red;
}

.field-desc {
    float: left;
    padding: 4px;
    width: 49%;
}
