body {
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
}

h1 {
    font-size: 18pt;
    margin-bottom: 20px;
    margin-top: 40px;
    border-bottom: 1px dotted black;
}

h2 { font-size: 18pt; }

table {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

th {
    text-align: left;
}

p {
    margin-top: 15px;
    margin-bottom: 25px;
}

td,th {
    padding: 5px;
}

td {
    border-left: 1px dotted #cccccc;
}

.ticket, .order {
     page-break-after: always;
}

@media print {
    .noPrint {
        display:none;
    }
}

.item { border: 1px dashed #bbb; padding: 20px; margin-bottom: 20px; }
.item h2 { }
/* This hack wraps the .item to any floats within it */
.item:after { content: ' '; display: table; clear: both; }
.item-code { float: right; }

.item { position: relative; }
.item-manage { position: absolute; bottom: 20px; left: 20px; }

.item.delivered .delivered-stamp {
    z-index: 9001;
    position: absolute;
    left: 30%;
    top: 30%;
    opacity: .4;
    color: red;
    font-weight: bold;
    font-size: 200%;
    border: .2em dotted red;
    padding: .5em;
    text-transform: uppercase;
    -moz-transform: rotate(-.5rad);
    -webkit-transform: rotate(-.5rad);
    transform: rotate(-.5rad);
}