body {
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
}

a { color: #c00; text-decoration: none; }
a:hover { text-decoration: underline; }

h1, h2#items {
    font-size: 18pt;
    margin-bottom: 20px;
    margin-top: 40px;
    border-bottom: 1px dotted black;
}

h2 { font-size: 18pt; }

table {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

th {
    text-align: left;
}

p {
    margin-top: 15px;
    margin-bottom: 25px;
}

td,th {
    padding: 5px;
}

td {
    border-left: 1px dotted #cccccc;
}

ul, ol { padding-left: 2em; margin-bottom: 1.5em; }
ul { list-style: disc outside none; }
ol { list-style: decimal outside none; }

h2#items { clear: both; }

.ticket, .order {
     page-break-after: always;
}

@media print {
    .noPrint {
        display:none;
    }
}

.item { border: 1px dashed #bbb; padding: 20px; margin-bottom: 20px; }
/* This hack wraps the .item to any floats within it */
.item:after { content: ' '; display: table; clear: both; }
.item-key { font-family: monospace; word-break: break-all; }
.item-code { float: right; }

.item { position: relative; }
.item-manage {
    margin-top: 1em;
}
.item-manage input { padding: .5em; }

.delivered-stamp {
    z-index: 9001;
    position: absolute;
    left: 30%;
    top: 30%;
    opacity: .4;
    color: red;
    border: .2em dotted red;
    text-align: center;
    padding: .5em;
    -moz-transform: rotate(-.5rad);
    -webkit-transform: rotate(-.5rad);
    transform: rotate(-.5rad);
    font-weight: bold;
}
.delivered-stamp .stamp-title {
    text-transform: uppercase;
    font-size: 200%;
}

.item-admin-tools { float: right; }


/* ---- mobile support ---- */

@media screen and (max-width: 640px) {
    .item-code { float: none; margin: auto; display: block; }
    .item-manage { text-align: center; }
}

