{% extends "base_theme/base.html" %}
{% load static compress i18n %}
{% load render_arkisto_nav from arkisto_base_tags %}

{% block title %}{% block arkisto_title %}{% trans "Archive" %}{% endblock %} – Instanssi.org{% endblock %}

{% block extra_head %}
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'base_theme/css/style.scss' %}">
    {% endcompress %}
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'arkisto/css/style.scss' %}" />
    {% endcompress %}
    <meta property="og:locale" content="fi_FI" />
    <meta property="og:url" content="https://instanssi.org/arkisto/" />
    <meta property="og:image" content="{% static 'main2026/images/logoteksti-og.jpg' %}" />
    <meta property="og:title" content="Instanssi Arkisto" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Instanssi Arkisto" />
{% endblock %}

{% block body_class %}arkisto-bg min-vh-100 d-flex flex-column{% endblock %}

{% block body_content %}
    {% include "base_theme/includes/navbar.html" %}

    <header class="arkisto-header pb-2">
        <div class="container">
            <h1 class="arkisto-title text-white fs-2 my-4"><i class="fa-solid fa-box-archive"></i> {% trans "Archive" %}</h1>
            <div class="d-flex flex-wrap gap-2">
                {% if event %}{% render_arkisto_nav event.id %}{% else %}{% render_arkisto_nav %}{% endif %}
            </div>
            {% block subnav %}{% endblock %}
        </div>
    </header>

    <main class="py-3 flex-grow-1">
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
{% endblock %}
