{% extends "arkisto/base.html" %}
{% load static %}

{% block title %}{{ block.super }} - {{ event.name }} - {{ entry.name }}{% endblock %}

{% block head %}{{ block.super }}{% endblock %}

{% block crumbs %}
{{ block.super }}
    <li><a href="{% url 'archive:event' event.id %}">{{ event.name }}</a></li>
    <li><a href="{% url 'archive:entry' entry.id %}">{{ entry.name }}</a></li>
{% endblock %}

{% block content %}
{{ block.super }}
        <div id="entry-holder">
            <div class="center">
                <p class="title">
                    <span class="name">{{ entry.name }}</span>
                    by <span class="by">{{ entry.creator }}</span>
                </p>
{% if entry.get_show_list.youtube %}
                <iframe class="video"
                        frameborder="0"
                        src="{{ entry.archive_embed_url }}"
                        allowfullscreen></iframe>
{% endif %}
{% if entry.get_show_list.image or entry.get_show_list.jplayer or entry.get_show_list.noshow %}
                {% if entry.imagefile_medium %}
                <img class="img" src="{{ entry.imagefile_medium.url }}" alt="{{ entry.name }}" />
                {% else %}
                <img class="img" src="{% static "arkisto/img/filler_medium.png" %}" alt="Audio file" />
                {% endif %}
{% endif %}
                <div class="info">
                    <ul class="facts">
                        <li class="fact-name">Kompo: {{ entry.compo.name }}</li>
{% if entry.platform %}
                        <li class="fact-platform">Platform: {{ entry.platform }}</li>
{% endif %}
{% if entry.disqualified %}
                        <li class="fact-disqualified">Diskattu!</li>
{% else %}
    {% if entry.compo.show_voting_results %}
                        <li class="fact-rank">{{ entry.computed_rank }}. sija</li>
                        <li class="fact-score">{{ entry.computed_score|floatformat:"2" }} pistettä</li>
    {% endif %}
{% endif %}
                    </ul>
                <hr />
{% if not entry.get_show_list.youtube %}
    {% if entry.is_audio %}
        <p>
            <audio preload="auto" controls>
                {% for alternate in entry.alternate_files.all %}
                    <source src="{{ alternate.file.url }}" type="{{ alternate.mime_format }}">
                {% endfor %}
                <source src="{{ entry.entryfile.url }}" />
            </audio>
        </p>
    {% endif %}
{% endif %}
                <p><a href="{{ entry.entryfile.url }}">Lataa koneelle</a></p>
{% if entry.sourcefile %}
                <p><a href="{{ entry.sourcefile.url }}">Lähdekoodi</a></p>
{% endif %}
                </div>
                <div class="clearer"></div>
            </div>
            <div class="desc">{{ entry.description|linebreaksbr }}</div>
{% if entry.disqualified %}
            <div class="desc"><strong>Entry on diskattu:</strong><br />{{ entry.disqualified_reason|linebreaksbr }}</div>
{% endif %}
        </div>

{% endblock %}

