{% load static %}
<!--
<section class="widget widget-store">
    <a class="btn btn-primary" href="{% url 'store:index' %}">
        <span class="fa fa-fw fa-euro"></span> Osta lippu!
    </a>
</section>-->
<section class="widget widget-valot">
    <a class="btn btn-primary" href="{% url 'main2024:valot' %}">
        <span class="fa fa-fw fa-lightbulb-o"></span> Valot
    </a>
</section>
<!--<section class="widget widget-radio">
    <a href="{% url 'main2024:radio' %}">
        <h3><span class="fa fa-fw fa-music"></span> Instanssiradio</h3>
    </a>
</section>
-->
<section class="widget widget-rules">
    <a href="{% url 'main2024:saannot' %}">
        <h3><span class="fa fa-fw fa-info-circle"></span> Tapahtuman säännöt</h3>
    </a>
</section>
<section class="widget widget-stream">
    <a href="https://www.twitch.tv/instanssi" target="_blank">
        <h3><span class="fa fa-fw fa-twitch"></span> Stream</h3>
    </a>
</section>
{% block widgets %}
<!--
<section class="widget widget-rekry">
  <h2>Rekrytointi</h2>
  <div>Haluatko osallistua Instanssin järjestämiseen? Vuoden 2022 tiimissämme on vielä tilaa:</div>
  <ul>
    <li>Järjestyksenvalvojille</li>
    <li>Infotiskin päivystäjille</li>
    <li>Tapahtuman rakentajille / purkajille</li>
  </ul>
  <div>
      Noin 12 tuntia töitä viikonlopun aikana tekeville Instanssi tarjoaa ilmaisen konepaikan. Lyhyemmän eli kuuden
      (6) tunnin vuoron tekeville sisäänpääsy on ilmainen. Työt voi koostaa itselleen mielekkäimmistä tehtävistä.
  </div>
  <div>
      <a class="btn btn-primary" href="https://forms.gle/zrZS7PtLEkZ1tBmH9">
          Ilmoittaudu
      </a>
  </div>
</section>
-->
<section class="widget widget-socialmedias">
    <h2>Some</h2>
    <div class="widget-content">
        <div class="social-media-icons">
            <a href="https://www.facebook.com/instanssi"><img src="{% static 'main2024/images/icons/icon-facebook.png' %}" alt="Facebook" ></a>
            <a href="https://twitter.com/instanssi"><img src="{% static 'main2024/images/icons/icon-twitter.png' %}" alt="Twitter" ></a>
            <a href="https://telegram.me/Instanssi"><img src="{% static 'main2024/images/icons/icon-telegram.png' %}" alt="Telegram" ></a>
            <a href="https://www.youtube.com/user/InstanssiOrg"><img src="{% static 'main2024/images/icons/icon-youtube.png' %}" alt="YouTube" ></a>
            <a href="https://instagram.com/instanssi.demoparty"><img src="{% static 'main2024/images/icons/icon-instagram.png' %}" alt="Instagram"></a>
            <a href="https://matrix.to/#/#instanssi:hacklab.fi"><img src="{% static 'main2024/images/icons/icon-matrix.png' %}" alt="Matrix"></a>
            <a href="{% url 'ext-blog:rss' %}"><img src="{% static 'main2024/images/icons/icon-rss.png' %}" alt="RSS" ></a>
            <div class="clearer"></div>
        </div>
        <!--<p class="instanssi-radio"><a href="http://radio.instanssi.org">Tapahtumaradio</a> @ 105,4 MHz</p>-->
    </div>
</section>
{% endblock %}
