name: Admin CI

on:
  push:
    paths:
      - "admin/**"
    branches: [ master ]
  pull_request:
    paths:
      - "admin/**"
    branches: [ master ]

jobs:
  build:
    defaults:
      run:
        working-directory: ./admin
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Node 22
      uses: actions/setup-node@v4
      with:
        node-version: '22.x'
    - name: Install dependencies
      run: npm ci
    - name: Run format-check
      run: npm run format-check
    - name: Run type-check
      run: npm run type-check
    - name: Run lint-check
      run: npm run lint-check
    - name: Run tests
      run: npm run test
    - name: Run prod test-build
      run: npm run build
