name: Django CI

on:
  push:
    paths:
      - "backend/**"
    branches: [ master ]
  pull_request:
    paths:
      - "backend/**"
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: ["3.13"]
    defaults:
      run:
        working-directory: ./backend

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install poetry
      run: |
        python -m pip install --upgrade pip wheel
        pip install --upgrade poetry
    - name: Install Dependencies
      run: |
        poetry env use ${{ matrix.python-version }}
        poetry install --no-root
    - name: Run isort
      run: poetry run isort --check-only Instanssi
    - name: Run black
      run: poetry run black --check --diff Instanssi
    - name: Run mypy
      run: poetry run mypy -p Instanssi
    - name: Run pytest
      run: poetry run pytest -n auto
