<div v-bind:class="isDiscountActive() ? 'store-item form discount-enabled' : 'store-item form'">
    <div class="row">
        <div class="col-sm-9">
            <div class="product-title">
                <img class="item-image" :src="product.imagefile_thumbnail_url" width="48" height="48" />
                <div class="item-title">{{ product.name }}</div>
            </div>
            <div class="item-description">
                <div v-if="product.description" v-html="product.description"></div>
                <div v-if="product.discount_amount > 0" class="item-discount">
                    <strong>{{ product.discount_percentage }} %</strong> alennus, jos ostat ainakin <strong>{{ product.discount_amount }}</strong> kappaletta!
                </div>
            </div>
        </div>
        <div class="col-sm-3 form-inline">
            <div class="item-price text-right">{{ effectivePrice | formatPrice }}</div>
            <div class="text-right">
                <select class="form-control product-variants" v-if="product.variants && product.variants.length > 0" v-model="variant">
                    <option v-for="variant in product.variants" v-bind:value="variant">
                        {{ variant.name }}
                    </option>
                </select>
                <button class="btn btn-success" v-on:click="addItem()">
                    <span class="fa fa-plus" /> Lisää
                </button>
            </div>
            <div v-if="getCartCount() > 0" class="text-right">
                <span class="product-cart-count">
                    <span class="fa fa-shopping-cart"></span> {{ cartCount }}
                </span>
                <button class="btn btn-secondary" v-on:click="removeItem()">
                    <span class="fa fa-minus" /> Poista
                </button>
            </div>
        </div>
    </div>
</div>