<div class="store">
    <div class="store-nav">
        <ul class="nav nav-pills">
            <li role="presentation" :class="{ 'active': step === 0, 'disabled': !canMoveToStep(0) }">
                <a href="#" @click.prevent="toStep(0, false)">
                    1. Tuotteet
                </a>
            </li>
            <li role="presentation" :class="{ 'active': step === 1, 'disabled': !canMoveToStep(1) }">
                <a href="#" @click.prevent="canMoveToStep(1) && toStep(1, false)">
                    2. Kori ja asiakastiedot
                </a>
            </li>
            <li role="presentation" :class="{ 'active': step === 2, 'disabled': !canMoveToStep(2) }">
                <a href="#" @click.prevent="canMoveToStep(2) && toStep(2, false)">
                    3. Yhteenveto ja maksutapa
                </a>
            </li>
        </ul>
    </div>

    <div v-if="step === 0" class="store-products">
        <h3>Tuotteet</h3>
        <div class="list-unstyled store-items loading-container">
            <store-product v-for="product in products"
                :product="product" :cart="cart" :messages="messages"
                v-on:addItem="addItem"
                v-on:removeItem="removeItem" />
            <loading-overlay :loading="loadingStatus === 'loading'" />
            <div v-if="loadingStatus === 'error'" class="alert alert-danger">
                Virhe tuotelistaa hakiessa.
            </div>
        </div>

        <store-messages field="items" :messages="messages" />

        <span class="pull-right">
            <button class="btn btn-primary" @click="toStep(1, true)">
                Asiakastiedot <span class="fa fa-chevron-right"/>
            </button>
        </span>
    </div>

    <div v-if="step === 1" class="store-info">
        <h3>Ostoskori</h3>
        <store-messages field="items" :messages="messages" />
        <div class="list-unstyled store-items">
            <div v-for="item in cart">
                <div class="pull-left">
                    <span>{{ item.product.name }}</span>
                    <span v-if="item.variant">({{ item.variant.name }})</span>
                </div>
                <span class="pull-right">
                    <span>
                        x <strong>{{ item.count }}</strong>
                        = <strong>{{ getSubtotal(item) | formatPrice }}</strong>
                    </span>
                <button class="btn btn-secondary" v-on:click="changeItemCount(item, 1)">+</button>
                <button class="btn btn-secondary" v-on:click="changeItemCount(item, -1)">-</button>
                <button class="btn btn-danger" v-on:click="removeItemFromCart(item)">
                    <span class="fa fa-fw fa-trash"></span>
                </button>
                </span>
                <span class="clearfix"></span>
            </div>
            <div class="pull-right">Yhteensä: <strong>{{ totalPrice | formatPrice }}</strong></div>
        </div>

        <div class="clearfix" />

        <h3>Asiakastiedot</h3>
        <store-information-form @update="updateInfo" :data="info" :messages="messages" />

        <span class="pull-left">
            <button class="btn btn-primary" @click="toStep(0, true)">
                <span class="fa fa-chevron-left"/> Tuotteet
            </button>
        </span>
        <span class="pull-right">
            <button class="btn btn-primary" @click="toStep(2, true)">
                Yhteenveto ja maksutapa <span class="fa fa-chevron-right"/>
            </button>
        </span>
    </div>

    <div v-if="step === 2" class="store-summary form-horizontal">
        <h3>Yhteenveto ja maksutapa</h3>
        <h4>Tilauksen tiedot</h4>
            <store-order-summary :data="info" :messages="messages" />
        <h4>Maksutavan valinta</h4>
        <div class="form-group">
            <label class="col-sm-4 control-label">Maksutapa</label>
            <div class="col-sm-8">
                <select class="form-control" v-model="paymentMethod">
                    <option v-for="method in paymentMethods" v-bind:value="method.id">
                        {{ method.name }}
                    </option>
                </select>
            </div>
        </div>

        <span class="pull-left">
            <button class="btn btn-primary" @click="toStep(1, true)">
                <span class="fa fa-chevron-left"/> Asiakastiedot
            </button>
        </span>
        <span class="pull-right">
            <button class="btn btn-primary" @click="submit">
                <span class="fa fa-check" /> Lähetä tilaus ja siirry maksupalveluun
            </button>
        </span>
    </div>
    <div class="clearfix" />
</div>